.cards--panelLeft .card-header [aria-expanded='true'] span.icon-chevron-down {
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.grid-link-copy,
.grid-link-button {
  background: transparent;
  border: 0px;
  cursor: pointer;
  outline: none;
}
.grid-link-copy span,
.grid-link-button span {
  font-size: 0.8125rem;
}
.grid-link-button {
  padding: 0.375rem 0.75rem;
}
.grid-link-copy {
  border-left: #ff743b solid 1px;
}
.grid-link-copy:hover {
  border-left: #ffffff solid 1px;
}
.grid-link-copy + span {
  transition: all 5s ease;
  color: #d6dbe0;
}
.grid-link-copy:focus span {
  transform: rotate(-360deg);
}
.grid-link-container:hover .grid-link-copy {
  display: inherit;
}
