<ng-template [ngIf]="datosAsociado">
  <div class="row mx-0 w-100 ">

    <!-- TÍTULO -->
    <div class="col-md-5" *ngIf="esResponsablePago">
      <h1 class="my-0">{{ 'asociado.datosBasicosResponsablePago' | translate }}</h1>
    </div>
    <div class="col-md-5" *ngIf="esAsegurado">
      <h1 class="my-0">{{ 'asociado.datosBasicosAsegurado' | translate }}</h1>
    </div>

    <!-- BUSCADOR -->
    <div class="col-md-5">
      <form class="form--default form--search" [formGroup]="form" (ngSubmit)="formBucarAsociados()"
        novalidate="novalidate">
        <div class="form-group my-0">
          <div class="input-group" appMimInput [for]="'formBucarAsociadosID'" [controlName]="'formBucarAsociadosID'">
            <input type="text" class="form-control" id="formBucarAsociadosID" formControlName="formBucarAsociadosID"
              name="searchId" mask="999999999999999" />
            <div class="input-group-prepend cursor-point" (click)="formBucarAsociados()">
              <div class="input-group-text">
                <span class="icon-consult"></span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- FLECHA IZQUIERDA PARA IR A GESTIONAR -->
    <div class="col-md-2 px-0">
      <a class="btn btn--orange1 btn--md" disabled="disabled" aria-disabled="true">
        <span class="icon-edit-3 mr-2"></span>
        {{ 'global.edit' | translate }}
      </a>
    </div>
  </div>
  <div class="row mx-0 w-100 mt-4">
    <!-- PANELES DE INFORMACIÓN -->
    <div class="col-md-12 mb-3">
      <!-- DATOS DE ASOCIADO -->
      <div class="card cards--disabled w-100 mb-3" *ngIf="!datosAsociado || !datosAsociado.nomCli">
        <div class="card-body py-5">
          <div class="row mx-0 w-100 justify-content-center my-5">
            <div class="col-md-8">
              <picture>
                <img src="./assets/images/icon-busqueda-no-encontrada.svg" alt="" class="mx-auto d-block" />
              </picture>
              <h2 class="text--700wt text--gray2 text-center mt-3 mb-2">
                {{ 'asociado.noNumeroIdentificacion' | translate }}
              </h2>
              <h2 class="text--500wt text--green1 text-center">
                {{ 'asociado.noIntentaNumeroNombre' | translate }}
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="datosAsociado && datosAsociado.nomCli">
        <div class="card cards--headerFooter w-100 mb-3">
          <div class="card-header">
            <div class="row mx-0 w100 align-items-center">
              <div class="col-md-1 px-0">
                <span
                  class="icon--circle icon--circle_lg bg--orange1 rounded-circle text--white d-flex align-items-center justify-content-center">
                  <span class="icon-user text--36pts"></span>
                </span>
              </div>
              <div class="col-md-9">
                <h2 class="text--500wt text--gray1 my-0">
                  {{ datosAsociado.nomCli | emptyPipe }}
                </h2>
                <div class="row mx-0 w-100 mt-2">
                  <div class="col-3 px-0">
                    <h5 class="text--600wt text--gray2 my-0">
                      {{ 'asociado.id' | translate }}:
                      <strong class="text--600wt text--gray1">
                        {{ datosAsociado.nitCli | emptyPipe }}
                      </strong>
                    </h5>
                  </div>
                  <div class="col-3 px-0">
                    <h5 class="text--600wt text--gray2 my-0">
                      {{ 'asociado.codigo' | translate }}:
                      <strong class="text--600wt text--gray1">
                        {{ datosAsociado.asoCod | emptyPipe }}
                      </strong>
                    </h5>
                  </div>
                  <div class="col-4 px-0">
                    <h5 class="text--600wt text--gray2 my-0">
                      {{ 'asociado.nivelRiesgo' | translate }}:
                      <strong class="text--600wt text--gray1">
                        {{ datosAsociado.nivelRiesgo | emptyPipe }}</strong>
                    </h5>
                  </div>
                  <div class="col-3 px-0 mt-2">
                    <h5 class="text--600wt text--gray2 my-0">
                      {{ 'asociado.estadoCivil' | translate }}:
                      <strong class="text--600wt text--gray1">
                        {{ datosAsociado.estCivil | emptyPipe }}</strong>
                    </h5>
                  </div>
                  <div class="col-3 px-0 mt-2">
                    <h5 class="text--600wt text--gray2 my-0">
                      {{ 'asociado.profesion' | translate }}:
                      <strong class="text--600wt text--gray1">
                        {{ datosAsociado.profesion | emptyPipe }}</strong>
                    </h5>
                  </div>
                  <div class="col-3 px-0 mt-2">
                    <h5 class="text--600wt text--gray2 my-0">
                      {{ 'asociado.cliente' | translate }}:
                      <strong class="text--600wt text--gray1">
                        {{ datosAsociado.cliente | emptyPipe }}</strong>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-md-2 pr-0">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.fechaNacimiento' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.fecNac | emptyPipe }}
                  <span [ngClass]="calcularIndFecNac(datosAsociado.vinIndFechaNacimiento)" class="ml-1"></span>
                </h4>
              </div>
            </div>
          </div>
          <div class="card-body px-2 pt-3 pb-4">
            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'global.status' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.desEstado | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.fechaEstado' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.fecEstado | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.fechaIngresoCompleto' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.fecIngreso | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.agenciaViculacion' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{
                  datosAsociado.idOficina + ' ' + datosAsociado.desOficina
                    | emptyPipe
                }}
                </h4>
              </div>
            </div>

            <div class="row mx-0 w-100">
              <div class="col-md-3" *ngIf="esResponsablePago">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.corte' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.desCorte | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.edadIngreso' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.edadIng | emptyPipe }}
                </h4>
              </div>

              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.edadActual' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.edad | emptyPipe }}
                </h4>
              </div>

              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.tipoViculacion' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.tipoVin | emptyPipe }}
                </h4>
              </div>
            </div>

            <div class="row mx-0 w-100">
              <div class="col-md-3" *ngIf="esAsegurado">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.auxilioFunerario' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.desAuxFun | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3" *ngIf="esResponsablePago">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.smmlv' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.smmlv | customCurrency | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3" *ngIf="esAsegurado">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.proteccionAcumAltoCosto' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.proAcuAltoCosto | customCurrency | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3" *ngIf="esAsegurado">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.primaNivelada' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.primaNivelada | emptyPipe }}
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card cards--headerFooter w-100 mb-3" *ngIf="esAsegurado">
          <div class="card-header">
            <h2 class="text--500wt text--gray1 my-0">
              <span
                class="icon-shield text--18pts mr-2 text--orange1"></span>{{ 'asociado.informacionProteccion' | translate }}
            </h2>
          </div>
          <div class="card-body px-2 pt-3 pb-4">
            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.maximaVida' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.proMaxVida | customCurrency | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.maximaPerseverancia' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{
                  datosAsociado.proMaxPerseverancia | customCurrency | emptyPipe
                }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.maximaRentaDiaria' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.proMaxRenta | customCurrency | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.maximaTotal' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.proMaxTotal | customCurrency | emptyPipe }}
                </h4>
              </div>
            </div>

            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.acumuladaVida' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.proAcuVida | customCurrency | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.acumuladaPerseverancia' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{
                  datosAsociado.proAcuPersevenrancia
                    | customCurrency
                    | emptyPipe
                }}
                </h4>
              </div>

              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.acumuladaRentaDiaria' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.proAcuRenta | customCurrency | emptyPipe }}
                </h4>
              </div>

              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.acumuladaTotal' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.proAcuTotal | customCurrency | emptyPipe }}
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card cards--headerFooter w-100 mb-3">
          <div class="card-header">
            <h2 class="text--500wt text--gray1 my-0">
              <span class="icon-home text--18pts mr-2 text--orange1"></span>
              {{ 'asociado.informacionContacto' | translate }}
            </h2>
          </div>
          <div class="card-body px-2 pt-3 pb-4">
            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.direccion' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.dirRes | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.barrio' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.barRes | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.ciudad' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.ciuRes | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.correspondecia' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.tipUbiDirCor | emptyPipe }}
                </h4>
              </div>
            </div>

            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.correo' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.mail | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.telefono' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.telRes | emptyPipe }}
                </h4>
              </div>

              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-4 mb-0">
                  {{ 'asociado.celular' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.cel | emptyPipe }}
                </h4>
              </div>

              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
        <div class="card cards--headerFooter w-100 mb-3">
          <div class="card-header">
            <h2 class="text--500wt text--gray1 my-0">
              <span class="icon-briefcase text--18pts mr-2 text--orange1"></span>
              {{ 'asociado.informacionLaboral' | translate }}
            </h2>
          </div>
          <div class="card-body px-2 pt-3 pb-4">
            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.direccion' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.dirCom | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.barrio' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.barCom | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.ciudad' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.ciuCom | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.telefono' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.telCom | emptyPipe }}
                </h4>
              </div>
            </div>
          </div>
        </div>

        <div class="card cards--headerFooter w-100 mb-3">
          <div class="card-header">
            <h2 class="text--500wt text--gray1 my-0">
              <span class="icon-user-group text--18pts mr-2 text--orange1"></span>
              {{ 'asociado.informacionFamiliar' | translate }}
            </h2>
          </div>
          <div class="card-body px-2 pt-3 pb-4">
            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.direccion' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.dirFam | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.barrio' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.barFam | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.ciudad' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.ciuFam | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.telefono' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.telFam | emptyPipe }}
                </h4>
              </div>
            </div>
          </div>
        </div>

        <div class="card cards--headerFooter w-100 mb-3" *ngIf="esResponsablePago">
          <div class="card-header">
            <h2 class="text--500wt text--gray1 my-0">
              <span class="icon-inbox text--18pts mr-2 text--orange1"></span>
              {{ 'asociado.informacionApartadoAereo' | translate }}
            </h2>
          </div>
          <div class="card-body px-2 pt-3 pb-4">
            <div class="row mx-0 w-100">
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.apartadoAereo' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.codCiuAero | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.ciudad' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.ciuAero | emptyPipe }}
                </h4>
              </div>
              <div class="col-md-3">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                  {{ 'asociado.casillero' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ datosAsociado.dirAero | emptyPipe }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>