<div class="row mx-0" [formGroup]="controlContainer.control">
    <div class="col-sm-12 col-xl-12 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="proceso" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionAsignacionGestionDiaria.form.proceso' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'proceso'" [controlName]="'proceso'">
                    <app-mim-select class="w-100" [inputId]="'proceso'" [options]="procesos" [optionKey]="'mimFaseFlujo.nombre'"
                        name="'proceso'" ngDefaultControl formControlName="proceso">
                    </app-mim-select>
                </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="proceso" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.configuracionAsignacionGestionDiaria.form.proceso' | translate } }}
            </app-mim-input-error>
        </div>
    </div>
    <div class="col-sm-12 col-xl-12 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="tipoAsignacion" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionAsignacionGestionDiaria.form.tipoAsignacion' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'tipoAsignacion'" [controlName]="'tipoAsignacion'">
                    <app-mim-select class="w-100" [inputId]="'tipoAsignacion'" [options]="tiposAsignaciones"
                        [optionKey]="'nombre'" name="'tipoAsignacion'" ngDefaultControl
                        formControlName="tipoAsignacion">
                    </app-mim-select>
                </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="tipoAsignacion" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.configuracionAsignacionGestionDiaria.form.tipoAsignacion' | translate } }}
            </app-mim-input-error>
        </div>
    </div>
    <div class="col-sm-12 col-xl-12 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="producto" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionAsignacionGestionDiaria.form.producto' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'producto'" [controlName]="'producto'">
                    <app-mim-select class="w-100" [inputId]="'producto'" [options]="productos" [optionKey]="'mimPlanCanalVenta.mimPlan.nombre'"
                        name="'producto'" ngDefaultControl formControlName="producto">
                    </app-mim-select>
                </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="producto" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.configuracionAsignacionGestionDiaria.form.producto' | translate } }}
            </app-mim-input-error>
        </div>
    </div>
    <div class="col-sm-12 col-xl-12 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="usuario" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionAsignacionGestionDiaria.form.usuario' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'usuario'" [controlName]="'usuario'">
                    <app-mim-multiselect class="w-100" [inputId]="'usuario'" [options]="usuarios"
                        formControlName="usuario" [optionKey]="'nombre'" name="'usuario'" ngDefaultControl>
                    </app-mim-multiselect>
                </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="usuario" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.configuracionAsignacionGestionDiaria.form.usuario' | translate } }}
            </app-mim-input-error>
        </div>
    </div>
</div>