

  <form class="form--default form-height" [formGroup]="form" *ngIf="isForm | async as isForm;">
  <div class="container-fluid mt-2">

      <div class="row  mx-0 w-100 align-items-center">
          <div class="col-md-12">
              <h1 class="my-0">
                  {{ 'administracion.gestionSolicitudSuspendida.titulo' | translate }}
              </h1>
          </div>
      </div>

      <div class="card cards--panelLeft mt-4">
          <div class="row">
              <div class="col">
                  <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPanelLeft">
                      <div class="card-body ">
                        <div class="row">
                            <!-- Tipo de solicitud Padre -->
                            <div class="col-xl-3 col-md-4 form-group mb-0">
                                <label appMimLabel for="tipoSolicitud">
                                    {{ 'administracion.gestionSolicitudSuspendida.filter.tipoSolicitud'| translate }}
                                </label>
                                <div class="input-group" appMimInput [for]="'tipoSolicitud'"
                                    [controlName]="'tipoSolicitud'">
                                    <app-mim-select class="w-100" [inputId]="'tipoSolicitud'"
                                        [options]="tipoSolicitudes" formControlName="tipoSolicitud"
                                        [optionKey]="'nombre'" ngDefaultControl></app-mim-select>
                                </div>
                            </div>

                            <!-- Tipo de solicitud hija -->
                            <div class="col-xl-3 col-md-4 form-group mb-0" *ngIf="tieneSolicitudHija">
                              <label appMimLabel for="tipoSolicitudHija"></label>
                              <div class="input-group" appMimInput [for]="'tipoSolicitudHija'"
                                  [controlName]="'tipoSolicitudHija'">
                                  <app-mim-select class="w-100" [inputId]="'tipoSolicitudHija'"
                                      [options]="tipoSolicitudesHijas" formControlName="tipoSolicitudHija"
                                      [optionKey]="'nombre'" ngDefaultControl></app-mim-select>
                              </div>
                            </div>

                            <!-- solicitud Multiple-->
                            <div class="col-xl-3 col-md-4 form-group mb-0">
                                <label appMimLabel for="solicitud">
                                    {{ 'administracion.gestionSolicitudSuspendida.filter.solicitud'| translate }}
                                </label>
                                <div class="input-group" appMimInput [for]="'solicitud'"
                                    [controlName]="'solicitud'">
                                    <app-mim-multiselect class="w-100" [inputId]="'solicitud'"
                                        [options]="solicitudes" formControlName="solicitud"
                                        [optionKey]="'nombre'" ngDefaultControl></app-mim-multiselect>
                                </div>
                            </div>

                            <!-- Fases -->
                            <div class="col-xl-3 col-md-4 form-group mb-0">
                                <label appMimLabel for="fases">
                                    {{ 'administracion.gestionSolicitudSuspendida.filter.fases'| translate }}
                                </label>
                                <div class="input-group" appMimInput [for]="'fases'" [controlName]="'fases'">
                                    <app-mim-select class="w-100" [inputId]="'fases'" [options]="fases"
                                        formControlName="fases" [optionKey]="'nombreFase'" ngDefaultControl>
                                    </app-mim-select>
                                </div>
                            </div>

                            <!-- Tarea -->
                            <div class="col-xl-3 col-md-4 form-group mb-0">
                                <label appMimLabel for="tarea">
                                    {{ 'administracion.gestionSolicitudSuspendida.filter.tarea'| translate }}
                                </label>
                                <div class="input-group" appMimInput [for]="'tarea'" [controlName]="'tarea'">
                                    <app-mim-select class="w-100" [inputId]="'tarea'" [options]="tareas"
                                        formControlName="tarea" [optionKey]="'nombreTarea'" ngDefaultControl>
                                    </app-mim-select>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="mb-5">
          <app-mim-grid [configuracion]="configuracion.gridConfig" (siguiente)="_onSiguiente($event)"
            (atras)="_onAtras($event)" (clickCeldaElement)="_onClickCeldaElement($event)"></app-mim-grid>
      </div>
  </div>


  <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta">
    <div class="card-body py-2">
        <div class="row mx-0 w-10 justify-content-end align-items-center">
            <!-- Botones -->
            <div class="col-xl-12">
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn--orange1 btn--md mr-2" (click)="_onClickExportarExcel()"
                        [disabled]="!habilitarBotonExportar">
                        <span class="icon-export mr-2"></span>
                        {{ 'global.exportarExcel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Gestionar solicitud -->
  <div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGestionSolicitud == true }" *ngIf="mostrarGestionSolicitud">
    <div class="row mx-0 w-100 justify-content-end">
      <div class="col-xl-4 col-md-6 px-0">
        <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
          <div class="card-header">
            <div class="row mx-0 w-100 align-items-center">
              <div class="col-lg-10">
                <h1 class="text--500wt text--gray1 my-0">
                    {{ 'administracion.gestionSolicitudSuspendida.form.titulo' | translate }}
                </h1>
              </div>
              <div class="col-lg-2">
                <button class="btn btn--circle btn--circle_green" (click)="cerrarModal()">
                    <span class="icon-cross mr-2"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">

              <!-- Tipo de gestión -->
              <div class="col-sm-12 col-xl-12 px-2">
                  <div class="form-group row align-items-center">
                      <label appMimLabel for="estadoGestion" class="col-sm-12 col-form-label">
                          {{ 'administracion.gestionSolicitudSuspendida.form.estadoGestion' | translate }}
                      </label>
                      <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'estadoGestion'" [controlName]="'estadoGestion'">
                          <app-mim-select class="w-100" [inputId]="'estadoGestion'"  [options]="estadosGestion"
                            formControlName="estadoGestion" [optionKey]="'nombre'" ngDefaultControl>
                          </app-mim-select>
                        </div>
                      </div>
                      <app-mim-input-error class="col-sm-12" controlName="estadoGestion" errorKey="required">
                          {{ 'global.required' | translate  : { campo: 'administracion.gestionSolicitudSuspendida.form.estadoGestion' | translate } }}
                      </app-mim-input-error>
                  </div>
              </div>

              <!-- Observación -->
              <div class="col-sm-12 col-xl-12 px-2">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="observacion" class="col-sm-12 col-form-label">
                      {{ 'administracion.gestionSolicitudSuspendida.form.observacion' | translate }}
                    </label>
                    <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'observacion'" [controlName]="'observacion'">
                            <textarea type="text" rows="6" class="form-control" id="observacion"
                                formControlName="observacion" name="observacion" maxlength="1000"></textarea>
                        </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="required">
                        {{ 'global.required' | translate  : { campo: 'administracion.gestionSolicitudSuspendida.form.observacion' | translate } }}
                    </app-mim-input-error>
                    <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="maxlength">
                        {{ 'global.maxCaracteres' | translate
                            :{ campo: 'administracion.gestionSolicitudSuspendida.form.observacion' | translate, max: '1000' | translate }
                        }}
                    </app-mim-input-error>
                  </div>
              </div>

              <div class="card-footer  w-100 border-0 pr-0">
                <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="guardarGestionSolicitud()">
                    <span class="icon-checkmark mr-2"></span> {{ 'global.save' | translate }}
                  </button>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>

