<div class="row">
    <!-- PANEL DERECHO -->
    <div class="col-xl-3 mt-n5 index-z">
        <div class="">
            <app-mim-persona-detalle [configuracion]="configuracion.detalleEvento"></app-mim-persona-detalle>
        </div>

    </div>
    <div class="col-md-9">
        <div class="col-12">
            <h1 class="mb-0 my-0 d-inline-flex align-items-center text--tittle_circle pb-3">
                {{ 'Declaración de salud' | translate }}
            </h1>
            <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">
                <app-declaracion-salud formGroupName="declaracionSalud" [dataInit]="dataInitDeclaracionSalud">
                </app-declaracion-salud>
            </form>
        </div>
    </div>
</div>