<div class="row mx-0 w-100 align-items-center justify-content-between">
    <!-- TÍTULO -->
    <div class="col-md-12  px-0">
      <h1 class="my-0">Totales</h1>
    </div>
  </div>

  
  <div class="card cards--table cards--table_facturacion mt-4 border-0">
    <div class="card-header">
      <div class="row mx-0 w-100 align-items-center justify-content-between">
        <div class="col">
          <h5 class="text-left my-0 text-uppercase text--gray2 text--600wt">totales</h5>
        </div>
        <div class="col">
          <h5 class="text-center my-0 text-uppercase text--gray2 text--600wt">Protección acumulada</h5>
        </div>
        <div class="col">
          <h5 class="text-center my-0 text-uppercase text--gray2 text--600wt">Nueva Protección acumulada</h5>
        </div>
        <div class="col px-0">
          <h5 class="text-center my-0 text-uppercase text--gray2 text--600wt">Cuota acumulada</h5>
        </div>
        <div class="col">
          <h5 class="text-center my-0 text-uppercase text--gray2 text--600wt">nueva cuota acumulada</h5>
        </div>
      </div>
    </div>
    <div class="card-body p-0 ">
      <!-- LISTADO -->
      <div class="card cards--panel_facturacion border-0 rounded py-3 mb-2 border-left-blue1">
        <div class="row mx-0 w-100 align-items-center justify-content-between">
          <div class="col">
            <h5 class="my-0 text-left text--gray1 text--600wt align-items-center d-flex">
              <h5 class="text--tittle_circle my-0 float-left mr-2">
                <span class="bg--blue1 text--13pts icon-shield"></span>
              </h5>
               Vida
            </h5>
          </div>
          <div class="col">
            <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
          </div>
          <div class="col">
            <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
          </div>
          <div class="col px-0">
            <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
          </div>
          <div class="col">
            <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
          </div>
        </div>
      </div>
      <!-- LISTADO -->
      <div class="card cards--panel_facturacion border-0 rounded py-3 mb-2 border-left-blue1">
          <div class="row mx-0 w-100 align-items-center justify-content-between">
            <div class="col">
              <h5 class="my-0 text-left text--gray1 text--600wt align-items-center d-flex">
                <h5 class="text--tittle_circle my-0 float-left mr-2">
                  <span class="bg--blue1 text--13pts icon-shield"></span>
                </h5>
                 Vida
              </h5>
            </div>
            <div class="col">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
            <div class="col">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
            <div class="col px-0">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
            <div class="col">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
          </div>
        </div>
      <!-- LISTADO -->
      <div class="card cards--panel_facturacion border-0 rounded py-3 mb-2 border-left-blue1">
          <div class="row mx-0 w-100 align-items-center justify-content-between">
            <div class="col">
              <h5 class="my-0 text-left text--gray1 text--600wt align-items-center d-flex">
                <h5 class="text--tittle_circle my-0 float-left mr-2">
                  <span class="bg--blue1 text--13pts icon-shield"></span>
                </h5>
                 Vida
              </h5>
            </div>
            <div class="col">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
            <div class="col">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
            <div class="col px-0">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
            <div class="col">
              <h5 class="my-0 text-center text--gray1 text--500wt">$1.234.000</h5>
            </div>
          </div>
        </div>              
    </div>
  </div>
  <div class="card cards--footer border-0 rounded-0 ">
    <div class="container">
      <div class="card-body p-2">
        <div class="row mx-0 w-10 justify-content-end align-items-center">
          <div class="col-xl-9 px-0">
            <!-- AGREGA NUEVO -->
            <div class="mx-0 w-100 row justify-content-end align-items-center">
              <div class="col-3">
                <a class="btn btn--white btn--lg w-100" href="#" [routerLink]="['/pages','asociado','general-totales-actualizacion']">
                  <span class="icon-arrow-right mr-2 text--orange1"></span>
                  <span class="text--orange1">Ver totales</span>
                </a>
              </div>
              <div class="col-3 pr-0">
                <button type="submit" class="btn btn--orange1 btn--lg w-100">
                  <span class="icon-plus mr-2"></span>
                  Registrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
