<section>
  <div class="container">
    <div class="jumbotron jumbotron-fluid pt-5 pb-4 my-0 bg--gray4">
      <div class="container">
        <div class="col">
            <h1 class="display-4 text--36pts text--900wt text--green1 mt-0 mb-2">SIPAS - COOMEVA</h1>
            <h3 class="text--400wt my-2">Guía de Estilos</h3>
            <div class="row w-100 mx-0">
              <div class="col px-0">
                <h3 class="text--black text--700wt mt-5 mb-0 text-left">Colores</h3>
              </div>
              <div class="col px-0">
                <h3 class="text--gray3 text--700wt mt-5 mb-0 text-right">01</h3>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row w-100 mx-0 my-5">
      <div class="col-3">
          <div class="row w-100 mx-0">
            <div class="col-12">
                <h3 class="text--gray1 text--700wt mt-3 mb-4">Principales</h3>
            </div>
            <div class="col-6">
              <div class="card sidebar--card_uikit border-0 bg--green1 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">0E8652</h3>
            </div>
            <div class="col-6">
              <div class="card sidebar--card_uikit border-0 bg--orange1 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">FF743B</h3>
            </div>
          </div>
      </div>  
      <div class="col-3">
          <div class="row w-100 mx-0">
            <div class="col-12">
                <h3 class="text--gray1 text--700wt mt-3 mb-4">Tipografías</h3>
            </div>
            <div class="col-6">
              <div class="card sidebar--card_uikit border-0 bg--gray1 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">2F4158</h3>
            </div>
            <div class="col-6">
              <div class="card sidebar--card_uikit border-0 bg--gray2 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">7A8A9F</h3>
            </div>
          </div>
      </div>
      <div class="col-3">
          <div class="row w-100 mx-0">
            <div class="col-12">
                <h3 class="text--gray1 text--700wt mt-3 mb-4">Otros</h3>
            </div>
            <div class="col-6">
              <div class="card sidebar--card_uikit border-0 bg--gray3 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">D6DBE0</h3>
            </div>
            <div class="col-6">
              <div class="card sidebar--card_uikit border-0 bg--gray4 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">F6F6F6</h3>
            </div>
          </div>
      </div>  
      <div class="w-100"></div>
      <div class="col-6">
          <div class="row w-100 mx-0">
            <div class="col-12">
                <h3 class="text--gray1 text--700wt mt-3 mb-4">Estados</h3>
            </div>
            <div class="col-3">
                <div class="card sidebar--card_uikit border-0 bg--green2 rounded-0"></div>
                <h3 class="text--400wt my-2 text-center">80D203</h3>
              </div>            
            <div class="col-3">
                <div class="card sidebar--card_uikit border-0 bg--yellow1 rounded-0"></div>
                <h3 class="text--400wt my-2 text-center">FFB63A</h3>
              </div>            
            <div class="col-3">
              <div class="card sidebar--card_uikit border-0 bg--red1 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">FF4352</h3>
            </div>
            <div class="col-3">
              <div class="card sidebar--card_uikit border-0 bg--blue1 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">0064F7</h3>
            </div>
          </div>
      </div> 
      <div class="col-6">
          <div class="row w-100 mx-0">
            <div class="col-12">
                <h3 class="text--gray1 text--700wt mt-3 mb-4">Transparencias</h3>
            </div>
            <div class="col-2">
                <div class="card sidebar--card_uikit border-0 bg--green3 rounded-0"></div>
                <h3 class="text--400wt my-2 text-center">ECF8D9</h3>
              </div>            
            <div class="col-2">
                <div class="card sidebar--card_uikit border-0 bg--yellow2 rounded-0"></div>
                <h3 class="text--400wt my-2 text-center">FFFBEC</h3>
              </div>            
            <div class="col-2">
              <div class="card sidebar--card_uikit border-0 bg--red2 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">FFF4F6</h3>
            </div>
            <div class="col-2">
              <div class="card sidebar--card_uikit border-0 bg--blue2 rounded-0"></div>
              <h3 class="text--400wt my-2 text-center">ECF2FF</h3>
            </div>
            <div class="col-2">
                <div class="card sidebar--card_uikit border-0 bg--yellow2 rounded-0"></div>
                <h3 class="text--400wt my-2 text-center">FFFBEC</h3>
              </div>            
          </div>
      </div> 
      <div class="col-12">
        <div class="card my-5 rounded-0 border-top-0 border-right-0 border-left-0">
          <div class="card-body pb-3 px-0">
            <div class="row w-100 mx-0">
              <div class="col px-0">
                <h3 class="text--black text--700wt text-left my-0">Tipografía</h3>
              </div>
              <div class="col px-0">
                <h3 class="text--gray3 text--700wt text-right my-0">02</h3>
              </div>
              <hr class=""/>
            </div>
          </div>
        </div>  
        <div class="row mx-0 w-100 align-items-center">
          <div class="col-6">
            <h2 class="text--100pts text--700wt text--gray1">Aa</h2>
            <h3 class="text--36pts text--400wt text--gray1">Montserrat</h3>
            <h4 class="text--18pts text--400wt text--gray1 text-uppercase">a b c d e f g h i j k l m n o p q r s t u v w x y z </h4>
            <h4 class="text--18pts text--400wt text--gray1">a b c d e f g h i j k l m n o p q r s t u v w x y z </h4>
            <h4 class="text--18pts text--400wt text--gray1">0 1 2 3 4 5 6 7 8 9 0</h4>
          </div>
          <div class="col-6">
            <div class="row mx-0 w-100 ">
              <div class="col-6">
                <h1 class="text--500wt text--gray1  mb-3">	• 	H1 - Medium 26pt</h1>
                <h3 class="text--700wt text--gray1  mb-3">	• 	H3 - Bold 16pt</h3>
                <h5 class="text--600wt text--gray1  mb-3">	• 	H5 - SemiBold 13pt</h5>
                <p class="text--400wt text--gray1 text--10pts mb-3">	• 	P1 - Regular 10pt</p>
              </div>
              <div class="col-6">
                <h2 class="text--500wt text--gray1  mb-3">	• 	H2 - Medium 18pt</h2>
                <h4 class="text--500wt text--gray1  mb-3">	• 	H4 - Medium 16pt</h4>
                <h6 class="text--700wt text--gray1  mb-3">	• 	H6 - Bold 13pt</h6>
              </div>              
            </div>
          </div>
        </div>
     </div> 
     <div class="col-12">
        <div class="card my-5 rounded-0 border-top-0 border-right-0 border-left-0">
          <div class="card-body pb-3 px-0">
            <div class="row w-100 mx-0">
              <div class="col px-0">
                <h3 class="text--black text--700wt text-left my-0">Botones y Estados</h3>
              </div>
              <div class="col px-0">
                <h3 class="text--gray3 text--700wt text-right my-0">03</h3>
              </div>
              <hr class=""/>
            </div>
          </div>
        </div> 
        <div class="row w-100 mx-0 my-5 align-items-center">
          <div class="col"> 
              <div class="row w-100 mx-0 justify-content-center">
                <div class="col-12">
                  <p class="my-2 text-center">
                    <a href="#" class="btn btn--orange1 btn--lg">
                      <span class="icon-plus mr-2"></span>16 SemiBold
                    </a>
                  </p>
                  <p class="my-4 text-center">
                    <a href="#" class="btn btn--orange1 btn--lg" disabled>
                      <span class="icon-plus mr-2"></span>16 SemiBold
                    </a>
                  </p>                  
                </div>
              </div>
          </div>
          <div class="col"> 
            <div class="row w-100 mx-0 justify-content-center">
              <div class="col-9">
                <p class="my-2 text-center">
                  <a href="#" class="btn btn--orange1 btn--md">
                    <span class="icon-edit-3 mr-2"></span>16 SemiBold
                  </a>
                </p>
                <p class="my-4 text-center">
                  <a href="#" class="btn btn--orange1 btn--md" disabled>
                    <span class="icon-edit-3 mr-2"></span>16 SemiBold
                  </a>
                </p>                
              </div>
            </div>
          </div>
          <div class="col"> 
            <div class="row w-100 mx-0 justify-content-center">
              <div class="col-8">
                <p class="my-2 text-center">
                  <a href="#" class="btn btn--green1 btn--md">
                    Buscar
                  </a>
                </p>
                <p class="my-2 text-center">
                  <a href="#" class="btn btn--green1 btn--md" disabled>
                    Buscar
                  </a>
                </p>                
              </div>
            </div>
          </div>
          <div class="col"> 
            <p class="my-2 text-left">
              <a href="#" class="btn btn--circle">
                <span class="icon-arrow-thin-left mr-2"></span>Atrás
              </a>
            </p>
            <p class="my-2 text-left">
              <a href="#" class="btn btn--circle" disabled>
                <span class="icon-arrow-thin-left mr-2"></span>Atrás
              </a>
            </p>   
            <p class="my-2 text-left">
              <a href="#" class="btn  btn--circle btn--circle_two text-uppercase">
                <span class="icon-arrow-thin-left mr-2"></span>volver a portafolio
              </a>
            </p>
            <p class="my-2 text-left">
              <a href="#" class="btn  btn--circle btn--circle_two text-uppercase" disabled>
                <span class="icon-arrow-thin-left mr-2"></span>volver a portafolio
              </a>
            </p> 
            <p class="my-2 text-left">
              <a href="#" class="btn btn--circle btn--circle_four">
                <span class="icon-arrow-thin-left mr-2"></span>Anterior
              </a>
            </p>
            <p class="my-2 text-left">
              <a href="#" class="btn btn--circle btn--circle_four" disabled>
                <span class="icon-arrow-thin-left mr-2"></span>Anterior
              </a>
            </p>                                       
          </div> 
          <div class="col"> 
            <p class="my-2 text-left">
              <a href="#" class="btn btn--circle btn--circle_three">
                <span class="icon-plus mr-2"></span>Agregar beneficiario Solidar
              </a>
            </p>
            <p class="my-2 text-left">
              <a href="#" class="btn btn--circle btn--circle_three" disabled>
                <span class="icon-plus mr-2"></span>Agregar beneficiario Solidar
              </a>
            </p>   
            <div class="row mx-0 w-100 align-items-center">
              <div class="col">
                <a href="#" class="btn btn--icon bg--blue2">
                  <span class="icon-external-link text--blue1"></span>
                </a>
              </div>
              <div class="col">
                <a href="#" class="btn btn--icon bg--red2 ">
                  <span class="icon-trash-3 text--red1"></span>
                </a>
              </div>   
              <div class="col">
                <a href="#" class="btn btn--icon bg--blue2 ">
                  <span class="icon-edit-3 text--blue1"></span>
                </a>
              </div>  
              <div class="col">
                <form class="form--default my-4">
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="checkbox1" required>
                    <label class="custom-control-label icon-" for="checkbox1">
                      <span class="text text--16pts">Accept</span>
                    </label>
                  </div>
                </form>
              </div>                        
            </div>
          </div>                               
        </div>
        <div class="row w-100 mx-0 my-5 align-items-center">
          <div class="col">
            <div class="row w-100 mx-0">
              <div class="col">
                <h5 class="badge bg--green1 text--13pts text--700wt my-0 px-3 py-1 text text--white">15</h5>
                <h6 class="text--gray1 text--10pts text--600wt mt-0 mb-3">Estado normal</h6>
              </div>
              <div class="col">
                <h5 class="badge bg--yellow1 text--13pts text--700wt my-0 px-3 py-1 text text--white">45</h5>
                <h6 class="text--gray1 text--10pts text--600wt mt-0 mb-3">Estado pendiente</h6>
              </div>  
              <div class="col">
                <h5 class="badge bg--yellow1 text--13pts text--700wt my-0 px-3 py-1 text text--white">45</h5>
                <h6 class="text--gray1 text--10pts text--600wt mt-0 mb-3">Estado urgente</h6>
              </div>                
            </div>
          </div>
          <div class="col">
            <h5>
              <span class="badge badge-secondary mr-2">New</span>
              Icono para fecha validada
            </h5>
          </div>
          <div class="col">
            <ul class="pagination nav--pagination my-0 align-items-center">
              <h4 class="text--gray1 text--500wt my-0 mr-3">15 de 536 resultados</h4>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </div>  
          <div class="col">
            <form class="form--default my-4">
                <div class="custom-control custom-switch mb-3">
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider round">
                      <span class="text--white text--14pts text--500wt">SI</span>
                      <span class="text--white text--14pts text--500wt">NO</span>
                    </span>
                  </label>
                </div>
            </form>
          </div>   
          <div class="col">
            <div class="row mx-0 w-100">
              <div class="col-8">
                  <ul class="nav flex-column nav--flyR">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" data-toggle="tooltip" data-placement="left" title="Glosario">
                        <span class="icon-article"></span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="tooltip" data-placement="left" title="Xtremo digital">
                        <span class="icon-book"></span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="tooltip" data-placement="left" title="Consulta de usuarios">
                          <span class="icon-consul"></span>
                      </a>
                    </li>
                  </ul>
              </div>
            </div>
          </div>                             
        </div>
     </div>               
    </div>
  </div>
</section>