<form class="form--default w-100" [formGroup]="formObserva" *ngIf="isForm | async as isForm">
    <div class="cards--headerFooter w-100 mt-2">
        <div class="col-12">
            <div class="card-body py-0 pb-2">
                <div class="row">
                    <!-- Gestion pendiente por -->
                    <div class="col-md-12">
                        <div class="form-group row align-items-center">
                          <label appMimLabel for="observacion" class="col-sm-12 col-form-label">
                            {{ 'eventos.consulta.solicitud.observacion' | translate }}
                          </label>
                          <div class="col-sm-12">
                              <div class="input-group" appMimInput [for]="'observacion'" [controlName]="'observacion'">
                                  <textarea type="text" rows="6" class="form-control" id="observacion"
                                      formControlName="observacion" name="observacion" maxlength="1000" [disabled]="disabled"></textarea>
                              </div>
                          </div>
                          <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="required">
                              {{ 'global.required' | translate  : { campo: 'eventos.consulta.solicitud.observacion' | translate } }}
                          </app-mim-input-error>
                          <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="maxlength">
                              {{ 'global.maxCaracteres' | translate
                                  :{ campo: 'eventos.consulta.solicitud.observacion' | translate, max: '1000' | translate }
                              }}
                          </app-mim-input-error>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
