<!-- Inicio modal lateral -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostralModalReclamacion == true }"
    *ngIf="mostralModalReclamacion">
    <div class="row mx-0 w-100 justify-content-end">
        <div class="col-xl-4 col-md-6 px-0">
            <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
                <div class="card-header">
                    <div class="row mx-0 w-100 align-items-center">
                        <div class="col-lg-10">
                            <h1 class="text--500wt text--gray1 my-0">
                                {{ 'Consultar solicitud amparo' | translate }}
                            </h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn--circle btn--circle_green" (click)="_toggleObservaciones()">
                                <span class="icon-cross mr-2"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="col">
                        <form class="form--default my-5" [formGroup]="form" (ngSubmit)="onConsultar()"
                            novalidate="novalidate">
                            <!--Identificacion Beneficiario -->
                            <div class="form-group row  mb-4">
                                <label appMimLabel for="identificacion" class="col-sm-12 col-form-label">
                                    {{
                                        'eventos.consulta.filtros.identificacionAsociado' | translate
                                    }}
                                </label>
                                <div class="col-sm-12">
                                <div class="input-group" appMimInput [for]="'identificacion'"
                                    [controlName]="'identificacion'">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="icon-user-id"></span>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="identificacion"
                                        formControlName="identificacion" name="identificacion" mask="f*"
                                        [patterns]="patterns" />
                                </div>
                            </div>
                                <app-mim-input-error class="col-sm-12" controlName="identificacion" errorKey="maxlength">
                                    {{ 'eventos.consulta.filtros.mensajes.maxlenth' | translate : {numero: 15} }}
                                </app-mim-input-error>
                            </div>
                            <!--Liquidacion -->
                            <div class="form-group  mb-4">
                                <label appMimLabel for="liquidacion">
                                    {{
                                        'eventos.consulta.filtros.codigoEvento' | translate
                                    }}
                                </label>
                                <div class="input-group" appMimInput [for]="'liquidacion'"
                                    [controlName]="'liquidacion'">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="icon-user"></span>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="liquidacion"
                                        formControlName="liquidacion" name="liquidacion" mask="f*" [patterns]="patterns"
                                        [dropSpecialCharacters]="false" />
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="liquidacion" errorKey="maxlength">
                                    {{ 'eventos.consulta.filtros.mensajes.maxlenth' | translate : {numero: 20} }}
                                </app-mim-input-error>
                            </div>
                            <button type="submit" class="btn btn--lg btn--orange1 w-100 mt-4">
                                {{ 'global.consultar' | translate }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
