<div class="row mx-0 w-100 ">
    <div class="col-md-9">
      <h1>{{ 'beneficiarios.actualizar.titulo' | translate }}</h1>
    </div>
  </div>
  <div class="row mx-0 w-100 mt-4">
    <div class="col-md-12 mb-3">
      <div class="card cards--panelLeft mt-4 mb-4">
        <div id="filtroBeneficiario" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPanelLeft">
          <div class="card-body ">
            <form class="form--default form-height" [formGroup]="isForm" *ngIf="isForm | async as isForm;" novalidate
              (ngSubmit)="onBuscar($event)">
              <div class="row">
                <!-- Filtro de identificacion -->
                <div class="col-md-3 form-group mb-0">
                  <label appMimLabel for="filtroId">
                    {{ 'beneficiarios.actualizar.filtro.idBeneficiario' | translate }}
                  </label>
                  <div class="input-group" appMimInput [for]="'filtroId'" [controlName]="'filtroId'">
                    <input type="text" class="form-control " id="filtroId" name="filtroId" formControlName="filtroId"
                      mask="b*" [patterns]="patterns" [dropSpecialCharacters]="false" />
                  </div>
                </div>
  
                <!-- Filtro de nombre -->
                <div class="col-md-3 form-group mb-0">
                  <label appMimLabel for="filtroNombreApellido">
                    {{ 'beneficiarios.actualizar.filtro.nombreApellidos' | translate }}
                  </label>
                  <div class="input-group" appMimInput [for]="'filtroNombreApellido'"
                    [controlName]="'filtroNombreApellido'">
                    <input type="text" class="form-control " id="filtroNombreApellido" name="filtroNombreApellido"
                      formControlName="filtroNombreApellido" mask="n*" [patterns]="patterns"
                      [dropSpecialCharacters]="false" />
                  </div>
                </div>
                <!-- Controles del formulario -->
                <div class="col d-flex flex-row align-self-end justify-content-end">
                  <button type="button" class="btn btn--gray2 btn--md w-100 mr-3" (click)="onLimpiarCampos()">
                    {{ 'global.clean' | translate }}
                    <span class="icon-cross ml-3"></span>
                  </button>
                  <button class="btn btn--border_green1 btn--md w-100" type="submit">
                    {{ 'global.search' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <app-mim-grid [configuracion]="configuracion.gridFechaNacimiento" (atras)="onAtras($event)"
        (siguiente)="onSiguiente($event)" (clickCelda)="onClickLink($event)"></app-mim-grid>
    </div>
  </div>
  
