<div class="form--default w-100 mt-2" [formGroup]="controlContainer.control">
    <div class="card border-0 col-md-12 p-3">
        <div class="row">
            <div class="d-flex justify-content-end">
                <span class="text-left mr-2">
                    <a class="btn btn--circle justify-content-start">
                        <span class="icon-plus-2 mr-2"></span>
                        {{'shared.components.form.agregarPlanes.nuevo' | translate}}
                    </a>
                </span>
            </div>

            <!-- Operación Solicitada-->
            <div class="w-100 mt-2 mb-2 ml-2 mr-2">
                <div class="card cards--headerFooter" style="height: 50px;">
                    <div class="card-body p-0">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <span class="text--gray2 text--18pts">
                                    {{ 'shared.components.form.agregarPlanes.operacionSolicitada' | translate }}
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-control custom-switch p-0">
                                    <label class="switch">
                                        <input type="checkbox" id="vigente" name="vigente" formControlName="operacionSolicita">
                                        <span class="slider round">
                                            <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                                            <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Seleccionar Plan -->
            <div class="w-100 mt-2 mb-2 ml-2 mr-2">
                <div class="card cards--headerFooter">
                    <div class="card-body p-0" style="height: 160px;">
                        <div class="row">
                            <!-- Planes -->
                            <div class="col-md-12 ml-2">
                                <div class="form-group row align-items-center mr-3">
                                    <label for="plan" class="col-sm-12 col-form-label">
                                        {{ 'shared.components.form.agregarPlanes.plan' | translate }}
                                    </label>
                                    <div class="col-sm-12 ">
                                        <div class="input-group" appMimInput [for]="'plan'" [controlName]="'plan'">
                                            <app-mim-select class="w-100" [inputId]="'plan'" [options]="planes"
                                                 [optionKey]="'nombre'" name="'plan'" formControlName="plan" ngDefaultControl>
                                            </app-mim-select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Botones -->
                            <div class="row col-md-12 mt-4 d-flex justify-content-end">
                                <div style="height: 50px;" class="mr-3">
                                    <button type="button" class="btn btn--red1 btn--md" (click)="clickCancelar()">
                                        <span class="icon-x mr-2"></span>
                                        {{ 'global.cancel' | translate }}
                                    </button>
                                </div>

                                <div style="height: 50px;" class="mr-3">
                                    <button type="button" class="btn btn--green1 btn--md" (click)="clickRegistrar()">
                                        <span class="icon-check mr-2"></span>
                                        {{ 'global.registrar' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>