<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="_obtenerEstado()">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.titulo' | translate
              }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionPortafolioAsociados">
    <div class="card-body">

      <div class="d-flex flex-row-reverse">
        <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)">
          <span class="icon-plus mr-2"></span>
          {{ 'global.add' | translate }}
        </button>
      </div>

      <app-mim-grid [configuracion]="configuracion.gridConfig" (clickCelda)="_onClickCelda($event)"
        (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)">
      </app-mim-grid>

      <!-- Control de activos -->
      <div class="d-flex pt-5 mt-4 position_check">
        <div class="form--default">
          <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
            <label class="switch my-0">
              <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
              <span class="slider round"></span>
            </label>
            <span class="text--13pts text--600wt text--gray2 col">
              {{ 'global.mostrarActivos' | translate }}
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Inicio guardar periodo de carencia -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.crear' |
                translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                {{
                'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.actualizar' |
                translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
          <div class="card-body">
            <div class="row mx-0">

              <!-- Tipo deducibles -->
              <div class="col-sm-12 com-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="tipoDeducible" class="col-sm-12 col-form-label">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.tipoDeducible'
                    | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'tipoDeducible'" [controlName]="'tipoDeducible'">
                      <app-mim-select class="w-100" [inputId]="'tipoDeducible'" [options]="tiposDeducibles"
                        formControlName="tipoDeducible" [optionKey]="'nombre'" name="'tipoDeducible'" ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="tipoDeducible" errorKey="required">
                    {{ 'global.required' | translate : { campo:
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.tipoDeducible'
                    | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Cantidad -->
              <div class="col-sm-12 com-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="cantidad" class="col-sm-12 col-form-label">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.cantidad'
                    | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'cantidad'" [controlName]="'cantidad'">
                      <input type="text" class="form-control" id="cantidad" formControlName="cantidad" name="cantidad"
                        currencyMask [options]="customCurrencyMaskConfig" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="cantidad" errorKey="required">
                    {{ 'global.required' | translate : { campo:
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.cantidad'
                    | translate } }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="cantidad" errorKey="max">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.alertas.numeroMaximo'
                    | translate : {numero: valorMaximoDeducible} }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="cantidad" errorKey="min">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.alertas.numeroMinimo'
                    | translate : {numero: 0} }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Tipo activacion deducible -->
              <div class="col-sm-12 com-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="tipoPago" class="col-sm-12 col-form-label">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.tipoPago'
                    | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'tipoPago'" [controlName]="'tipoPago'">
                      <app-mim-select class="w-100" [inputId]="'tipoPago'" [options]="tiposPago"
                        formControlName="tipoPago" [optionKey]="'nombre'" name="'tipoPago'" ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="tipoPago" errorKey="required">
                    {{ 'global.required' | translate : { campo:
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.tipoPago'
                    | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Tipo restitucion deducible -->
              <div class="col-sm-12 com-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="tipoRestitucionDeducible" class="col-sm-12 col-form-label">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.tipoRestitucionDeducible'
                    | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'tipoRestitucionDeducible'"
                      [controlName]="'tipoRestitucionDeducible'">
                      <app-mim-select class="w-100" [inputId]="'tipoRestitucionDeducible'"
                        [options]="tiposRestitucionDeducible" formControlName="tipoRestitucionDeducible"
                        [optionKey]="'nombre'" name="'tipoRestitucionDeducible'" ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="tipoRestitucionDeducible" errorKey="required">
                    {{ 'global.required' | translate : { campo:
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.tipoRestitucionDeducible'
                    | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Aplica prórroga -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group">
                  <label class="col-form-label" appMimLabel for="aplicaProrroga">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.aplicaProrroga'
                    | translate }}
                  </label>
                  <div class="custom-control custom-switch p-0">
                    <label class="switch">
                      <input type="checkbox" formControlName="aplicaProrroga" id="aplicaProrroga" name="aplicaProrroga">
                      <span class="slider round">
                        <span class="text--white text--14pts text--500wt">SI</span>
                        <span class="text--white text--14pts text--500wt">NO</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <!-- Discontinuidad días calendario -->
              <div class="col-sm-12 com-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="discontinuidadDiasCalendario" class="col-sm-12 col-form-label">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.discontinuidadDiasCalendario'
                    | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'discontinuidadDiasCalendario'"
                      [controlName]="'discontinuidadDiasCalendario'">
                      <input type="number" class="form-control" id="discontinuidadDiasCalendario"
                        formControlName="discontinuidadDiasCalendario" name="discontinuidadDiasCalendario" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="discontinuidadDiasCalendario" errorKey="required">
                    {{ 'global.required' | translate : { campo:
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.discontinuidadDiasCalendario'
                    | translate } }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="discontinuidadDiasCalendario" errorKey="max">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.alertas.nombreCaracteresMaxima'
                    | translate : {numero: 3} }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Fecha inicio y fecha fin -->
              <div class="col-sm-12 com-md-12">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                    {{
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.fechaInicioYFin'
                    | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                      [controlName]="'fechaInicioFechaFin'">
                      <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                        formControlName="fechaInicioFechaFin" [selectionMode]="'range'" [disabled]="estadoFecha"
                        ngDefaultControl>
                      </app-mim-date-picker>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                    {{ 'global.required' | translate : { campo:
                    'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.deducibles.guardar.fechaInicio'
                    | translate } }}
                  </app-mim-input-error>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer  w-100 border-0 py-4 mt-5">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(form)"
                (click)="_guardar()">
                <span class="icon-checkmark mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin crear periodo de carencia. -->