<div class="row">
    <!-- PANEL IZQUIERDO -->
    <div class="col-xl-3 mt-n5 index-z">
        <!-- Boton atras -->
        <p class="text-left mb-2">
            <a class="btn btn--circle justify-content-start" (click)="onAtras()">
                <span class="icon-arrow-thin-left mr-2"></span>
                {{ 'header.salir' | translate }}
            </a>
        </p>
        <div class="mt-n1">
            <app-mim-persona-detalle [configuracion]="configuracion.detalleEvento"></app-mim-persona-detalle>
        </div>
    </div>

    <!-- PANEL DERECHO -->
    <div class="col-xl-9">
        <form class="form--default col-sm-12" [formGroup]="form" *ngIf="isForm | async as isForm">

            <!--bitacora de flujo-->
            <div class="card posicion_top_card cards--panelLeft">
                <div class="row mx-0 w-100 mt-0">
                    <div class="w-100 select-no-border">
                        <div class="card cards--headerFooter w-100 select-border">
                            <div class="card-header">
                                <div class="row mx-0 w100 align-items-center">
                                    <div class="col-md-3 pl-0">
                                        <h4 class="text--500wt text--black my-0">
                                            <span class="icon-chevron-right-2 text--18pts mr-2 text--orange1"></span>
                                            {{ task.name | uppercase }}
                                        </h4>
                                    </div>
                                    <div class="col-md-5 px-0">
                                        <h4 class="text--500wt text--black my-0">
                                            <span class="icon-user text--18pts mr-2 text--orange1"></span>
                                            {{ bitacora.nombreUsuario | uppercase }}
                                        </h4>
                                    </div>
                                    <div class="col pl-0 text-right">
                                        <h5 class="text--600wt text--gray1 my-0">
                                            <span class="icon-calendar text--orange1 text--15pts mr-2"></span>
                                            {{ bitacora.fecha }}
                                        </h5>
                                    </div>
                                    <div class="col px-0">
                                        <h5 class="text--600wt text--gray1 my-0">
                                            <span
                                                class="icon-clock text--orange1 text--15pts mr-2 border-left pl-3 py-1"></span>
                                            {{ bitacora.hora }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="text--500wt text--gray1 text-justify mt-2 mb-0">
                                    {{ bitacora.observacion }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Observacion-->
            <div class="card posicion_top_card cards--panelLeft col-12 mt-2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 col-xl-12 px-0">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="observacion" class="col-sm-12 col-form-label">
                                    {{ 'Observación' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'observacion'"
                                        [controlName]="'observacion'">
                                        <textarea type="text" rows="6" class="form-control" id="observacion"
                                            [inputId]="'observacion'" formControlName="observacion" name="'observacion'"
                                            [dropSpecialCharacters]="false" maxlength="1000">
                                                    </textarea>
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="required">
                                    {{ 'global.required' | translate : { campo: 'Observación' | translate } }}
                                </app-mim-input-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="card cards--footer border-0 rounded-0 col-12">
                <div class="card-body py-2">
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn--orange1 btn--md mx-1" (click)="guardar()">
                            <span class="icon-save mr-2"></span>
                            {{ 'global.activar' | translate }}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>