<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
        <h1 class="my-0">
            <ng-template [ngIf]="_esCreacion">
                {{ 'administracion.procesosAutomaticos.crear.titulo' | translate }}
            </ng-template>
            <ng-template [ngIf]="!_esCreacion">
                {{ 'administracion.procesosAutomaticos.crear.actualizar' | translate }}
            </ng-template>
        </h1>
    </div>
</div>

<div class="mt-3 card bg--white border-0 rounded-0">
    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
        <div class="card-body">
            <div class="row mx-0 w-100">
                <!-- Proceso automático -->
                <div class="col-sm-12 col-md-4">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="procesoAutomatico" class="col-sm-12 col-form-label">
                            {{ 'administracion.procesosAutomaticos.crear.procesoAutomatico' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'procesoAutomatico'"
                                [controlName]="'procesoAutomatico'">
                                <app-mim-select [disabled]="_tipoProceso" class="w-100" [inputId]="'procesoAutomatico'"
                                    [options]="tipoProcesoAutomatico" formControlName="procesoAutomatico"
                                    [optionKey]="'nombre'" name="'procesoAutomatico'" ngDefaultControl>
                                </app-mim-select>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="procesoAutomatico" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.procesosAutomaticos.crear.procesoAutomatico' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>
                <!-- Cron Expression-->
                <div class="col-sm-6 col-md-4">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="cronExpresion" class="col-sm-12 col-form-label">
                            {{ 'administracion.procesosAutomaticos.crear.cronExpresion' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'cronExpresion'"
                                [controlName]="'cronExpresion'">
                                <input type="text" class="form-control" id="cronExpresion"
                                    formControlName="cronExpresion" name="cronExpresion" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="cronExpresion" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.procesosAutomaticos.crear.cronExpresion' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="cronExpresion" errorKey="incorrect">
                            {{ 'administracion.procesosAutomaticos.alertas.invalidaExpresion' | translate : { campo: 'administracion.procesosAutomaticos.crear.cronExpresion' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="cronExpresion" errorKey="maxlength">
                            {{ 'global.maxValue' | translate :
                            { campo: 'administracion.procesosAutomaticos.crear.cronExpresion' | translate,
                              max: 120
                            }
                          }}
                        </app-mim-input-error>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4" *ngIf="conversionExpresionCron">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="cronExpresion" class="col-sm-12 col-form-label">
                            {{ 'administracion.procesosAutomaticos.crear.traductorExpresion' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <label for="cronExpresionConversion">{{conversionExpresionCron}}</label>
                        </div>
                    </div>
                </div>
                <!--Descripcion del proceso-->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="descripcion" class="col-sm-12 col-form-label">
                            {{ 'administracion.procesosAutomaticos.crear.descripcion' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'descripcion'" [controlName]="'descripcion'">
                                <textarea type="text" rows="6" class="form-control" id="descripcion"
                                    formControlName="descripcion" name="descripcion" mask="a*" [patterns]="patterns"
                                    [dropSpecialCharacters]="false"></textarea>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="descripcion" errorKey="maxlength">
                            {{ 'global.maxValue' | translate :
                            { campo: 'administracion.procesosAutomaticos.crear.descripcion' | translate,
                              max: 250
                            }
                          }}
                        </app-mim-input-error>
                    </div>
                </div>
                <!--Controles -->
                <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
                    <div class="card-body py-2">
                        <div class="row mx-0 w-10 justify-content-end align-items-center">
                            <!-- Botones -->
                            <div class="col-xl-12">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()"
                                        [disabled]="form.pristine">
                                        <span class="icon-edit-3 mr-2"></span>
                                        {{ 'global.save' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>