<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="estado">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.titulo' |
              translate | emptyPipe }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionPortafolioAsociados">

    <div class="card-body">

      <!--Lista valor asegurado HU-33-01-->
      <div class="d-flex flex-row-reverse">
        <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)">
          <span class="icon-plus mr-2"></span>
          {{ 'global.add' | translate }}
        </button>
      </div>

      <div class="">
        <app-mim-grid [configuracion]="configuracion.gridConfig" (clickCeldaElement)="_onClickCeldaElement($event)"
          (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)"></app-mim-grid>
        <!-- Control de activos -->
        <div class="d-flex pt-5 mt-4 position_check">
          <div class="form--default">
            <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
              <label class="switch my-0">
                <input type="checkbox" checked (click)="_onFiltroEstado($event)" class="cursor-point" />
                <span class="slider round"></span>
              </label>
              <span class="text--13pts text--600wt text--gray2 col">
                {{ 'global.mostrarActivos' | translate }}
              </span>
            </div>
          </div>
        </div>

      </div>
      <!--Finaliza lista valor asegurado HU-33-01-->
    </div>
  </div>
</div>
<!-- Inicio guardar valor asegurado -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.crear'
                | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                {{
                'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.actualizar'
                | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">

          <div class="row mx-0">

            <!-- Tipo valor asegurado -->
            <div class="col-sm-12 col-md-12">
              <div class="form-group row align-items-center">
                <label appMimLabel for="tipoValorAsegurado" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.tipoValorAsegurado'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'tipoValorAsegurado'"
                    [controlName]="'tipoValorAsegurado'">
                    <app-mim-select class="w-100" [inputId]="'tipoValorAsegurado'" [options]="tiposValoresAsegurado"
                      formControlName="tipoValorAsegurado" [optionKey]="'nombre'" name="'tipoValorAsegurado'"
                      ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="tipoValorAsegurado" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.tipoValorAsegurado'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Plan Cobertura único -->
            <div class="col-sm-12 col-md-12" *ngIf="mostrarControl && mostrarPlanCoberturaUnico">
              <div class="form-group row align-items-center">
                <label appMimLabel for="planCobertura" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.planCobertura'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'planCobertura'" [controlName]="'planCobertura'">
                    <app-mim-select class="w-100" [inputId]="'planCobertura'" [options]="planesCoberturas"
                      formControlName="planCobertura" [optionKey]="'_nombre'" name="'planCobertura'" ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="planCobertura" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.planCobertura'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Plan Cobertura múltiple -->
            <div class="col-sm-12 col-md-12" *ngIf="mostrarControl && !mostrarPlanCoberturaUnico">
              <div class="form-group row align-items-center">
                <label appMimLabel for="planCobertura" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.planCobertura'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'planCobertura'" [controlName]="'planCobertura'">
                    <app-mim-multiselect class="w-100" [inputId]="'planCobertura'" [options]="planesCoberturas"
                      formControlName="planCobertura" [optionKey]="'_nombre'" name="'planCobertura'" ngDefaultControl>
                    </app-mim-multiselect>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="planCobertura" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.planCobertura'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Es un rango de % -->
            <div class="col-sm-12 col-md-6" *ngIf="mostrarControl">
              <div class="form-group">
                <label class="col-form-label" appMimLabel for="esUnRangoDe">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.esUnRango%'
                  | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                  <label class="switch">
                    <input type="checkbox" formControlName="esUnRangoDe" id="esUnRangoDe" name="esUnRangoDe">
                    <span class="slider round">
                      <span class="text--white text--14pts text--500wt">SI</span>
                      <span class="text--white text--14pts text--500wt">NO</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <!-- % Asegurado -->
            <div class="col-sm-12 col-md-6" *ngIf="mostrarControl">
              <div class="form-group row align-items-center">
                <label appMimLabel for="porcentajeAnticipo" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.asegurado'
                  | translate }}
                </label>
                <div class="col-sm-6">
                  <div class="input-group" appMimInput [for]="'aseguradoRangoInicio'"
                    [controlName]="'aseguradoRangoInicio'">
                    <input type="text" class="form-control" id="aseguradoRangoInicio" placeholder="Mínimo"
                      formControlName="aseguradoRangoInicio" name="aseguradoRangoInicio" currencyMask
                      [options]="{allowNegative: false}" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group" appMimInput [for]="'aseguradoRangoFinal'"
                    [controlName]="'aseguradoRangoFinal'">
                    <input type="text" class="form-control" id="aseguradoRangoFinal" placeholder="Máximo"
                      formControlName="aseguradoRangoFinal" name="aseguradoRangoFinal" currencyMask />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoInicio" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.aseguradoInicial'
                  | translate } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoFinal" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.aseguradoFinal'
                  | translate } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoInicio" errorKey="range">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.rangoMaximo'
                  | translate }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoFinal" errorKey="range">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.rangoMaximo'
                  | translate }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoInicio" errorKey="max">
                  {{
                  'global.maxValue' | translate: { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.aseguradoInicial'
                  | translate, max:999 } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoFinal" errorKey="max">
                  {{
                  'global.maxValue' | translate: { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.aseguradoFinal'
                  | translate, max:999 } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoInicio" errorKey="min">
                  {{
                  'global.minValue' | translate: { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.aseguradoInicial'
                  | translate, min:0 } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="aseguradoRangoFinal" errorKey="min">
                  {{
                  'global.minValue' | translate: { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.aseguradoFinal'
                  | translate, min:0 } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- # Meses promedio -->
            <div class="col-sm-12 col-md-6" *ngIf="mostrarControl">
              <div class="form-group row align-items-center">
                <label appMimLabel for="nroMesesPromedio" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.nroMesesPromedio'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'nroMesesPromedio'" [controlName]="'nroMesesPromedio'">
                    <input currencyMask type="text" class="form-control" id="nroMesesPromedio"
                      formControlName="nroMesesPromedio" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="nroMesesPromedio" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.nroMesesPromedio'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Porcentaje promedio cobertura -->
            <div class="col-sm-12 col-md-6" *ngIf="mostrarControl">
              <div class="form-group row align-items-center">
                <label appMimLabel for="porcentajePromedio" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.porcentajePromedio'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'porcentajePromedio'" [controlName]="'porcentajePromedio'">
                    <input currencyMask type="text" class="form-control" id="porcentajePromedio"
                      formControlName="porcentajePromedio" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="porcentajePromedio" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.porcentajePromedio'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Observación valor asegurado -->
            <div class="col-sm-12 col-md-12" *ngIf="mostrarControl">
              <div class="form-group row align-items-center">
                <label appMimLabel for="observacionValorAsegurado" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.observacionValorAsegurado'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'observacionValorAsegurado'" [controlName]="'observacionValorAsegurado'">
                    <textarea type="text" rows="5" class="form-control" id="observacionValorAsegurado" formControlName="observacionValorAsegurado"
                    name="observacionValorAsegurado"></textarea>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="observacionValorAsegurado" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.observacionValorAsegurado'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Tipo reconocido -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="tipoReconocido" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.tipoReconocido'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'tipoReconocido'" [controlName]="'tipoReconocido'">
                    <app-mim-select class="w-100" [inputId]="'tipoReconocido'" [options]="tiposReconocidos"
                      formControlName="tipoReconocido" [optionKey]="'nombre'" name="'tipoReconocido'" ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="tipoReconocido" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.tipoReconocido'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Agregar topes -->
            <div class="col-sm-12 col-md-6" *ngIf="!mostrarControl">
              <div class="form-group row align-items-center">
                <button type="submit" class="btn btn--orange1 btn--md ml-3 mt-4" [disabled]="bloquearBotonTope" (click)="abrirModalTopes()">
                  <span class="icon-plus mr-2"></span>
                    {{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.botonAgregarTopes'| translate }}
                </button>
              </div>
            </div>

            <!-- Valor asegurado -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="valorAsegurado" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.valorAsegurado'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'valorAsegurado'" [controlName]="'valorAsegurado'">
                    <input currencyMask type="text" class="form-control" id="valorAsegurado"
                      formControlName="valorAsegurado" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="valorAsegurado" errorKey="max">
                  {{ 'global.maxValue' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.valorAsegurado'
                  | translate, max:1000000000 } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="valorAsegurado" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.valorAsegurado'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Tiene valor sublimite -->
            <div class="col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-form-label" appMimLabel for="tieneValorSublimite">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.tieneValorAsegurado'
                  | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                  <label class="switch">
                    <input type="checkbox" formControlName="tieneValorSublimite" id="tieneValorSublimite"
                      name="tieneValorSublimite">
                    <span class="slider round">
                      <span class="text--white text--14pts text--500wt">SI</span>
                      <span class="text--white text--14pts text--500wt">NO</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Tipo valor restitución -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="tipoValorRestitucion" class="col-sm-12 col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.tipoValorRestitucion'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'tipoValorRestitucion'"
                    [controlName]="'tipoValorRestitucion'">
                    <app-mim-select class="w-100" [inputId]="'tipoValorRestitucion'" [options]="tiposValoresRestitucion"
                      formControlName="tipoValorRestitucion" [optionKey]="'nombre'" name="'tipoValorRestitucion'"
                      ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="tipoValorRestitucion" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.tipoValorRestitucion'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Tipo periodicidad -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="tipoPeriodicidad" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.periodicidad' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'tipoPeriodicidad'" [controlName]="'tipoPeriodicidad'">
                    <app-mim-select class="w-100" [inputId]="'tipoPeriodicidad'" [options]="tiposPeriodicidad "
                      formControlName="tipoPeriodicidad" [optionKey]="'nombre'" name="'tipoPeriodicidad'"
                      ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="tipoPeriodicidad" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.periodicidad' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Fecha de restitucion -->
            <div class="col-sm-12 col-md-12">
              <div class="form-group row align-items-center">
                <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFinRestitucion">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.fechasRestitucion' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'fechaInicioFechaFinRestitucion'"
                    [controlName]="'fechaInicioFechaFinRestitucion'">
                    <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFinRestitucion'" [disabled]="estadoFecha"
                      formControlName="fechaInicioFechaFinRestitucion" [selectionMode]="'range'" ngDefaultControl>
                    </app-mim-date-picker>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFinRestitucion" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.fechasRestitucion' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!--Es una renta --->
            <div class="col-sm-12 col-md-12">
              <div class="form-group">
                <label class="col-form-label" appMimLabel for="esUnaRenta">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.esRenta'
                  | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                  <label class="switch">
                    <input type="checkbox" formControlName="esUnaRenta" id="esUnaRenta" name="esUnaRenta">
                    <span class="slider round">
                      <span class="text--white text--14pts text--500wt">SI</span>
                      <span class="text--white text--14pts text--500wt">NO</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <!-- renta minima a pagar -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="rentaMinimaPagar" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.rentaMinima' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'rentaMinimaPagar'"
                    [controlName]="'rentaMinimaPagar'">
                    <input type="text" class="form-control" id="rentaMinimaPagar"
                      formControlName="rentaMinimaPagar" name="rentaMinimaPagar" maxlength="3" currencyMask [options]="configurarMascara()" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="rentaMinimaPagar" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.rentaMinima' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- renta maxima a pagar -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="rentaMaximaPagar" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.rentaMaxima' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'rentaMaximaPagar'"
                    [controlName]="'rentaMaximaPagar'">
                    <input type="text" class="form-control" id="rentaMaximaPagar"
                      formControlName="rentaMaximaPagar" name="rentaMaximaPagar" maxlength="3" currencyMask [options]="configurarMascara()" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="rentaMaximaPagar" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.rentaMaxima' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Presentación valor portafolio -->
            <div class="col-sm-12 col-md-12">
              <div class="form-group row align-items-center">
                <label appMimLabel for="presentacionPortafolio" class="col-sm-12 col-form-label">
                  {{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.presentacionPortafolio' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'presentacionPortafolio'"
                    [controlName]="'presentacionPortafolio'">
                    <app-mim-select class="w-100" [inputId]="'presentacionPortafolio'" [options]="validarOpcionesPortafolio()"
                      formControlName="presentacionPortafolio" [optionKey]="'nombre'" name="'presentacionPortafolio'"
                      ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="presentacionPortafolio" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.presentacionPortafolio' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Fecha de vigencia -->
            <div class="col-sm-12 col-md-12">
              <div class="form-group row align-items-center">
                <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.fechaInicioVigencia'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                    [controlName]="'fechaInicioFechaFin'">
                    <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                      formControlName="fechaInicioFechaFin" [selectionMode]="'range'" ngDefaultControl>
                    </app-mim-date-picker>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.fechaInicioVigencia'
                  | translate } }}
                </app-mim-input-error>
              </div>
            </div>
          </div>

          <!-- Vigente -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label" appMimLabel for="vigente">
                {{
                'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.guardar.vigente'
                | translate }}
              </label>
              <div class="custom-control custom-switch p-0">
                <label class="switch">
                  <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                  <span class="slider round">
                    <span class="text--white text--14pts text--500wt">SI</span>
                    <span class="text--white text--14pts text--500wt">NO</span>
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="card-footer  w-100 border-0 mt-5">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(form)"
                (click)="_guardar()">
                <span class="icon-checkmark mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </div>

          <!-- Modal topes -->
          <div class="sidebar--slide sidebar--slide_right d-flex align-items-center" [ngClass]="{ open: mostrarModalTopes == true }" *ngIf="mostrarModalTopes">
            <div class="row mx-0 w-100 justify-content-center">
              <div class="col-xl-10 col-md-7 px-0">
                <div class="card bg--white">
                  <div class="card-header">
                    <div class="row mx-0 w-100 align-items-center">
                      <div class="col-lg-11">
                        <h1 class="text--500wt text--gray1 my-0">
                          {{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.titulo' | translate }}
                        </h1>
                      </div>
                      <button class="btn btn--circle btn--circle_green position-absolute" style="top: 0; right: 0;" (click)="cerrarModalTopes(false)">
                        <span class="icon-cross mr-2"></span>
                      </button>
                    </div>
                  </div>

                  <div class="card-body">
                    <p-table [value]="arrayTopes.controls" class="grid-table">
                      <ng-template pTemplate="caption">

                        <div class="d-flex flex-row">
                          <div class="d-flex flex-row-reverse w-100">
                            <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="addNewRow()">
                              <span class="icon-plus mr-2"></span> {{ 'global.add' | translate }}
                            </button>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="header">
                          <tr class="grid-head-columns grid-head-column text-uppercase">
                              <th scope="col" style="width:18em">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.nivelRiesgo' | translate }}</th>
                              <th scope="col">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.tipoValor' | translate }}</th>
                              <th scope="col">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.planCobertura' | translate }}</th>
                              <th scope="col" style="width:12em">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMinimo' | translate }}</th>
                              <th scope="col">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.tipoValor' | translate }}</th>
                              <th scope="col">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.planCobertura' | translate }}</th>
                              <th scope="col" style="width:12em">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMaximo' | translate }}</th>
                              <th scope="col" style="width:6em">{{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.accion' | translate }}</th>
                          </tr>
                      </ng-template>
                       <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                        <ng-container formArrayName="arrayTopes">
                          <tr class="grid-space-row"><!-- Espacio en transparente --></tr>
                          <tr [formGroupName]="i" [pEditableRow]="rowData" class="grid-body-column ng-star-inserted">
                            <td>
                              <div class="form-group tooltipError">
                                <div class="input-group" [ngClass]="getControls(i)?.nivelRiesgoTope.errors ? 'border--red1': ''">
                                  <app-mim-select class="w-100" [options]="nivelesRiesgos" formControlName="nivelRiesgoTope"
                                    [optionKey]="'nombre'" ngDefaultControl>
                                  </app-mim-select>
                                </div>
                                <span class="tooltiptext" *ngIf="getControls(i)?.nivelRiesgoTope.errors">
                                  <p *ngIf="getControls(i)?.nivelRiesgoTope.errors?.required">
                                    {{ 'global.required' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.nivelRiesgo'
                                      | translate } }}
                                  </p>
                                </span>
                              </div>
                            </td>
                            <td>
                              <div class="form-group tooltipError">
                                <div class="input-group" [ngClass]="getControls(i)?.tipoValorTopeUno.errors ? 'border--red1': ''">
                                  <app-mim-select class="w-100" [options]="tiposValoresTope" formControlName="tipoValorTopeUno"
                                    [optionKey]="'nombre'" ngDefaultControl>
                                  </app-mim-select>
                                </div>
                                <span class="tooltiptext" *ngIf="getControls(i)?.tipoValorTopeUno.errors">
                                  <p *ngIf="getControls(i)?.tipoValorTopeUno.errors?.required">
                                    {{ 'global.required' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.tipoValor'
                                      | translate } }}
                                   </p>
                                </span>
                              </div>
                            </td>
                            <td>
                              <div class="form-group tooltipError">
                                <div class="input-group" [ngClass]="getControls(i)?.planCoberturaTopeUno.errors ? 'border--red1': ''">
                                  <app-mim-select class="w-100" [options]="planesCoberturas" formControlName="planCoberturaTopeUno"
                                    [optionKey]="'nombre'" ngDefaultControl>
                                  </app-mim-select>
                                </div>
                                <span class="tooltiptext" *ngIf="getControls(i)?.planCoberturaTopeUno.errors">
                                  <p *ngIf="getControls(i)?.planCoberturaTopeUno.errors?.required">
                                    {{ 'global.required' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.planCobertura'
                                      | translate } }}
                                  </p>
                                </span>
                              </div>
                            </td>
                            <td>
                              <div class="form-group tooltipError">
                                <div class="input-group" [ngClass]="getControls(i)?.valorMinimoTope.errors ? 'border--red1': ''">
                                  <input class="form-control" pInputText type="text" formControlName="valorMinimoTope" currencyMask [options]="getControls(i)?.valorMask.value">
                                </div>
                                <span class="tooltiptext" *ngIf="getControls(i)?.valorMinimoTope.errors">
                                  <p *ngIf="getControls(i)?.valorMinimoTope.errors?.required">
                                    {{ 'global.required' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMinimo'
                                      | translate } }}
                                  </p>
                                  <p *ngIf="getControls(i)?.valorMinimoTope.errors?.max">
                                    {{ 'global.maxValue' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMinimo'
                                      | translate, max: getControls(i).valorMaxPermitido.value } }}
                                  </p>
                                  <p *ngIf="getControls(i)?.valorMinimoTope.errors?.min">
                                    {{ 'global.minValue' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMinimo'
                                      | translate, max: getControls(i).valorMinPermitido.value } }}
                                  </p>
                                </span>
                              </div>
                            </td>
                            <td>
                              <div class="form-group tooltipError">
                                <div class="input-group" [ngClass]="getControls(i)?.tipoValorTopeDos.errors ? 'border--red1': ''">
                                  <app-mim-select class="w-100" [options]="tiposValoresTope" formControlName="tipoValorTopeDos"
                                    [optionKey]="'nombre'" ngDefaultControl>
                                  </app-mim-select>
                                </div>
                                <span class="tooltiptext" *ngIf="getControls(i)?.tipoValorTopeDos.errors">
                                  <p *ngIf="getControls(i)?.tipoValorTopeDos.errors?.required">
                                    {{ 'global.required' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.tipoValor'
                                      | translate } }}
                                  </p>
                                </span>
                              </div>
                            </td>
                            <td>
                              <div class="form-group tooltipError">
                                <div class="input-group" [ngClass]="getControls(i)?.planCoberturaTopeDos.errors ? 'border--red1': ''">
                                  <app-mim-select class="w-100" [options]="planesCoberturas" formControlName="planCoberturaTopeDos"
                                    [optionKey]="'nombre'" ngDefaultControl>
                                  </app-mim-select>
                                </div>
                                <span class="tooltiptext" *ngIf="getControls(i)?.planCoberturaTopeDos.errors">
                                  <p *ngIf="getControls(i)?.planCoberturaTopeDos.errors?.required">
                                    {{ 'global.required' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.planCobertura'
                                      | translate } }}
                                    </p>
                                </span>
                              </div>
                            </td>
                            <td>
                              <div class="form-group tooltipError">
                                <div class="input-group" [ngClass]="getControls(i)?.valorMaximoTope.errors ? 'border--red1': ''">
                                  <input class="form-control" pInputText type="text" formControlName="valorMaximoTope" currencyMask [options]="getControls(i)?.valorMask.value">
                                </div>
                                <span class="tooltiptext" *ngIf="getControls(i)?.valorMaximoTope.errors">
                                  <p *ngIf="getControls(i)?.valorMaximoTope.errors?.required">
                                    {{ 'global.required' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMaximo'
                                      | translate } }}
                                  </p>
                                  <p *ngIf="getControls(i)?.valorMaximoTope.errors?.max">
                                    {{ 'global.maxValue' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMaximo'
                                      | translate, max: getControls(i).valorMaxPermitido.value } }}
                                  </p>
                                  <p *ngIf="getControls(i)?.valorMaximoTope.errors?.min">
                                    {{ 'global.minValue' | translate : { campo:
                                      'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorAsegurado.gridTopes.valorMaximo'
                                      | translate, max: getControls(i).valorMinPermitido.value } }}
                                  </p>
                                </span>
                              </div>
                            </td>
                            <td style="text-align:center" class="d-flex flex-row px-1">
                              <button type="button" pInitEditableRow class="btn btn--icon bg--blue2 mx-auto" (click)="onDeleteRow(i)">
                                <span class="icon-trash-3 text--red1"></span>
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin crear valor asegurado. -->


