<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [class.active]="active">
  <div class="card-header py-2">
    <div class="row mx-0 w-100 align-items-center">
      <!-- nombre -->
      <div class="col-md-6 px-0 py-2">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-1 px-0 py-2" *ngIf="!hiddenStatus">
            <h5 class="my-0 text--18pts text--medium title">
              {{ configuracion.benDesCorEst | emptyPipe }}
            </h5>
          </div>
          <div class="col-md-1 px-0 py-0 grid-link-container btn btn--border_orange1 margin-benficiario-repetidos"
            *ngIf="hiddenStatus">
            <button class="grid-link-button" (click)="_onRedirectToInformacion(configuracion.codBeneficiario)"
              title="click">
              <span>{{ configuracion.benDesCorEst | emptyPipe }}</span>
            </button>
          </div>
          <div class="col-md-11 py-2">
            <h5 class="my-0 text--14pts text--medium">
              {{
                configuracion.nomBeneficiario +
                  ' ' +
                  configuracion.benApellido1 +
                  ' ' +
                  (configuracion.benApellido2 || '') | emptyPipe
              }}
            </h5>
          </div>
        </div>
        <!--Fin encabezado-->
      </div>
      <!-- tipo de identificación -->
      <div class="col-md-2 justify-content-end">
        <h5 class="my-0 text--14pts text--medium">
          <span class="text--gray2">{{ configuracion.benDesCorTipIden | emptyPipe }}
          </span>{{ configuracion.benNumIdentificacion | emptyPipe }}
        </h5>
      </div>
      <!-- porcentaje -->
      <div class="col-md-2 px-0">
        <form class="form--default form--porcentaje">
          <div class="form-group row justify-content-center my-0">
            <div class="col-sm-7 px-0">
              <div class="input-group mb-0 w-90" *ngIf="configuracion.desGrupo !== detalles.value">
                <input type="text" class="form-control input-border-disabled" id="inlineFormInputGroup"
                  [value]="configuracion.benPorcentaje || 0" [disabled]=true />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    %
                  </div>
                </div>
              </div>
              <div *ngIf="configuracion.desGrupo === detalles.value">
                <h5 class="my-0 text--14pts text--medium">
                  <span class="text--gray2">Parentesco</span>
                  {{ configuracion.benDesParentesco | emptyPipe }}
                </h5>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- bottones de editar y eliminar -->
      <div class="col-md-2 px-0">
        <div class="row mx-0 w-100 align-items-center justify-content-end">
          <div id="MM_EDITAR" class="col-4 pr-0 mr-2">
            <button class="btn btn--icon bg--blue2 mx-auto" (click)="editarBeneficiarios(configuracion)"
              [disabled]="disableEdit">
              <span class="icon-edit-3 text--blue1"></span>
            </button>
          </div>
          <div id="MM_ELIMINAR" class="col-4 pl-0">
            <button class="btn btn--icon bg--red2 mx-auto" (click)="eliminarBeneficiarios(configuracion)"
              [disabled]="disableDelete">
              <span class="icon-trash-3 text--red1"></span>
            </button>
          </div>
          <div class="col-2 px-0">
            <a href="#" data-toggle="collapse" data-target="#collapseBeneficiosSolidaridadTwo"
              aria-controls="collapsBeneficiosSolidaridadeTwo"
              class="text--15pts text--green1 float-right animate-rote-collapsed"
              [ngClass]="{ 'animate-collapsed': active }" (click)="toogleCollpase()">
              <span class="icon-chevron-down"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- display -->
  <div class="collapse" [ngClass]="{ show: active }" aria-labelledby="headingBeneficiosSolidaridadTwo"
    data-parent="#accordionBeneficiosSolidaridad">
    <div class="card-body">
      <div class="row mx-0 w-100">
        <div class="col-md-3">
          <h5 class="text--600wt text--gray2 mt-2 mb-0">Estado</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.benDesCorEst | emptyPipe }}
          </h4>
          <h5 class="text--600wt text--gray2 mt-4 mb-0">Edad</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.edad | emptyPipe }}
          </h4>
        </div>
        <div class="col-md-3">
          <h5 class="text--600wt text--gray2 mt-2 mb-0">Parentesco</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.benDesParentesco | emptyPipe }}
          </h4>
          <h5 class="text--600wt text--gray2 mt-4 mb-0">Fecha de nacimiento</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.benFecNac | emptyPipe }}
          </h4>
        </div>
        <div class="col-md-3">
          <h5 class="text--600wt text--gray2 mt-2 mb-0">Sexo</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.benDesSexo | emptyPipe }}
          </h4>
          <h5 class="text--600wt text--gray2 mt-4 mb-0">Fecha de ingreso</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.benFecReg | emptyPipe }}
          </h4>
        </div>
        <div class="col-md-3">
          <h5 class="text--600wt text--gray2 mt-2 mb-0">¿Es inválido/a?</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.benDesInvalido | emptyPipe }}
          </h4>
          <h5 class="text--600wt text--gray2 mt-4 mb-0">Tipo beneficiario</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.benDesTip | emptyPipe }}
          </h4>
        </div>
      </div>
      <div class="row mx-0 w-100" *ngIf="configuracion.prodNombre">
        <div class="col-md-3">
          <h5 class="text--600wt text--gray2 mt-2 mb-0">Plan Educativo</h5>
          <h4 class="text--500wt text--gray1 mt-2 mb-0">
            {{ configuracion.prodNombre | emptyPipe }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>