<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
        <h1 class="my-0">
            {{ 'administracion.cofiguracionCotizadores.otrosParametros.editar.actualizar' | translate }}
        </h1>
    </div>
</div>

<div class="mt-3 card bg--white border-0 rounded-0">
    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
        <div class="card-body">
            <div class="row mx-0 w-100">

                <!-- Descripcion -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="descripcion" class="col-sm-12 col-form-label">
                            {{ 'administracion.cofiguracionCotizadores.otrosParametros.grid.descripcion' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'descripcion'" [controlName]="'descripcion'">
                                <input type="text" class="form-control" id="descripcion" formControlName="descripcion"  name="descripcion" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Dias -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="dias" class="col-sm-12 col-form-label">
                            {{ 'administracion.cofiguracionCotizadores.otrosParametros.grid.dias' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'dias'" [controlName]="'dias'">
                                <input type="text" class="form-control" id="dias" formControlName="dias" name="dias" maxlength="3" currencyMask [options]="configurarMascara()" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="dias" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.cofiguracionCotizadores.otrosParametros.grid.dias' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!--Controles -->
                <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
                    <div class="card-body py-2">
                        <div class="row mx-0 w-10 justify-content-end align-items-center">
                            <!-- Botones -->
                            <div class="col-xl-12">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alActualizar()"
                                        [disabled]="form.pristine">
                                        <span class="icon-edit-3 mr-2"></span>
                                        {{ 'global.save' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>