<div class="pb-5 d-none d-xl-inline-flex">
  <div class="sidebar--slide sidebar--slide_nav sidebar--slide_nav-left d-inline-flex d-xl-none" [ngClass]="">
    <div class="sidebar--panel_left">
      <div class="sidebar--panel_left-menu bg--white">
        <div class="card cards--panelLeft mb-4">
          <div class="item-menu-arrow" top (click)="_onClickUp()">
            <span class="icon-chevron-up button-filter"></span>
          </div>
          <div class="item-menu-body">
            <ul class="nav flex-column item-menu-ul" #displayUl>
              <li class="nav-item item-menu-li" *ngFor="let item of configuracionFiltroVerticalItems; let i = index"
                (click)="_onOpen(item, $event, i)" [ngClass]="{ 'item-menu-active': filtroVerticalItems.toArray()[i]._cssShow }">
                <a class="nav-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <span class="d-flex text"> {{ item.label | translate }}</span>
                  <span class="icon-chevron-up d-none d-xl-flex"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="item-menu-arrow" bottom (click)="_onClickDown()">
            <span class="icon-chevron-down button-filter"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <ng-content></ng-content>
</div>
