.arrow-up {
    transform: rotate(180deg);
  }
  
  .animation-display {
    transition: all 1s ease-in-out;
  }
  
  @media (max-width: 1199px) {
    .show-min-1200{
      display: inline;
    }
  }
  .cards--panelLeft .card-header h5 button {
    display: block !important;
}
