<div class="card cards--headerFooter w-100">
  <div class="card--header">
    <div class="row mx-0 w100 align-items-center">
      <div class="col-md-1 px-0">
        <span
          class="icon--circle icon--circle_lg bg--orange1 rounded-circle text--white d-flex align-items-center justify-content-center">
          <span class="icon-user text--36pts">
          </span>
        </span>
      </div>
      <div class="col-md-11">
        <h2 class="text--500wt text--gray1 my-0">
          {{ configuracion.datos[configuracion.keyNombre] }}
          {{ configuracion.datos[configuracion.keyApellido1] }}
          {{ configuracion.datos[configuracion.keyApellido2] }}
        </h2>
        <div class="row mx-0 w-100 mt-2">
          <div class="col-md-4 px-0" *ngFor="let item of configuracion.atributos">
            <h5 class="text--600wt text--gray2">
              {{ item.titulo | translate }}:
              <span class="text--500wt text--gray1">
                {{ configuracion.datos[item.key] }}
              </span>
            </h5>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
