.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  background: #73bf45;
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  opacity: 1;
  border: none;
  z-index: inherit;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 150px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 25px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 10px;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
