@media (max-width: 1199px) {
  .float-window {
    position: fixed;
    top: 82px;
    height: 100%;
    left: -100%;
    background-color: #ffffff;
    border-left: 1px solid #d6dbe0;
  }

  .show-float-window {
    left: 96px;
    z-index: 1040;
    padding: 30px 20px 0px 20px;
  }
}
