<div class="row mx-0 w-100 align-items-center">
  <!-- TÍTULO -->
  <div class="col-md-12">
    <h1 class="my-0">
      {{ _tituloForm }}
    </h1>
  </div>
</div>
<div class="row mx-0 w-100 mt-4">
  <!-- PANELES DE INFORMACIÓN -->
  <div class="col-md-12 mb-3">
    <form class="form--default" *ngIf="isForm | async as isForm" [formGroup]="form"
      (ngSubmit)="formBeneficiarioAsociados()">
      <div class="card cards--headerFooter w-100 mb-3">
        <div class="card-header">
          <h2 class="text--500wt text--gray1 my-0">
            <span class="icon-user text--18pts mr-2 text--orange1"></span>
            {{
              'asociado.beneficiario.nuevoBeneficiario.informacionGeneral'
                | translate
            }}
          </h2>
        </div>
        <div class="card-body px-4 pt-4 pb-4">
          <div class="row ">
            <!-- Tipo Identificacion -->
            <div class="form-group col-6">
              <label class="col-form-label" appMimLabel for="identificacion">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.identificacion'
                    | translate
                }}</label>
              <div class="input-group" appMimInput [for]="'identificacion'" [controlName]="'identificacion'">
                <app-mim-select class="w-100" [inputId]="'identificacion'"
                  [options]="configuracion.tipoIdentificaciones" formControlName="identificacion"
                  [optionKey]="'nombreCorto'" ngDefaultControl (blur)="_validacionIdentificacion()">
                </app-mim-select>
              </div>
            </div>

            <!-- numero de identificacion -->
            <div class="form-group align-items-center col-6">
              <label appMimLabel for="formNumeroIdBeneficiario">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.numeroId' | translate
                }}</label>
              <div class="input-group" appMimInput [for]="'formNumeroIdBeneficiario'" [controlName]="'numeroId'">
                <input type="text" class="form-control" id="formNumeroIdBeneficiario" placeholder=""
                  formControlName="numeroId" (blur)="_validacionIdentificacion()" />
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-6 ">
              <div class="row">
                <!-- fecha de nacimiento -->
                <div class="form-group col-8">
                  <label appMimLabel for="formFechaBeneficiario">
                    {{
                      'asociado.beneficiario.nuevoBeneficiario.fechaNacimiento'
                        | translate
                    }}</label>
                  <div class="input-group" appMimInput [for]="'formFechaBeneficiario'"
                    [controlName]="'fechaNacimiento'">
                    <app-mim-date-picker class="w-100" [inputId]="'formFechaBeneficiario'"
                      formControlName="fechaNacimiento" ngDefaultControl (onChangeValue)="_calcularEdad($event)"
                      [maxDate]="_maxDate"></app-mim-date-picker>
                  </div>
                </div>
                <!-- edad -->
                <div class="form-group col-4">
                  <label appMimLabel for="formEdadBeneficiario">
                    {{
                      'asociado.beneficiario.nuevoBeneficiario.edad' | translate
                    }}</label>
                  <div class="input-group" appMimInput [for]="'formEdadBeneficiario'" [controlName]="'edad'">
                    <input type="text" class="form-control" id="formEdadBeneficiario" placeholder="" readonly="readonly"
                      formControlName="edad" />
                  </div>
                </div>
              </div>
            </div>

            <!-- nombre -->
            <div class="form-group align-items-center col-6">
              <label appMimLabel for="formNombreBeneficiario">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.nombre' | translate
                }}</label>
              <div class="input-group" appMimInput [for]="'formNombreBeneficiario'" [controlName]="'nombre'">
                <input type="text" class="form-control text-upercase" id="formNombreBeneficiario" placeholder=""
                  formControlName="nombre" mask="n*" [patterns]="patterns" maxlength="30"
                  [dropSpecialCharacters]="false" />
              </div>
            </div>
          </div>

          <div class="row ">
            <!-- apellido1 -->
            <div class="form-group col-6">
              <label appMimLabel for="formApellido1Beneficiario">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.apellido1'
                    | translate
                }}</label>
              <div class="input-group" appMimInput [for]="'formApellido1Beneficiario'" [controlName]="'apellido1'">
                <input type="text" class="form-control text-upercase" id="formApellido1Beneficiario" placeholder=""
                  formControlName="apellido1" mask="n*" [patterns]="patterns" maxlength="20" />
              </div>
            </div>
            <!-- apellido2 -->
            <div class="form-group col-6">
              <label appMimLabel for="formApellido2Beneficiario">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.apellido2'
                    | translate
                }}</label>
              <div class="input-group" appMimInput [for]="'formApellido2Beneficiario'" [controlName]="'apellido2'">
                <input type="text" class="form-control text-upercase" id="formApellido2Beneficiario" placeholder=""
                  formControlName="apellido2" mask="n*" [patterns]="patterns" maxlength="20" />
              </div>
            </div>
          </div>
          <div class="row ">
            <!-- parentesco -->
            <div class="form-group col-6">
              <label appMimLabel for="formParentescoBeneficiario">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.parentesco'
                    | translate
                }}</label>

              <div class="input-group" appMimInput [for]="'formParentescoBeneficiario'" [controlName]="'parentesco'">
                <app-mim-select class="w-100" [inputId]="'formParentescoBeneficiario'"
                  [options]="configuracion.tiposParentescos" formControlName="parentesco" [optionKey]="'nombre'"
                  (changeValue)="_onChangeParentesco($event)" ngDefaultControl></app-mim-select>
              </div>
            </div>

            <!-- sexo -->
            <div class="form-group  col-6">
              <label appMimLabel for="editarDatosAsoCiudad">{{
                'asociado.beneficiario.nuevoBeneficiario.sexo' | translate
              }}</label>
              <div class="input-group cards--checkbox border-0 ">
                <div class="col px-0 pr-1 mx-0">
                  <div class="w-100 pt-0 custom-control custom-checkbox custom-checkbox_border"
                    (click)="toogleCheckboxSexoBeneficiario(_valorSexoF)" [class.active]="activeSexo === _valorSexoF">
                    <input class="custom-control-input" id="checkedFemenino" formControlName="sexo"
                      [value]="_valorSexoF" type="radio" />
                    <label class="custom-control-label" for="checkedFemenino">
                      {{
                        'asociado.beneficiario.nuevoBeneficiario.femenino'
                          | translate
                      }}
                    </label>
                  </div>
                </div>
                <div class="col px-0">
                  <div class="w-100 pt-0 custom-control custom-checkbox custom-checkbox_border"
                    (click)="toogleCheckboxSexoBeneficiario(_valorSexoM)" [class.active]="activeSexo === _valorSexoM">
                    <input class="custom-control-input" id="checkedMasculino" formControlName="sexo"
                      [value]="_valorSexoM" type="radio" />
                    <label class="custom-control-label" for="checkedMasculino">
                      {{
                        'asociado.beneficiario.nuevoBeneficiario.masculino'
                          | translate
                      }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Invalido -->
          <div class="form-group row align-items-center col-12 mt-3">
            <label appMimLabel for="formInvalidBeneficiario">
              {{
                'asociado.beneficiario.nuevoBeneficiario.invalido' | translate
              }}
            </label>

            <div class="col-sm-2 ml-0">
              <div class="custom-control custom-switch p-0 float-left">
                <label class="switch float-right">
                  <input type="checkbox" formControlName="invalido" />
                  <span class="slider round">
                    <span class="text--white text--14pts text--500wt">SI</span>
                    <span class="text--white text--14pts text--500wt">NO</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <!-- check beneficiarios -->
            <div class="col-12 ">
              <div class="cards--checkbox px-0 pt-0 mb-4 w-100">
                <div class="row mx-0 w-100 align-items-center">
                  <div class="col-sm-2 px-0">
                    <label for="editarDatosAsoCiudad" class="col-form-label">
                      {{ 'asociado.beneficiario.nuevoBeneficiario.beneficiario' | translate }}
                    </label>
                  </div>
                  <div class="col-sm-2 pl-0 ">
                    <div class="w-100 pt-0 custom-control custom-checkbox custom-checkbox_border active" (click)="
                        toogleCheckboxTipoBeneficiario(_valorSolidaridad)
                      " [class.active]="activeBeneficiario === _valorSolidaridad"
                      [ngClass]="{ 'disable-checkbox': _editar || _agregarEducativo }">
                      <input class="custom-control-input" id="checkedSolidaridad" type="radio"
                        formControlName="beneficiario" [value]="_valorSolidaridad" (change)="_onChangeSolidaridad()" />
                      <label class="custom-control-label" for="checkedSolidaridad">
                        {{
                          'asociado.beneficiario.nuevoBeneficiario.itemSolidaridad'
                            | translate
                        }}
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-3 pl-0">
                    <div class="w-100 pt-0 custom-control custom-checkbox custom-checkbox_border"
                      (click)="toogleCheckboxTipoBeneficiario(_valorAuxFun)"
                      [class.active]="activeBeneficiario === _valorAuxFun"
                      [ngClass]="{ 'disable-checkbox': _editar ||  _agregarEducativo }">
                      <input class="custom-control-input" id="checkedAuxilio" formControlName="beneficiario"
                        [value]="_valorAuxFun" type="radio" (change)="_onChangeSolidaridad()" />
                      <label class="custom-control-label" for="checkedAuxilio">
                        {{
                          'asociado.beneficiario.nuevoBeneficiario.itemAuxFunerario'
                            | translate
                        }}</label>
                    </div>
                  </div>
                  <div class="col-sm-3 pl-0">
                    <div class="w-100 pt-0 custom-control custom-checkbox custom-checkbox_border"
                      (click)="toogleCheckboxTipoBeneficiario(_valorOtros)"
                      [class.active]="activeBeneficiario === _valorOtros"
                      [ngClass]="{ 'disable-checkbox': _editar ||  _agregarEducativo}">
                      <input class="custom-control-input" id="checkedAuxilio" formControlName="beneficiario"
                        [value]="_valorOtros" type="radio" (change)="_onChangeSolidaridad()" />
                      <label class="custom-control-label" for="checkedAuxilio">
                        {{
                          'asociado.beneficiario.nuevoBeneficiario.itemOtros'
                            | translate
                        }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <!-- tipo de beneficiario -->
            <div class="form-group  align-items-center col-6">
              <label class="col-form-label" appMimLabel for="formTipoBeneficiario">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.tipoBeneficiario'
                    | translate
                }}</label>

              <div class="input-group" appMimInput [for]="'formTipoBeneficiario'" [controlName]="'tipoBeneficiario'">
                <app-mim-select class="w-100" [inputId]="'formTipoBeneficiario'"
                  [options]="configuracion.tiposBeneficiarios" formControlName="tipoBeneficiario"
                  [optionKey]="'descripcion'" (changeValue)="_onChangeTipoBeneficiario($event)" ngDefaultControl>
                </app-mim-select>
              </div>
            </div>

            <div class="form-group col-6"></div>

            <div class="form-group col-6">
              <!-- porcentaje -->
              <div [hidden]="this.form.get('porcentaje').disabled">
                <label appMimLabel for="formPorcentajeBeneficiario">
                  {{
                    'asociado.beneficiario.nuevoBeneficiario.porcentaje'
                      | translate
                  }}</label>
                <div class="input-group " appMimInput [for]="'formPorcentajeBeneficiario'" [controlName]="'porcentaje'">
                  <input type="text" class="form-control" id="formPorcentajeBeneficiario" placeholder=""
                    formControlName="porcentaje" (click)="_openPorcentaje()" readonly="readonly" />
                  <div class="input-group-prepend">
                    <div class="input-group-text label-porcentaje">
                      %
                    </div>
                  </div>


                </div>
              </div>

              <!-- cobertura -->
              <div [hidden]="this.form.get('cobertura').disabled">
                <label appMimLabel for="formCoberturaBeneficiario">
                  {{
                    'asociado.beneficiario.nuevoBeneficiario.coberturaSMMLV'
                      | translate
                  }}</label>
                <div class="input-group" appMimInput [for]="'formCoberturaBeneficiario'" [controlName]="'cobertura'">
                  <input type="number" class="form-control" id="formCoberturaBeneficiario" readonly="readonly"
                    placeholder="" max="1000" step="0.5" formControlName="cobertura"
                    (keyup)="_OnKeyPressCobertura($event)" />
                </div>
              </div>


            </div>

            <!-- cuota -->
            <div class="form-group col-6" [hidden]="this.form.get('cuota').disabled">
              <label appMimLabel for="formCuotaBeneficiario">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.cuotaContribucion'
                    | translate
                }}</label>
              <div class="input-group" appMimInput [for]="'formCuotaBeneficiario'" [controlName]="'cuota'">
                <input type="text" class="form-control" id="formCuotaBeneficiario" placeholder="" readonly="readonly"
                  formControlName="cuota" mask="comma_separator" />
              </div>
            </div>


            <!-- plan educativo -->
            <div class="form-group col-6" [hidden]="this.form.get('planEducativo').disabled && !_agregarEducativo">
              <label class="col-form-label" appMimLabel for="formPlanEducativo">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.planEducativo'
                    | translate
                }}</label>

              <div class="input-group" appMimInput [for]="'formPlanEducativo'" [controlName]="'planEducativo'">
                <app-mim-select class="w-100" [inputId]="'formPlanEducativo'" [options]="configuracion.planEducativo"
                  [disabled]="_disablePlanEducativo" formControlName="planEducativo" [optionKey]="'prodDescripcion'"
                  ngDefaultControl></app-mim-select>
              </div>
            </div>

            <!-- promotor comercial -->
            <div class="form-group  col-6" [hidden]="this.form.get('tipoPromotor').disabled">
              <label class="col-form-label" appMimLabel for="formTipoPromotor">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.tipoPromotor'
                    | translate
                }}</label>

              <div class="input-group" appMimInput [for]="'formTipoPromotor'" [controlName]="'tipoPromotor'">
                <app-mim-select class="w-100" [inputId]="'formTipoPromotor'" [options]="configuracion.tipoPromotor"
                  formControlName="tipoPromotor" [optionKey]="'name'" ngDefaultControl></app-mim-select>
              </div>
            </div>


            <!-- canal de venta -->
            <div class="form-group col-6" [hidden]="this.form.get('tipoCanalVenta').disabled">
              <label class="col-form-label" appMimLabel for="formTipoCanal">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.tipoVenta'
                    | translate
                }}</label>

              <div class="input-group" appMimInput [for]="'formTipoCanal'" [controlName]="'tipoCanalVenta'">
                <app-mim-select class="w-100" [inputId]="'formTipoCanal'" [options]="configuracion.tiposCanalVenta"
                  formControlName="tipoCanalVenta" [optionKey]="'nombre'" ngDefaultControl></app-mim-select>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12">
            <div class="form-group row align-items-center ">
              <label appMimLabel for="formObservacionBeneficiario" class="col-sm-2 col-form-label pl-0">
                {{
                  'asociado.beneficiario.nuevoBeneficiario.observaciones'
                    | translate
                }}</label>
              <div class="input-group" appMimInput [for]="'observaciones'" [controlName]="'observaciones'">
                <textarea class="form-control" id="formObservacionBeneficiario" placeholder="" rows="5"
                  formControlName="observaciones" maxlength="2000"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Fin agrupacion-->
      <div class="card cards--footer border-0 rounded-0">
        <div class="card-body p-2">
          <div class="col-2 float-right mr-5">
            <button class="btn btn--orange1 btn--md w-100" type="submit">
              <span class="icon-edit-3 mr-2"></span>
              {{
                _editar
                  ? ('asociado.beneficiario.nuevoBeneficiario.actualizarBeneficiario'
                    | translate)
                  : ('asociado.beneficiario.nuevoBeneficiario.guardarBeneficiario'
                    | translate)
              }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-mim-wind-modal [configuracion]="configuracion.winPorcentaje">
  <app-distribucion-porcentaje [configuracion]="configuracion.beneficiariosPorcejate"
    (guardar-datos)="_validarDatosPorcentaje($event)">
  </app-distribucion-porcentaje>
</app-mim-wind-modal>

<app-mim-wind-modal [configuracion]="configuracion.winNormal">
  <app-beneficiarios-existentes [configuracion]="configuracion.beneficiariosExistentes" (click-aceptar)="_onAceptar()">
  </app-beneficiarios-existentes>
</app-mim-wind-modal>
