.panel--gray{
    background-color: #f6f6f6;
    margin: auto;
    top: 25px;
    bottom: 25px;
    position: absolute;
    padding:10px;
}

.panel-grid{
    position: relative;
    height: calc(100vh + -60px);
    overflow-y: scroll;
}
.w-min{
    min-width: 25rem;
}
.link-menu-principal{
    height: 100% !important;
    align-items: center !important;
}

.active-menu-principal{
    color: #80d203 !important;
    border-bottom: 3px solid #80d203 !important;
}
.active-menu-principal > a{
    color: #80d203 !important;
}
.nav--main>.nav-item.active-menu-principal:first-child .nav-link {
    border-color: #80d203;
}
.active-submenu-principal{
    color: #80d203 !important;
}
.pointer {cursor: pointer !important;}