<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="_obtenerEstado()">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.coberturasSubsistentes.titulo'
              | translate | emptyPipe }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionPortafolioAsociados">
    <div class="card-body">
      <fieldset class="fieldset_mm pb-3 position-relative">
        <legend class="legend_mm mb-0">
          <span class="text--16pts text--600wt">
            {{
            'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.subsistentePlanCobertura.tituloSubsistente'
            | translate }}
          </span>
        </legend>

        <div class="row mx-0 w-100 position-relative">
          <app-coberturas-subsistentes id="coberturasSubsistente" class="position-relative"></app-coberturas-subsistentes>
        </div>
      </fieldset>


      <fieldset class="fieldset_mm pb-3 position-relative">
        <legend class="legend_mm mb-0">
          <span class="text--16pts text--600wt">
            {{
            'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.adicionalPlanCobertura.tituloAdicional'
            | translate }}
          </span>
        </legend>

        <div class="row mx-0 w-100 position-relative">
          <app-coberturas-adicionales id="coberturasAdicionales" class="position-relative"></app-coberturas-adicionales>
        </div>
      </fieldset>
    </div>
  </div>
</div>