<div class="row">
  <div class="col-md-3 posicion_top_consultas">
    <span class="text-left mr-2">
      <a class="btn btn--circle justify-content-start" (click)="atras()">
        <span class="icon-arrow-thin-left mr-2"></span>
        {{'global.back' | translate}}
      </a>
    </span>

    <div class="card posicion_top_card cards--panelLeft">
      <div class="card-header bg-white py-4 border-bottom-0 d-flex flex-row">
        <span class="my-0 text--green1 pr-2">
          <span class="icon-money figure d-flex align-items-center"></span>
        </span>
        <h5 class="text--gray1 text--700wt text-uppercase my-0 d-flex align-items-center">
          {{ 'asociado.protecciones.portafolio.cotizacion.acumuladosDelAsociado.titulo' | translate }}
        </h5>
      </div>
      <div class="card-body">
        <div class="pb-3" *ngFor="let item of sipVinculaciones?.mimControlCumuloList">

          <div class="d-flex px-2">
            <span class="flex-grow-1 text--13pts text--600wt text--gray2">
              {{ 'asociado.protecciones.portafolio.cotizacion.acumuladosDelAsociado.acum' | translate }}
              {{ item.mimCumulo.nombre }}
            </span>
            <span class="text--13pts text--600wt text--gray2 d-flex align-items-center">{{ item.acumulado |
              customCurrency | emptyPipe }}</span>
          </div>
          <div class="d-flex px-2">
            <span class="flex-grow-1 text--13pts text--600wt text--gray2">
              {{ 'asociado.protecciones.portafolio.cotizacion.acumuladosDelAsociado.maxPermitido' | translate }}
              {{ item.mimCumulo.nombre }}</span>
            <span class="text--13pts text--600wt text--gray2 d-flex align-items-center">{{item.valorMaximoProteccion |
              customCurrency | emptyPipe }}</span>
          </div>
          <div class="d-flex bg--gray3 px-2 rounded">
            <span class="flex-grow-1 text--13pts text--600wt text--gray2 d-flex align-items-center">
              {{ 'asociado.protecciones.portafolio.cotizacion.acumuladosDelAsociado.disponible' | translate }}
            </span>
            <span class="text--18pts text--500wt text--gray1">{{ item.disponible | customCurrency | emptyPipe }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="col-md-12">
      <h1 class="mb-0 my-0 d-inline-flex align-items-center text--tittle_circle">
        <span class="icon-bar-chart-2 bg--green2 mr-3 p-4 text--26pts"></span>
        {{ 'asociado.protecciones.portafolio.venta.titulo' | translate }}
      </h1>

      <!-- Inicio steper horizontal -->
      <div class="w-100 mt-2 mb-2">
        <div class="card cards--headerFooter w-100">
          <div class="card-body p-0">
            <p-steps [model]="items" [activeIndex]="activeIndex" [readonly]="false"></p-steps>
          </div>
        </div>
      </div>
      <!-- Fin steper horizontal -->

      <form class="form--default w-100" [formGroup]="form" (ngSubmit)="submit()" *ngIf="isForm | async as isForm">
        <div [ngSwitch]="activeIndex">
          <div class="" *ngSwitchCase="0">
            <app-validar-datos formGroupName="validarDatos" [dataInit]="dataInitValidar">
            </app-validar-datos>

          </div>
          <div class="" *ngSwitchCase="1">
            <app-cotizar-proteccion formGroupName="cotizarProteccion" [dataInit]="dataInitCotizar">
            </app-cotizar-proteccion>

            <app-tipo-calculo formGroupName="tipoCalculo" [dataInit]="dataInitTipoCalculo">
            </app-tipo-calculo>

          </div>
          <div *ngSwitchCase="2">
            <app-declaracion-salud formGroupName="declaracionSalud" [dataInit]="dataInitDeclaracionSalud">
            </app-declaracion-salud>
          </div>
        </div>


        <!-- Footer -->
        <div class="card cards--footer border-0 rounded-0">
          <div class="card-body py-2">
            <div class="col-11 offset-1 col-xl-12 offset-xl-0">

              <div class="mx-0 w-100 row justify-content-between align-items-center">
                <div class="d-flex flex-row">
                  <div class="alert panel--alert p-0 m-0" role="alert">
                    <h5 class="my-0 text--gray2 text--600wt d-inline-flex align-items-center text--tittle_circle">
                      <span class="icon-info-2 bg--yellow1 mr-3 text--26pts"></span>
                      {{ 'asociado.protecciones.portafolio.cotizacion.completarDatosParaContinuar' | translate }}
                    </h5>
                  </div>
                </div>
                <div class="d-flex flex-row-reverse">
                  <button type="button" class="btn btn--orange1 btn--md  mx-1" [disabled]="!precargaLista"
                    *ngIf="!mostrarFinalizar" (click)="continuar()">
                    <span class="icon-arrow-thin-right mr-2"></span>
                    {{ 'asociado.protecciones.portafolio.cotizacion.continuar' | translate }}
                  </button>
                  <button type="button" class="btn btn--orange1 btn--md  mx-1" *ngIf="mostrarFinalizar"
                    [disabled]="!precargaLista || bloquearBotonFinalizar" (click)="finalizar()">
                    <span class="icon-arrow-thin-right mr-2"></span>
                    {{ 'asociado.protecciones.portafolio.cotizacion.finalizar' | translate }}
                  </button>
                  <button type="button" class="btn btn--border_green1 btn--md  mx-1" [disabled]="!precargaLista"
                    *ngIf="activeIndex > 0" (click)="regresar()">
                    <span class="icon-arrow-thin-left mr-2"></span>
                    {{ 'header.regresar' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal descargar formato de venta -->
<div class="sidebar--slide sidebar--slide_right d-flex align-items-center"
  [ngClass]="{ open: mostrarModalDescargarFormatoVenta }" *ngIf="mostrarModalDescargarFormatoVenta">
  <div class="row mx-0 w-100 justify-content-center">
    <div class="col-xl-5 col-md-7 px-0">
      <div class="card  bg--white">
        <div class="card-body">
          <h5
            class="my-0 text--gray2 text--600wt d-block text--tittle_circle text--tittle_circle-xl text-center mx-auto info blue blue-icon span"
            ng-reflect-klass="my-0 text--gray2 text--600wt d" ng-reflect-ng-class="blue"><span
              class="text--36pts text-center mx-auto icon-info" ng-reflect-klass="text--36pts text-center mx-aut"
              ng-reflect-ng-class="icon-info"></span></h5>
          <h2 class="text--gray1 text--500wt text-center mt-4">{{
            'asociado.protecciones.portafolio.venta.alertas.descargarFormatoVentaMensaje' | translate }}</h2>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn--border_green1 btn--md  m-2" (click)="descargarFormatoVenta()">
              <span class="icon-article mr-2"></span>
              {{ 'asociado.protecciones.portafolio.venta.alertas.descargarFormatoVenta' | translate }}
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn--blue1 btn--md  m-2" [disabled]="!formatoVentaDescargado"
              (click)="guardar()">
              <span class="icon-check mr-2"></span>
              {{ 'global.accept' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>