<div class="row mx-0 w-100 align-items-center">
  <!-- TÍTULO -->
  <div class="col-md-12">
    <h1 class="my-0">{{'beneficiariosAsociadoDetalle.titulo'|translate}}</h1>
  </div>
</div>
<div class="row mx-0 w-100 mt-4">
  <!-- PANELES DE INFORMACIÓN -->
  <div class="col-md-12 mb-3">
    <form class="form--default" [formGroup]="form" (ngSubmit)="formDatosAsoDetalle()" novalidate="novalidate">
      <div class="card cards--headerFooter w-100 mb-3">
        <div class="card-header">
          <h2 class="text--500wt text--gray1 my-0"> <span class="icon-user-check text--18pts mr-2 text--orange1"></span>
            {{'beneficiariosAsociadoDetalle.informacionPersonal'|translate}}
          </h2>
        </div>
        <div class="card-body px-2 pt-4 pb-4">
          <div class="row mx-0 w-100">
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoPrimerNombre"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.primerNombre'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoPrimerNombre"
                    formControlName="editarDatosAsoPrimerNombre">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoSegundoNombre" class="col-sm-5 col-form-label">
                  {{'beneficiariosAsociadoDetalle.segundoNombre'|translate}}
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoSegundoNombre"
                    formControlName="editarDatosAsoSegundoNombre">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoPrimerApellido"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.primerApellido'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosPriApellido"
                    formControlName="editarDatosAsoPrimerApellido">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoSegundoApellido"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.segundoApellido'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoSegundoApellido"
                    formControlName="editarDatosAsoSegundoApellido">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoEstadoCivil"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.estadoCivil'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoEstadoCivil"
                    formControlName="editarDatosAsoEstadoCivil">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoProfesion"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.profesion'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoProfesion"
                    formControlName="editarDatosAsoProfesion">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card cards--headerFooter w-100 mb-3">
        <div class="card-header">
          <h2 class="text--500wt text--gray1 my-0"> <span
              class="icon-home text--18pts mr-2 text--orange1"></span>{{'beneficiariosAsociadoDetalle.informacionContacto'|translate}}
          </h2>
        </div>
        <div class="card-body px-2 pt-3 pb-4">
          <div class="row mx-0 w-100">
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoDireccion"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.direccion'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoDireccion"
                    formControlName="editarDatosAsoDireccion">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoBarrio"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.barrio'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoBarrio"
                    formControlName="editarDatosAsoBarrio">
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCiudad"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.ciudad'|translate}}</label>
                <div class="dropdown col-sm-7">
                  <button class="btn dropdown-toggle" type="button" id="editarDatosAsoCiudad" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="icon-chevron-down"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="editarDatosAsoCiudad">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCorrespondencia"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.correspondencia'|translate}}</label>
                <div class="dropdown col-sm-7">
                  <button class="btn dropdown-toggle" type="button" id="editarDatosAsoCorrespondencia"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-chevron-down"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="editarDatosAsoCorrespondencia">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCorreo"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.correo'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoCorreo"
                    formControlName="editarDatosAsoCorreo">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 px-0">
              <div class="row mx-0 w100">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group row align-items-center">
                    <label for="editarDatosAsoTelefono"
                      class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.telefono'|translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="editarDatosAsoTelefono"
                        formControlName="editarDatosAsoTelefono">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group row align-items-center">
                    <label for="editarDatosAsoExtension"
                      class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.extension'|translate}}</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="editarDatosAsoExtension"
                        formControlName="editarDatosAsoExtension">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCelular"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.celular'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoCelular"
                    formControlName="editarDatosAsoCelular">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card cards--headerFooter w-100 mb-3">
        <div class="card-header">
          <h2 class="text--500wt text--gray1 my-0"> <span class="icon-briefcase text--18pts mr-2 text--orange1"></span>
            {{'beneficiariosAsociadoDetalle.informacionLaboral'|translate}}</h2>
        </div>
        <div class="card-body px-2 pt-3 pb-4">
          <div class="row mx-0 w-100">
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoDireccionLaboral" class="col-sm-5 col-form-label">
                  {{'beneficiariosAsociadoDetalle.direccion'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoDireccionLaboral"
                    formControlName="editarDatosAsoDireccionLaboral">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoBarrioLaboral"
                  class="col-sm-5 col-form-label">{{'beneficiariosAsociadoDetalle.barrio'|translate}}</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoBarrioLaboral"
                    formControlName="editarDatosAsoBarrioLaboral">
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCiudadLaboral" class="col-sm-5 col-form-label">
                    {{'beneficiariosAsociadoDetalle.ciudad'|translate}}
                </label>
                <div class="dropdown col-sm-7">
                  <button class="btn dropdown-toggle" type="button" id="editarDatosAsoCiudadLaboral"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-chevron-down"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="editarDatosAsoCiudadLaboral">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 px-0">
              <div class="row mx-0 w100">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group row align-items-center">
                    <label for="editarDatosAsoTelefonoLaboral" class="col-sm-5 col-form-label">
                        {{'beneficiariosAsociadoDetalle.telefono'|translate}}
                    </label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="editarDatosAsoTelefonoLaboral"
                        formControlName="editarDatosAsoTelefonoLaboral">
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group row align-items-center">
                    <label for="editarDatosAsoExtensionLaboral" class="col-sm-5 col-form-label">
                        {{'beneficiariosAsociadoDetalle.extension'|translate}}
                    </label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="editarDatosAsoExtensionLaboral"
                        formControlName="editarDatosAsoExtensionLaboral">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card cards--headerFooter w-100 mb-3">
        <div class="card-header">
          <h2 class="text--500wt text--gray1 my-0"> <span
              class="icon-inbox text--18pts mr-2 text--orange1"></span>
              {{'beneficiariosAsociadoDetalle.informacionApartadoAereo'|translate}}
          </h2>
        </div>
        <div class="card-body px-2 pt-3 pb-4">
          <div class="row mx-0 w-100">
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoApartadoAereo" class="col-sm-5 col-form-label">
                    {{'beneficiariosAsociadoDetalle.apartadoAereo'|translate}}
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoApartadoAereo"
                    formControlName="editarDatosAsoApartadoAereo">
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCiudadAereo" class="col-sm-5 col-form-label">
                    {{'beneficiariosAsociadoDetalle.ciudad'|translate}}
                </label>
                <div class="dropdown col-sm-7">
                  <button class="btn dropdown-toggle" type="button" id="editarDatosAsoCiudadAereo"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-chevron-down"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="editarDatosAsoCiudadAereo">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCasilleroAereo" class="col-sm-5 col-form-label">
                    {{'beneficiariosAsociadoDetalle.casillero'|translate}}
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="editarDatosAsoCasilleroAereo"
                    formControlName="editarDatosAsoCasilleroAereo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card cards--footer border-0 rounded-0">
        <div class="card-body p-2">
          <div class="row mx-0 w-10 justify-content-end">
            <button class="btn btn--circle btn--circle_four justify-content-start py-0 mr-3"
              [routerLink]="['/pages','asociado','datos-de-asociado']">
              <span class="icon-cross mr-2"></span>
              {{ 'global.cancel' | translate }}
            </button>
            <button type="submit" class="btn btn--orange1 btn--md"
              [routerLink]="['/pages','asociado','datos-de-asociado']">
              <span class="icon-checkmark mr-2"></span>
              {{'beneficiariosAsociadoDetalle.botonGuardar'|translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
