<div class="row  mx-0 w-100 align-items-center">
  <div class="col-md-12">
    <h1 class="my-0">
      {{ 'administracion.procesosAutomaticos.listar.titulo' | translate }}
    </h1>
  </div>
</div>

<div class="mt-3 pr-4">
  <app-mim-grid [configuracion]="configuracion.gridListar" (clickCeldaElement)="_onClickCeldaElement($event)">
  </app-mim-grid>
</div>

<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
  <div class="card-body py-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <!-- Botones -->
      <div class="col-xl-12">
        <div class="d-flex flex-row-reverse">
          <a class="btn btn--orange1 btn--md mr-2" [routerLink]="irACrear()">
            <span class="icon-plus mr-2"></span>
            {{ 'global.add' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Inicio guardar periodo de carencia -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0">
                {{ 'administracion.procesosAutomaticos.listar.iniciar' | translate }}
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form--default w-100" [formGroup]="formOptionsInputs">
            <div class="col-sm-12 col-md-12" *ngFor="let input of optionsInputsArray">
              <div class="form-group row align-items-center">
                <label appMimLabel for="codigo" class="col-sm-12 col-form-label">
                  {{input.nombre}}
                </label>
                <div class="col-sm-12" [ngSwitch]="input.tipo">
                  <div *ngSwitchCase="'TEXT'" class="input-group" appMimInput [for]="input.llave"
                    [controlName]="input.llave">
                    <input type="text" class="form-control" [id]="input.llave" formControlName="{{input.llave}}"
                      name="input.llave" />
                  </div>
                  <div *ngSwitchCase="'NUMBER'" class="input-group" appMimInput [for]="input.llave"
                    [controlName]="input.llave">
                    <input type="number" class="form-control" [id]="input.llave" formControlName="{{input.llave}}"
                      name="input.llave" />
                  </div>
                  <div *ngSwitchCase="'DATE'" class="input-group" appMimInput [for]="input.llave"
                    [controlName]="input.llave">
                    <app-mim-date-picker class="w-100" [inputId]="input.llave" formControlName="{{input.llave}}"
                      ngDefaultControl *ngIf="input.llave === 'fechaInicio'">
                    </app-mim-date-picker>
                    <app-mim-date-picker class="w-100" [inputId]="input.llave" formControlName="{{input.llave}}"
                      ngDefaultControl *ngIf="input.llave === 'fechaFin'" [maxDate]="maxFechaFin"
                      [minDate]="minFechaFin">
                    </app-mim-date-picker>
                    <app-mim-date-picker class="w-100" [inputId]="input.llave" formControlName="{{input.llave}}"
                      ngDefaultControl *ngIf="input.llave === 'fecha'" [maxDate]="maxFecha">
                    </app-mim-date-picker>
                  </div>
                  <div *ngSwitchCase="'TEXTAREA'" class="input-group" appMimInput [for]="input.llave"
                    [controlName]="input.llave">
                    <textarea type="text" rows="5" class="form-control" [id]="input.llave"
                      formControlName="{{input.llave}}" [name]="input.llave" mask="a*" [patterns]="patterns"
                      [dropSpecialCharacters]="false" maxlength="1000"></textarea>
                  </div>
                </div>
                <app-mim-input-error *ngIf="input.required" class="col-sm-12" controlName="observacion"
                  errorKey="required">
                  {{ 'global.required' | translate  : { campo: input.nombre | translate } }}
                </app-mim-input-error>
              </div>
            </div>
            <div class="card-footer  w-100 border-0 px-0">
              <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn--orange1 btn--md" [disabled]="formOptionsInputs.invalid"
                  (click)="_iniciarProcesoAutomatico()">
                  <span class="icon-checkmark  mr-2"></span>
                  {{ 'global.ejecutar' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
