<!-- Titulo -->
<div class="row mx-0 w-100 ">
  <div class="col-md-5">
    <h1>{{ 'beneficiarios.repetidos.titulo' | translate }}</h1>
  </div>
</div>

<div class="row mx-0 w-100 mt-4">
  <div class="col-md-12 mb-3">
    <div class="card cards--panelLeft mt-4 mb-4">
      <div id="filtroBeneficiario" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPanelLeft">
        <div class="card-body ">
          <form class="form--default" *ngIf="isForm | async as isForm;" [formGroup]="form"
            (ngSubmit)="_onBuscar($event)">
            <!-- Checks -->
            <div class="d-flex flex-row">
              <div class="form-group align-items-center mr-3">
                <div class="checkbox-coomeva">
                  {{ 'beneficiarios.fallecidos.filtro.rangoFecha' | translate }}
                  <input id="filtroRangoFecha" name="tipoFiltro" type="radio" [value]="1"
                    formControlName="tipoFiltro" />
                  <label class="checkmark-coomeva topCheck" for="filtroRangoFecha">
                  </label>
                </div>
              </div>
              <div class="form-group align-items-center">
                <div class="checkbox-coomeva">
                  {{ 'beneficiarios.fallecidos.filtro.idBeneficiario' | translate }}
                  <input id="filtroIdentificacion" name="tipoFiltro" type="radio" [value]="2"
                    formControlName="tipoFiltro" />
                  <label class="checkmark-coomeva topCheck" for="filtroIdentificacion">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Fecha Inicio -->
              <div class="col-md-3 form-group mb-0" *ngIf="tipoFiltro === 1">
                <label appMimLabel for="fechaInicio">
                  {{ 'beneficiarios.fallecidos.filtro.filtrofechaInicio' | translate }}
                </label>
                <div class="input-group" appMimInput [for]="'fechaInicio'" [controlName]="'fechaInicio'">
                  <app-mim-date-picker class="w-100" [inputId]="'fechaInicio'" [maxDate]="maxDateValue"
                    formControlName="fechaInicio" ngDefaultControl></app-mim-date-picker>
                </div>
              </div>
              <!-- Fecha Fin -->
              <div class="col-md-3 form-group mb-0" *ngIf="tipoFiltro === 1">
                <label appMimLabel for="fechaFin">
                  {{ 'beneficiarios.fallecidos.filtro.filtrofechaFin' | translate }}
                </label>
                <div class="input-group" appMimInput [for]="'fechaFin'" [controlName]="'fechaFin'">
                  <app-mim-date-picker class="w-100" [inputId]="'fechaFin'" [maxDate]="maxDateValue"
                    formControlName="fechaFin" ngDefaultControl></app-mim-date-picker>
                </div>
              </div>
              <!-- Id de Beneficiario -->
              <div class="col-md-3 form-group mb-0" *ngIf="tipoFiltro === 2">
                <label appMimLabel for="idBeneficiario">
                  {{ 'beneficiarios.repetidos.filtro.filtroidBeneficiario' | translate }}
                </label>
                <div class="input-group" appMimInput [for]="'idBeneficiario'" [controlName]="'idBeneficiario'">
                  <input type="text" class="form-control" id="idBeneficiario" formControlName="idBeneficiario"
                    name="idBeneficiario" mask="a*" [patterns]="patterns" />
                </div>
              </div>
              <!-- Controles del formulario -->
              <div class="col d-flex flex-row align-self-end justify-content-end">
                <button type="button" class="w-100 btn btn--gray2 btn--md mr-3" (click)="_onLimpiarFormGroup()">
                  {{ 'global.clean' | translate }}
                  <span class="icon-cross ml-3"></span>
                </button>
                <button class="w-100 btn btn--border_green1 btn--md" type="submit">
                  {{ 'global.search' | translate }}
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <app-mim-grid [configuracion]="configuracion.gridRepetidos">
    </app-mim-grid>
  </div>
</div>

<div class="card cards--footer border-0 rounded-0">
  <div class="card-body p-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <!-- exportar -->
      <div class="ml-2 col-md-2 px-0">
        <button class="btn btn--white btn--md text--red1" [disabled]="exportarDisabled ? 'disabled' : ''"
          (click)="_onClickExportarExcel($event)">
          <span class="icon-export mr-2 text--red1"></span>
          {{ 'global.exportarExcel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
