<div class="form--default w-100" [formGroup]="controlContainer.control">
  <div class="cards--headerFooter w-100 mt-2">
    <div class="card-body d-flex justify-content-between">
      <div class="col-12">
        <!-- Inicio datos -->
        <div class="row">
          <!-- Fases a devolver -->
          <div class="col-sm-12 col-xl-6 pr-0">
            <div class="form-group row align-items-center mb-0">
              <div class="btn btn--icon bg--blue2 ml-3 mb-2">
                <span class="icon-arrow-thin-left text--orange1"></span>
              </div>
              <label appMimLabel for="conceptoMedico" class="col-form-label mb-2 ml-2">
                {{ 'eventos.consulta.solicitud.devolucionError' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'fasesFlujo'" [controlName]="'fasesFlujo'">
                  <app-mim-select class="w-100" [inputId]="'fasesFlujo'" [options]="fases" formControlName="fasesFlujo"
                    [optionKey]="'nombre'" name="'fasesFlujo'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="fasesFlujo" errorKey="required">
                {{ 'global.required' | translate : { campo: 'eventos.consulta.solicitud.devolucionError' | translate } }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- Razones de devolución -->
          <div class="col-sm-12 col-xl-6">
            <div class="form-group row align-items-center mt-1 mb-0"
              *ngIf="razonesDevolucion !== null && razonesDevolucion !== undefined && razonesDevolucion.length !== 0">
              <label appMimLabel for="razonDevolucion" class="col-form-label mb-2 ml-3">
                {{ 'eventos.consulta.solicitud.razonDevolucion' | translate }}
              </label>
              <div class="col-sm-12">

                <div class="input-group" appMimInput [for]="'razonDevolucion'" [controlName]="'razonDevolucion'">
                  <app-mim-select class="w-100" [inputId]="'razonDevolucion'" [options]="razonesDevolucion"
                    formControlName="razonDevolucion" [optionKey]="'nombre'" name="'razonDevolucion'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="razonDevolucion" errorKey="required">
                {{ 'global.required' | translate : { campo: 'eventos.consulta.solicitud.razonDevolucion' | translate } }}
              </app-mim-input-error>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin datos-->

    </div>
  </div>
