<div class="card card cards--panelLeft  cards--panelLeft_noCollapse mr-3 ">
  <div class="card-body p-0 bg--transparent">
    <div *ngFor="let item of configuracion.items"
      class="card cards--panel_gray4 cards--panel_accesos border-top-0 border-left-0 border-right-0 border-bottom cursor-point"
      [ngClass]="{ active: item.selecion }">
      <div class="card-body px-0" (click)="OnClickItem(item)">
        <div class="row mx-0 w-100 justify-content-between align-items-center">
          <div class="col-1">
            <span
              [ngClass]="{'icon-arrow-thin-up text--green2': (item.proteccion >= 0), 'icon-arrow-thin-down text--red1' : (item.proteccion < 0) }"></span>
          </div>
          <div class="col padding0 ">
            <h5 class="text--13pts text--gray2 text--600wt my-0 text-center">
              {{ 'asociado.protecciones.proteccion' | translate }}
            </h5>
            <h4 class="text--14pts text--gray1 text--600wt my-0 text-center">
              {{
                configuracion.plan.codigoCategoria === auxilioFunerario
                  ? item.proteccion
                  : (item.proteccion | customCurrency | emptyPipe)
              }}
            </h4>
          </div>
          <div class="col">
            <h5 class="text--13pts text--gray2 text--600wt my-0 text-center">
              {{ 'global.fee' | translate }}
            </h5>
            <h4 class="text--14pts text--gray1 text--600wt my-0 text-center">
              {{ item.cuota | customCurrency | emptyPipe }}
            </h4>
          </div>
          <div class="col-2 text-right px-0">
            <span class="icon-chevron-right-2 text--13pts"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>