<div class="row mx-0 w-100 pb-5">
  <div class="col-xl-3 pt-4 index-z">
    <!-- Boton atras -->
    <p class="text-left">
      <a class="btn btn--circle justify-content-start" (click)="_onSalir()">
        <span class="icon-arrow-thin-left mr-2"></span>
        {{ 'header.salir' | translate }}
      </a>
    </p>

    <app-mim-filtro-vertical [configuracion]="configuracion.barFilter">
      <!-- Filtros -->
      <app-mim-filtro-vertical-item [label]="'global.consultar'">

        <div class="card cards--panelLeft mb-4">

          <div class="card-header py-2">
            {{ 'global.filtros.consulta' | translate }}
          </div>

            <div class="card-body ">
              <form class="form--default" *ngIf="isForm | async as isForm" [formGroup]="form" (ngSubmit)="obtenerAutomaticoPagos()">

                <!-- Fecha inicio y fecha fin. -->
                <div class="form-group">
                  <label appMimLabel for="filtroFechaInicioFechaFin">
                    {{ 'reportes.automaticoPagos.fechaInicioFechaFin' | translate }}
                  </label>
                  <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                    [controlName]="'fechaInicioFechaFin'">
                    <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'" formControlName="fechaInicioFechaFin"
                        [selectionMode]="'range'" [disabled]="form.controls.fechaInicioFechaFin.disabled"
                        [maxDate]="maxDate" ngDefaultControl>
                    </app-mim-date-picker>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="rangoObligatorio">
                    {{ 'global.alertas.rangoObligatorio' | translate  }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="rangoError">
                    {{ 'global.alertas.rangoError' | translate : {rango: 31 }  }}
                  </app-mim-input-error>
                </div>

                <div class="form-group">
                  <div class="row mx-auto w-100">
                    <div class="col-md-6 pl-md-0">
                      <button type="button" class="btn btn--gray2 btn--md w-100 justify-content-md-start" (click)="onLimpiar()">
                        {{ 'global.clean' | translate }}
                        <span class="icon-cross ml-3"></span>
                      </button>
                    </div>
                    <div class="col-md-6 pr-md-0">
                      <button class="btn btn--border_green1 btn--md w-100" type="submit">
                        {{ 'global.search' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </app-mim-filtro-vertical-item>
    </app-mim-filtro-vertical>
  </div>

  <!-- Consulta automatico pagos -->
  <div class="col-11 col-xl-9 offset-1 offset-xl-0 d-block py-5 px-0 m-0">
    <div class="row mx-0 w-100 ">
      <!-- Titulo -->
      <div class="col-md-12">
        <h1>{{'reportes.automaticoPagos.titulo' | translate }}</h1>
      </div>

      <!-- Grid -->
      <div class="col-md-12">
        <app-mim-grid [configuracion]="configuracion.gridConfig" (siguiente)="_onSiguiente($event)"
                (atras)="_onAtras($event)" (clickCeldaElement)="_onClickCeldaElement($event)">
        </app-mim-grid>
      </div>
    </div>
  </div>
</div>

<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
  <div class="card-body py-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <!-- Botones -->
      <div class="col-xl-12">
        <div class="d-flex justify-content-end">
          <button class="btn btn--white btn--md text--red1 mr-3" (click)="_onClickExportarExcel()"
            [disabled]="!habilitarBotonExportar ? 'disabled' : ''" >
            <span class="icon-export mr-2 text--red1"></span>
            {{ 'global.exportarExcel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
