<form class="form--default w-100" [formGroup]="formDetalleEvento" *ngIf="isForm | async as isForm;">

  <div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-1">

    <div class="card-header py-2 ">
      <div class="row mx-0 w-100 align-items-center">
        <div class="col-md-5">
          <div class="row mx-0 w-100 justify-content-start">
            <!-- For de los planes -->
            <div class="col-md-11">
              <h5 class="my-0 text--14pts text--medium">
               {{nombreCobertura}}
              </h5>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="row">
              <div class="col-6 p-0">
                <h5 class="my-0 text--14pts text--medium my-2">
                    {{valorProteccion | customCurrency | emptyPipe}}
                </h5>
              </div>

              <div class="col-6 p-0">
                <div class="input-group" appMimInput [for]="'valorProteccionBase'" [controlName]="'valorProteccionBase'">
                  <input type="text" class="form-control" id="valorProteccionBase" formControlName="valorProteccionBase"
                    name="valorProteccionBase" mask="separator.0" thousandSeparator="." (blur)="_validarValorBase()" maxlength="11" />
                </div>
              </div>

              <app-mim-input-error class="col-sm-12" controlName="valorProteccionBase" errorKey="required">
                {{ 'global.required' | translate : { campo: 'eventos.consulta.solicitud.liquidacionPago.valorPagar.gridDetalleEvento.valorBase' | translate } }}
              </app-mim-input-error>

          </div>
        </div>

      </div>
    </div>
  </div>

</form>
