<!-- Titulo -->
<div class="row mx-0 w-100 my-4 align-items-center">
  <div class="col-12">
    <h1 class="my-0">
      {{ "asociado.facturacion.recaudos.title" | translate }}
    </h1>
  </div>
</div>
<!-- Tabla de Facturacion -->
<div class="row mx-0 w-100 mt-4">
  <div class="col-md-12">
    <div class="panel--gray panel-grid pt-2" *ngIf="builded | async as builded">
      <app-mim-grid [configuracion]="configuracion.gridRecaudosFacAso" (atras)="_OnAtras($event)"
        (siguiente)="_OnSiguiente($event)" (clickCelda)="_OnClickCelda($event)">
      </app-mim-grid>
    </div>
  </div>
</div>
<!-- Detalle del recaudo -->
<app-recaudos-facturacion-asociados-detalle></app-recaudos-facturacion-asociados-detalle>
