<!-- Titulo -->
<div class="row mx-0 w-100 align-items-center justify-content-between">
  <div class="col-md-12">
    <h1 class="my-0">
      {{ 'asociado.general.renunciaAuxilioFunerario.title' | translate  }}
    </h1>
  </div>
</div>
<!-- Formulario -->
<div class="row mx-0 w-100 mt-4">
  <div class="col-md-12">
    <div class="card cards--headerFooter container-fluid">
      <div class="row mx-0 w-100 align-items-center justify-content-between">
        <div class="col-lg-10 col-xl-8 m-auto">
          <form class="form--default my-5" [formGroup]="form" *ngIf="isForm | async as isForm;">

            <!-- Indicador -->
            <div class="form-group mb-4">
              <label appMimLabel for="indicador">
                {{ 'asociado.general.renunciaAuxilioFunerario.indicador' | translate }}
              </label>
              <div class="input-group" appMimInput [for]="'indicador'" [controlName]="'indicador'">
                <app-mim-select class="w-100" [inputId]="'indicador'" [options]="indicadores"
                  formControlName="indicador" [optionKey]="'nombre'" ngDefaultControl></app-mim-select>
              </div>
              <app-mim-input-error controlName="indicador" errorKey="required">
                {{ 'asociado.general.renunciaAuxilioFunerario.indicadorRequerido' | translate }}
              </app-mim-input-error>
            </div>

            <!-- Observacion -->
            <div class="form-group mb-4">
              <label appMimLabel for="observacion">
                {{ 'global.observations' | translate }}
              </label>
              <div class="input-group" appMimInput [for]="'observacion'" [controlName]="'observacion'">
                <textarea class="form-control" id="observacion" formControlName="observacion" rows="5" type="text"
                  mask="a*" [patterns]="patterns">
            </textarea>
              </div>
              <app-mim-input-error controlName="observacion" errorKey="required">
                {{ 'asociado.general.renunciaAuxilioFunerario.observacionRequerida' | translate }}
              </app-mim-input-error>
              <app-mim-input-error controlName="observacion" errorKey="maxlength">
                {{ 'asociado.general.renunciaAuxilioFunerario.observacionesMaxLength' | translate }}
              </app-mim-input-error>
            </div>

            <!-- Controles -->
            <div class="form-group">
              <div class="row mx-auto w-100">
                <div class="col-md-6 pl-md-0">
                  <button class="btn btn--gray2 btn--md w-100 justify-content-md-center" (click)="_onLimpiar()"
                    [disabled]="disabled">
                    {{ 'global.clean' | translate }}
                    <span class="icon-cross ml-3"></span>
                  </button>
                </div>
                <div class="col-md-6 pr-md-0">
                  <button class="btn btn--border_green1 btn--md w-100" (click)="onActualizar()" 
                  [disabled]="!(tienePermisos('MM_EDITAR'))">
                    {{ 'global.update' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
