<div class="d-flex flex-row-reverse">
  <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)">
    <span class="icon-plus mr-2"></span>
    {{ 'global.add' | translate }}
  </button>
</div>


<div class="pt-5">
  <app-mim-grid [configuracion]="configuracion.gridConfig" (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)"
    (clickCeldaElement)="_onClickCeldaElement($event)"></app-mim-grid>

  <form class="form-inline form--default w-100 d-flex position_check">
    <label class="form--default label" appMimLabel class="col-sm-12 height_auto col-form-label">
      {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.excepcionDiagnostico' | translate }}
    </label>

    <!-- Control de activos -->
    <div class="d-flex">
      <div class="form--default">
        <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
          <label class="switch my-0">
            <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
            <span class="slider round"></span>
          </label>
          <span class="text--13pts text--600wt text--gray2 col">
            {{ 'global.mostrarActivos' | translate }}
          </span>
        </div>
      </div>
    </div>

  </form>
</div>

<!-- Inicio guardar excepcion diagnostico -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header" id="bl-0">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.crear' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.actualizar' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
          <div class="card-body" id="bl-0">
            <div class="row mx-0">
              <!-- Diagnóstico específico -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="diagnosticoEspecifico" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.diagnosticoEspecifico' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div *ngIf="_esCreacion" class="input-group" appMimInput [for]="'diagnosticoEspecifico'"
                      [controlName]="'diagnosticoEspecifico'">
                      <app-mim-autocomplete class="w-100" [inputId]="'diagnostico'" [optionKey]="'diagCod'"
                        [optionField]="'diagDesc'" [suggestions]="diagnosticosEspecificos"
                        formControlName="diagnosticoEspecifico" [minLength]="3"
                        (completeMethod)="getDiagnosticos($event)" name="'diagnosticoEspecifico'" ngDefaultControl>
                      </app-mim-autocomplete>
                    </div>

                    <div *ngIf="!_esCreacion" class="input-group" appMimInput [for]="'diagnosticoEspecifico'"
                      [controlName]="'diagnosticoEspecifico'">
                      <input type="text" class="form-control" id="diagnosticoEspecifico"
                        formControlName="diagnosticoEspecifico" name="diagnosticoEspecifico" />
                    </div>

                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="diagnosticoEspecifico" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.diagnosticoEspecifico' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Condición de cobertura -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="condicionCobertura" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.condicionCobertura' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'condicionCobertura'"
                      [controlName]="'condicionCobertura'">
                      <app-mim-select class="w-100" [inputId]="'condicionCobertura'" [options]="condicionesCoberturas"
                        formControlName="condicionCobertura" [optionKey]="'nombre'" name="'condicionCobertura'"
                        ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="condicionCobertura" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.condicionCobertura' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Número días a pagar -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="maximoDiasPagar" class="col-sm-12 col-form-label height_auto">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.maximoDiasPagar' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'maximoDiasPagar'" [controlName]="'maximoDiasPagar'">
                      <input type="number" class="form-control" id="maximoDiasPagar" formControlName="maximoDiasPagar"
                        name="maximoDiasPagar" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="maximoDiasPagar" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.maximoDiasPagar' | translate } }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="maximoDiasPagar" errorKey="max">
                    {{ 'administracion.protecciones.planCobertura.guardar.alertas.nombreCaracteresMaxima' | translate : {numero: 3} }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Fecha aplica la excepción -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.fechaExcepcionInicioFin' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                      [controlName]="'fechaInicioFechaFin'">
                      <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                        formControlName="fechaInicioFechaFin" [selectionMode]="'range'" [disabled]="estadoFecha"
                        ngDefaultControl>
                      </app-mim-date-picker>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.guardarDiagnostico.fechaExcepcionInicioFin' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Vigente -->
              <div class="col-sm-12 col-md-6" *ngIf="!_esCreacion">
                <div class="form-group">
                  <label class="col-form-label" appMimLabel for="vigente">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.gridDiagnostico.vigente' | translate }}
                  </label>
                  <div class="custom-control custom-switch p-0">
                    <label class="switch">
                      <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                      <span class="slider round">
                        <span class="text--white text--14pts text--500wt">SI</span>
                        <span class="text--white text--14pts text--500wt">NO</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer  w-100 border-0 py-4">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(form)"
                (click)="_guardar()">
                <span class="icon-checkmark mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin crear excepcion diagnostico -->
