
<div class="form--default w-100 pt-2" [formGroup]="controlContainer.control">

  <div class="card posicion_top_card cards--panelLeft col-12">
    <div class="col-12">

      <div class="row">

          <!-- Gestion pendiente por -->
          <div class="col-sm-12 col-xl-6 pr-0">
            <div class="form-group row align-items-center">
                <label appMimLabel for="subestados" class="col-sm-12 col-form-label">
                    {{ 'eventos.consulta.solicitud.gestionPendientePor' | translate }}
                </label>
                <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'subestados'"
                        [controlName]="'subestados'">
                        <app-mim-select class="w-100" [inputId]="'subestados'" [options]="subestados" formControlName="subestados"
                            [optionKey]="'nombre'" name="'subestados'" ngDefaultControl>
                        </app-mim-select>
                    </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="subestados"
                    errorKey="required">
                    {{ 'global.required' | translate : { campo: 'eventos.consulta.solicitud.gestionPendientePor' | translate } }}
                </app-mim-input-error>
            </div>
        </div>

        <!-- Número del remedy -->
        <div class="col-sm-12 col-xl-6">
            <div class="form-group row align-items-center">
                <label appMimLabel for="numeroRemedy" class="col-sm-12 col-form-label">
                    {{ 'eventos.consulta.solicitud.numeroRemedy' | translate }}
                </label>
                <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'numeroRemedy'"
                        [controlName]="'numeroRemedy'">
                        <input type="text" class="form-control" id="numeroRemedy" formControlName="numeroRemedy" name="numeroRemedy" />
                    </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="numeroRemedy" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'eventos.consulta.solicitud.numeroRemedy' | translate } }}
                </app-mim-input-error>
            </div>
        </div>

      </div>

      </div>
    </div>
</div>
