body .ui-steps:before{
    border-top: none;
}

.ui-steps .ui-steps-item {
    width: 25%;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number{
    background-color: #d6dbe0 !important;
    border-color: #d6dbe0 !important;
    color: #fff;
    height: 34px;
    width: 34px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    font-weight: 600;
    border: solid 2px;
    margin-right: 15px;
    float: left;
    top: auto !important;
    margin-bottom: 0px !important;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number{
    /* background: #b80523 !important; */
    color: #0e8652;
    background-color: #fff !important;
    border-color: #0e8652 !important;
}

body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-title {
    font-weight: 700;
    color: #0e8652 !important;
    border-bottom: 2px solid;
    padding: 0 10px 0 0;
    /* margin-top: 20px; */
    margin-left: 50px;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title {
    font-weight: 700;
    color: #d6dbe0;
    border-bottom: 2px solid;
    padding: 0 10px 0 0;
   /*  margin-top: 20px; */
    margin-left: 50px;
}

body .ui-steps .ui-steps-item {
    margin-right: 20px;
}
.header-step{
    background-color: #fff !important;
}
.ui-steps .steps-custom .ui-steps-item .ui-steps-number,
.ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number,
.ui-steps-number {
    border-radius: 10% !important;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}

.posicion_top_consultas{
    margin-top: -45px;
    z-index: 9;
}

.posicion_top_card{
    margin-top: -25px;
}
