<div class="row mx-0" [formGroup]="controlContainer.control">
    <!-- Tipo de solicitud Padre -->
    <div class="col-sm-12 col-xl-12 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="tipoSolicitud" class="col-sm-12 col-form-label">
                {{ 'administracion.gestionDiariaAutomatica.form.tipoSolicitud' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'tipoSolicitud'" [controlName]="'tipoSolicitud'">
                <app-mim-select class="w-100" [inputId]="'tipoSolicitud'"  [options]="tipoSolicitudes"
                  formControlName="tipoSolicitud" [optionKey]="'nombre'" ngDefaultControl>
                </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="tipoSolicitud" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.gestionDiariaAutomatica.form.tipoSolicitud' | translate } }}
            </app-mim-input-error>
        </div>
    </div>

     <!-- Tipo de solicitud hija -->
    <div class="col-sm-12 col-xl-12 px-2" *ngIf="tieneSolicitudHija">
        <div class="form-group row align-items-center">
            <label appMimLabel for="tipoSolicitudHija" class="col-sm-12 col-form-label"></label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'tipoSolicitudHija'" [controlName]="'tipoSolicitudHija'">
                <app-mim-select class="w-100" [inputId]="'tipoSolicitudHija'"  [options]="tipoSolicitudesHijas"
                  formControlName="tipoSolicitudHija" [optionKey]="'nombre'" ngDefaultControl>
                </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="tipoSolicitudHija" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.gestionDiariaAutomatica.form.tipoSolicitud' | translate } }}
            </app-mim-input-error>
        </div>
    </div>

    <!-- solicitud -->
    <div class="col-sm-12 col-xl-12 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="solicitud" class="col-sm-12 col-form-label">
                {{ 'administracion.gestionDiariaAutomatica.form.solicitud' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'solicitud'" [controlName]="'solicitud'">
                <app-mim-select class="w-100" [inputId]="'solicitud'" [options]="solicitudes"
                  formControlName="solicitud" [optionKey]="'nombre'" ngDefaultControl>
                </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="solicitud" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.gestionDiariaAutomatica.form.solicitud' | translate } }}
            </app-mim-input-error>
        </div>
    </div>

    <!-- Fases -->
    <div class="col-sm-12 col-xl-12 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="fase" class="col-sm-12 col-form-label">
                {{ 'administracion.gestionDiariaAutomatica.form.faseSolicitud' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'fase'" [controlName]="'fase'">
                  <app-mim-select class="w-100" [inputId]="'fase'" [options]="fases"
                      formControlName="fase" [optionKey]="'nombreFase'" ngDefaultControl>
                  </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="fase" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.gestionDiariaAutomatica.form.faseSolicitud' | translate } }}
            </app-mim-input-error>
        </div>
    </div>

    <!-- Tarea -->
    <div class="col-sm-12 col-xl-12 px-2">
      <div class="form-group row align-items-center">
          <label appMimLabel for="tarea" class="col-sm-12 col-form-label">
              {{ 'administracion.gestionDiariaAutomatica.form.tarea' | translate }}
          </label>
          <div class="col-sm-12">
            <div class="input-group" appMimInput [for]="'tarea'" [controlName]="'tarea'">
                <app-mim-select class="w-100" [inputId]="'tarea'" [options]="tareas"
                    formControlName="tarea" [optionKey]="'nombreTarea'" ngDefaultControl>
                </app-mim-select>
            </div>
          </div>
          <app-mim-input-error class="col-sm-12" controlName="tarea" errorKey="required">
              {{ 'global.required' | translate  : { campo: 'administracion.gestionDiariaAutomatica.form.tarea' | translate } }}
          </app-mim-input-error>
      </div>
    </div>

    <!-- Usuarios -->
    <div class="col-sm-12 col-xl-12 px-2">
      <div class="form-group row align-items-center">

        <!-- Lista de usuarios -->
        <label appMimLabel for="usuarios" class="col-sm-6 col-form-label">
          {{ 'administracion.gestionDiariaAutomatica.form.usuarioFase' | translate }}
        </label>
        <label appMimLabel for="usuarios" class="col-sm-6 col-form-label text-left">
        {{ 'administracion.gestionDiariaAutomatica.form.nroSolicitudes' | translate }}
        </label>
        <div class="col-sm-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item pt-1 pb-1"  formArrayName="usuarioSolicitud"  *ngFor="let us of usuarioSolicitud.controls; let i = index">

              <div class="row" [formGroupName]="i">
                <div class="col-sm-1">
                  <div class="ui-chkbox ui-widget">
                    <input type="checkbox" class="ui-chkbox-box" [id]="'usuario' + i" [name]="'usuario' + i" formControlName="selected"
                    [attr.disabled]="us.value.bloqueo? '': null" [checked]="us.value.selected" [value]="us.value.selected"/>
                  </div>
                </div>
                <div class="col-sm-8">
                  <h4 class="text--500wt text--gray1 mt-2 mb-0">
                    {{us.value.nombre}}
                  </h4>
                </div>
                <div class="col-sm-3">
                  <input type="number" class="form-control" [id]="'numeroCaso' + i" [name]="'numeroCaso' + i" formControlName="numeroCaso"
                  [attr.disabled]="us.value.bloqueo? '': null"  min="1" />
                </div>

              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
</div>
