<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
        <h1 class="my-0">
            <ng-template [ngIf]="_esCreacion">
                {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.guardar.crear' | translate }}
            </ng-template>
            <ng-template [ngIf]="!_esCreacion">
                {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.guardar.actualizar' | translate }}
            </ng-template>
        </h1>
    </div>
</div>

<div class="mt-3 card bg--white border-0 rounded-0">
    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
        <div class="card-body">
            <div class="row mx-0 w-100">

                <!-- Categoria -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="categoria" class="col-sm-12 col-form-label">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.nombreCategoria' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'categoria'" [controlName]="'categoria'">
                                <app-mim-select class="w-100" [inputId]="'categoria'" [options]="categorias"
                                    formControlName="categoria" [optionKey]="'nombre'" name="'categoria'"
                                    ngDefaultControl>
                                </app-mim-select>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="categoria" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.nombreCategoria' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- valor Mínimo-->
                <div class="col-sm-6 col-md-3">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="valorMinimo" class="col-sm-12 col-form-label">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMinimo' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'valorMinimo'" [controlName]="'valorMinimo'">
                                <input type="text" class="form-control" id="valorMinimo" formControlName="valorMinimo"
                                    name="valorMinimo" appMimInputDecimal="3,2"/>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="valorMinimo" errorKey="max">
                            {{ 'global.maxValue' | translate :
                            { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMinimo' | translate,
                              max: 100
                            }
                          }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="valorMinimo" errorKey="min">
                            {{ 'global.minValue' | translate :
                            { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMinimo' | translate,
                              min: 1
                            }
                          }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="valorMinimo" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMinimo' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="valorMinimo" errorKey="nocero">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.alertas.noCero' | translate : { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMinimo' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="valorMinimo" errorKey="range">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.alertas.valorMinimoMaxima' | translate  }}
                        </app-mim-input-error>                        
                    </div>
                </div>

                <!-- valor Máxiimo-->
                <div class="col-sm-6 col-md-3">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="valorMaximo" class="col-sm-12 col-form-label">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMaximo' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'valorMaximo'" [controlName]="'valorMaximo'">
                                <input type="text" class="form-control" id="valorMaximo" formControlName="valorMaximo"
                                    name="valorMaximo" appMimInputDecimal="3,2" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="valorMaximo" errorKey="max">
                            {{ 'global.maxValue' | translate :
                            { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMaximo' | translate,
                              max: 100
                            }
                          }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="valorMaximo" errorKey="min">
                            {{ 'global.minValue' | translate :
                            { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMaximo' | translate,
                              min: 1
                            }
                          }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="valorMaximo" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMaximo' | translate } }}
                        </app-mim-input-error>                        
                        <app-mim-input-error class="col-sm-12" controlName="valorMaximo" errorKey="nocero">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.alertas.noCero' | translate : { campo: 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.valorMaximo' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="valorMaximo" errorKey="range">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.alertas.valorMinimoMaxima' | translate  }}
                        </app-mim-input-error>
                    </div>
                </div>

                <div class="col-sm-12 com-md-12" *ngIf="!_esCreacion">
                    <div class="form-group">
                        <label class="col-form-label" appMimLabel for="vigente">
                            {{ 'administracion.cofiguracionCotizadores.porcentajeCuota.grid.vigente' | translate }}
                        </label>
                        <div class="custom-control custom-switch p-0">
                            <label class="switch">
                                <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                                <span class="slider round">
                                    <span
                                        class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                                    <span
                                        class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <!--Controles -->
                <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
                    <div class="card-body py-2">
                        <div class="row mx-0 w-10 justify-content-end align-items-center">
                            <!-- Botones -->
                            <div class="col-xl-12">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()"
                                        [disabled]="form.pristine">
                                        <span class="icon-edit-3 mr-2"></span>
                                        {{ 'global.save' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>