<p-calendar #calendar
  class="calendar-coomeva w-100"
  [inputId]="inputId"
  [name]="inputId"
  [(ngModel)]="modelo"
  dateFormat="dd-mm-yy"
  [locale]="es"
  [numberOfMonths]="1"
  [readonlyInput]="readOnlyInput"
  [inline]="false"
  [showButtonBar]="showButtonBar"
  [showIcon]="true"
  [monthNavigator]="true"
  [yearNavigator]="true"
  [yearRange]="'1888:2222'"
  [icon]="'icon-calendar'"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [timeOnly]="timeOnly"
  [showSeconds]="showSeconds"
  (ngModelChange)="_onCalendarChange($event)"
  [disabled]="disabled"
  [selectionMode] = "selectionMode"
  ngDefaultControl
  ></p-calendar>
