//Import mixins
@import '/base/mixins.styl'

//Style base html
@import '/base/base.styl'

//import fonts
@import '/base/fonts.styl'

//Import margins
@import '/base/margins.styl'

//Extend modules and components of bootstrap
@import '/base/background.styl'
@import '/base/botons.styl'
@import '/base/borders.styl'
@import '/base/forms.styl'
@import '/base/modal.styl'
@import '/base/navs.styl'
@import '/base/panels.styl'
@import '/base/pagination.styl'
@import '/base/tables.styl'
@import '/base/tabs.styl'
//@import '/base/helpers.styl'

//Create sidebars site
@import '/base/sidebars.styl'
@import '/base/cards.styl'
@import '/base/page.styl'
//Media Querires General Site
@import '/base/media-queries.styl'
