<div class="container pt-5 mt-5">
  <section class="bg--gray4">
    <div class="container-fluid">
      <div class="row mx-0 w-100 justify-content-center align-items-center  page--login">
        <div class="col-lg-8 col-xl-5">
          <div class="card cards--login bg--white border-0 ">
            <div class="card-body py-5 px-5">
              <div class="row mx-auto justify-content-center">
                <picture>
                  <img src="./assets/images/logo-sipas-coomeva.png" alt="Logo SIPAS COOMEVA"
                    class="img-fluid mx-auto" />
                </picture>
                <div class="col-12">
                  <form class="form--default my-5" [formGroup]="form" (ngSubmit)="login()" novalidate="novalidate">
                    <div class="form-group mb-4">
                      <label appMimLabel for="formLoginID">
                        {{ 'security.logIn.nombreUsuario' | translate }}
                      </label>
                      <div class="input-group" appMimInput [for]="'formLoginID'" [controlName]="'username'">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span class="icon-user"></span>
                          </div>
                        </div>
                        <input type="text" class="form-control" id="formLoginID" formControlName="username"
                          name="username" mask="d*" [patterns]="patterns" />
                      </div>
                      <app-mim-input-error controlName="username" errorKey="required">
                        {{ 'security.logIn.nombreUsuarioRequerido' | translate }}
                      </app-mim-input-error>
                    </div>
                    <div class="form-group  mb-4">
                      <label appMimLabel for="formLoginPassword">
                        {{ 'security.logIn.contraseña' | translate }}
                      </label>
                      <div class="input-group" appMimInput [for]="'formLoginPassword'" [controlName]="'password'">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <span class="icon-lock"></span>
                          </div>
                        </div>
                        <input type="password" class="form-control input-password" id="formLoginPassword"
                          formControlName="password" name="password"/>
                        <div class="input-group-prepend">
                          <div class="input-group-text password">
                            <a (click)="mostrarContrasenia()"><span class="{{ shownText }}"></span></a>
                          </div>
                        </div>
                      </div>
                      <app-mim-input-error controlName="password" errorKey="required">
                        {{ 'security.logIn.contraseñaRequerida' | translate }}
                      </app-mim-input-error>
                    </div>
                    <button type="submit" class="btn btn--lg btn--orange1 w-100 mt-4" *ngIf="!mostrarBotonCargando">
                      {{ 'security.logIn.ingresar' | translate }}
                    </button>
                    <button class="btn btn--lg btn--orange1 w-100 mt-4 pr-3" type="button" *ngIf="mostrarBotonCargando">
                      <span class="spinner-grow spinner-grow-sm mr-3" role="status" aria-hidden="true"></span>
                      Cargando...
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row mx-auto justify-content-center">
            <div class="col-6">
              <picture class="mx-auto my-5 d-block">
                <img src="./assets/images/logo-seguridad-seguros-coomeva.png" alt="Logo Solidaridad y Seguros COOMEVA"
                  class="img-fluid mx-auto" />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
