<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="_obtenerEstado()">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.titulo' | translate | emptyPipe }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionExclusiones">
    <div class="card-body">
      <div class="d-flex flex-row-reverse">
        <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)">
          <span class="icon-plus mr-2"></span>
          {{ 'global.add' | translate }}
        </button>
      </div>

      <div class="">
        <app-mim-grid [configuracion]="configuracion.gridConfig" (clickCeldaElement)="_onClickCeldaElement($event)"
          (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)"></app-mim-grid>

        <!-- Control de activos -->
        <div class="d-flex pt-5 mt-4 position_check">
          <div class="form--default">
            <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
              <label class="switch my-0">
                <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
                <span class="slider round"></span>
              </label>
              <span class="text--13pts text--600wt text--gray2 col">
                {{ 'global.mostrarActivos' | translate }}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Inicio guardar exclusiones -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.crear' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>

              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.actualizar' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>

        <form class="form--default w-100" [formGroup]="cabeceraForm" *ngIf="isCabeceraForm | async as isCabeceraForm;">
          <div class="card-body pb-0">
            <div class="row mx-0">

              <!-- Exclusión cobertura -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="exclusion" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.exclusion' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'exclusion'" [controlName]="'exclusion'">
                      <app-mim-select class="w-100" [inputId]="'exclusion'" [options]="exclusionesCobertura"
                        formControlName="exclusion" [optionKey]="'mimExclusion.descripcion'" name="'exclusion'"
                        ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="exclusion" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.exclusion' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Vigente -->
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="col-form-label" appMimLabel for="vigente">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.grid.vigente' | translate }}
                  </label>
                  <div class="custom-control custom-switch p-0">
                    <label class="switch">
                      <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                      <span class="slider round">
                        <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                        <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="card-footer  w-100 border-0">
                <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_guardarCabecera()"
                    [disabled]="isPristine(cabeceraForm)">
                    <span class="icon-checkmark mr-2"></span>
                    {{ 'global.save' | translate }}
                  </button>
                </div>
              </div>

            </div>
          </div>
        </form>

        <ng-template [ngIf]="exclusionPlanCobertura">
          <form class="form--default w-100" [formGroup]="detalleForm" *ngIf="isDetalleForm | async as isDetalleForm;">
            <div class="card-body pb-0">
              <div class="row mx-0">



                <!-- periodo Definido -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="periodoDefinido" class="col-sm-12 col-form-label">
                      {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.periodoDefinido' | translate }}
                    </label>
                    <div class="col-12 mx-0 px-0 row">
                      <div class="col-sm-5">
                        <div class="input-group" appMimInput [for]="'periodoDefinido'" [controlName]="'periodoDefinido'">
                          <input type="text" class="form-control" id="periodoDefinido" formControlName="periodoDefinido"
                            name="periodoDefinido" mask="09" />
                        </div>
                      </div>

                      <div class="col-sm-7">
                        <div class="input-group" appMimInput [for]="'unidadPeriodoDefinido'" [controlName]="'unidadPeriodoDefinido'">
                          <app-mim-select class="w-100" [inputId]="'unidadPeriodoDefinido'" [options]="unidadPeriodos"
                            formControlName="unidadPeriodoDefinido" [optionKey]="'nombre'" name="'unidadPeriodoDefinido'"
                            ngDefaultControl>
                          </app-mim-select>
                        </div>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="periodoDefinido" errorKey="min">
                      {{ 'global.minValue' | translate :
                            { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.periodoDefinido' | translate,
                              min: 1
                            }
                          }}
                    </app-mim-input-error>
                  </div>
                </div>

                <!-- contribuciones -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="contribuciones" class="col-sm-12 col-form-label">
                      {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.contribuciones' | translate }}
                    </label>
                    <div class="col-sm-12">
                      <div class="input-group" appMimInput [for]="'contribuciones'" [controlName]="'contribuciones'">
                        <input type="text" class="form-control" id="contribuciones" formControlName="contribuciones"
                          name="contribuciones" mask="09" />
                      </div>
                    </div>
                  </div>
                </div>






                <!-- Tipo transacciones -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="transaccion" class="col-sm-12 col-form-label">
                      {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.transaccion' | translate }}
                    </label>
                    <div class="col-sm-12">
                      <div class="input-group" appMimInput [for]="'transaccion'" [controlName]="'transaccion'">
                        <app-mim-multiselect class="w-100" [inputId]="'transaccion'" [options]="transacciones"
                          formControlName="transaccion" [optionKey]="'nombre'" name="'transaccion'" ngDefaultControl>
                        </app-mim-multiselect>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="transaccion" errorKey="required">
                      {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.transaccion' | translate } }}
                    </app-mim-input-error>
                  </div>
                </div>

                <!-- Canal -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="canal" class="col-sm-12 col-form-label">
                      {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.canal' | translate }}
                    </label>
                    <div class="col-sm-12">
                      <div class="input-group" appMimInput [for]="'canal'" [controlName]="'canal'">
                        <app-mim-multiselect class="w-100" [inputId]="'canal'" [options]="canales"
                          formControlName="canal" [optionKey]="'nombre'" name="'canal'" ngDefaultControl>
                        </app-mim-multiselect>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="canal" errorKey="required">
                      {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.canal' | translate } }}
                    </app-mim-input-error>
                  </div>
                </div>



                <!-- Fecha inicio y fecha fin -->
                <div class="col-sm-12 com-md-12">
                  <div class="form-group row align-items-center">
                    <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                      {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.fechaInicioFechaFin' | translate }}
                    </label>
                    <div class="col-sm-12">
                      <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'" [controlName]="'fechaInicioFechaFin'">
                        <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'" formControlName="fechaInicioFechaFin"
                          [disabled]="estadoFecha" [selectionMode]="'range'" ngDefaultControl>
                        </app-mim-date-picker>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                      {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.guardar.fechaInicio' | translate } }}
                    </app-mim-input-error>
                  </div>
                </div>


                <!-- Vigente -->
              <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="vigenteDetalle">
                      {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.exclusiones.grid.vigente' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="vigenteDetalle" id="vigenteDetalle" name="vigenteDetalle">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                          <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-footer  w-100 border-0">
              <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_guardarDetalle()"
                  [disabled]="isPristine(detalleForm)">
                  <span class="icon-checkmark mr-2"></span>
                  {{ 'global.save' | translate }}
                </button>
                <button type="button" class="btn btn--gray2 btn--md mr-2" (click)="limpiarFormularioDetalle()">
                  <span class="icon-cross mr-2"></span>
                  {{ 'global.clean' | translate }}
                </button>
              </div>
            </div>

            <div class="card-body pt-0">
              <app-mim-grid #gridDetalle [configuracion]="configuracion.gridDetalleConfig"
                (clickCelda)="_onClickCeldaDetalle($event)"></app-mim-grid>
            </div>

          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- Fin crear Exclusiones. -->
