@import "../../shared/theme/conf.scss";

.consult1-toolbox {
  width: 100%;
  height: 70px;
}

.consult1-toolbox-btn {
  float: right;
}

.btn-search {
  display: flex;
  margin: 27px 0px 0px 11px;
}
