<div class="pt-3 w-100" *ngIf="showControlsAprobacion">
    <div class="modal--flujo py-2 w-100">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3 col-sd-4">
                    <button type="button" class="btn btn-outline-info btn--md mr-2" (click)="verObservaciones()">
                        <span class="icon-document mr-2"></span>Ver observaciones
                    </button>
                </div>
                <div class="col-md-9 col-sd-8 d-flex flex-row-reverse">
                    <button type="button" class="btn btn--orange1 btn--md mr-2" (click)="_apruebaSolicitud()">
                        <span class="icon-checkmark mr-2"></span>
                        Aprobar
                    </button>
                    <button type="button" class="btn btn--border_red btn--md mr-2" (click)="_rechazarSolicitud()">
                        <span class="icon-x mr-2"></span>
                        Rechazar
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Inicio modal lateral -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
    <div class="row mx-0 w-100 justify-content-end">
        <div class="col-xl-6 col-md-8 px-0">
            <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
                <div class="card-header mb-3">
                    <div class="row mx-0 w-100 align-items-center">
                        <div class="col-lg-10">
                            <h1 class="text--500wt text--gray1 my-0">
                                {{ tituloModal }}
                            </h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn--circle btn--circle_green" (click)="_toggleObservaciones()">
                                <span class="icon-cross mr-2"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- init form for add observation -->
                <form class="form--default w-100" [formGroup]="form" *ngIf="rechazar || showForm">
                    <div class="card-body pb-0">
                        <div class="row mx-0">
                            <!-- Observación -->
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="observacion" class="col-sm-12 col-form-label">
                                        {{ 'administracion.protecciones.coberturas.observacion' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'observacion'"
                                            [controlName]="'observacion'">
                                            <textarea type="text" rows="5" class="form-control" id="observacion"
                                                formControlName="observacion" name="observacion" maxlength="1000"
                                                mask="a*" [patterns]="patterns" [dropSpecialCharacters]="false">
                                            </textarea>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="observacion"
                                        errorKey="required">
                                        {{ 'global.required' | translate  : { campo: 'administracion.protecciones.coberturas.observacion' | translate } }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="observacion"
                                        errorKey="maxlength">
                                        {{ 'global.maxCaracteres' | translate 
                                                    :{ campo: 'administracion.protecciones.coberturas.observacion' | translate, max: '1000' | translate }
                                                }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <div class="card-footer  w-100 border-0">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn--orange1 btn--md mr-2"
                                        (click)="_guardarObservacion()" [disabled]="form.pristine">
                                        <span class="icon-checkmark mr-2"></span>
                                        {{ 'global.send' | translate }}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

                <!-- End form for add observation -->

                <!-- Inicia comentarios -->
                <div class="row mx-0 w-100 mt-0">
                    <div class="col-md-12 mb-3 select-no-border" *ngFor="let dato of observaciones; index as i;">
                        <div class="card cards--headerFooter w-100 bkCard"
                            [ngClass]="{'select-border': selectIndex == i}">
                            <div class="card-header">
                                <div class="row mx-0 w100 align-items-center">
                                    <div class="col-xl-7 col-md-7 col-ms-12 pl-0">
                                        <h3 class="text--500wt text--gray1 my-0">
                                            <span class="icon-user text--18pts mr-2 text--orange1"></span>
                                            {{ dato.user.name | uppercase }}
                                        </h3>
                                    </div>
                                    <div class="col px-0">
                                        <h5 class="text--600wt text--gray1 my-0">
                                            <span class="icon-calendar text--orange1 text--15pts mr-2"></span>
                                            {{ dato.time.split(' ')[0] }}
                                        </h5>
                                    </div>
                                    <div class="col px-0">
                                        <h5 class="text--600wt text--gray1 my-0">
                                            <span
                                                class="icon-clock text--orange1 text--15pts mr-2 border-left pl-3 py-1"></span>
                                            {{ dato.time.split(' ')[1] +' '+ dato.time.split(' ')[2] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="text--600wt text--gray2 text-left my-0">
                                    Observaciones
                                </h5>
                                <h4 class="text--500wt text--gray1 text-left mt-2 mb-0">
                                    {{ dato.comment }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin comentarios -->


            </div>
        </div>
    </div>
</div>