<div class="row" *ngIf="venta !== undefined && venta !== null && datosAsociado !== undefined && datosAsociado !== null">
  <!-- PANEL DERECHO -->
  <div class="col-xl-3 mt-n5 index-z">
    <div class="pt-2">
      <app-mim-persona-detalle [configuracion]="mimPersonaDetalleConfiguracion"></app-mim-persona-detalle>
    </div>
  </div>
  <!-- PANEL DERECHO -->
  <div class="col-xl-9">
    <div class="col-12">
      <div class="row">
        <div class="col-md-8">
          <h1 class="mb-0 my-0 d-inline-flex align-items-center text--tittle_circle mb-4">
            {{ 'asociado.protecciones.portafolio.gestionOperaciones.titulo' | translate }}
          </h1>
          <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">
            <div class="card posicion_top_card cards--panelLeft col-12">
              <div class="col-12">
                <div class="row">
                  <div class="col-sm-6 col-xl-6 px-0">
                    <div class="form-group row align-items-center">
                      <label appMimLabel for="concepto" class="col-sm-12 col-form-label">
                        {{ 'asociado.protecciones.portafolio.gestionOperaciones.campos.concepto' | translate }}
                      </label>
                      <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'concepto'" [controlName]="'concepto'">
                          <app-mim-select class="w-100" [inputId]="'concepto'" [options]="conceptoAuditorSelect"
                            formControlName="concepto" [optionKey]="'conceptoAuditorSelect.nombre'"
                            name="'conceptoAuditor'" ngDefaultControl>
                          </app-mim-select>
                        </div>
                      </div>
                      <app-mim-input-error class="col-sm-12" controlName="concepto" errorKey="required">
                        {{ 'global.required' | translate  : { campo: 'asociado.protecciones.portafolio.gestionOperaciones.campos.concepto' | translate } }}
                      </app-mim-input-error>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-6 pr-0">
                    <div class="form-group row align-items-center">
                      <label appMimLabel for="tipoGlosa" class="col-sm-12 col-form-label">
                        {{ 'asociado.protecciones.portafolio.gestionOperaciones.campos.tipoGlosa' | translate }}
                      </label>
                      <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'tipoGlosa'" [controlName]="'tipoGlosa'">
                          <app-mim-select class="w-100" [inputId]="'tipoGlosa'" [options]="razonDevolucionSelect"
                            formControlName="tipoGlosa" [optionKey]="'nombre'" name="'tipoGlosa'" ngDefaultControl>
                          </app-mim-select>
                        </div>
                      </div>
                      <app-mim-input-error class="col-sm-12" controlName="tipoGlosa" errorKey="required">
                        {{ 'global.required' | translate : { campo: 'asociado.protecciones.portafolio.gestionOperaciones.campos.tipoGlosa' | translate } }}
                      </app-mim-input-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Solicitar informacion area tecnica --->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label class="col-form-label" appMimLabel for="solicitarRevisionAreaTecnica">
                  {{ 'asociado.protecciones.portafolio.gestionOperaciones.campos.solicitarRevisionAreaTecnica' | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                  <label class="switch">
                    <input type="checkbox" formControlName="solicitarRevisionAreaTecnica" id="solicitarRevisionAreaTecnica" name="solicitarRevisionAreaTecnica">
                    <span class="slider round">
                      <span class="text--white text--14pts text--500wt">SI</span>
                      <span class="text--white text--14pts text--500wt">NO</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="card posicion_top_card cards--panelLeft col-12 mt-2">
              <div class="col-12">

                <div class="row">
                  <div class="col-sm-12 col-xl-12 px-0">
                    <div class="form-group row align-items-center">
                      <label appMimLabel for="observacion" class="col-sm-12 col-form-label">
                        {{ 'asociado.protecciones.portafolio.gestionOperaciones.campos.observacion' | translate }}
                      </label>
                      <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'observacion'" [controlName]="'observacion'">
                          <textarea type="text" rows="6" class="form-control" id="observacion"
                            formControlName="observacion" name="'observacion'" mask="a*" [patterns]="patterns"
                            [dropSpecialCharacters]="false" maxlength="1000">
                                                      </textarea>
                        </div>
                      </div>
                      <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="required">
                        {{ 'global.required' | translate : { campo: 'asociado.protecciones.portafolio.gestionOperaciones.campos.observacion' | translate } }}
                      </app-mim-input-error>
                      <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="maxlength">
                        {{ 'global.maxCaracteres' | translate
                                              :{ campo: 'asociado.protecciones.portafolio.gestionOperaciones.campos.observacion' | translate, max: '1000' | translate }
                                          }}
                      </app-mim-input-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Footer -->
            <div class="card cards--footer border-0 rounded-0">
              <div class="card-body py-2">
                <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn--orange1 btn--md mx-1" (click)="guardar()"
                    [disabled]="activarBotonGuardar() || bloquearBotonGuardar">
                    <span class="icon-save mr-2"></span>
                    {{ 'global.save' | translate }}
                  </button>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="col-md-4">
          <app-mim-links (customGoTo)="customGoTo($event)" [configuracion]="mimLinksConfiguracion">
          </app-mim-links>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Bitacora-->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarBitacora == true }" *ngIf="mostrarBitacora">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-6 col-md-8 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header mb-3">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0">
                {{ 'eventos.consulta.bitacora.titulo' | translate }}
              </h1>
            </div>
            <div class="col-lg-2 d-flex justify-content-end">
              <button class="btn btn--circle btn--circle_green" (click)="cerrarModalBitacora()">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <app-mim-bitacora class="mx-3" [idProceso]="idProceso" [titulo]="''" *ngIf="mostrarBitacora">
        </app-mim-bitacora>
      </div>
    </div>
  </div>
</div>