<div [ngStyle]="_cssMostrarModal" (click)="_onClickCloseModal($event)">
  <div class="btn-group btn--group" role="group" [ngStyle]="_cssMostrar">
    <div class="btn-group " (click)="_onNoClick($event)" role="group">
      <div class="dropdown-menu border-0 show" aria-labelledby="btnGroupDrop1">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle bg--green1"
          (click)="_onClickClose($event)">
          <span class="icon-cross"></span>
        </button>
        <ul class="nav flex-column nav--btnGroup">
          <li class="nav-item cursor-point" *ngFor="let item of configuracion.items">
            <a class="nav-link active" (click)="_onClickItem($event, item)" >
              <span [ngClass]="item.cssIcon ? item.cssIcon + ' mr-2' : ''"></span>
              {{ item.label | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
