
<div class="mt-3 px-5">
    <app-mim-grid [configuracion]="configuracion.gridListar" (clickCeldaElement)="_onClickCeldaElement($event)"
        (ordenar)="_ordenarRelacion($event)">
    </app-mim-grid>
</div>

<!-- Control de activos -->
<div class="d-flex pl-5 pt-3 position_check flex-column">
    <h3 class="pb-2">{{plan?.nombre}}</h3>
    <div class="form--default">
        <div class="custom-control custom-switch custom-switch_xs row d-flex px-0">
            <label class="switch my-0">
                <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
                <span class="slider round"></span>
            </label>
            <span class="text--13pts text--600wt text--gray2 col">
                {{ 'global.mostrarActivos' | translate }}
            </span>
        </div>
    </div>
</div>

<!-- Botones -->
<div class="col-xl-12 p-4">
    <div class="d-flex flex-row-reverse">
        <button class="btn btn--orange1 btn--md mr-4" (click)="nuevoRegistro()">
            <span class="icon-plus mr-2"></span>
            {{ 'global.add' | translate }}
        </button>
        <button type="button" class="btn btn--border_green1 btn--md mr-3" (click)="_onClickExportarExcel()">
            <!--  -->
            <span class="icon-download-2 mr-2"></span>
            {{ 'global.exportarExcel' | translate }}
        </button>
    </div>
</div>

<!-- Modal lateral -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarModal == true }" *ngIf="mostrarModal">
    <div class="row mx-0 w-100 justify-content-end">
        <div class="col-xl-4 col-md-6 px-0">
            <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
                <div class="card-header">
                    <div class="row mx-0 w-100 align-items-center">
                        <div class="col-lg-10">
                            <h1 class="text--500wt text--gray1 my-0">
                                {{ esCrear ? ('administracion.financiera.relacionConceptoDistribucionCuenta.crear' | translate) : ('administracion.financiera.relacionConceptoDistribucionCuenta.editar' | translate) }}
                            </h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn--circle btn--circle_green" (click)="_toggleModal()">
                                <span class="icon-cross mr-2"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">
                        <!-- Concepto distribución -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="conceptoDistribucion" class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.conceptoDistribucion' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'conceptoDistribucion'"
                                        [controlName]="'conceptoDistribucion'">
                                        <app-mim-select class="w-100" [inputId]="'conceptoDistribucion'"
                                            [options]="conceptoDistribuciones" formControlName="conceptoDistribucion" [optionKey]="'nombre'"
                                            name="'conceptoDistribucion'" ngDefaultControl>
                                        </app-mim-select>
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="conceptoDistribucion" errorKey="required">
                                    {{ 'global.required' | translate : { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.conceptoDistribucion' | translate } }}
                                </app-mim-input-error>
                            </div>
                        </div>

                        <!-- Coberturas -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="planCobertura" class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.cobertura' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'planCobertura'"
                                        [controlName]="'planCobertura'">
                                        <app-mim-select class="w-100" [inputId]="'planCobertura'"
                                            [options]="planCoberturas" formControlName="planCobertura" [optionKey]="'nombre'"
                                            name="'planCobertura'" ngDefaultControl>
                                        </app-mim-select>
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="planCobertura" errorKey="required">
                                    {{ 'global.required' | translate : { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.cobertura' | translate } }}
                                </app-mim-input-error>
                            </div>
                        </div>
                        
                        <!-- Cuenta contable -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="cuentaContable" class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.cuentaContable' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'cuentaContable'"
                                        [controlName]="'cuentaContable'">
                                        <app-mim-select class="w-100" [inputId]="'cuentaContable'" [filter]="true"
                                            [options]="cuentaContables" formControlName="cuentaContable" [optionKey]="'_nombre'"
                                            name="'cuentaContable'" ngDefaultControl>
                                        </app-mim-select>
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="cuentaContable" errorKey="required">
                                    {{ 'global.required' | translate : { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.cuentaContable' | translate } }}
                                </app-mim-input-error>
                            </div>
                        </div>

                        <!-- Uso local -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="usoLocal" class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.usoLocal' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'usoLocal'"
                                        [controlName]="'usoLocal'">
                                        <app-mim-select class="w-100" [inputId]="'usoLocal'" [filter]="true"
                                            [options]="usoLocales" formControlName="usoLocal" [optionKey]="'_nombre'"
                                            name="'usoLocal'" ngDefaultControl>
                                        </app-mim-select>
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="usoLocal" errorKey="required">
                                    {{ 'global.required' | translate : { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.usoLocal' | translate } }}
                                </app-mim-input-error>
                            </div>
                        </div>

                        <!-- cuenta transacción -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="cuentaTransaccion" class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.cuentaTransaccion' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'cuentaTransaccion'" [controlName]="'cuentaTransaccion'">
                                        <input type="number" class="form-control" id="cuentaTransaccion" formControlName="cuentaTransaccion"
                                            name="cuentaTransaccion" />
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="cuentaTransaccion" errorKey="required">
                                    {{ 'global.required' | translate  : { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.cuentaTransaccion' | translate } }}
                                </app-mim-input-error>
                                <app-mim-input-error class="col-sm-12" controlName="cuentaTransaccion" errorKey="max">
                                    {{ 'global.maxValue' | translate :
                            { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.cuentaTransaccion' | translate,
                              max: 99999
                            }
                          }}
                                </app-mim-input-error>
                            </div>
                        </div>

                        <!-- Partida / contrapartida -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="partidaContrapartida" class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.partidaContrapartida' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'partidaContrapartida'"
                                        [controlName]="'partidaContrapartida'">
                                        <input type="number" class="form-control" id="partidaContrapartida"
                                            formControlName="partidaContrapartida" name="partidaContrapartida" />
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="partidaContrapartida" errorKey="required">
                                    {{ 'global.required' | translate  : { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.partidaContrapartida' | translate } }}
                                </app-mim-input-error>
                                <app-mim-input-error class="col-sm-12" controlName="partidaContrapartida"
                                    errorKey="max">
                                    {{ 'global.maxValue' | translate 
                                              :{ campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.partidaContrapartida' | translate, max: '99999' | translate }
                                          }}
                                </app-mim-input-error>
                            </div>
                        </div>

                        <!-- Tipo transaccion cuenta contable -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel for="tipoTransaccion" class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.tipoTransaccion' | translate }}
                                </label>
                                <div class="col-sm-12">
                                    <div class="input-group" appMimInput [for]="'tipoTransaccion'"
                                        [controlName]="'tipoTransaccion'">
                                        <app-mim-select class="w-100" [inputId]="'tipoTransaccion'"
                                            [options]="tipoTransacciones" formControlName="tipoTransaccion" [optionKey]="'nombre'"
                                            name="'tipoTransaccion'" ngDefaultControl>
                                        </app-mim-select>
                                    </div>
                                </div>
                                <app-mim-input-error class="col-sm-12" controlName="tipoTransaccion" errorKey="required">
                                    {{ 'global.required' | translate  : { campo: 'administracion.financiera.relacionConceptoDistribucionCuenta.tipoTransaccion' | translate } }}
                                </app-mim-input-error>                                
                            </div>
                        </div>

                        <!-- Cuenta COLGAAP -->
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.cuentaCOLGAAP' | translate }} : {{numeroCOLGAAP}}
                                </label>
                                
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row align-items-center">
                                <label appMimLabel class="col-sm-12 col-form-label">
                                    {{ 'administracion.financiera.relacionConceptoDistribucionCuenta.cuentaNIIF' | translate }} : {{numeroNIIF}}
                                </label>
                                
                            </div>
                        </div>

                        <!-- Vigente -->
                        <div class="col-sm-12 com-md-12" *ngIf="!esCrear">
                            <div class="form-group">
                                <label class="col-form-label" appMimLabel for="vigente">
                                    {{ 'administracion.financiera.maestroUsoLocal.grid.vigente' | translate }}
                                </label>
                                <div class="custom-control custom-switch p-0">
                                    <label class="switch">
                                        <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                                        <span class="slider round">
                                            <span
                                                class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                                            <span
                                                class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer  w-100 border-0">
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="guardar()"
                                    [disabled]="form.pristine">
                                    <span class="icon-checkmark mr-2"></span>
                                    {{ 'global.save' | translate }}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
