<div class="row" [formGroup]="controlContainer.control">
    <div class="col-sm-4 col-xl-4 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="cobertura" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionOperaciones.form.tipoSolicitud' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'tipoMovimiento'" [controlName]="'tipoMovimiento'">
                    <app-mim-select class="w-100" [inputId]="'tipoMovimiento'" [options]="tiposMovimientos"
                        [optionKey]="'mimTipoMovimiento.nombre'" name="'tipoMovimiento'" ngDefaultControl
                        formControlName="tipoMovimiento">
                    </app-mim-select>
                </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="tipoMovimiento" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.configuracionOperaciones.form.tipoSolicitud' | translate } }}
            </app-mim-input-error>
        </div>
    </div>
    <div class="col-sm-4 col-xl-4 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="nivelesRiesgos" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionOperaciones.form.nivelRiesgo' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'nivelesRiesgos'" [controlName]="'nivelesRiesgos'">
                    <app-mim-multiselect class="w-100" [inputId]="'nivelesRiesgos'" [options]="nivelesRiesgos"
                        formControlName="nivelesRiesgos" [optionKey]="'nombre'" name="'nivelesRiesgos'"
                        ngDefaultControl>
                    </app-mim-multiselect>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xl-2 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="rangoMinimoEdad" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionOperaciones.form.rangoMinimoEdad' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'rangoMinimoEdad'" [controlName]="'rangoMinimoEdad'">
                    <input type="text" class="form-control" id="rangoMinimoEdad" formControlName="rangoMinimoEdad"
                        name="rangoMinimoEdad" maxlength="3" mask="b*" [patterns]="patterns" />
                </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="rangoMinimoEdad" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.configuracionOperaciones.form.rangoMinimoEdad' | translate } }}
            </app-mim-input-error>
        </div>
    </div>
    <div class="col-sm-4 col-xl-2 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="rangoMaximoEdad" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionOperaciones.form.rangoMaximoEdad' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'rangoMaximoEdad'" [controlName]="'rangoMaximoEdad'">
                    <input type="text" class="form-control" id="rangoMaximoEdad" formControlName="rangoMaximoEdad"
                        name="rangoMaximoEdad" maxlength="3" mask="b*" [patterns]="patterns" />
                </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="rangoMaximoEdad" errorKey="required">
                {{ 'global.required' | translate  : { campo: 'administracion.configuracionOperaciones.form.rangoMaximoEdad' | translate } }}
            </app-mim-input-error>
        </div>
    </div>
    <div class="col-sm-4 col-xl-4 px-2">
        <div class="form-group row align-items-center">
            <label appMimLabel for="cicloFacturacion" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracionOperaciones.form.cicloFacturacion' | translate }}
            </label>
            <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'cicloFacturacion'" [controlName]="'cicloFacturacion'">
                    <app-mim-multiselect class="w-100" [inputId]="'cicloFacturacion'" [options]="ciclosFacturacion"
                        formControlName="cicloFacturacion" [optionKey]="'nombre'" name="'cicloFacturacion'"
                        ngDefaultControl>
                    </app-mim-multiselect>
                </div>
            </div>
        </div>
    </div>
</div>
