.bg
    &--gray1
      background-color gray1
    &--gray2
      background-color gray2
    &--gray3
      background-color gray3
    &--gray4
      background-color gray4
    &--green1
      background-color green1
    &--green2
      background-color green2
    &--green3
      background-color green3
    &--yellow1
      background-color yellow1
    &--yellow2
      background-color yellow2
    &--orange1
      background-color orange1
    &--orange2
      background-color orange2
    &--red1
      background-color red1
    &--red2
      background-color red2
    &--blue1
      background-color blue1
    &--blue2
      background-color blue2
    &--white
      background-color white
    &--transparent
      background-color transparent