.cards
    &--login
      border-radius 10px
      box-shadow 0 2px 20px 0 rgba(0,0,0,0.05)
    &--panelLeft
      background-color #FFFFFF
      border 0
      border-radius 5px !important 
      box-shadow 0 2px 4px 0 rgba(0,0,0,0.05)
      & .card-header
        background-color white
        border 0px !important
        border-bottom 1px solid gray3 !important
        border-radius  5px 5px 0 0 !important
        padding 1.2rem 1.5rem
        & h5
          & button
            align-items center
            border-radius 0px
            color gray2
            display flex
            font-size 0.8125rem
            font-weight 700
            padding 0
            justify-content space-between
            text-transform uppercase
            width 100%
            & span
              color green1
              &.text--orange1
                color orange1              
            &:hover, &:focus, &:active, &.active
              color gray1
              text-decoration none
              & span
                color gray1
                &.text--orange1
                  color orange1
        & span.icon-chevron-up
          transition transform .1s ease-in-out
        & [aria-expanded=true] 
          & span.icon-chevron-up
            display block
            transform rotate(180deg)            
      & .card-body
        border-radius 0 0 5px 5px
      &_noCollapse
        & .card-header
          border-bottom 0px !important
        & .card-footer
          bottom 4rem
          position absolute
          width 100%
      &_beneficiarios
        & .card-header
          & .title
            border-right 1px solid gray3
          & span.icon-chevron-up
            transition transform .1s ease-in-out
          & [data-toggle="collapse"]
            color green1
            &:hover, &:focus, &:active, &.active
              color green4
          & [aria-expanded=true] 
            & span.icon-chevron-up
              display block
              transform rotate(180deg)
          & .form--default .custom-checkbox .custom-control-label
            margin-top -16px
        &.active
          & .card-header , & .card-body
            border-left 3px solid #ff743b!important
          & .cards--panel_gray4 .card-body
            border-left 0px !important
      &_liquidacion
        & .card-header 
          & a
            &[aria-expanded=true] 
              & span.icon-chevron-down
                display block
                transform rotate(180deg)  
          &.border-0
            border-bottom 0px !important 
          &.rounded
            border-radius 5px !important     
        &.active
          & .card-header , & .card-body
            border-left 0px!important 
        &-panel
          background-color transparent
          box-shadow none 
          & .card-header
            border-bottom 0px  
          & .activeTable
            background-color white
            border-radius 5px
            border-left 3px solid green1!important   
    &--table
      background-color transparent
      & > .card-header
        align-items center
        background-color gray5
        border 1px solid gray3
        border-radius 5px
        display flex
        height 3.008rem
        margin  0 0 10px 0
        padding 0
      & ul.list-group
        margin 0
        & li.list-group-item
          align-items center
          background white
          border 0
          border-radius 5px
          box-shadow 0 2px 4px 0 rgba(0,0,0,0.05)
          display flex
          height 4.345rem
          line-height 120%
          margin 0 0 .3rem 0
          padding 0
          & h5 
            line-height 150%
          &.active
            border-left 5px solid orange1
            box-shadow 0 4px 15px 0 #D6DBE0
            & .btn--border_orange1
              background-color orange1
              color white
              & span
                color white
              &:hover, &:focus, &:active, &.active
                background-color orange3
                color white
      &_facturacion
        & .card-header
          & .form--default .custom-checkbox_box
            margin-top -10px

        
    &--BtnDropdown
      background-color gray4
      border 0
      & .btn
        background-color transparent
        color gray1
        padding .7rem 0
        & span[class^="icon-"]
          color orange1
          font-size 1.5rem
        & span.circle
          align-items center
          background-color white
          border 1px solid white
          border-radius 100%
          color orange1
          display flex
          font-size 1rem
          height 2.375rem
          justify-content center
          width 2.375rem
        &:hover, &:focus, &:active, &.active
          color gray1
          & span.circle
            background-color orange1
            border-color orange1
            color white
    &--headerFooter
      background-color #FFFFFF
      border 0
      border-radius 5px !important 
      box-shadow 0 2px 4px 0 rgba(0,0,0,0.05)
      & .card-header
        background-color white
        border 0px !important
        border-bottom 1px solid gray3 !important
        border-radius  5px 5px 0 0 !important
        padding 1.2rem 1.3rem 
    &--panel
      height 100vh
      & .card-header
        background-color transparent
        border 0px
        border-bottom 1px solid gray3
        border-radius 0px
      &_gray4
        border-radius 5px
        & .card-body
          border-radius 5px
          border none !important
        & .card-header
          &.bg--gray4
            background-color gray4
            border-left 0px !important
        & .border-bottom-0
          border-bottom 0px !important
      &_facturacion
        box-shadow 0 2px 4px 0 rgba(0,0,0,0.05)
        &.disabled
          background-color gray4
          border 1px color gray3
        &.active
          border-left 3px solid orange1 !important
        &.border-left-blue1
          border-left 3px solid blue1   !important   
        &.border-left-green2
          border-left 3px solid green2   !important   
        &.border-left-yellow1
          border-left 3px solid yellow1   !important   
        &.border-left-red1
          border-left 3px solid red1   !important                                 
      &_accesos
        border-radius 0
        &:first-child
          border-radius 5px 5px 0 0
        &:first-child
          border-radius 0 0 5px 5px         
        & span.icon-chevron-right-2
          align-items center
          background-color white
          border-radius 100%
          color gray2
          display flex
          height 40px
          justify-content center
          width 40px
        &.active
          border-left 2px solid orange1!important
          & span.icon-chevron-right-2
            background-color orange2
            color orange1
    &--disabled
        background-color transparent
        border 1px solid gray3
    &--checkbox
      & label
        color gray1
        font-size 1rem
        font-weight 600
      & .custom-checkbox
        background-color white
        border 1px solid gray3
        border-radius 5px
        color gray3
        height 2.75rem
        padding-left 2.5rem
        & .custom-control-input
          cursor pointer
          border 0
          margin 0 
          outline none !important
          width 100%
          z-index 1
          &:checked~
            & .custom-checkbox
              color red
            & .custom-control-label
              &:before
                  background-color green1
                  border-color green1
                  left -2.5rem
              &:after
                background white
        & .custom-control-label
          color gray3
          font-size 0.8125rem
          padding-left 0
          &:before
            background-color white
            box-shadow none !important
            border gray3 solid 1px 
            border-radius 100%
            content ''
            display inline-flex
            height 26px
            left -2.5rem
            outline none !important
            top -.2rem
            width 26px
          &:after
            background-color white
            box-shadow none !important
            border white solid 1px 
            border-radius 100%
            content ''
            display inline-flex
            height 10px
            left -24px
            outline none !important
            top 0.35rem
            width 10px
        &.active
          border-color green1
          & .custom-control-label
            border-color green1
            color green1
          &:hover, &:focus, &:active
            & .custom-control-label
              border-color green1 !important

       &_three
        & .form-group
          & label
            color gray1
            font-size 0.8125rem
            font-weight 600 
              
    &--footer
      box-shadow 0 0 27px 0 rgba(0,0,0,0.10)
      bottom 0
      left 0
      position fixed
      width 100%
      z-index 1
    &--modal
      & .card-header
        background-color transparent
        border 0
        & .btn
          background-color transparent
          & span
            background-color gray4
            border none 
            color gray2
    &--openTransition
      transition transform .1s ease-in-out
    &--accordion
      left 0
      position fixed
      top 4.5rem
      z-index 7
      &:after
        background-color white
        content  ""
        height 93vh
        left 0
        position absolute
        top 0
        width 10vh
        z-index -1
      &_transform 
        background-color white
        border-left 1px solid #d6dbe0
        box-shadow 0 0 10px 0 rgba(32,129,74,.05)
        border-radius 0!important
        transform rotate(90deg) translateX(0) translateY(0)
        width 300px
        height 100vh
        position fixed
        left 5.2rem
        top -11.9rem
        & .card-header
          background-color white
      & .nav--muesca_xs
        margin 0
        & .cards--accordion_transform
          left -27.6rem
      &_paneles
        top 0
        & .card
          border-radius 5px !important
        & .card-header
          & a
            align-items center 
            border-bottom 1px solid gray3
            display inline-flex
            justify-content space-between
            padding 1rem .8rem 1rem 1.5rem
            width 100%
            & .text
              color gray2
              font-size 0.8125rem
              font-weight 700
              text-transform uppercase
            & span
              color orange1
              font-size 1rem
            &[aria-expanded=true] 
              color red
              & span.icon-chevron-down
                display block
                transform rotate(180deg) 

          




