gray1 = #2F4158
gray2 = #7A8A9F
gray3 = #D6DBE0
gray4 = #F6F6F6
gray5 = #DFE3E6

green1 = #0E8652
green2 = #80D203
green3 = #ECF8D9
green4 = #037041

yellow1 = #FFB63A
yellow2 = #FFFBEC

orange1 = #FF743B
orange2 = #FFF8F6
orange3 = #FF5D1B

red1 = #FF4352
red2 = #FFF4F6

blue1 = #0064F7
blue2 = #ECF2FF

black = #000
white = #fff



