.table
	&--fichaTecnica
		border-bottom 1px solid gray_lighten_1
		margin-bottom 0
		margin-top .5rem
		& > tbody
			& > tr
				& > th
					border none
					border-bottom 1px solid gray_lighten_1
					color gray_darken_1
					font-size 0.8rem
					padding-right 0
					text-transform uppercase
					&:before
						background-color yellow
						border-radius 100%
						content ""
						display inline-flex
						height .5rem
						margin-right .5rem
						width .5rem
				& > td
					border none
					border-bottom 1px solid gray_lighten_1
					color gray
					font-weight 300
					padding-left .33rem
					padding-right .33rem
					& span
						display inline-flex
						&.up
							transform rotate(-90deg)
						&.right
							transform rotate(0deg)
						&.diari
							transform rotate(-50deg)
	&--dataTable
		&.dataTable
			border-radius 5px
			border-spacing 0 .7rem
			border-collapse separate
			color gray
			font-family 'Montserrat', sans-serif
			font-size 0.8125rem
			font-weight normal
			outline none!important
			& > thead
				& > tr
					& > th
						background gray5
						color gray2
						font-size 0.8125rem
						font-weight 700
						font-family 'Montserrat', sans-serif
						border-top 1px solid gray3
						border-bottom 0px
						height 3.008rem
						outline none!important
						padding 0
						text-align center
						vertical-align middle
						width auto !important
						&:first-child
							border-radius 5px 0 0 0
						&:last-child
							border-radius 0 5px 0 0
			& > tbody
				& > tr
					box-shadow 0 2px 4px 0 rgba(0,0,0,.05)
					& > td
						border-bottom 0
						border-top 0
						color gray1
						font-size 0.8125rem
						font-weight 600
						font-family 'Montserrat', sans-serif
						height 3.008rem
						outline none!important
						text-align center
						vertical-align middle
						width auto !important
						&:first-child
							border-radius 5px 0 0 5px
						&:last-child
							border-radius 0 5px 5px 0
					&.active
						& td
							&:first-child
								border-left 3px solid orange1
			& > tfoot
				& > tr
					& th
						border-bottom 0px
						border-top 0px
						height 3.008rem
						outline none!important
						padding 0
						text-align center
						vertical-align middle
						width auto !important
						& input
							background-color transparent
							border 0px
							border-bottom 1px solid gray3
							color gray1
							display none
							font-size 0.8125rem
							font-weight 600
							font-family 'Montserrat', sans-serif
							height 3.008rem
							outline none!important
							padding .5rem
							transition .3s ease-out
							text-align center
							vertical-align middle
							&:focus
								border-bottom 2px solid orange1	
						//PARA ACTIVAR OTROS BUSCADORES QUITAR CLASE DISPLAY NONE
						&:nth-child(1), &:nth-child(2)
							& input
								display block
	&--default
		border-radius 5px
		border-spacing 0 .7rem
		border-collapse separate
		color gray
		font-family 'Montserrat', sans-serif
		font-size 0.8125rem
		font-weight normal
		outline none!important
		& > thead
			& > tr
				& > th
					background gray5
					color gray2
					font-size 0.8125rem
					font-weight 700
					font-family 'Montserrat', sans-serif
					border-top 1px solid gray3
					height 3.008rem
					outline none!important
					text-align center
					vertical-align middle
					width auto !important
					&:first-child
						border-radius 5px 0 0 5px
					&:last-child
						border-radius 0 5px 5px 0
		& > tbody
			& > tr
				& > td
					background-color gray4
					border-bottom 0
					border-top 0
					color gray1
					font-size 0.8125rem
					font-weight 600
					font-family 'Montserrat', sans-serif
					height 3.008rem
					outline none!important
					text-align center
					vertical-align middle
					width auto !important
					&:first-child
						border-radius 5px 0 0 5px
					&:last-child
						border-radius 0 5px 5px 0
					&.bg--white
						background-color white
			&.columns
				& > tr
					& > td
						color gray2
						height 1.008rem
						padding 0
						&:last-child
							color gray1
							text-align right
			&.inline-block
				& > tr
					& > td
						height 1.008rem
						padding 0
						text-align left
						&.text--gray2
							color gray2
				&.active
					& > tr
						& > td
							height .5rem					


		& > tfoot
			& > tr
				& > td
					border 1px solid gray3
					color gray1
					font-size 0.8125rem
					font-weight 600
					font-family 'Montserrat', sans-serif
					height 3.008rem
					outline none!important
					text-align center
					vertical-align middle
					width auto !important	
					&:first-child
						border-radius 5px
					&:last-child
						border-radius 5px					
			&.columns
				& > tr
					& > td	
						border 0px	
						color gray1	
						height 1.008rem
						padding 0
						&:last-child
							text-align right
						
