<div class="row mx-0 w-100 align-items-center mt-2">
  <div class="col-md-12">
      <h1 class="my-0">
          {{ 'eventos.consulta.solicitud.activarFlujo.titulo' | translate }}
      </h1>
  </div>
</div>

<div class="w-100 mt-2 mb-4 pb-5">
<form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">

  <div class="row mx-0 w-100 mt-0">
    <div class="w-100 mb-3 select-no-border">
      <div class="card cards--headerFooter w-100 select-border">
        <div class="card-header">
          <div class="row mx-0 w100 align-items-center">
            <div class="col-md-3 col-md-3 col-ms-12 pl-0">
              <h2 class="text--500wt text--gray1 my-0">
                <span class="icon-chevron-right-2 text--18pts mr-2 text--orange1"></span>
                {{ bitacora.nombreFase | uppercase }}
              </h2>
            </div>
            <div class="col-md-5 col-md-5 col-ms-12 pl-0">
              <h2 class="text--500wt text--gray1 my-0">
                <span class="icon-user text--18pts mr-2 text--orange1"></span>
               {{ bitacora.nombreUsuario | uppercase }}
              </h2>
            </div>
            <div class="col px-0">
              <h5 class="text--600wt text--gray1 my-0">
                <span class="icon-calendar text--orange1 text--15pts mr-2"></span>
                {{ bitacora.fecha }}
              </h5>
            </div>
            <div class="col px-0">
              <h5 class="text--600wt text--gray1 my-0">
                <span class="icon-clock text--orange1 text--15pts mr-2 border-left pl-3 py-1"></span>
                {{ bitacora.hora }}
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="text--500wt text--gray1 text-justify mt-2 mb-0">
            {{ bitacora.observacion }}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="cards--headerFooter w-100 mt-2">
    <div class="col-12">
      <div class="card-body py-0 pb-2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row align-items-center">
              <label appMimLabel for="observacion" class="col-sm-12 col-form-label">
                {{ 'eventos.consulta.solicitud.observacion' | translate }}
              </label>
              <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'observacion'" [controlName]="'observacion'">
                      <textarea type="text" rows="8" class="form-control" id="observacion"
                          formControlName="observacion" name="observacion" maxlength="1000"></textarea>
                  </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="required">
                  {{ 'global.required' | translate  : { campo: 'eventos.consulta.solicitud.observacion' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="maxlength">
                  {{ 'global.maxCaracteres' | translate :{ campo: 'eventos.consulta.solicitud.observacion' | translate, max: '1000' | translate } }}
              </app-mim-input-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
    <div class="card-body py-2">
        <div class="row mx-0 w-10 justify-content-end align-items-center">
          <!-- Botones -->
          <div class="col-xl-12">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_guardar()" [disabled]="isPristine(form)">
                  <span class="icon-checkmark mr-2"></span>
                  {{ 'global.save' | translate }}
              </button>
            </div>
        </div>
    </div>
  </div>

</div>

</form>
</div>
