<ng-template [ngIf]="datosAsociado && portafolioAsociado">

  <div class="card cards--headerFooter w-100 my-4">
    <div class="card-header">
      <div class="row mx-0 w100 align-items-center">
        <div class="col-md-4 pl-0">
          <h2 class="text--500wt text--gray1 my-0">
            <span class="icon-shield text--18pts mr-2 text--orange1"></span>
            {{ portafolioAsociado.prodDescripcion | emptyPipe }}
          </h2>
        </div>
        <div class="col-md-8 pr-0">
          <div class="row mx-0 w-100">
            <div class="col-md-4">
              <h5 class="text--15pts text--600wt text--gray1">
                <span class="text--gray2">
                  {{ 'asociado.protecciones.detalle.estado' | translate }}
                  :</span>
                {{ portafolioAsociado.estado | emptyPipe }}
              </h5>
            </div>
            <div class="col-md-8">
              <h5 class="text--15pts text--600wt text--gray1">
                <span class="text--gray2">
                  {{ 'asociado.protecciones.detalle.edadProducto' | translate }}
                  :</span>
                {{ portafolioAsociado.edad | emptyPipe }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row mx-0 w-100">

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.consecutivo' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.consecutivo | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.consecutivoFlujo' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.consecutivoFlujo | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.registro' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.estadoRegistro | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.fechaDeRegistro' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.fecReg | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.factorActual' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.factor | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.proteccionActual' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{
            productoDetalleSubscription.codigoCategoria === auxilioFunerario
              ? (portafolioAsociado.valor | emptyPipe)
              : (portafolioAsociado.valor | customCurrency | emptyPipe)
          }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.proteccionSolicitada' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ productoDetalleSubscription.codigoCategoria === auxilioFunerario
                      ? (portafolioAsociado.valorSolicitado | emptyPipe)
                      : (portafolioAsociado.valorSolicitado
                        | customCurrency
                        | emptyPipe) }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.coutaContribucion' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.cuota | customCurrency | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.fechaAprobado' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.fecApr | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.fechaSolicitud' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.fecSol | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2 ">
            {{ 'asociado.protecciones.detalle.fechaCompleto' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.fecReq | emptyPipe }}
          </h4>
        </div>

      </div>
    </div>
  </div>

  <div class="card cards--headerFooter w-100 my-4">
    <div class="card-body">
      <div class="row mx-0 w-100">

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.fechaContribuon' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.fecPrCo | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.fechaVigencia' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.fecVig | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.proteccionVigente' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.nombreVigencia | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.tipo' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.tipoProteccion | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.canalVenta' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.canal | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.promotor' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.promotorEmpleadoNombre | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.usuarioRegistro' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.usuarioEmpleadoNombre | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.cuotaDescuento' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.proCuotaDescuento | customCurrency | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.promocion' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.nombrePromocion | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.motivoDisminucion' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.motivo | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.porcentajeDescuento' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.proPorcentajeDescuento | percent | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2" *ngIf="portafolioAsociado.proFechaVigenciaAuxFunerario">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.fechaVingenciaAuxFun' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.proFechaVigenciaAuxFunerario | emptyPipe }}
          </h4>
        </div>

        <div class="col-md-3 my-2" *ngIf="portafolioAsociado.proFechaVigenciaProductoEnfermedadGrave">
          <h5 class="text--600wt text--gray2">
            {{ 'asociado.protecciones.detalle.fechaVingenciaEnfGrav' | translate }}
          </h5>
          <h4 class="text--500wt text--gray1">
            {{ portafolioAsociado.proFechaVigenciaProductoEnfermedadGrave | emptyPipe }}
          </h4>
        </div>

      </div>
    </div>
  </div>
  <div class="card cards--headerFooter w-100 my-4">
    <div class="card-header">
      <div class="row mx-0 w100 align-items-center">
        <div class="col-md-5 pl-0">
          <h2 class="text--500wt text--gray1 my-0">
            <span class="icon-message text--18pts mr-2 text--orange1"></span>
            {{ 'global.observations' | translate }}
          </h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h4 class="text--500wt text--gray1 text-left mt-2 mb-0">
        {{ portafolioAsociado.obs | emptyPipe }}
      </h4>
    </div>
  </div>

</ng-template>
