<div class="row mx-0 w-100 pb-5">
  <div class="col-1 col-xl-3">
    <app-mim-filtro-vertical [configuracion]="configuracion.barFilter">
      <!-- Filtros -->
      <app-mim-filtro-vertical-item [label]="'global.consultar'">
        <div class="card cards--panelLeft mb-4">
          <div id="filtroBeneficiario" class="collapse show" aria-labelledby="headingOne"
            data-parent="#accordionPanelLeft">
            <div class="card-body ">
              <form class="form--default" *ngIf="isForm | async as isForm" [formGroup]="form"
                (ngSubmit)="onBuscar($event)">
                <!-- Tipo de Documento -->
                <div class="form-group">
                  <label appMimLabel for="tipoDocumento">
                    {{ 'administracion.asignacionPermisos.filtros.tipoDocumento' | translate }}
                  </label>
                  <div class="input-group" appMimInput [for]="'tipoDocumento'" [controlName]="'tipoDocumento'">
                    <app-mim-select class="w-100" [inputId]="'tipoDocumento'" [options]="tiposDocumentos"
                      formControlName="tipoDocumento" [optionKey]="'nombre'" name="'tipoDocumento'" ngDefaultControl>
                    </app-mim-select>
                  </div>
                  <app-mim-input-error controlName="tipoDocumento" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.asignacionPermisos.filtros.tipoDocumento' | translate } }}
                  </app-mim-input-error>

                </div>
                <!-- Ideitificacion del usuario -->
                <div class="form-group">
                  <label appMimLabel for="identificacion">
                    {{'administracion.asignacionPermisos.filtros.numeroIdentificacion'  | translate }}
                  </label>
                  <div class="input-group" appMimInput [for]="'identificacion'" [controlName]="'identificacion'">
                    <input type="number" class="form-control" id="identificacion" formControlName="identificacion"
                      name="identificacion" />
                  </div>
                  <app-mim-input-error controlName="identificacion" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.asignacionPermisos.filtros.numeroIdentificacion' | translate } }}
                  </app-mim-input-error>
                </div>
                <div class="form-group">
                  <div class="row mx-auto w-100">
                    <div class="col-md-6 pl-md-0">
                      <button type="button" class="btn btn--gray2 btn--md w-100 justify-content-md-start"
                        (click)="_limpiar()">
                        {{ 'global.clean' | translate }}
                        <span class="icon-cross ml-3"></span>
                      </button>
                    </div>
                    <div class="col-md-6 pr-md-0">
                      <button class="btn btn--border_green1 btn--md w-100" type="submit">
                        {{ 'global.search' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </app-mim-filtro-vertical-item>
    </app-mim-filtro-vertical>
  </div>

  <div class="col-11 col-xl-9 offset-1 offset-xl-0 d-block py-5 px-0 m-0">
    <div class="row mx-0 w-100 ">
      <div class="col-md-12">
        <h1>{{ 'administracion.asignacionPermisos.titulo' | translate }}</h1>
      </div>

      <div class="col-md-12 mt-2">
        <div class="card cards--headerFooter w-100 mb-3">
          <div *ngIf="!usuarioPermisos">
            <div class="p-3">
              <div class="d-flex">
                <div class="bg--circle bg--blue2 text-center">
                  <span class="icon-info text--blue1"></span>
                </div>
                <h5 class="text--600wt text--gray2 px-3 py-2 my-0">
                  {{ 'administracion.asignacionPermisos.alertas.debeRealizarBusquedaDeUsuario' | translate }}</h5>
              </div>
            </div>
          </div>
          <ng-template [ngIf]="usuarioPermisos">
            <div class="card-header">
              <div class="row mx-0 w100 align-items-center">
                <div class="col-md-1 px-0">
                  <span
                    class="icon--circle icon--circle_lg bg--orange1 rounded-circle text--white d-flex align-items-center justify-content-center">
                    <span class="icon-user text--36pts"></span>
                  </span>
                </div>
                <div class="col-md-8">
                  <h2 class="text--500wt text--gray1 my-0">
                    {{ usuarioPermisos.name | emptyPipe }}
                  </h2>
                  <div class="row mx-0 w-100 mt-2">
                    <div class="col-4 px-0">
                      <h5 class="text--600wt text--gray2 my-0">
                        {{ 'usuario.tipoUsuario' | translate }}:
                        <strong class="text--600wt text--gray1">
                          {{ usuarioPermisos.type.description | emptyPipe }}
                        </strong>
                      </h5>
                    </div>
                    <div class="col-4 px-0">
                      <h5 class="text--600wt text--gray2 my-0">
                        {{ 'usuario.estado' | translate }}:
                        <strong class="text--600wt text--gray1">
                          {{ usuarioPermisos._estado | emptyPipe | translate }}
                        </strong>
                      </h5>
                    </div>
                    <div class="col-3 px-0">
                    </div>
                  </div>
                </div>
                <div class="col-md-3 pr-0">
                </div>
              </div>
            </div>
            <div class="card-body px-2 pt-3 pb-4">
              <div class="row mx-0 w-100">
                <div class="col-md-3">
                  <h5 class="text--600wt text--gray2 mt-2 mb-0">
                    {{ 'usuario.cargo' | translate }}
                  </h5>
                  <h4 class="text--500wt text--gray1 mt-2 mb-0">
                    {{ usuarioPermisos.title.description | translate }}
                  </h4>
                </div>
                <div class="col-md-3">
                  <h5 class="text--600wt text--gray2 mt-2 mb-0">
                    {{ 'usuario.regional' | translate }}
                  </h5>
                  <h4 class="text--500wt text--gray1 mt-2 mb-0">
                    {{ usuarioPermisos.regional.description | emptyPipe }}
                  </h4>
                </div>
                <div class="col-md-3">
                  <h5 class="text--600wt text--gray2 mt-2 mb-0">
                    {{ 'usuario.lugarTrabajo' | translate }}
                  </h5>
                  <h4 class="text--500wt text--gray1 mt-2 mb-0">
                    {{ usuarioPermisos.location.description | emptyPipe }}
                  </h4>
                </div>
                <div class="col-md-3">
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <app-mim-grid [configuracion]="configuracion.gridPermisosEspeciales" (clickCelda)="_onClick($event)">
        </app-mim-grid>
      </div>
    </div>
  </div>
</div>
