<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  [ngClass]="{ 'win-show': _show }">
  <div class="win-modal"></div>
  <div class="modal-dialog modal-dialog-100w modal-dialog-centered" role="document"
    [ngClass]="configuracion.css ? this.configuracion.css : ''" [ngStyle]="{ 'max-width': configuracion.width }">
    <div class="modal-content" (click)="_clickNoModal($event)">
      <div class="modal-header">
        <h5 *ngIf="configuracion.iconCss" class="my-0 text--gray2 text--600wt d-block text--tittle_circle text--tittle_circle-xl
         danger">
          <span [ngClass]="configuracion.iconCss"></span>
        </h5>
        <h5 class="modal-title" id="exampleModalLabel">
          {{ configuracion.titulo | translate }}
        </h5>
        <button *ngIf="!configuracion.ocultaBtnCerrar" type="button" class="close" data-dismiss="modal"
          aria-label="Close" (click)="_clickBtnClose()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body max-heigth overflow-auto">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer" *ngIf="configuracion.buttons && configuracion.buttons.length > 0">
        <div *ngFor="let btn of configuracion.buttons">
          <button *ngIf="configuracion.buttons" type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="_clickBtn(btn)">
            {{ btn.label | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
