<div class="col-md-12 w-100">
    <h1 class="my-3 pl-4 pb-3">
        {{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.titulo' | translate }}
    </h1>
</div>

<div class="col-md-12">
    <div class="mt-3 px-4 pb-5 mb-4">
        <div *ngIf="esDistribucion">
            <p class="text--15pts text--gray1 mb-1">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.factoresDistribucion' | translate}} </p>
            <p class="text--15pts text--gray1 mb-1">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.FechaInicioFinVigencia' | translate}}: {{fechaInicioFinVigencia}}</p>
        </div>
        <div *ngIf="!esDistribucion">
            <p class="text--15pts text--gray1 mb-1">{{ 'administracion.actuaria.cargueMasivoFactores.detalleContribucion.factoresContribucion' | translate}} </p>
            <p class="text--15pts text--gray1 mb-1">{{ 'administracion.actuaria.cargueMasivoFactores.detalleContribucion.FechaInicioFinVigencia' | translate}}: {{fechaInicioFinVigencia}}</p>
        </div>

        <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">
        <p-table [value]="_datos" dataKey="codigo" editMode="row" class="grid-table" *ngIf="!esDistribucion">

            <ng-template pTemplate="caption">
                <div class="d-flex flex-row">
                  <div class="justify-content-end w-100">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination nav--pagination my-0 align-items-center justify-content-end">
                        <!-- Muestra el numero de registro y la cantidad que esta mostrado -->
                        <h4 class="text--gray1 text--500wt my-0 mr-3">
                          {{ this._regVisto }}
                          de
                          {{ _totalRegistros }}
                          resultados
                        </h4>
                        <!-- Boton inicio -->
                        <li class="page-item">
                          <a aria-label="Previous" class="page-link" (click)="_onClickInicio()"><span aria-hidden="true">
                              <span class="page-arrows icon-chevrons-left"></span></span><span class="sr-only">Previous</span></a>
                        </li>
                        <!-- Boton anterior -->
                        <li class="page-item">
                          <a aria-label="Previous" class="page-link" (click)="_onClickAtras()"><span aria-hidden="true"><span
                                class="page-arrows icon-chevron-left-2"></span></span><span class="sr-only">Previous</span></a>
                        </li>
                        <!-- Nmero a mostrar -->
                        <li class="page-item">
                          <a class="page-link">{{ _paginas + 1 }}</a>
                        </li>
                        <!-- Boton siguiente -->
                        <li class="page-item">
                          <a aria-label="Next" class="page-link" (click)="_onClickSiguiente()"><span aria-hidden="true"><span
                                class="page-arrows icon-chevron-right-2"></span></span><span class="sr-only">Next</span></a>
                        </li>
                        <!-- Boton final -->
                        <li class="page-item">
                          <a aria-label="Next" class="page-link" (click)="_onClickFin()"><span aria-hidden="true">
                              <span class="page-arrows icon-chevrons-right"></span></span><span class="sr-only">Next</span></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>


              </ng-template>

            <ng-template pTemplate="header">
                <tr class="grid-head-columns grid-head-column text-uppercase">
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleContribucion.grid.edad' | translate }}</th>
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleContribucion.grid.genero' | translate }}</th>
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleContribucion.grid.factor' | translate }}</th>
                    <th scope="col" class="acciones">{{ 'administracion.actuaria.cargueMasivoFactores.detalleContribucion.grid.acciones' | translate }}</th>
                </tr>
                <tr class="grid-filter-column">
                    <th id="">
                      <input class="grid-filter-column-input" name="edad" pInputText type="text"
                        (input)="_filterTable($event)" />
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr class="grid-space-row"><!-- Espacio en transparente --></tr>
                <tr [pEditableRow]="rowData" class="grid-body-column ng-star-inserted">
                    <td>{{rowData.edad}}</td>
                    <td>{{rowData.mimGenero.nombreCorto}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div class="form-group has-warning has-feedback">
                                    <input class="form-control is--warning" pInputText type="text" appMimInputDecimal="3,3"  formControlName="{{rowData.codigo}}">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.factor}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center" class="d-flex flex-row px-1">
                        <button *ngIf="!editing" type="button" [disabled]="!enProceso" pInitEditableRow class="btn btn--icon bg--blue2 mx-auto">
                            <span class="icon-edit-3 text--blue1"></span>
                        </button>
                        <button *ngIf="editing" type="button" [disabled]="!enProceso" pSaveEditableRow class="btn btn--icon bg--blue2 mx-auto" style="margin-right: .5em" (click)="onRowEditSave(rowData)">
                            <span class="icon-save text--blue1"></span>
                        </button>
                        <button *ngIf="editing" type="button" [disabled]="!enProceso" pCancelEditableRow class="btn btn--icon bg--red2 mx-auto" (click)="onRowEditCancel(rowData, ri)">
                            <span class="icon-cross text--red1"></span>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


        <p-table [value]="_datos" class="grid-table" dataKey="codigo" editMode="row"  *ngIf="esDistribucion">

            <ng-template pTemplate="caption">
                <div class="d-flex flex-row">
                  <div class="justify-content-end w-100" >
                    <nav aria-label="Page navigation example">
                      <ul class="pagination nav--pagination my-0 align-items-center justify-content-end">
                        <h4 class="text--gray1 text--500wt my-0 mr-3">
                          {{ this._regVisto }}
                          de
                          {{ _totalRegistros }}
                          resultados
                        </h4>
                        <li class="page-item">
                          <a aria-label="Previous" class="page-link" (click)="_onClickInicio()"><span aria-hidden="true">
                              <span class="page-arrows icon-chevrons-left"></span></span><span class="sr-only">Previous</span></a>
                        </li>
                        <li class="page-item">
                          <a aria-label="Previous" class="page-link" (click)="_onClickAtras()"><span aria-hidden="true"><span
                                class="page-arrows icon-chevron-left-2"></span></span><span class="sr-only">Previous</span></a>
                        </li>
                        <li class="page-item">
                          <a class="page-link">{{ _paginas + 1 }}</a>
                        </li>
                        <li class="page-item">
                          <a aria-label="Next" class="page-link" (click)="_onClickSiguiente()"><span aria-hidden="true"><span
                                class="page-arrows icon-chevron-right-2"></span></span><span class="sr-only">Next</span></a>
                        </li>
                        <li class="page-item">
                          <a aria-label="Next" class="page-link" (click)="_onClickFin()"><span aria-hidden="true">
                              <span class="page-arrows icon-chevrons-right"></span></span><span class="sr-only">Next</span></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>


              </ng-template>

            <ng-template pTemplate="header">
                <tr class="grid-head-columns grid-head-column text-uppercase">
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.grid.codigo' | translate }}</th>
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.grid.descripcionConcepto' | translate }}</th>
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.grid.edad' | translate }}</th>
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.grid.genero' | translate }}</th>
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.grid.factor' | translate }}</th>
                    <th scope="col">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.grid.descripcion' | translate }}</th>
                    <th scope="col"class="acciones">{{ 'administracion.actuaria.cargueMasivoFactores.detalleDistribucion.grid.acciones' | translate }}</th>
                </tr>
                <tr class="grid-filter-column">
                    <th scope="col"></th>
                    <th scope="col">
                        <input class="grid-filter-column-input" pInputText type="text" name="descripcionConcepto"
                          (input)="_filterTable($event)" />
                    </th>
                    <th scope="col">
                      <input class="grid-filter-column-input" pInputText type="text" name="edad"
                        (input)="_filterTable($event)" />
                    </th>
                    <th scope="col">
                      <input class="grid-filter-column-input" pInputText type="text" name="genero"
                        (input)="_filterTable($event)" />
                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr class="grid-space-row"><!-- Espacio en transparente --></tr>
                <tr [pEditableRow]="rowData" class="grid-body-column ng-star-inserted">
                    <td>{{rowData.codigo}}</td>
                    <td>{{rowData.sipDistribuciones.nombre}}</td>
                    <td>{{rowData.edad}}</td>
                    <td>{{rowData.mimGenero.nombreCorto}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div class="form-group has-warning has-feedback">
                                    <input class="form-control is--warning" id="{{rowData.codigo}}" pInputText appMimInputDecimal="3,3"  type="text" formControlName="{{rowData.codigo}}" >
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.factor}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [class.text--green1]="rowData.descripcion ==='OK'"
                    [class.text--red1]="rowData.descripcion ==='Error' ">{{rowData.descripcion}}</td>
                    <td style="text-align:center" class="d-flex flex-row px-1">
                        <button *ngIf="!editing" type="button" [disabled]="!enProceso" pInitEditableRow class="btn btn--icon bg--blue2 mx-auto">
                            <span class="icon-edit-3 text--blue1"></span>
                        </button>
                        <button *ngIf="editing" type="button" [disabled]="!enProceso" pSaveEditableRow class="btn btn--icon bg--blue2 mx-auto" style="margin-right: .5em" (click)="onRowEditSave(rowData)">
                            <span class="icon-save text--blue1"></span>
                        </button>
                        <button *ngIf="editing" type="button" [disabled]="!enProceso" pCancelEditableRow class="btn btn--icon bg--red2 mx-auto" (click)="onRowEditCancel(rowData, ri)">
                            <span class="icon-cross text--red1"></span>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </form>

    </div>
</div>

<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
    <div class="card-body py-2">
        <div class="row mx-0 w-10 justify-content-end align-items-center">
            <!-- Botones -->
            <div class="col-xl-12">
                <div class="d-flex flex-row-reverse">

                    <button class="btn btn--orange1 btn--md" *ngIf="esDistribucion" (click)="guardarDistribucion()">
                        <span class="icon-plus mr-2"></span>
                        {{ 'global.save' | translate }}
                    </button>
                    <button type="button" class="btn btn--border_green1 btn--md mr-3" (click)="_onClickExportarExcel()">
                        <span class="icon-download-2 mr-2"></span>
                        {{ 'administracion.actuaria.cargueMasivoFactores.botnDescargar' | translate }}
                    </button>
                    <p class="text-left mr-2 posicionBtnAtras">
                        <a class="btn btn--circle justify-content-start" (click)="irAConfiguracion()">
                          <span class="icon-arrow-thin-left mr-2"></span>
                          Regresar a configuración
                        </a>
                      </p>
                </div>
            </div>
        </div>
    </div>
</div>
