<div class="row mx-0 w-100 margin--top--menos pl-xl-0 pl-md-4">
    <div class="col-3 position-boton-atras">
        <!-- Boton atras -->
        <p class="text-left mr-3">
            <a class="btn btn--circle justify-content-start" (click)="irAtras()">
                <span class="icon-arrow-thin-left mr-2"></span>
                {{ 'global.back' | translate }}
            </a>
        </p>
    </div>
    <div class="col-12">
        <div class="row">

            <!-- Titulo -->
            <h1 class="mt-2">{{ 'beneficiarios.actualizar.titulo' | translate }}</h1>
        </div>

        <!--Detalle del asociado-->
        <div class="row pt-1 pb-4 mr-1">
            <div class="card cards--headerFooter w-100">
                <div class="card--header">
                    <div class="row mx-0 w100 align-items-center">
                        <div class="col-md-1">
                            <span
                                class="icon--circle icon--circle_lg bg--orange1 rounded-circle text--white d-flex align-items-center justify-content-center">
                                <span class="icon-user text--36pts">
                                </span>
                            </span>
                        </div>
                        <div class="col-md-11 pl-4">
                            <div class="row mx-0 w-100 mt-3 d-flex align-items-center">
                                <div class="col-md-3 px-0 form-group">
                                    <h5 class="text--600wt text--gray2">
                                        {{ 'beneficiarios.actualizar.detalle.tipoIdentificacion' | translate }}:
                                    </h5>
                                    <h5 class="text--500wt text--gray1">
                                        {{ datosAsociados.benDesCorTipIden }}
                                    </h5>
                                </div>
                                <div class="col-md-3 px-0 form-group">
                                    <h5 class="text--600wt text--gray2">
                                        {{ 'beneficiarios.actualizar.detalle.NoIdentificacion' | translate }}:
                                    </h5>
                                    <h5 class="text--500wt text--gray1">
                                        {{ datosAsociados.benNumIdentificacion }}
                                    </h5>
                                </div>
                                <div class="col-md-4 px-0 form-group">
                                    <h5 class="text--600wt text--gray2">
                                        {{ 'beneficiarios.actualizar.detalle.nombreCompleto' | translate }}:
                                    </h5>
                                    <h5 class="text--500wt text--gray1">
                                        {{ datosAsociados.benNomCompleto }}
                                    </h5>
                                </div>
                                <div class="col-md-2 px-0 form-group">
                                    <h5 class="text--600wt text--gray2">
                                        {{ 'beneficiarios.actualizar.detalle.edad' | translate }}:
                                    </h5>
                                    <h5 class="text--500wt text--gray1">
                                        {{ datosAsociados.benEdad }}
                                    </h5>
                                </div>
                                <div class="col-md-3 px-0 form-group">
                                    <h5 class="text--600wt text--gray2">
                                        {{ 'beneficiarios.actualizar.detalle.fechaNacimiento' | translate }}:
                                    </h5>
                                    <h5 class="text--500wt text--gray1">
                                        {{ datosAsociados.benFecNac }}
                                    </h5>
                                </div>
                                <div class="col-md-6 px-0">
                                    <form class="form--default w-100" [formGroup]="isForm"
                                        *ngIf="isForm | async as isForm;">
                                        <div class="form-group row">
                                            <h5 class="col-sm-6 text--600wt text--gray2">Nueva fecha de nacimiento
                                            </h5>
                                            <div class="col-sm-6 px-0">
                                                <div class="input-group" appMimInput [for]="'fechaNacimientoActualizar'"
                                                    [controlName]="'fechaNacimientoActualizar'"
                                                    [ngClass]="{'border--red1': errorCambioFechaNacimiento}">
                                                    <app-mim-date-picker class="w-100"
                                                        [inputId]="'fechaNacimientoActualizar'"
                                                        formControlName="fechaNacimientoActualizar" ngDefaultControl>
                                                    </app-mim-date-picker>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin detalle del asociado-->

        <h1 class="row">{{ 'beneficiarios.actualizar.subTitulo' | translate }}</h1>
        <div class="row margin--top--grid--menos">

            <div class="col-12 pl-0">
                <app-mim-grid [configuracion]="configuracion.gridRelacionado" (atras)="onAtras($event)"
                    (siguiente)="onSiguiente($event)"></app-mim-grid>
            </div>
        </div>
    </div>
</div>
<!--Controles -->
<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta">
    <div class="card-body">
        <div class="row mx-0 w-10 justify-content-end align-items-center">
            <!-- Botones -->
            <div class="col-xl-12 mb-2">
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="onLimpiar()">
                        <span class="icon-trash-3 mr-2"></span>
                        {{ 'global.limpiar' | translate }}
                    </button>
                    <button [disabled]="estadoRegistrar" class="btn btn--orange1 btn--md mr-2"
                        (click)="previsualizarActualizarFechaNacimiento(true)">
                        <span class="icon-edit-3 mr-2"></span>
                        {{ 'global.registrar' | translate }}
                    </button>
                    <button class="btn btn--orange1 btn--md mr-2" (click)="previsualizarActualizarFechaNacimiento()">
                        <span class="icon-preview mr-2"></span>
                        {{ 'global.previsualizar' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>