<div class="col-md-12">
    <div class="mx-0 w-100 d-flex bd-highligh pb-2">
        <!-- Titulo -->
        <div class="flex-grow-1">
            <h1 class="my-0">
                {{ 'asociado.protecciones.portafolio.titulo' | translate }}
            </h1>
        </div>
        <!-- Registrar proteccion -->
        <button class="btn btn--orange1 btn--md" [routerLink]="linkMovimiento">
            <span class="icon-plus mr-2"></span>
            {{ 'asociado.protecciones.portafolio.gestionar' | translate }}
        </button>
    </div>
</div>

<!-- Acumulados. -->
<div class="col-md-12">
    <div class="card border-0">
        <div class="row mx-0 w-100 my-2">
            <div class="col-3">
                <div class="media sidebar--media_portafolio pr-3 py-2">
                    <span class="my-0 text--blue1 pr-2">
                        <span class="icon-Vida figure"></span>
                    </span>
                    <div class="media-body">
                        <h5 class="my-0 text--18pts text--600wt text--gray2">
                            {{ 'asociado.protecciones.portafolio.acumVida' | translate }}
                        </h5>
                        <h5 class="my-0 text--18pts text--400wt text--gray2">
                            {{ datosAsociado?.proAcuVida | customCurrency | emptyPipe }}
                        </h5>
                    </div>

                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="media sidebar--media_portafolio  pl-2 pr-3 py-2">
                    <span class="my-0 text--green2  pr-2">
                        <span class="icon-Perseverancia figure"></span>
                    </span>
                    <div class="media-body">
                        <h5 class="my-0 text--18pts text--600wt text--gray2">
                            {{ 'asociado.protecciones.portafolio.acumPerseverancia' | translate }}
                        </h5>
                        <h5 class="my-0 text--18pts text--400wt text--gray2">
                            {{ datosAsociado?.proAcuPersevenrancia | customCurrency | emptyPipe }}
                        </h5>
                    </div>

                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="media sidebar--media_portafolio  pl-2 pr-3 py-2">
                    <span class="my-0 pr-2 text--yellow1">
                        <span class="icon-Renta-diaria figure"></span>
                    </span>
                    <div class="media-body">
                        <h5 class="my-0 text--18pts text--600wt text--gray2">
                            {{ 'asociado.protecciones.portafolio.acumIncTemporal' | translate }}
                        </h5>
                        <h5 class="my-0 text--18pts text--400wt text--gray2">
                            {{ datosAsociado?.proAcuRenta | customCurrency | emptyPipe }}
                        </h5>
                    </div>

                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="media sidebar--media_portafolio pl-2 pr-3 py-2">
                    <span class="my-0 text--green1 pr-2">
                        <span class="icon-money figure"></span>
                    </span>
                    <div class="media-body">
                        <h5 class="my-0 text--18pts text--600wt text--gray2">
                            {{ 'asociado.protecciones.portafolio.acumMaximoTotal' | translate }}
                        </h5>
                        <h5 class="my-0 text--18pts text--400wt text--gray2">
                            {{ datosAsociado?.proAcuTotal | customCurrency | emptyPipe }}
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mx-0 w-100 mt-3">
    <div class="col-12">
        <ul class="w-100 nav nav-tabs tabs border-0">
            <li class="nav-item">
                <button class="nav-link active pt-3 border-0 bg_buttom_tab" href="#"
                    (click)="listarPlanCobertura(true)">
                    <h3 [className]="mostrarListaPlanCobertura ? 'text--orange1 mb-0' : 'text--gray2 mb-0'">
                        <span class="icon-file-minus mr-2"></span>
                        {{'asociado.protecciones.portafolio.planes.titulo' | translate}}
                        <div class="w-100 pt-1" [class.active_border_bottom]="mostrarListaPlanCobertura"></div>
                    </h3>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link active pt-3 border-0 bg_buttom_tab" (click)="listarPlanCobertura(false)">
                    <h3 [className]="!mostrarListaPlanCobertura ? 'text--orange1 mb-0' : 'text--gray2 mb-0'">
                        <span class="icon-file-text mr-2"></span>
                        {{'asociado.protecciones.portafolio.cobertura.titulo' | translate}}
                        <div class="w-100 pt-1" [class.active_border_bottom]="!mostrarListaPlanCobertura"></div>
                    </h3>
                </button>
            </li>

        </ul>

        <div class="w-100 pb-3">

            <div class="card px-3 pb-3 border-0" *ngIf="mostrarListaPlanCobertura">
                <app-mim-grid [configuracion]="configuracion.gridConfig"
                    (clickCeldaElement)="clicDetalle($event)">
                </app-mim-grid>
            </div>
            <div class="card px-3 pb-3 border-0" *ngIf="!mostrarListaPlanCobertura">
                <app-mim-grid [configuracion]="configuracion.gridConfigCobertura"
                    (clickCeldaElement)="clickCeldaProteccion($event)">
                </app-mim-grid>
            </div>

            <!-- Filtro por estado -->
            <div class="d-flex pt-3 pl-3 d-flex justify-content-start posicion_filtro_estado">
                <!-- Buscador -->
                <form [formGroup]="form" class="form-inline pr-3" *ngIf="isForm | async as isForm">
                    <input class="form-control" type="search" appMimInput [for]="'buscar'" [controlName]="'buscar'"
                        [minLength]="3" (input)="getFiltro($event)" placeholder="Buscar" aria-label="Buscar">

                    <div class="form--default pl-3">
                        <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
                            <label class="switch my-0">
                                <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point"
                                    [controlName]="'estado'" />
                                <span class="slider round"></span>
                            </label>
                            <span class="text--13pts text--600wt text--gray2 col">
                                {{ 'global.mostrarActivos' | translate }}
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="loader--componet" *ngIf="mostrarLoader">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <div id="bloquear" style="height: 100%;"></div>
                    <div class="spinner-grow text--green1" role="status" style="z-index: 3;">
                        <span class="sr-only"></span>
                    </div>
                    <h2 class="pl-3 pt-2 font-weight-bold" style="z-index: 3;">Cargando...</h2>
                </div>
            </div>
        </div>

    </div>



</div>

<!-- Footer -->
<div class="card cards--footer border-0 rounded-0" *ngIf="mostrarTotal">
    <div class="card-body py-2">
        <div class="col-11 offset-1 col-xl-12 offset-xl-0">
            <!-- SUMATORIA -->
            <div class="mx-0 w-100 row justify-content-between align-items-center">
                <div class="col-8">
                    <div class="alert panel--alert p-0 m-0" role="alert">
                        <h5 class="my-0 text--gray2 text--600wt d-inline-flex align-items-center text--tittle_circle">
                            <span class="icon-check bg--green2 mr-3 text--26pts"></span>
                            <section *ngIf="mostrarListaPlanCobertura">
                                {{
                                    'asociado.protecciones.sumatoriaProteccionesMensaje' | translate
                                }}
                            </section>
                            <section *ngIf="!mostrarListaPlanCobertura">
                                {{
                                    'asociado.protecciones.sumatoriaCoberturasMensaje' | translate
                                }}
                            </section>
                        </h5>
                    </div>
                </div>
                <div class="col-4 px-0">
                    <div class="mx-0 row w-100">
                        <div class="col-7 border-right">
                            <h3 class="mt-2 mb-0 text--13pts text--600wt text--gray2 text-center">
                                {{'asociado.protecciones.portafolio.totalProductos' | translate}}
                            </h3>
                            <h2 class="my-0 text--18pts text--500wt text--gray1 text-center"
                                *ngIf="mostrarListaPlanCobertura">
                                {{ totalProductosPlan | customCurrency | emptyPipe }}
                            </h2>
                            <h2 class="my-0 text--18pts text--500wt text--gray1 text-center"
                                *ngIf="!mostrarListaPlanCobertura">
                                {{ totalProductosCobertura | customCurrency | emptyPipe }}
                            </h2>
                        </div>
                        <div class="col-5">
                            <h3 class="mt-2 mb-0 text--13pts text--600wt text--gray2 text-center">
                                {{'asociado.protecciones.portafolio.totalCuotas' | translate}}
                            </h3>
                            <h2 class="my-0 text--18pts text--500wt text--gray1 text-center"
                                *ngIf="mostrarListaPlanCobertura">
                                {{ totalCuotaPlan | customCurrency | emptyPipe }}
                            </h2>
                            <h2 class="my-0 text--18pts text--500wt text--gray1 text-center"
                                *ngIf="!mostrarListaPlanCobertura">
                                {{ totalCuotaCobertura | customCurrency | emptyPipe }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="sidebar--slide sidebar--slide_right d-flex align-items-center" [ngClass]="{ open: mostrarModal == true }"
    *ngIf="mostrarModal">
    <div class="row mx-0 w-100 justify-content-center">
        <div class="modal-dialog-scrollable">
            <div class="card  bg--white">
                <div class="posicionBtnCerrar">
                    <button class="btn btn--circle btn--circle_green p-0 border--btn" (click)="cerrarModal()">
                        <span class="icon-cross"></span>
                    </button>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div class="p-2 w-100">
                            <h2 class="text--gray1 text--500wt">
                                <span
                                    [className]="sePersevera == 'Si' ? 'icon-trophy text-warning mr-2' : 'icon-cogs text--gray2'"
                                    class="icon-cogs "></span> Fecha perseverancia: {{tituloModal}}
                                <span class="pl-5">Perseverado: {{sePersevera}}</span>
                            </h2>
                        </div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="justify-content-end w-100">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination nav--pagination my-0 align-items-center justify-content-end">
                                    <h4 class="text--gray1 text--500wt my-0 mr-3">
                                        {{ this.regVisto }}
                                        de
                                        {{ totalRegistros }}
                                        resultados
                                    </h4>
                                    <li class="page-item">
                                        <a aria-label="Previous" class="page-link" (click)="clickInicio()"><span
                                                aria-hidden="true">
                                                <span class="page-arrows icon-chevrons-left"></span></span><span
                                                class="sr-only">Previous</span></a>
                                    </li>
                                    <li class="page-item">
                                        <a aria-label="Previous" class="page-link" (click)="clickAtras()"><span
                                                aria-hidden="true"><span
                                                    class="page-arrows icon-chevron-left-2"></span></span><span
                                                class="sr-only">Previous</span></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">{{ paginas + 1 }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a aria-label="Next" class="page-link" (click)="clickSiguiente()"><span
                                                aria-hidden="true"><span
                                                    class="page-arrows icon-chevron-right-2"></span></span><span
                                                class="sr-only">Next</span></a>
                                    </li>
                                    <li class="page-item">
                                        <a aria-label="Next" class="page-link" (click)="clickFin()"><span
                                                aria-hidden="true">
                                                <span class="page-arrows icon-chevrons-right"></span></span><span
                                                class="sr-only">Next</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="table-responsive pt-2">
                        <table class="table table--default table--default_animation my-0">
                            <thead class="">
                                <tr>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{'asociado.protecciones.portafolio.cobertura.grid.cobertura' | translate}}
                                    </th>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{ 'asociado.protecciones.portafolio.cobertura.grid.proteccion' | translate}}
                                    </th>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{ 'asociado.protecciones.portafolio.cobertura.grid.cuota' | translate}}
                                    </th>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{ 'asociado.protecciones.portafolio.cobertura.grid.factor' | translate}}
                                    </th>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{ 'asociado.protecciones.portafolio.cobertura.grid.edad' | translate}}
                                    </th>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{ 'asociado.protecciones.portafolio.cobertura.grid.estado' | translate}}
                                    </th>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{ 'asociado.protecciones.portafolio.cobertura.grid.aprobacion' | translate}}
                                    </th>
                                    <th class="border-top-0 border-bottom-0 text-left" scope="col">
                                        {{ 'asociado.protecciones.portafolio.cobertura.grid.detalle' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of datosDetalleModal">
                                    <td class="py-0 border-bottom rounded-0"> {{item.nombre}} </td>
                                    <td class="py-0 border-bottom rounded-0">{{ item.proteccion | customCurrency | emptyPipe }} </td>
                                    <td class="py-0 border-bottom rounded-0">{{item.cuota | customCurrency | emptyPipe }}</td>
                                    <td class="py-0 border-bottom rounded-0">{{item.factor}}</td>
                                    <td class="py-0 border-bottom rounded-0">{{item.edad}}</td>
                                    <td class="py-0 border-bottom rounded-0">{{item.estadoProteccion}}</td>
                                    <td class="py-0 border-bottom rounded-0">{{item.fechaAprobacion}}</td>
                                    <td class="py-0 border-bottom rounded-0">
                                        <a class="btn btn--icon bg--blue2" href="#">
                                            <span class="icon-external-link text--blue1"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>