<div class="row mx-0 w-100 align-items-center">
  <!-- Titulo -->
  <div class="col-md-12">
    <h1 class="my-0">{{ 'asociado.preexistencias.preexistencias' | translate }}</h1>
  </div>
</div>
<div class="row mx-0 w-100 mt-4">
  <div class="col-md-12">
    <!-- Grilla de preexistencias -->
    <div class="panel--gray panel-grid pt-2">
      <app-mim-grid [configuracion]="configuracion.gridPreexistencias" (atras)="_OnAtras($event)"
        (siguiente)="_OnSiguiente($event)" (clickCelda)="_OnClickCelda($event)">
      </app-mim-grid>
    </div>

    <!-- Footer de la tabla -->
    <div class="card-footer border bg--white py-3 mb-3 rounded">
      <h2 class="text--500wt text--gray2 my-0 text-right">{{ 'asociado.preexistencias.calificacionTotal' | translate }}:
        <span class="text--green1">
          {{ preexistencias?.additionalAttributes?.calificacion | number:'1.0-2' | emptyPipe }}
        </span></h2>
    </div>

    <!-- Footer de preexistencias -->
    <div class="card cards--footer border-0 rounded-0 ">
      <div class="card-body p-2">
        <div class="col-11 offset-1 col-xl-12 offset-xl-0">
          <div class="row mx-0 w-10 justify-content-end align-items-center">
            <div class="col-xl-9">
              <!-- Agregar nueva preexistencia -->
              <div class="mx-0 w-100 row justify-content-end align-items-center">
                <!-- IMC -->
                <div class="col-3">
                  <div class="row mx-0 w-100 align-items-center justify-content-end">
                    <div class="col-3">
                      <h5 class="text--tittle_circle my-0">
                        <span class="icon-scale-2 bg--green1 text--26pts"></span>
                      </h5>
                    </div>
                    <div class="col-5 border-right ">
                      <h6 class="text--600wt text--gray2 my-0">{{ 'asociado.preexistencias.imc' | translate }}</h6>
                      <h2 class="text--500wt text--gray1 my-0">
                        {{ preexistencias?.additionalAttributes?.imc | number:'1.0-2' | emptyPipe }}
                      </h2>
                    </div>
                  </div>
                </div>
                <!-- Añadir preexistencia y Actualizar IMC -->
                <div class="col-3">
                  <button type="submit" class="btn btn--orange1 btn--md w-100" (click)="_onActualizarMasaCorporal()">
                    <span class="icon-plus mr-2"></span>
                    {{ 'asociado.preexistencias.actualizar.actualizarImc' | translate }}
                  </button>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn--orange1 btn--md w-100" (click)="_onAgregarPreexistencia()"
                    [disabled]="!tienePermisos('MM_AGREGAR')">
                    <span class="icon-plus mr-2"></span>
                    {{ 'global.add' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Panel de actualizacion IMC -->
<app-actualizar-imc *ngIf="_asoNumInt" [asoNumInt]="_asoNumInt"
(saveImc)="_onSavePreexistencia($event)"></app-actualizar-imc>

<!-- Panel de ingreso preexistencia -->
<app-ingresar-preexistencia *ngIf="_asoNumInt" [asoNumInt]="_asoNumInt"
  (savePreexistencia)="_onSavePreexistencia($event)"></app-ingresar-preexistencia>

