.plan-width100 {
  width: 100%;
}
.text--tittle_statusPlan span {
  min-height: 13px !important;
  min-width: 13px !important;
  max-height: 13px !important;
  max-width: 13px !important;
}
.additional-data {
  border-bottom: 1px solid #d6dbe0;
  padding: 10px 20px 6px 20px;
  margin: -18px;
  margin-bottom: 20px;
  background: #f6f6f6;
}
