<div class="sidebar--slide sidebar--slide_right" [ngClass]="{'open':showPanelDetalleMora}"
  *ngIf="builded | async as builded">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-lg-4 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0">
                {{ 'asociado.facturacion.solidaridad.detalle.title' | translate }}
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_OnClose()">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body overflow-y-scroll">
          <!-- Tabla de Detalle Recaudo -->
          <div class="panel--gray panel-grid pt-2">
            <app-mim-grid [configuracion]="configuracion.gridSolidaridadDetalle">
            </app-mim-grid>
          </div>
        </div>
        <div class="card-footer">
          <!-- Total de Detalle -->
          <div class="d-flex justify-content-end">
            <div>
              <h3 class="my text--13pts text--600wt text--gray2 text-center">
                {{ 'asociado.facturacion.solidaridad.detalle.totalMora' | translate }}
              </h3>
              <h2 class="my text--18pts text--500wt text--gray1 text-center">
                {{ _totalMora | customCurrency}}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
