<div class="col-12 col-xl-12 py-3 d-block px-0">

  <div class="row mx-0 w-100 align-items-center">
    <div class="col-md-12">
      <h1 class="my-0 pl-5">
        {{ 'administracion.cargueMasivo.cargarArchivos' | translate }}
      </h1>
    </div>
  </div>

  <!-- Tabla -->
  <div class="col-md-12 w-100 pt-2 pb-5 mb-5">
    <div class="card bg--white border-0 rounded-0 p-3">
      <form class="form--default col-md-12 w-100" [formGroup]="formBuscar" *ngIf="isFormBuscar | async as isFormBuscar">
        <div class="row" style="margin-bottom: -30px;">
          <div class="col-md-12">
            <div class="row">
              <!-- fecha inicio -->
              <div class="col-sm-4 col-md-4">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicio">
                    {{ 'administracion.cargueMasivo.filtros.fechaInicio' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'fechaInicio'" [controlName]="'fechaInicio'">
                      <app-mim-date-picker class="w-100" [inputId]="'fechaInicio'" formControlName="fechaInicio"
                        [selectionMode]="'range'" ngDefaultControl [maxDate]="maxDateValue">
                      </app-mim-date-picker>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Codigo cargue -->
              <div class="col-sm-3 col-md-3">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="codigoCargue" class="col-sm-12 col-form-label">
                    {{ 'administracion.cargueMasivo.filtros.codigoCargue' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'codigoCargue'" [controlName]="'codigoCargue'">
                      <input type="text" class="form-control" id="codigoCargue" min="1" formControlName="codigoCargue"
                        name="codigoCargue" mask="09999999" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="codigoCargue" errorKey="minlength">
                    {{ 'global.minCaracteres' | translate 
                    :{ campo: 'administracion.cargueMasivo.filtros.codigoCargue' | translate, min: '4' | translate }
                }}
                  </app-mim-input-error>
                </div>
              </div>
              <div class="row col-md-3">
                <div class="col-md-6 pr-0">
                  <button type="submit" class="btn btn--green1 btn--md col-md-12 mt-4" (click)="buscar()">
                    {{ 'global.search' | translate }}
                  </button>
                </div>
                <div class="col-md-6 pr-0">
                  <button type="submit" class="btn btn--border_green1 btn--md col-md-12 mt-4" (click)="_limpiar()">
                    {{ 'global.limpiar' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>



        </div>
      </form>

      <div class="col-md-12 pb-4">
        <app-mim-grid [configuracion]="configuracion.gridConfig" (clickCeldaElement)="_onClickCeldaElement($event)"
          (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)" (ordenar)="_ordenar($event)">
        </app-mim-grid>
      </div>

    </div>

  </div>
  <!--fin de la tabla-->
</div>

<!-- Inicio cargue masivo -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarActivarCargar == true }"
  *ngIf="mostrarActivarCargar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0">
                {{ 'administracion.cargueMasivo.cargueMasivoTitulo' | translate }}
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar2(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>

        <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">
          <div class="card-body pb-0">
            <div class="row mx-0">
              <!-- Tipo de archivo -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="tipoArchivo" class="col-sm-12 col-form-label">
                    {{ 'administracion.cargueMasivo.TipoArchivo' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'tipoArchivo'" [controlName]="'tipoArchivo'">
                      <app-mim-select class="w-100" [inputId]="'tipoArchivo'" [options]="tipoArchivos"
                        formControlName="tipoArchivo" [optionKey]="'nombre'" name="'tipoArchivo'" ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="tipoArchivo" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.cargueMasivo.TipoArchivo' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>


              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel class="col-sm-12 col-form-label" for="proceso">
                    {{ 'administracion.cargueMasivo.proceso' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'proceso'" [controlName]="'proceso'">
                      <app-mim-select class="w-100" [inputId]="'proceso'" [options]="procesos" [optionKey]="'nombre'"
                        name="'proceso'" formControlName="proceso" ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 w-100 px-sm-1 px-xl-3 pb-4">
                <div class="d-flex bd-highlight">
                  <div class="mr-auto bd-highlight">
                    <button type="button" class="btn btn--border_green1 btn--md" (click)="descargarDocumento()"
                      [disabled]="cargarDocumento">
                      <span class="icon-download-2 mr-2"></span>
                      {{ 'administracion.cargueMasivo.descargarFormato' | translate }}
                    </button>
                  </div>
                </div>
              </div>


              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="archivo" class="col-sm-12 col-form-label">
                    {{ 'administracion.cargueMasivo.SeleccionaArchivo' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="custom-file" appMimInput [for]="'archivo'" [controlName]="'archivo'">
                      <input type="file" class="custom-file-input" id="archivo" (change)="uploadFile($event)"
                        [disabled]="cargarDocumento" formControlName="archivo">
                      <label class="custom-file-label" [for]="'archivo'">{{nombreDocumento}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 w-100 px-sm-1 px-xl-3">
                <div class="d-flex bd-highlight">
                  <div class="bd-highlight">
                    <button type="submit" class="btn btn--orange1 btn--md" (click)="_cargar()"
                      [disabled]="estadoProcesar">
                      <span class="icon-checkmark mr-2"></span>
                      {{ 'administracion.cargueMasivo.procesar' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
<!-- Fin crear cargue masivo. -->

<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
  <div class="card-body py-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <!-- Botones -->
      <div class="col-xl-12">
        <div class="d-flex flex-row-reverse">
          <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar2(true)">
            <span class="icon-plus mr-2"></span>
            {{ 'global.cargar' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>