<div class="col-md-12">
  <h1 class="my-3">
    {{ 'administracion.actuaria.titulo' | translate }}
  </h1>
</div>

<div class="col-12">
  <div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2">
    <div class="card-header py-2 " id="headingOne">
      <div class="col-md-12 mx-0 w-100 pt-2 mb-2">
        <div class="form--default">
          <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
            <span class="text--13pts text--600wt text--gray2 pr-3">
              {{ 'administracion.actuaria.requiereFactoresPlan' | translate }}
            </span>
            <label class="switch my-0">
              <input type="checkbox" [checked]="statusOpenMasive" (click)="disabledCargueMasivo($event)" class="cursor-point" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mx-0 w-100 pb-5 mb-5">
  <div class="accordion w-100">
    <!-- Inicio card Conceptos distribución-->
    <div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2">
      <div class="card-header py-2 " id="headingOne">
        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
          class="w-100 cursor-point text" (click)="dropdownOne = !dropdownOne">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-md-11 px-0 py-3">
              <div class="row mx-0 w-100 justify-content-start">
                <div class="col-md-11 px-0">
                  <h5 class="my-0 text--18pts text--medium text--gray1">
                    <span class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                      <em
                        [ngClass]="(listConceptoDistribucion)?'text--green1 icon-check-circle':'text--gray1 icon-circle'"></em>
                    </span>
                    {{ 'administracion.actuaria.conceptosDistribucion.titulo' | translate | emptyPipe }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-1 p-0">
              <div class="row justify-content-end">
                <div class="col-md-2 px-0 pt-2 pr-5 text--15pts text--green1 float-right">
                  <span [ngClass]="{'icon-chevron-up': dropdownOne, 'icon-chevron-down': !dropdownOne}"></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="collapse" aria-labelledby="headingCategoriaDetalle" [ngClass]="{ show: dropdownOne }"
        data-parent="#accordionPortafolioAsociados">
        <app-conceptos-distribucion></app-conceptos-distribucion>
      </div>
    </div>

    <!-- Inicio Cargue masivo factores-->
    <div class="cards cards--panelLeft cards--panelLeft_beneficiarios mb-2">
      <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
        <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
          aria-controls="collapsePortafolioAsociadosOne" class="w-100 cursor-point text"
          (click)="validOpenSeccion()">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-md-11 px-0 py-3">
              <div class="row mx-0 w-100 justify-content-start">
                <div class="col-md-11 px-0">
                  <h5 class="my-0 text--18pts text--medium text--gray1">
                    <span class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                      <em
                        [ngClass]="(listCargueMasivo)?'text--green1 icon-check-circle':'text--gray1 icon-circle'"></em>
                    </span>
                    {{ 'administracion.actuaria.cargueMasivoFactores.titulo' | translate | emptyPipe }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-1 p-0">
              <div class="row justify-content-end">
                <div class="col-md-2 px-0 pt-2 pr-5 text--15pts text--green1 float-right">
                  <span [ngClass]="{'icon-chevron-up': dropdownTwo, 'icon-chevron-down': !dropdownTwo}"></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="collapse" aria-labelledby="headingCategoriaDetalle" [ngClass]="{ show: dropdownTwo }"
        data-parent="#accordionPortafolioAsociados">
        <app-cargue-masivo-factores></app-cargue-masivo-factores>
      </div>
    </div>

    <div class=" cards--panelLeft cards--panelLeft_beneficiarios mb-2 mb-5">
      <div class="card-header py-2">
        <form class="form--default w-100" [formGroup]="form">
          <div class="form-group row py-2 mb-0">
            <label for="inputPassword" class="col-sm-2 col-form-label my-0 text--18pts text--medium text--gray1 pl-4">
              {{ 'administracion.actuaria.devolverA' | translate | emptyPipe }}
            </label>
            <div class="col-sm-4 px-0 border">
              <app-mim-select class="w-100" [inputId]="'devolve'" [options]="devolveList" formControlName="devolve"
                [optionKey]="'nombre'" name="'devolve'" ngDefaultControl>
              </app-mim-select>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<app-apueba-elimina [showForm]="showForm" tituloModal="{{tituloModal}}" tipoProceso="{{tipoProceso}}"
  *ngIf="isShowForm | async as isShowForm" [esDirector]="esDirectorTecnico"
  [showControlsAprobacion]="showControlsAprobacion" [observaciones]="observaciones"
  (mostrarModal)="_toggleObservaciones($event)" (apruebaRechazaSolicitud)="_apruebaRechazaSolicitud($event)"
  (datosForm)="_guardarObservacion($event)" class="w-100"></app-apueba-elimina>

<!--Controles -->
<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
  <div class="card-body py-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <!-- Botones -->
      <div class="col-xl-12">
        <div class="d-flex flex-row-reverse">
          <button type="button" class="btn btn--orange1 btn--md px-4" (click)="terminar()" *ngIf="!esDirectorTecnico"
            [disabled]="!habilitarTerminar">
            {{ 'global.ended' | translate }}
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal lateral -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarModal == true }" *ngIf="mostrarModal">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0">
                {{ 'administracion.actuaria.modalDevolver.titulo' | translate}}
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleModal()">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form--default w-100" [formGroup]="formDevolver">

            <!-- Observación -->
            <div class="form-group row align-items-center">
              <label appMimLabel for="observacion" class="col-sm-12 col-form-label">
                {{ 'administracion.actuaria.modalDevolver.observacion' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'observacion'" [controlName]="'observacion'">
                  <textarea type="text" rows="7" class="form-control" id="observacion" formControlName="observacion"
                    name="observacion" maxlength="1000" mask="a*" [patterns]="patterns" [dropSpecialCharacters]="false">
                                      </textarea>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="required">
                {{ 'global.required' | translate : { campo: 'administracion.actuaria.modalDevolver.observacion' |
                translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="observacion" errorKey="maxlength">
                {{ 'global.maxCaracteres' | translate
                :{ campo: 'administracion.actuaria.modalDevolver.observacion' | translate, max: '1000' | translate }
                }}
              </app-mim-input-error>
            </div>

            <div class="card-footer  w-100 border-0 px-0">
              <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn--orange1 btn--md" (click)="guardarDevolver()"
                  [disabled]="formDevolver.invalid">
                  <span class="icon-checkmark  mr-2"></span>
                  {{ 'global.save' | translate }}
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>