<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="_obtenerEstado()">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.titulo' |
              translate | emptyPipe }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionPortafolioAsociados">
    <div class="card-body">


      <!-- Inicio excepciones por diagnostico -->
      <fieldset class="fieldset_mm pb-3 position-relative">
        <legend class="legend_mm mb-0">
          <span class="text--16pts text--600wt">
            {{
            'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.tituloDiagnostico'
            | translate }}
          </span>
        </legend>

        <div class="row mx-0 w-100 position-relative">

          <form class="form-inline form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
            <div class="col-sm-12 col-md-4">
              <div class="form-group row align-items-center">
                <!-- numero Contribuciones máximas -->
                <label appMimLabel for="diasPagarEvento" class="col-sm-12 height_auto col-form-label">
                  {{
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.diasPagarEvento'
                  | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'diasPagarEvento'" [controlName]="'diasPagarEvento'">
                    <input type="number" class="form-control" id="diasPagarEvento" formControlName="diasPagarEvento"
                      name="diasPagarEvento" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="diasPagarEvento" errorKey="required">
                  {{ 'global.required' | translate : { campo:
                  'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.diasPagarEvento'
                  | translate } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="diasPagarEvento" errorKey="max">
                  {{ 'administracion.protecciones.planCobertura.guardar.alertas.nombreCaracteresMaxima' | translate :
                  {numero: 3} }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="diasPagarEvento" errorKey="contribucionerror">
                  {{ 'administracion.protecciones.planCobertura.guardar.alertas.maxMinContribuciion' | translate }}
                </app-mim-input-error>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <!-- Botón Guardar Contribuciones máximas -->
              <label appMimLabel class="col-sm-12 height_auto col-form-label"> &nbsp; </label>
              <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(form)"
                (click)="_guardar()">
                <span class="icon-checkmark mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </form>

          <app-excepcion-diagnostico id="excepcionDiagnostico" class="position-relative"></app-excepcion-diagnostico>
        </div>

      </fieldset>
      <!-- Fin excepciones por diagnostico -->

      <!-- Inicio condiciones a pagar por antiguedad -->
      <fieldset class="fieldset_mm pb-3 position-relative">
        <legend class="legend_mm mb-0">
          <span class="text--16pts text--600wt">
            {{
            'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.tituloAntiguedad'
            | translate }}
          </span>
        </legend>

        <div class="row mx-0 w-100">
          <app-condicion-pago-antiguedad id="condicionesAntiguedad" class="position-relative">
          </app-condicion-pago-antiguedad>
        </div>
      </fieldset>
      <!-- Fin condiciones a pagar por antiguedad -->


      <!-- Inicio sublimites por otra cobertura -->
      <fieldset class="fieldset_mm pb-3 position-relative">
        <legend class="legend_mm mb-0">
          <span class="text--16pts text--600wt">
            {{
            'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.tituloSublimiteOtraCobertura'
            | translate }}
          </span>
        </legend>

        <!--Lista Sublimite por otra cobertura-->
        <div class="row mx-0 w-100">
          <app-sublimite-otra-cobertura id="sublimiteOtraCobertura" class="position-relative">
          </app-sublimite-otra-cobertura>
        </div>

      </fieldset>
      <!-- Fin sublimites por otra cobertura -->

      <!-- Inicio condiciones a pagar por evento -->
      <fieldset class="fieldset_mm pb-3 position-relative">
        <legend class="legend_mm mb-0">
          <span class="text--16pts text--600wt">
            {{
            'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.limitacionCobertura.tituloCondicionesAPagarPorEvento'
            | translate }}
          </span>
        </legend>

        <div class="row mx-0 w-100">
          <app-condiciones-pagar-por-evento id="sublimiteOtraCobertura" class="position-relative">
          </app-condiciones-pagar-por-evento>
        </div>

      </fieldset>
        <!-- Fin condiciones a pagar por evento -->
    </div>
  </div>
</div>