<div class="row mx-0 w-100 align-items-center mb-2">
  <div class="col-md-6  pl-0">
    <h1 class="my-0">{{ configuracion.titulo }}</h1>
  </div>
</div>

<div class="gridGenerico">
  <!-- No usamos scrollable: "configuracion.scrollHorizontal" debido a que no hay compatibilidad entre
la funcion scrollable y la creacion de filtros. -->
  <!-- lazy debe compartir el mismo valor logico de customSort. Si lazy es true no funcionara la paginacion lado cliente. -->
  <p-table #dt [columns]="configuracion.columnas" [value]="_datos" [paginator]="true" [paginatorPosition]="'top'"
    [rows]="configuracion.tamano" [ngClass]="{ 'grid-scroll-x': configuracion.scrollHorizontal }" [first]="this._cant"
    class="grid-table" (onFilter)="_onFilterResultado($event)" [lazy]="configuracion.ordenamientoPersonalizado"
    (onLazyLoad)="_sortFunction($event)" [customSort]="configuracion.ordenamientoPersonalizado">
    <ng-template pTemplate="caption">
      <div class="d-flex flex-row">
        <div class="d-flex w-100" *ngIf="configuracion.habilitarSeleccionColumnas">
          <!-- TODO(alobaton): habilitar select con columnas a seleccionar-->
          <p-multiSelect class="columnas" [options]="listaNombreColumnnas" [(ngModel)]="columnasSeleccionadas"
            (onChange)="selectColumnas($event)" defaultLabel="Visualizar" [displaySelectedLabel]="false">
          </p-multiSelect>
        </div>
        <div class="justify-content-end w-100" *ngIf="configuracion.mostrarPaginador">
          <nav aria-label="Page navigation example">
            <ul class="pagination nav--pagination my-0 align-items-center justify-content-end">
              <!-- Muestra el numero de registro y la cantidad que esta mostrado -->
              <h4 class="text--gray1 text--500wt my-0 mr-3">
                {{ this._regVisto }}
                de
                {{ _totalRegistros }}
                resultados
              </h4>
              <!-- Boton inicio -->
              <li class="page-item">
                <a aria-label="Previous" class="page-link" (click)="_onClickInicio()"><span aria-hidden="true">
                    <span class="page-arrows icon-chevrons-left"></span></span><span class="sr-only">Previous</span></a>
              </li>
              <!-- Boton anterior -->
              <li class="page-item">
                <a aria-label="Previous" class="page-link" (click)="_onClickAtras()"><span aria-hidden="true"><span
                      class="page-arrows icon-chevron-left-2"></span></span><span class="sr-only">Previous</span></a>
              </li>
              <!-- Nmero a mostrar -->
              <li class="page-item">
                <a class="page-link">{{ configuracion.pagina + 1 }}</a>
              </li>
              <!-- Boton siguiente -->
              <li class="page-item">
                <a aria-label="Next" class="page-link" (click)="_onClickSiguiente()"><span aria-hidden="true"><span
                      class="page-arrows icon-chevron-right-2"></span></span><span class="sr-only">Next</span></a>
              </li>
              <!-- Boton final -->
              <li class="page-item">
                <a aria-label="Next" class="page-link" (click)="_onClickFin()"><span aria-hidden="true">
                    <span class="page-arrows icon-chevrons-right"></span></span><span class="sr-only">Next</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div *ngIf="configuracion.scrollHorizontal" class="scrollTop">
        <div class="scrollTopInterno">
        </div>
      </div>

    </ng-template>
    <!-- Grupo de columnas -->
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [ngStyle]="{ 'min-width':
            col.configCelda && col.configCelda.width
              ? col.configCelda.width + 'px'
              : undefined }" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <!-- Encabezados -->
      <tr class="grid-head-columns grid-head-column ">
        <th *ngIf="configuracion.selectMode" class="grid-check-column" id="">
          <!-- Check para seleccionar todos -->
          <form class="form--default">
            <div class="custom-control custom-checkbox custom-checkbox_box justify-content-center">
              <!-- Check -->
              <input type="checkbox" class="custom-control-input" id="checkedSelectTodos" name="customRadio"
                [(ngModel)]="configuracion.isAllSelected" (click)="selectAllRows()"
                [disabled]="configuracion.selectModeDisable" />
              <label class="custom-control-label icon-" for="checkedSelectTodos"></label>
            </div>
          </form>
        </th>
        <!-- Creando las columnas -->
        <th *ngFor="let col of columnTh" class=" my-0 text-uppercase"
          [ngClass]="col.configCelda?.rotarCelda ? 'grid-vertical-th': 'text-left'"
          [pSortableColumn]="col.configCelda?.habilitarOrdenamiento ? col.configCelda?.sortKey ? col.configCelda?.sortKey : col.key : ''"
          [ngStyle]="{ width: col.configCelda && col.configCelda.width
              ? (col.configCelda && col.configCelda.combinarCeldas?col.configCelda.combinarCeldas.numeroCombinar:1)*col.configCelda.width + 'px'
              : undefined}" id=""
          [attr.colspan]='col.configCelda && col.configCelda.combinarCeldas?col.configCelda.combinarCeldas.numeroCombinar:1'>
          <span [ngClass]="col.configCelda?.rotarCelda ? 'grid-vertical-text': ''">
            <p-sortIcon *ngIf="col.configCelda?.habilitarOrdenamiento"
              [field]="col.configCelda?.sortKey ? col.configCelda?.sortKey : col.key" class="grid-head-column-sortable">
            </p-sortIcon>
            {{ col.titulo | translate }}
          </span>
        </th>
      </tr>
      <!-- Filtros -->
      <tr *ngIf="configuracion.esFiltra" class="grid-filter-column">
        <th scope="col" *ngIf="configuracion.selectMode"></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.typeFilter" id="">
          <app-mim-multiselect class="grid-filter-column-multiselect" *ngSwitchCase="'multiselect'" class="w-100"
            [inputId]="'requisitosSolicitados'" [options]="_filterMuliSelect(col)"
            (changeValue)="_filterTable(dt, $event, col, 'in')" ngDefaultControl>
          </app-mim-multiselect>
          <input class="grid-filter-column-input" *ngSwitchCase="'text'" pInputText type="text"
            (input)="_filterTable(dt, $event.target.value, col, 'contains')" />
          <!-- <app-mim-select id="requisitosSolicitados" *ngSwitchCase="'select'" class="grid-filter-column-select inputSelect"
            [inputId]="'requisitosSolicitados'" [options]="_filterMuliSelect(col)" [modelo]="dropdownSelectedDefault"
            (changeValue)="_filterTable(dt, $event, col, 'in')" ngDefaultControl>
          </app-mim-select> -->

          <div *ngSwitchCase="'select'">
            <p-dropdown [options]="_filterMuliSelect(col)" [(ngModel)]="dropdownSelectedDefault" 
            class="grid-filter-column-select inputSelect" optionValue="value" optionLabel="label"
            (ngModelChange)="_filterTable(dt, $event, col, 'in')"></p-dropdown>
          </div>


          <div class="input-group" *ngSwitchCase="'textBack'">
            <input type="text" class="form-control form-control-sm searchInput" [formControl]="inputSearch"
              (keyup.enter)="filterTableBack($event.target.value, col)">
            <div class="input-group-append">
              <button class="btn btn-secondary bg--blue2 buttonSearch" type="button"
                (click)="filterTableBack($event.target.value, col)">
                <i class="icon-search text--blue1"></i>
              </button>
            </div>
          </div>

          <!-- Fecha inicio - fin -->
          <div *ngSwitchCase="'date'">
            <p-calendar [formControl]="fechaInicioFin" dateFormat="dd-mm-yy" class="calendar-coomeva" [locale]="es"
              [showIcon]="true" [icon]="'icon-calendar'" [selectionMode]="'range'"
              (onClose)="filterTableBack($event, col)"></p-calendar>
          </div>
        </th>
      </tr>
    </ng-template>
    <!-- Cuerpo de los datos -->
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr class="grid-space-row">
        <!-- Espacio en transparente -->
      </tr>
      <!-- Creando la filas -->
      <tr class="grid-body-column">
        <!-- Check del la fila -->
        <td *ngIf="configuracion.selectMode" class="grid-check-column">
          <form class="form--default">
            <div class="custom-control custom-checkbox custom-checkbox_box justify-content-center ">
              <!-- Check -->
              <input type="checkbox" class="custom-control-input" id="checkedSelectTodos" name="customRadio"
                [(ngModel)]="rowData.estadoRow" (ngModelChange)="selectRow(rowData)"
                [disabled]="configuracion.selectModeDisable || _rows[rowIndex].desabilitar" />
              <label class="custom-control-label icon-" for="checkedSelectTodos"></label>
            </div>
          </form>
        </td>
        <!-- Creador de celda -->
        <td *ngFor="let col of columns"
          [style]="col.configCelda && col.configCelda.width            ? { width: col.configCelda.width }            : ''">
          <div [ngSwitch]="col.configCelda ? col.configCelda.tipo : 'normal'">
            <!-- Switch de los elementos que tiene la celda -->
            <!-- Botton con link -->
            <ng-template [ngSwitchCase]="'link'">
              <app-mim-button [cssData]="col.configCelda.cssData" [texto]="_obtenerValorRow(col.key, rowData)"
                (clickLink)="_onClickCelda(_rows[rowIndex], col, $event)"
                (copiar)="_onClickCopiar(_obtenerValorRow(col.key, rowData))">
              </app-mim-button>
            </ng-template>
            <!-- Link currency -->
            <div *ngSwitchCase="'link-currency'" class="grid-link-container">
              <button class="btn grid-link-button" (click)="_onClickCelda(_rows[rowIndex], col, $event, rowIndex)"
                [disabled]="rowData.desabilitar" title="click">
                <span> {{ _obtenerValorRow(col.key, rowData) | customCurrency | emptyPipe }}</span>
              </button>
              <button *ngSwitchCase="'link-currency'" class="btn grid-link-copy"
                (click)="_onClickCopiar(_obtenerValorRow(col.key, rowData))" title="copiar">
                <span class="icon-copy-2"> </span>
              </button>
            </div>
            <!-- Badge -->
            <h6 [ngClass]="getCssValue(rowData, col)" *ngSwitchCase="'badge'"
              class="badge text--10pts text--700wt my-0 w-100 py-1 text text--white d-flex justify-content-center text-ellipsis bagde-all-text">
              {{ _obtenerValorRow(col.key, rowData) | emptyPipe }}
            </h6>

            <!-- Badge2 -->
            <h6 [ngClass]="getCssValue(rowData, col)" *ngSwitchCase="'badge2'"
              class="badge text--10pts text--700wt my-0 w-100 py-1 text Badge2 d-flex justify-content-center text-ellipsis bagde-all-text"
              [ngStyle]="{ 'background-color': _obtenerValorRow(col.configCelda.color, rowData)? _obtenerValorRow(col.configCelda.color, rowData) +''  : '' } ">
              {{ _obtenerValorRow(col.key, rowData) | emptyPipe }}
            </h6>
            <!-- Switch seleccion -->
            <div *ngSwitchCase="'radio'" class="custom-control custom-switch p-0 float-left">
              <label class="switch float-none">
                <input type="checkbox" />
                <span class="slider round">
                  <span class="text--white text--14pts text--500wt izquierda">{{ 'global.si' | translate }}</span>
                  <span class="text--white text--14pts text--500wt derecha">{{ 'global.no' | translate }}</span>
                </span>
              </label>
            </div>
            <!--  Boton -->
            <div *ngSwitchCase="'button'">
              <button [ngClass]="col.configCelda.cssButton"
                pTooltip="{{col.configCelda.buttonTooltip ? col.configCelda.buttonTooltip  : ''}}"
                [attr.title]="col.configCelda.titleButton ? col.configCelda.titleButton : ''"
                (click)="_onClickCelda(_rows[rowIndex], col, $event, rowIndex)" [disabled]=funDisabled(col,rowData)>
                <span
                  [ngClass]="col.configCelda.cssIcon !== null && col.configCelda.cssIcon !== undefined ? col.configCelda.cssIcon : getCssValue(rowData, col)"></span></button>
            </div>
            <!-- Solo icono en la celda -->
            <div *ngSwitchCase="'icon'" class="btn btn--icon "
              (click)="_onClickCelda(_rows[rowIndex], col, $event, rowIndex)">
              <span [ngClass]="getCssValue(rowData, col)"></span>
            </div>
            <!-- Solo icono y mensaje tooltips -->
            <div *ngSwitchCase="'icon-tooltips'">
              <button *ngIf="rowData.tooltips" type="button" class="{{rowData.tooltips.cssButton}}"
                tooltipPosition="top" pTooltip="{{rowData.tooltips.mensaje}}">
                <span class="{{rowData.tooltips.cssIcon}}" ng-reflect-klass="ml-1"></span>
              </button>

            </div>
            <!-- Solo formato moneda -->
            <h5 *ngSwitchCase="'currency'" class="my-0 text-right alingTextRight text--gray1 text--600wt">
              {{ _obtenerValorRow(col.key, rowData) | customCurrency }}
            </h5>
            <!-- Solo formato moneda sin decimales -->
            <h5 *ngSwitchCase="'currency2'" class="my-0 text-right alingTextRight text--gray1 text--600wt">
              {{ _obtenerValorRow(col.key, rowData) | currency: 'COP' : 'symbol':'0.0' }}
            </h5>
            <!-- Solo calcular edad -->
            <h5 *ngSwitchCase="'birthday'" class="my-0 text-left text--gray1 text--600wt">
              {{ _obtenerValorRow(col.key, rowData) | birthday | emptyPipe }}
            </h5>
            <!-- Solo porcentaje -->
            <h5 *ngSwitchCase="'percent'" class="my-0 text-right text--gray1 text--600wt">
              {{ _obtenerValorRow(col.key, rowData) | percent: '1.2-2' | emptyPipe }}
            </h5>
            <!-- Solo formato numerico -->
            <h5 *ngSwitchCase="'numero'" class="my-0 text-left text--gray1 text--600wt">
              {{ _obtenerValorRow(col.key, rowData) | customNumber | number: '1.2-2' }}
            </h5>
            <!-- Solo formato texto a la derecha-->
            <h5 *ngSwitchCase="'textRight'" class="my-0 text-right text--gray1 text--600wt">
              {{ _obtenerValorRow(col.key, rowData) }}
            </h5>
            <!-- Solo formato texto -->
            <h5 *ngSwitchDefault class="my-0 text-left text--gray1 text--600wt">
              {{ _obtenerValorRow(col.key, rowData) | translate | emptyPipe }}
            </h5>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>