<div class="row mx-0 w-100 align-items-center">
  <!-- TÍTULO -->
  <div class="col-md-8">
    <h1 class="my-0">Registro de protección</h1>
  </div>
  <!-- FLECHA IZQUIERDA PARA IR A REGISTRAR PROTECCIÓN -->
  <div class="col-md-4 px-0">
    <div class="mx-0 row w-100">
      <div class="col-7 border-right">
        <h3 class="my text--13pts text--600wt text--gray2 text-center">Total Productos</h3>
        <h2 class="my text--18pts text--500wt text--gray1 text-center">$ 237.895.286</h2>
      </div>
      <div class="col-5">
        <h3 class="my text--13pts text--600wt text--gray2 text-center">Total cuota</h3>
        <h2 class="my text--18pts text--500wt text--gray1 text-center">$ 131.700</h2>
      </div>
    </div>
  </div>
</div>
<div class="row mx-0 w-100 mt-4">
  <div class="col-md-12">
    <div class="card cards--headerFooter w-100">
      <div class="card-body px-0">
        <div class="row mx-0 w-100 align-items-center">
          <div class="col-md-4">
            <div class="media align-items-center sidebar--media_pasos active">
              <h2 class="align-self-center mr-3 text--green1 text--500wt border border--2px rounded px-3 py-2 my-0">
                1
              </h2>
              <div class="media-body">
                <h3 class="my-0 text--500wt">Validar Datos</h3>
                <hr class="border-bottom mt-2 mb-0" />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media align-items-center sidebar--media_pasos disabled">
              <h2 class="align-self-center mr-3 text--500wt border border--2px rounded px-3 py-2 my-0">
                2
              </h2>
              <div class="media-body">
                <h3 class="my-0 text--500wt">Registrar Protección</h3>
                <hr class="border-bottom  mt-2 mb-0" />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media align-items-center sidebar--media_pasos disabled">
              <h2 class="align-self-center mr-3 text--500wt border border--2px rounded px-3 py-2 my-0">
                3
              </h2>
              <div class="media-body">
                <h3 class="my-0 text--500wt">Declaración de salud</h3>
                <hr class="border-bottom mt-2 mb-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card cards--headerFooter w-100 mt-3">
      <div class="card-body px-0">
        <form class="form--default">
          <div class="row mx-0 w-100">
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoBarrio" class="col-sm-5 col-form-label">Fecha de solicitud</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control" id="formBucarAsociadosID">
                    <div class="input-group-prepend date">
                      <div class="input-group-text">
                        <span class="icon-calendar"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoBarrio" class="col-sm-5 col-form-label">Fecha de nacimiento</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control" id="formBucarAsociadosID">
                    <div class="input-group-prepend date">
                      <div class="input-group-text">
                        <span class="icon-calendar"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label for="editarDatosAsoCiudad" class="col-sm-5 col-form-label">Promotor comercial</label>
                <div class="dropdown col-sm-7">
                  <button class="btn dropdown-toggle" type="button" id="editarDatosAsoCiudad" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="icon-chevron-down"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="editarDatosAsoCiudad">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<div class="card cards--footer border-0 rounded-0">
  <div class="card-body">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <div class="col-xl-9">
        <!--CUANDO EL PORCENTAJE ES DE 100% -->
        <div class="mx-0 w-100 row justify-content-between align-items-center">
          <div class="col-9">
            <div class="alert panel--alert p-0 m-0" role="alert">
              <h5 class="my-0 text--gray2 text--600wt d-inline-flex align-items-center text--tittle_circle">
                <span class="icon-info-2 bg--yellow1 mr-3 text--26pts"></span>Debes completar todos los datos para poder
                continuar</h5>
            </div>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn--orange1 btn--lg w-100"
              [routerLink]="['/','asociado','portafolio-asociado','registro-proteccion','registro-proteccion']">
              <span class="icon-arrow-right mr-2"></span>
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
