<div class="container-fluid mt-2">
    <div class="row  mx-0 w-100 align-items-center">
        <div class="col-md-12">
            <h1 class="my-0">
                {{ 'administracion.gestionDiariaAutomatica.titulo' | translate }}
            </h1>
        </div>
    </div>

    <div class="pb-5">
        <app-mim-grid [configuracion]="configuracion.gridListarGestionDiaria"
            (clickCeldaElement)="onClickCeldaElement($event)" (siguiente)="onSiguiente($event)"
            (atras)="onAtras($event)">
        </app-mim-grid>
    </div>

    <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
        <div class="card-body py-2">
            <div class="row mx-0 w-10 justify-content-end align-items-center">
                <!-- Botones -->
                <div class="col-xl-12">
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn--orange1 btn--md mr-2" (click)="crearAsignacionGestionDiaria()">
                            <span class="icon-plus mr-2"></span>
                            {{ 'global.add' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Crear y editar gestion diaria-->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="esCreacion">
                  {{ 'administracion.gestionDiariaAutomatica.tituloCrear' | translate }}
              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!esCreacion">
                  {{ 'administracion.gestionDiariaAutomatica.tituloEditar' | translate }}
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="cerrarModal()">
                  <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">

            <app-gestion-diaria-automatica formGroupName="formGestionDiaria" [dataInit]="dataInit"></app-gestion-diaria-automatica>

            <div class="card-footer  w-100 border-0 pr-0">
              <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="guardarConfiguracionGestionDiaria()">
                  <span class="icon-checkmark mr-2"></span> {{ 'global.save' | translate }}
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
