<div class="row  mx-0 w-100 align-items-center">
  <div class="col-md-12">
    <h1 class="my-0">
      {{ 'administracion.protecciones.planCobertura.titulo' | translate }}
    </h1>
  </div>
</div>

<div class="mt-3">
  <app-mim-grid [configuracion]="configuracion.gridConfigPlanes" (clickCeldaElement)="_onClickCeldaElement($event)">
  </app-mim-grid>
</div>

<!-- Apertura de Modal-->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
      <div class="col-xl-5.5 col-md-6 px-0">
          <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
              <div class="card-header">
                  <div class="row mx-0 w-100 align-items-center">
                      <div class="col-lg-10">
                          <h1 class="text--500wt text--gray1 my-0"  *ngIf="sinProceso">
                              {{ 'administracion.protecciones.planes.bitacora.titulo' | translate }}
                          </h1>
                      </div>
                      <div class="col-lg-2">
                          <button class="btn btn--circle btn--circle_green" (click)="cerrarModal()">
                              <span class="icon-cross mr-2"></span>
                          </button>
                      </div>
                  </div>
              </div>

              <!-- Inicio bitacora mim_bitacora-->
              <div *ngIf="conProceso">
                <app-mim-bitacora [idProceso]="idProceso"></app-mim-bitacora>
              </div>

              <div *ngIf="conProcesodos">
                <div class="w-100 mb-2 select-no-border" *ngFor="let pro of proceso; index as i;">
                  <div class="card cards--headerFooter w-100 " [ngClass]="{'select-border': selectIndex == i}" (click)="_onClickCard(i, $event)">
                  <hr>
                    <div class="card-body py-2">
                      <h4 class="text--500wt text--gray1 text-justify my-2 mt-2 mb-0">
                        {{ 'administracion.protecciones.planes.bitacora.pendiente' | translate }}  {{pro.category}}
                      </h4>
                    </div>
                    <div class="card-header py-2">
                      <div class="row mx-0 w100 align-items-center">
                        <span class="fontt pr-5">
                          {{ 'administracion.protecciones.planes.bitacora.asignado' | translate }}
                        </span>
                
                        <div class="col-md-8 col-md-8 col-ms-12 pl-0">
                          <h4 class="text--500wt text--gray1 my-0">
                            <span
                              class="icon-user text--18pts mr-2 text--orange1"
                            ></span>
                            {{ pro.userInfo.name | uppercase }}
                          </h4>
                          <h5 class="text--gray2">{{pro.userInfo.title.description}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="toper"  *ngIf="!conProceso">
                <div class="row mx-0 w100 align-items-center">
                  <div class="col-md-2 col-md-11 col-ms-1 pl-0">
                    <h3 class="text--700wt text--gray1 my-0">
                      {{ 'administracion.protecciones.planes.bitacora.sinFase' | translate }}
                    </h3>
                  </div>
                </div>
              </div>

          </div>
      </div>
  </div>
</div>
<!-- Fin crear. -->