<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
      <h1 class="my-0">
        <ng-template [ngIf]="_esCreacion">
          {{ 'administracion.protecciones.enfermedadesGraves.guardar.crear' | translate }}
        </ng-template>
        <ng-template [ngIf]="!_esCreacion">
          {{ 'administracion.protecciones.enfermedadesGraves.guardar.actualizar' | translate }}
        </ng-template>
      </h1>
    </div>
  </div>

  <div class="mt-3 card bg--white border-0 rounded-0">
    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
      <div class="card-body">
        <div class="row mx-0 w-100">

          <!-- Codigo -->
          <div class="col-sm-12 col-md-6" *ngIf="!_esCreacion">
              <div class="form-group row align-items-center">
                <label appMimLabel for="codigo" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.enfermedadesGraves.grid.codigo' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'codigo'" [controlName]="'codigo'">
                    <input type="text" class="form-control" id="codigo" formControlName="codigo"
                      name="codigo" />
                  </div>
                </div>
              </div>
            </div>

          <!-- Fondo -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="fondo" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.enfermedadesGraves.grid.fondo' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'fondo'" [controlName]="'fondo'">
                  <app-mim-select class="w-100" [inputId]="'fondo'" [options]="fondos" formControlName="fondo"
                    [optionKey]="'nombre'" name="'fondo'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="fondo" errorKey="required">
                {{ 'global.required' | translate : { campo: 'administracion.protecciones.enfermedadesGraves.grid.fondo' | translate } }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- Descripcion -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="descripcion" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.enfermedadesGraves.grid.descripcion' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'descripcion'" [controlName]="'descripcion'">
                    <textarea type="text" rows="5" class="form-control" id="descripcion" formControlName="descripcion"
                    name="descripcion" mask="c*" [patterns]="patterns" [dropSpecialCharacters]="false"></textarea>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="descripcion" errorKey="required">
                {{ 'global.required' | translate : { campo: 'administracion.protecciones.enfermedadesGraves.grid.descripcion' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="descripcion" errorKey="vacio">
                {{ 'global.required' | translate : { campo: 'administracion.protecciones.enfermedadesGraves.grid.descripcion' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="descripcion" errorKey="pattern">
                {{ 'global.pattern' | translate : { campo: 'administracion.protecciones.enfermedadesGraves.grid.descripcion' | translate } }}
              </app-mim-input-error>
            </div>
          </div>

          <div class="col-sm-12 com-md-12">
            <div class="form-group">
                <label class="col-form-label" appMimLabel for="vigente">
                    {{ 'administracion.protecciones.enfermedadesGraves.grid.vigente' | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                    <label class="switch">
                        <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                          <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                        </span>
                      </label>
                </div>
            </div>
        </div>

          <!--Controles -->
          <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
            <div class="card-body py-2">
              <div class="row mx-0 w-10 justify-content-end align-items-center">
                <!-- Botones -->
                <div class="col-xl-12">
                  <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()" [disabled]="form.pristine">
                      <span class="icon-checkmark mr-2"></span>
                      {{ 'global.save' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
