<div class="row  mx-0 w-100 align-items-center">
  <div class="col-md-12">
    <h1 class="my-0">
      {{ 'administracion.protecciones.cumulo.titulo' | translate }}
    </h1>
  </div>
</div>

<div class="mt-3">
  <app-mim-grid [configuracion]="configuracion.gridConfig" (clickCeldaElement)="_onClickCeldaElement($event)"
    (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)" (ordenar)="_ordenar($event)"
    (filtroHeader)="filtroHeader($event)">
  </app-mim-grid>
</div>

<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
  <div class="card-body py-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <!-- Botones -->
      <div class="col-xl-12">
        <div class="d-flex flex-row-reverse">
          <a class="btn btn--orange1 btn--md mr-2" [routerLink]="linkCrear">
            <span class="icon-plus mr-2"></span>
            {{ 'global.add' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
