<div class="container-fluid pt-2 mt-3">
    <div class="row  mx-0 w-100 align-items-center">
        <div class="col-md-12">
            <h1 class="my-0">
                {{ 'administracion.configuracionOperaciones.titulo' | translate }}
            </h1>
        </div>
    </div>
    <div class="pb-5 mb-5 px-2">
        <app-mim-grid [configuracion]="configuracion.gridListarConfiguracionOperacion"
            (clickCeldaElement)="onClickCeldaElement($event)" (siguiente)="onSiguiente($event)"
            (atras)="onAtras($event)">
        </app-mim-grid>
    </div>
</div>

<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
    <div class="card-body py-2">
        <div class="row mx-0 w-10 justify-content-end align-items-center">
            <!-- Botones -->
            <div class="col-xl-12">
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn--orange1 btn--md mr-2" (click)="enviarCrearNuevoDetalle()">
                        <span class="icon-plus mr-2"></span>
                        {{ 'global.add' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
