<div class="form--default w-100" [formGroup]="controlContainer.control">
  <div class="card border-0 col-md-12 p-3">
    <div class="row">

      <!-- Fondo -->
      <div class="col-md-4">
        <div class="form-group row align-items-center">
          <label appMimLabel for="plan" class="col-sm-12 col-form-label">
            {{ 'shared.components.form.cotizarProteccion.fondo' | translate }}
          </label>
          <div class="col-sm-12">
            <div class="input-group" appMimInput [for]="'fondo'" [controlName]="'fondo'">
              <app-mim-select class="w-100" [inputId]="'fondo'" [options]="fondos" formControlName="fondo"
                [optionKey]="'nombre'" name="'fondo'" ngDefaultControl>
              </app-mim-select>
            </div>
          </div>
          <app-mim-input-error class="col-sm-12" controlName="fondo" errorKey="required">
            {{ 'global.required' | translate : { campo: 'shared.components.form.cotizarProteccion.fondo' | translate } }}
          </app-mim-input-error>
        </div>
      </div>

      <!-- Tipo Cotizacion -->
      <div class="col-md-4">
        <div class="form-group row align-items-center">
          <label appMimLabel for="tipoCotizacion" class="col-sm-12 col-form-label">
            {{ 'shared.components.form.cotizarProteccion.tipoCotizacion' | translate }}
          </label>
          <div class="col-sm-12">
            <div class="input-group" appMimInput [for]="'tipoCotizacion'" [controlName]="'tipoCotizacion'">
              <app-mim-select class="w-100" [inputId]="'tipoCotizacion'" [options]="tipoCotizaciones" formControlName="tipoCotizacion"
                [optionKey]="'nombre'" name="'tipoCotizacion'" ngDefaultControl>
              </app-mim-select>
            </div>
          </div>
          <app-mim-input-error class="col-sm-12" controlName="tipoCotizacion" errorKey="required">
            {{ 'global.required' | translate : { campo: 'shared.components.form.cotizarProteccion.tipoCotizacion' | translate } }}
          </app-mim-input-error>
        </div>
      </div>


      <!-- Tipo plan -->
      <div class="col-md-4">
        <div class="form-group row align-items-center">
          <label appMimLabel for="tipoPlan" class="col-sm-12 col-form-label">
            {{ 'shared.components.form.cotizarProteccion.tipoPlan' | translate }}
          </label>
          <div class="col-sm-12">
            <div class="input-group" appMimInput [for]="'tipoPlan'" [controlName]="'tipoPlan'">
              <app-mim-select class="w-100" [inputId]="'tipoPlan'" [options]="tipoPlanes" formControlName="tipoPlan"
                [optionKey]="'nombre'" name="'tipoPlan'" ngDefaultControl>
              </app-mim-select>
            </div>
          </div>
          <app-mim-input-error class="col-sm-12" controlName="tipoPlan" errorKey="required">
            {{ 'global.required' | translate : { campo: 'shared.components.form.cotizarProteccion.tipoPlan' | translate } }}
          </app-mim-input-error>
        </div>
      </div>

    </div>
  </div>
</div>
