<div class="row mx-0 w-100 pb-5">
  <div class="col-1 col-xl-3">
    <app-mim-filtro-vertical [configuracion]="configuracion.barFilter">
      <!-- Filtros -->
      <app-mim-filtro-vertical-item [label]="'global.consultar'">
        <div class="card cards--panelLeft mb-4">
          <div id="filtroBeneficiario" class="collapse show" aria-labelledby="headingOne"
            data-parent="#accordionPanelLeft">
            <div class="card-body ">
              <form class="form--default" *ngIf="isForm | async as isForm" [formGroup]="form"
                (ngSubmit)="obtenerCartas()">
                <!-- Numero reclamacion -->
                <div class="form-group">
                  <div class="checkbox-coomeva">
                    <label appMimLabel for="filtroNumeroReclamacion">
                      {{ 'reportes.cartas.filtros.numeroEvento' | translate }}
                    </label>
                    <input id="filtroCodigoProceso" name="tipoFiltro" type="radio" [value]="1"
                      formControlName="tipoFiltro" />
                    <label class="checkmark-coomeva" for="filtroCodigoProceso">
                    </label>
                  </div>
                  <div class="input-group" appMimInput [for]="'codigoProceso'" [controlName]="'codigoProceso'">
                    <input type="number" class="form-control" id="codigoProceso" formControlName="codigoProceso"
                      name="codigoProceso" />
                  </div>
                </div>

                <!-- Numero identificacion -->
                <div class="form-group">
                  <div class="checkbox-coomeva">
                    <label appMimLabel for="filtroNumeroIdentificacion">
                      {{ 'reportes.cartas.filtros.numeroIdentificacion' | translate  }}
                    </label>
                    <input id="filtroNumeroIdentificacion" name="tipoFiltro" type="radio" [value]="2"
                      formControlName="tipoFiltro" />
                    <label class="checkmark-coomeva" for="filtroNumeroIdentificacion">
                    </label>
                  </div>
                  <div class="input-group" appMimInput [for]="'numeroIdentificacion'"
                    [controlName]="'numeroIdentificacion'">
                    <input type="number" class="form-control" id="numeroIdentificacion"
                      formControlName="numeroIdentificacion" name="numeroIdentificacion" />
                  </div>
                </div>

                <!-- Fecha inicio y fecha fin. -->
                <div class="form-group">
                  <div class="checkbox-coomeva">
                    <label appMimLabel for="filtroFechaInicioFechaFin">
                      {{ 'reportes.cartas.filtros.fechaInicioFechaFin' | translate }}
                    </label>
                    <input id="filtroFechaInicioFechaFin" name="tipoFiltro" type="radio" [value]="3"
                      formControlName="tipoFiltro" />
                    <label class="checkmark-coomeva" for="filtroFechaInicioFechaFin">
                    </label>
                  </div>
                  <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                    [controlName]="'fechaInicioFechaFin'">
                    <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                      formControlName="fechaInicioFechaFin" [selectionMode]="'range'"
                      [disabled]="form.controls.fechaInicioFechaFin.disabled" [maxDate]="_maxDate" ngDefaultControl>
                    </app-mim-date-picker>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="rangoObligatorio">
                    {{ 'global.alertas.rangoObligatorio' | translate  }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="rangoError">
                    {{ 'global.alertas.rangoError' | translate : {rango: 30 }  }}
                  </app-mim-input-error>
                </div>

                <div class="form-group">
                  <div class="row mx-auto w-100">
                    <div class="col-md-6 pl-md-0">
                      <button type="button" class="btn btn--gray2 btn--md w-100 justify-content-md-start"
                        (click)="onLimpiar()">
                        {{ 'global.clean' | translate }}
                        <span class="icon-cross ml-3"></span>
                      </button>
                    </div>
                    <div class="col-md-6 pr-md-0">
                      <button class="btn btn--border_green1 btn--md w-100" type="submit">
                        {{ 'global.search' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </app-mim-filtro-vertical-item>
    </app-mim-filtro-vertical>
  </div>

  <!-- Consulta cartas -->
  <div class="col-11 col-xl-9 offset-1 offset-xl-0 d-block py-5 px-0 m-0">
    <div class="row mx-0 w-100 ">
      <!-- Titulo -->
      <div class="col-md-12">
        <h1>{{ 'reportes.cartas.titulo' | translate }}</h1>
      </div>

      <!-- Grid -->
      <div class="col-md-12">
        <app-mim-grid [configuracion]="configuracion.gridCartas" (clickCeldaElement)="_onClickCeldaElement($event)"
          (seleccionar)="_OnSeleccionar()" (deseleccionar)="_OnDeseleccionar()" style="width: 100%; table-layout: fixed;">
        </app-mim-grid>
      </div>
    </div>
  </div>
</div>

<!-- Inicio modal lateral -->
<app-mim-genera-carta-modal (cerrarVentana)="obtenerCartas()" (cartaGuardada)="cartaGuardada($event)"></app-mim-genera-carta-modal>


<div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
  <div class="card-body py-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <!-- Botones -->
      <div class="col-xl-12">
        <div class="d-flex justify-content-end">
          <button class="btn btn--white btn--md text--red1 mr-3" (click)="_onClickExportarExcel()"
            [disabled]="!botonDisabled ? 'disabled' : ''">
            <span class="icon-export mr-2 text--red1"></span>
            {{ 'global.exportarExcel' | translate }}
          </button>
          <button class="btn btn--white btn--md text--red1 mr-3" (click)="_onClickGenerarPDF()"
            [disabled]="!botonDisabled ? 'disabled' : ''">
            <span class="icon-export mr-2 text--red1"></span>
            {{ 'global.exportarPDF' | translate }}
          </button>
          <button class="btn btn--orange1 btn--md mr-3" (click)="_onClickValidar()"
            [disabled]="!botonDisabled ? 'disabled' : ''">
            <span class="icon-check-square mr-2"></span>
            {{ 'global.validar' | translate }}
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
