<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
        <h1 class="my-0">
            <ng-template [ngIf]="_esCreacion">
                {{ 'administracion.protecciones.campanasCobertura.guardar.crear' | translate }}
            </ng-template>
            <ng-template [ngIf]="!_esCreacion">
                {{ 'administracion.protecciones.campanasCobertura.guardar.actualizar' | translate }}
            </ng-template>
        </h1>
    </div>
</div>

<div class="mt-3 card bg--white border-0 rounded-0">

    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
        <div class="card-body">
            <div class="row mx-0 w-100">

                <!-- Campaña Endoso -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="campana" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.campanasCobertura.guardar.campana' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'campana'" [controlName]="'campana'">
                                <app-mim-select class="w-100" [inputId]="'campana'" [options]="campanas"
                                    formControlName="campana" [optionKey]="'nombre'" name="'campana'" ngDefaultControl>
                                </app-mim-select>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="campana" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.campana' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Descripcion Campaña-->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="descripcion" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.campanasCobertura.guardar.descripcion' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'descripcion'" [controlName]="'descripcion'">
                                <textarea type="text" rows="5" class="form-control" id="descripcion"
                                    formControlName="descripcion" name="descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Planes Cobertura -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="planCobertura" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.campanasCobertura.guardar.planCobertura' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'planCobertura'"
                                [controlName]="'planCobertura'">
                                <app-mim-multiselect class="w-100" [inputId]="'planCobertura'"
                                    [options]="planesCobertura" formControlName="planCobertura" [optionKey]="'_nombre'"
                                    name="'planCobertura'" ngDefaultControl>
                                </app-mim-multiselect>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="planCobertura" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.planCobertura' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!--Valor fijo destinado fondo garantia-->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="valorFijo" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.campanasCobertura.guardar.valorFijoFondo' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="custom-control custom-switch p-0">
                                <label class="switch">
                                    <input type="checkbox" formControlName="valorFijo" id="valorFijo" name="valorFijo">
                                    <span class="slider round">
                                        <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                                        <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Disponible-->
                <div class="col-sm-12 col-md-6" *ngIf="!_esCreacion">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="vigente" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.campanasCobertura.guardar.vigente' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="custom-control custom-switch p-0">
                                <label class="switch">
                                    <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                                    <span class="slider round">
                                        <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                                        <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Agregar Valor Fijo-->
                <div class="col-sm-12 col-md-12">
                    <div class="form-group row align-items-center">
                        <div class="col-sm-12">
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)"
                                    type="button" [disabled]="habilitaValor">
                                    {{'administracion.protecciones.campanasCobertura.guardar.agregarValor' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Controles -->
                <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
                    <div class="card-body py-2">
                        <div class="row mx-0 w-10 justify-content-end align-items-center">
                            <!-- Botones -->
                            <div class="col-xl-12">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()"
                                        [disabled]="form.pristine">
                                        <span class="icon-edit-3 mr-2"></span>
                                        {{ 'global.save' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

     <!--Contenedor para la tabla de valores fijos-->
     <div class="position-relative mr-3 ml-3 mb-2" *ngIf="mostrarTabla">
                                
        <app-mim-grid [configuracion]="configuracion.gridConfig"
            (clickCeldaElement)="_onClickCeldaElement($event)">
        </app-mim-grid>                    

        <!-- Control de activos -->
        <div class="d-flex position_check mt-n5">
            <div class="form--default">
                <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
                    <label class="switch my-0">
                        <input type="checkbox" checked (click)="_onToggleStatus($event)"
                            class="cursor-point" />
                        <span class="slider round"></span>
                    </label>
                    <span class="text--13pts text--600wt text--gray2 col">
                        {{ 'global.mostrarActivos' | translate }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Inicio guardar valor fijo destinado fondo garantia -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
    <div class="row mx-0 w-100 justify-content-end">
        <div class="col-xl-4 col-md-6 px-0">
            <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
                <div class="card-header">
                    <div class="row mx-0 w-100 align-items-center">
                        <div class="col-lg-10">
                            <h1 class="text--500wt text--gray1 my-0" *ngIf="esCreacionValor">
                                {{'administracion.protecciones.campanasCobertura.guardar.grid.crear' | translate }}
                            </h1>
                            <h1 class="text--500wt text--gray1 my-0" *ngIf="!esCreacionValor">
                                {{'administracion.protecciones.campanasCobertura.guardar.grid.editar' | translate }}
                            </h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                                <span class="icon-cross mr-2"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <form class="form--default w-100" [formGroup]="formValor" *ngIf="isFormValor | async as isFormValor;">
                    <div class="card-body">
                        <div class="row mx-0">

                            <!-- Estado Asegurado MP -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="estadoAsegurado" class="col-sm-12 col-form-label">
                                        {{'administracion.protecciones.campanasCobertura.guardar.grid.estadoAsociado' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'estadoAsegurado'"
                                            [controlName]="'estadoAsegurado'">
                                            <app-mim-select class="w-100" [inputId]="'estadoAsegurado'"
                                                [options]="estadosAsegurados" formControlName="estadoAsegurado"
                                                [optionKey]="'nombre'" name="'estadoAsegurado'" ngDefaultControl>
                                            </app-mim-select>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="estadoAsegurado"
                                        errorKey="required">
                                        {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.grid.estadoAsociado' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Beneficiario Cobertura -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="beneficiarioCobertura" class="col-sm-12 col-form-label">
                                        {{'administracion.protecciones.campanasCobertura.guardar.grid.beneficiarioCobertura' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'beneficiarioCobertura'"
                                            [controlName]="'beneficiarioCobertura'">
                                            <app-mim-select class="w-100" [inputId]="'beneficiarioCobertura'"
                                                [options]="beneficiariosCobertura"
                                                formControlName="beneficiarioCobertura" [optionKey]="'nombre'"
                                                name="'beneficiarioCobertura'" ngDefaultControl>
                                            </app-mim-select>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="beneficiarioCobertura"
                                        errorKey="required">
                                        {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.grid.beneficiarioCobertura' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Edad Inicio -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="edadInicio" class="col-sm-12 col-form-label">
                                        {{'administracion.protecciones.campanasCobertura.guardar.grid.edadInicio' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'edadInicio'" [controlName]="'edadInicio'">
                                            <input type="number" class="form-control" id="edadInicio"
                                                formControlName="edadInicio" name="edadInicio" />
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="edadInicio" errorKey="required">
                                        {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.grid.edadInicio' | translate } }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="edadInicio" errorKey="max">
                                        {{ 'administracion.protecciones.campanasCobertura.alertas.valorMaximo' | translate : {numero: 99} }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="edadInicio" errorKey="min">
                                        {{ 'administracion.protecciones.campanasCobertura.alertas.valorMinimo' | translate : {numero: 0} }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Edad Fin -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="edadFin" class="col-sm-12 col-form-label">
                                        {{'administracion.protecciones.campanasCobertura.guardar.grid.edadFin' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'edadFin'" [controlName]="'edadFin'">
                                            <input type="number" class="form-control" id="edadFin" 
                                                formControlName="edadFin" name="edadFin" maxlength="3" />
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="edadFin" errorKey="required">
                                        {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.grid.edadFin' | translate } }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="edadFin" errorKey="max">
                                        {{ 'administracion.protecciones.campanasCobertura.alertas.valorMaximo' | translate : {numero: 100} }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="edadFin" errorKey="min">
                                        {{ 'administracion.protecciones.campanasCobertura.alertas.valorMinimo' | translate : {numero: 0} }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Valor Destinado fondo garantía -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="valorDestinado" class="col-sm-12 col-form-label">
                                        {{'administracion.protecciones.campanasCobertura.guardar.grid.valorDestinadoFondo' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'valorDestinado'" [controlName]="'valorDestinado'">
                                            <input type="text" class="form-control" id="valorDestinado" formControlName="valorDestinado" name="valorDestinado" currencyMask
                                                [options]="customCurrencyMaskConfig" maxlength="12" />
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="valorDestinado" errorKey="required">
                                        {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.grid.valorDestinadoFondo' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Fecha inicio y fecha fin -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="fechaInicioFechaFin" class="col-sm-12 col-form-label">
                                        {{'administracion.protecciones.campanasCobertura.guardar.grid.fechaInicioFin' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                                            [controlName]="'fechaInicioFechaFin'">
                                            <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'" formControlName="fechaInicioFechaFin" [selectionMode]="'range'"
                                                ngDefaultControl>
                                            </app-mim-date-picker>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                                        {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.grid.fechaInicioFin' | translate } }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="minlength">
                                        {{ 'global.required' | translate : { campo: 'administracion.protecciones.campanasCobertura.guardar.grid.fechaInicioFin' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Disponible -->
                            <div class="col-sm-12 col-md-6" *ngIf="!esCreacionValor">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="valorVigente" class="col-sm-12 col-form-label">
                                        {{ 'administracion.protecciones.campanasCobertura.guardar.vigente' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="custom-control custom-switch p-0">
                                            <label class="switch">
                                                <input type="checkbox" formControlName="valorVigente" id="valorVigente" name="valorVigente">
                                                <span class="slider round">
                                                    <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                                                    <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <!-- Boton para agregar el registro -->
                    <div class="card-footer  w-100 border-0 py-4 mt-5">
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(formValor)" (click)="validarFormularioValor()">
                                <span class="icon-checkmark mr-2"></span>
                                {{ 'global.save' | translate }}
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Fin guardar valor fijo destinado fondo garantia -->