<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="_obtenerEstado()">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.titulo' | translate | emptyPipe }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionPortafolioAsociados">
    <div class="card-body">
      <div class="d-flex flex-row-reverse">
        <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)">
          <span class="icon-plus mr-2"></span>
          {{ 'global.add' | translate }}
        </button>
      </div>

      <div class="mt-3">
        <app-mim-grid [configuracion]="configuracion.gridConfig" (siguiente)="_onSiguiente($event)"
          (atras)="_onAtras($event)" (clickCeldaElement)="_onClickCeldaElement($event)"></app-mim-grid>

        <!-- Control de activos -->
        <div class="d-flex pt-5 position_check">
          <div class="form--default">
            <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
              <label class="switch my-0">
                <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
                <span class="slider round"></span>
              </label>
              <span class="text--13pts text--600wt text--gray2 col">
                {{ 'global.mostrarActivos' | translate }}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Inicio guardar coberturas subsistentes -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.crear' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.actualizar' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <form class="form--default w-100" [formGroup]="cabeceraForm" *ngIf="isCabeceraForm | async as isCabeceraForm;">
          <div class="card-body pb-0">
            <div class="row mx-0">

              <!-- Nombre -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="nombreServicio" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.nombreServicio' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'nombreServicio'" [controlName]="'nombreServicio'">
                      <input type="text" class="form-control" id="nombreServicio" formControlName="nombreServicio"
                        name="nombreServicio" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="nombreServicio" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.nombreServicio' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Vigente -->
              <div class="col-sm-6 col-md-12">
                <div class="form-group">
                  <label class="col-form-label" appMimLabel for="vigente">
                    {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.vigente' | translate }}
                  </label>
                  <div class="custom-control custom-switch p-0">
                    <label class="switch">
                      <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                      <span class="slider round">
                        <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                        <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer  w-100 border-0">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(cabeceraForm)"
                (click)="_guardarCabecera()">
                <span class="icon-checkmark mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </div>
        </form>

        <ng-template [ngIf]="asistenciaPlanCobertura">
          <form class="form--default w-100" [formGroup]="detalleForm" *ngIf="isDetalleForm | async as isDetalleForm;">
            <div class="card-body pb-0">
              <div class="row mx-0">

                <!-- Proveedor -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="proveedor" class="col-sm-12 col-form-label">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.proveedor' | translate }}
                    </label>
                    <div class="col-sm-12">
                      <div class="input-group" appMimInput [for]="'proveedor'" [controlName]="'proveedor'">
                        <app-mim-select class="w-100" [inputId]="'proveedor'" [options]="proveedores"
                          formControlName="proveedor" [optionKey]="'nombre'" name="'proveedor'" ngDefaultControl>
                        </app-mim-select>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="proveedor" errorKey="required">
                      {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.proveedor' | translate } }}
                    </app-mim-input-error>
                  </div>
                </div>

                <!-- Aplica para -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="aplicaPara" class="col-sm-12 col-form-label">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.aplicaPara' | translate }}
                    </label>
                    <div class="col-sm-12">
                      <div class="input-group" appMimInput [for]="'aplicaPara'" [controlName]="'aplicaPara'">
                        <app-mim-multiselect class="w-100" [inputId]="'aplicaPara'" [options]="aplicaciones"
                          formControlName="aplicaPara" [optionKey]="'nombre'" name="'aplicaPara'" ngDefaultControl>
                        </app-mim-multiselect>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="aplicaPara" errorKey="required">
                      {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.aplicaPara' | translate } }}
                    </app-mim-input-error>
                  </div>
                </div>

                <!-- Servicio ilimitado -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="servicioIlimitado">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.servicioIlimitado' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="servicioIlimitado" id="servicioIlimitado"
                          name="servicioIlimitado">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                          <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Numero eventos -->
                <div class="col-sm-12 col-md-12" *ngIf="!_ilimitado">
                  <div class="form-group row align-items-center">
                    <label appMimLabel for="numeroEventos" class="col-sm-12 col-form-label">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.numeroEventos' | translate }}
                    </label>
                    <div class="col-12 mx-0 px-0 row">
                      <div class="col-sm-4">
                        <div class="input-group" appMimInput [for]="'numeroEventos'" [controlName]="'numeroEventos'">
                          <input type="number" class="form-control" id="numeroEventos" formControlName="numeroEventos"
                            name="numeroEventos" min="0" max="999" />
                        </div>
                      </div>
                      <div class="col-sm-1">x</div>
                      <div class="col-sm-7">
                        <div class="input-group" appMimInput [for]="'unidadEventos'" [controlName]="'unidadEventos'">
                          <app-mim-select class="w-100" [inputId]="'unidadEventos'" [options]="unidadesEventos"
                            formControlName="unidadEventos" [optionKey]="'nombre'" name="'unidadEventos'"
                            ngDefaultControl>
                          </app-mim-select>
                        </div>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" [controlName]="['unidadEventos', 'numeroEventos']"
                      errorKey="required">
                      {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.numeroEventos'
                    | translate } }}
                    </app-mim-input-error>
                    <app-mim-input-error class="col-sm-12" controlName="numeroEventos" errorKey="min">
                      {{ 'global.minValue' | translate :
                          { campo: 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.numeroEventos' | translate,
                            min: 0
                          }
                        }}
                    </app-mim-input-error>
                    <app-mim-input-error class="col-sm-12" controlName="numeroEventos" errorKey="max">
                      {{ 'global.maxValue' | translate :
                            { campo: 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.numeroEventos' | translate,
                              max: 999
                            }
                          }}
                    </app-mim-input-error>
                  </div>
                </div>

                <!-- Fecha inicio y fecha fin -->
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row align-items-center">
                    <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.fechaInicioFechaFin' | translate }}
                    </label>
                    <div class="col-sm-12">
                      <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                        [controlName]="'fechaInicioFechaFin'">
                        <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                          formControlName="fechaInicioFechaFin" [selectionMode]="'range'" [disabled]="estadoFecha"
                          ngDefaultControl>
                        </app-mim-date-picker>
                      </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                      {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condicionesAsistencia.guardar.fechaInicio' | translate } }}
                    </app-mim-input-error>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-footer  w-100 border-0">
              <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(detalleForm)"
                  (click)="_guardarDetalle()">
                  <span class="icon-checkmark mr-2"></span>
                  {{ 'global.save' | translate }}
                </button>
                <button type="button" class="btn btn--gray2 btn--md mr-2" (click)="limpiarFormularioDetalle()">
                  {{ 'global.clean' | translate }}
                  <span class="icon-cross ml-3"></span>
                </button>
              </div>
            </div>
          </form>

          <div class="card-body pt-0">
            <app-mim-grid #gridDetalle [configuracion]="configuracion.gridDetalleConfig"
              (clickCelda)="_onClickCeldaDetalle($event)"></app-mim-grid>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- Fin crear coberturas subsistentes. -->
