<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
      <h1 class="my-0">
        {{ 'administracion.protecciones.beneficiarioPago.titulo' | translate }}
      </h1>
    </div>
  </div>

  <div class="mt-3">
    <app-mim-grid [configuracion]="configuracion.gridListarBeneficiariosPago"
      (clickCeldaElement)="_onClickCeldaElement($event)" (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)"
      (ordenar)="_ordenar($event)" (selectDropdown)="_selectDropdown($event)">
    </app-mim-grid>
  </div>

  <!-- Control de activos -->
  <div class="d-flex pt-5 position_check">
    <div class="form--default">
      <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
        <label class="switch my-0">
          <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
          <span class="slider round"></span>
        </label>
        <span class="text--13pts text--600wt text--gray2 col">
          {{ 'global.mostrarActivos' | translate }}
        </span>
      </div>
    </div>
  </div>
