<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="_obtenerEstado()">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.titulo' | translate | emptyPipe }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionPortafolioAsociados">
    <div class="card-body">

      <div class="d-flex flex-row-reverse">
        <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)">
          <span class="icon-edit-3 mr-2"></span>
          {{ 'global.add' | translate }}
        </button>
      </div>

      <!-- Inicio configuracion Condiciones-->
      <app-mim-grid [configuracion]="configuracion.gridConfig" (clickCelda)="_onClickCelda($event)"
        (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)"></app-mim-grid>
      <!-- Fin configuracion Condiciones-->

      <!-- Control de activos -->
      <div class="d-flex pt-5 mt-4 position_check">
        <div class="form--default">
          <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
            <label class="switch my-0">
              <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
              <span class="slider round"></span>
            </label>
            <span class="text--13pts text--600wt text--gray2 col">
              {{ 'global.mostrarActivos' | translate }}
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Ventana lateral -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-5 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.crear' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.actualizar' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
          <div class="card-body pb-0">

            <!-- Inicio condiciones venta -->
            <fieldset class="fieldset_mm pb-3">
              <legend class="legend_mm">
                <span class="text--16pts text--600wt">
                  {{ 'administracion.protecciones.coberturas.guardar.condicionesVenta' | translate }}
                </span>
              </legend>

              <div class="row mx-0 w-100">

                <!-- Aplica a plan familiar -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="aplicaPlanFamiliar">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.aplicaPlanFamiliar' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="aplicaPlanFamiliar" id="aplicaPlanFamiliar"
                          name="aplicaPlanFamiliar">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Se puede renunciar al amparo -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="renunciaAmparo">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.renunciaAmparo' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="renunciaAmparo" id="renunciaAmparo"
                          name="renunciaAmparo">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Incremento protección -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="incrementoProteccion">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.incrementoProteccion' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="incrementoProteccion" id="incrementoProteccion"
                          name="incrementoProteccion">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Disminución protección -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="disminucionProteccion">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.disminucionProteccion' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="disminucionProteccion" id="disminucionProteccion"
                          name="disminucionProteccion">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Requisitos médicos -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="requisitosMedicos">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.requisitosMedicos' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="requisitosMedicos" id="requisitosMedicos"
                          name="requisitosMedicos">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Facturacion -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="facturacion">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.facturacion' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="facturacion" id="facturacion"
                          name="facturacion">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Tiene proyección -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="tieneProyeccion">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.tieneProyeccion' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="tieneProyeccion" id="tieneProyeccion"
                          name="tieneProyeccion">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Tiene proyección -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="tieneEstadistica">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.tieneEstadistica' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="tieneEstadistica" id="tieneEstadistica"
                          name="tieneEstadistica">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

              </div>

            </fieldset>
            <!-- Fin condificiones venta -->

            <!-- Inicio condiciones destinación -->
            <fieldset class="fieldset_mm pb-3">
              <legend class="legend_mm">
                <span class="text--16pts text--600wt">
                  {{ 'administracion.protecciones.coberturas.guardar.condicionesDestinacion' | translate }}
                </span>
              </legend>

              <!-- Disponible para garantía -->
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="col-form-label" appMimLabel for="disponibleParaGarantia">
                    {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.disponibleParaGarantia' | translate }}
                  </label>
                  <div class="custom-control custom-switch p-0">
                    <label class="switch">
                      <input type="checkbox" formControlName="disponibleParaGarantia" id="disponibleParaGarantia"
                        name="disponibleParaGarantia">
                      <span class="slider round">
                        <span class="text--white text--14pts text--500wt">SI</span>
                        <span class="text--white text--14pts text--500wt">NO</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>

            </fieldset>
            <!-- Fin condificiones destinacion -->

            <!-- Inicio condiciones movimientos -->
            <fieldset class="fieldset_mm pb-3">
              <legend class="legend_mm">
                <span class="text--16pts text--600wt">
                  {{ 'administracion.protecciones.coberturas.guardar.condicionesMovimientos' | translate }}
                </span>
              </legend>

              <div class="row mx-0 w-100">

                <!-- Aplica reactivación -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="aplicaReactivacion">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.aplicaReactivacion' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="aplicaReactivacion" id="aplicaReactivacion"
                          name="aplicaReactivacion">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Aplica para revocatoria -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="aplicaRevocatoria">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.aplicaRevocatoria' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="aplicaRevocatoria" id="aplicaRevocatoria"
                          name="aplicaRevocatoria">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Aplica habilitación -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="aplicaHabilitacion">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.aplicaHabilitacion' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="aplicaHabilitacion" id="aplicaHabilitacion"
                          name="aplicaHabilitacion">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Aplica receso -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="aplicaReceso">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.aplicaReceso' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="aplicaReceso" id="aplicaReceso" name="aplicaReceso">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Aplica reingreso -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="aplicaReingreso">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.aplicaReingreso' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="aplicaReingreso" id="aplicaReingreso"
                          name="aplicaReingreso">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

              </div>

            </fieldset>
            <!-- Fin condificiones movimientos -->

            <!-- Inicio configuracion indemnizacion -->
            <fieldset class="fieldset_mm pb-3">
              <legend class="legend_mm">
                <span class="text--16pts text--600wt">
                  {{ 'administracion.protecciones.coberturas.guardar.condicionesIndemnización' | translate }}
                </span>
              </legend>

              <div class="row mx-0 w-100">

                <!-- Se puede cancelar -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="cancelar">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.cancelar' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="cancelar" id="cancelar" name="cancelar">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Devolución retiro -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="devolucionRetiro">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.devolucionRetiro' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="devolucionRetiro" id="devolucionRetiro"
                          name="devolucionRetiro">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Prórroga -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="prorroga">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.prorroga' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="prorroga" id="prorroga" name="prorroga">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Tiene rescate -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="rescate">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.rescate' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="rescate" id="rescate" name="rescate">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Exoneración pago -->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="exoneracionPago">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.exoneracionPago' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="exoneracionPago" id="exoneracionPago"
                          name="exoneracionPago">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>


                <!--ACobertura indemnizada que activa la subsistencia-->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="aplicaSubsistencia">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.aplicaSubsistencia' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="aplicaSubsistencia" id="aplicaSubsistencia"
                          name="aplicaSubsistencia">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>


                <!--Aplica disminución por anticipo de pago-->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="disminucionAnticipoPago">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.disminucionAnticipoPago' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="disminucionAnticipoPago" id="disminucionAnticipoPago"
                          name="disminucionAnticipoPago">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>



                <!--Valores rescate por preexistencia-->
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label" appMimLabel for="beneficiosPreexistencia">
                      {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.valorRescatePreexistencia' | translate }}
                    </label>
                    <div class="custom-control custom-switch p-0">
                      <label class="switch">
                        <input type="checkbox" formControlName="beneficiosPreexistencia" id="beneficiosPreexistencia"
                          name="beneficiosPreexistencia">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">SI</span>
                          <span class="text--white text--14pts text--500wt">NO</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

              </div>

            </fieldset>
            <!-- Fin configuracion indemnizacion -->

            <!-- fecha inicio y fecha fin -->
            <div class="col-sm-12 col-md-12">
              <div class="form-group row align-items-center">
                <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                  {{ 'administracion.protecciones.planCobertura.guardar.caracteristicasBasicas.condiciones.guardar.fechaInicioFechaFin' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                    [controlName]="'fechaInicioFechaFin'">
                    <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                      formControlName="fechaInicioFechaFin" [selectionMode]="'range'" [disabled]="estadoFecha"
                      ngDefaultControl>
                    </app-mim-date-picker>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.nivelesRiesgosCobertura.grid.fechaInicio' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

          </div>

          <div class="card-footer  w-100 border-0 py-4 mt-3">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(form)"
                (click)="_guardar()">
                <span class="icon-checkmark mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
