<ng-template [ngIf]="tipoEventos">
  <div class="pb-5 pt-3">
    <div class="row  mx-0 w-100 align-items-center">
      <div class="col-md-12">
        <h1 class="my-0">
          {{ 'administracion.asignacionGestionDiaria.titulo' | translate }}
        </h1>
      </div>
    </div>

    <div class="card cards--panelLeft mt-4">
      <div class="row">
        <div class="col">
          <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPanelLeft">
            <div class="card-body ">
              <form class="form--default form-height" [formGroup]="form" *ngIf="isForm | async as isForm;">
                <div class="row">
                  <!-- Tipo de auxilio -->
                  <div class="col-xl-3 col-md-4 form-group mb-0">
                    <label appMimLabel for="tipoEvento">
                      {{ 'administracion.asignacionGestionDiaria.filter.tipoSolicitud'| translate }}
                    </label>
                    <div class="input-group" appMimInput [for]="'tipoEvento'" [controlName]="'tipoEvento'">
                      <app-mim-select class="w-100" [inputId]="'tipoEvento'" [options]="tipoEventos"
                        formControlName="tipoEvento" [optionKey]="'nombre'" ngDefaultControl></app-mim-select>
                    </div>
                  </div>

                  <!-- Fases -->
                  <div class="col-xl-3 col-md-4 form-group mb-0">
                    <label appMimLabel for="fases">
                      {{ 'administracion.asignacionGestionDiaria.filter.fases'| translate }}
                    </label>
                    <div class="input-group" appMimInput [for]="'fases'" [controlName]="'fases'">
                      <app-mim-select class="w-100" [inputId]="'fases'" [options]="fases" formControlName="fases"
                        [optionKey]="'nombre'" ngDefaultControl></app-mim-select>
                    </div>
                  </div>

                  <!-- Usuarios -->
                  <div class="col-xl-3 col-md-4 form-group mb-0">
                    <label appMimLabel for="usuarios">
                      {{ 'administracion.asignacionGestionDiaria.filter.usuarios'| translate }}
                    </label>
                    <div class="input-group" appMimInput [for]="'usuarios'" [controlName]="'usuarios'">
                      <app-mim-multiselect class="w-100" [inputId]="'usuarios'" [options]="usuarios"
                        formControlName="usuarios" [optionKey]="'nombre'" name="'usuarios'" ngDefaultControl>
                      </app-mim-multiselect>
                    </div>
                  </div>
                  <!-- Numero de casos -->
                  <div class="col-xl-3 col-md-4 form-group mb-0">
                    <label appMimLabel for="numeroCasos">
                      {{ 'administracion.asignacionGestionDiaria.filter.numeroCasos'| translate }}
                    </label>
                    <div class="input-group" appMimInput [for]="'numeroCasos'" [controlName]="'numeroCasos'">
                      <input type="text" class="form-control " id="numeroCasos" name="numeroCasos"
                        formControlName="numeroCasos" mask="9999" [dropSpecialCharacters]="false" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <app-mim-grid [configuracion]="configuracion.gridAsignacionGestionDiaria" (seleccionar)="alSeleccionar($event)"
        (deseleccionar)="alDeseleccionar($event)" (clickCeldaElement)="_onClickCeldaElement($event)"></app-mim-grid>
    </div>
  </div>

  <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer" *ngIf="habilitarAsignar()">
    <div class="card-body py-2">
      <div class="row mx-0 justify-content-end">
        <!-- Botones -->
        <div class="col-12">
          <div class="d-flex justify-content-end">
            <div class="alert panel--alert p-0 my-0 mx-3" role="alert">
              <h5 class="my-0 text--gray2 text--600wt d-inline-flex align-items-center text--tittle_circle">
                <span class="icon-check bg--green2 mr-3 text--26pts"></span>
                {{ 'administracion.asignacionGestionDiaria.footer.camposCompletosMensaje' | translate }}
              </h5>
            </div>
            <button class="btn btn--orange1 btn--md" (click)="asignar()">
              <span class="icon-users mr-2"></span>
              {{ 'global.asignar' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-mim-wind-modal [configuracion]="configuracion.modalResumen">
    <app-mim-grid [configuracion]="configuracion.gridResumen"></app-mim-grid>
    <div class="d-flex justify-content-end">
      <button class="btn btn--orange1 btn--md my-3" (click)="cerrarModal()">
        {{ 'global.accept' | translate }}
      </button>
    </div>
  </app-mim-wind-modal>
</ng-template>