<form class="form--default col-md-12 w-100 px-5 pt-4 pb-3" [formGroup]="form" *ngIf="isForm | async as isForm">
    <div class="card-body">

        <div class="row mx-0 w-100">

            <!-- Codigo -->
            <div class="col-sm-6 col-xl-6 px-2">
                <div class="form-group row align-items-center">
                    <label appMimLabel for="codigo" class="col-sm-12 col-form-label">
                        {{ 'administracion.actuaria.cargueMasivoFactores.grid.codigo' | translate }}
                    </label>
                    <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'codigo'" [controlName]="'codigo'">
                            <input type="number" class="form-control" id="codigo" formControlName="codigo"
                                name="codigo" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cobertura -->
            <div class="col-sm-6 col-xl-6 px-2">
                <div class="form-group row align-items-center">
                    <label appMimLabel for="cobertura" class="col-sm-12 col-form-label">
                        {{ 'administracion.actuaria.cargueMasivoFactores.grid.cobertura' | translate }}
                    </label>
                    <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'cobertura'" [controlName]="'cobertura'">
                            <app-mim-select class="w-100" [inputId]="'cobertura'" [options]="coberturas"
                                formControlName="cobertura" [optionKey]="'mimCobertura.nombre'" name="'cobertura'"
                                ngDefaultControl>
                            </app-mim-select>
                        </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="cobertura" errorKey="required">
                        {{ 'global.required' | translate : { campo:
                        'administracion.actuaria.cargueMasivoFactores.grid.cobertura' | translate } }}
                    </app-mim-input-error>
                </div>
            </div>

            <!-- Tipo factor -->
            <div class="col-sm-6 col-xl-6 px-2">
                <div class="form-group row align-items-center">
                    <label appMimLabel for="tipoFactor" class="col-sm-12 col-form-label">
                        {{ 'administracion.actuaria.cargueMasivoFactores.grid.tipoFactor' | translate }}
                    </label>
                    <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'tipoFactor'" [controlName]="'tipoFactor'">
                            <app-mim-select class="w-100" [inputId]="'tipoFactor'" [options]="tiposFactores"
                                formControlName="tipoFactor" [optionKey]="'nombre'" name="'tipoFactor'"
                                ngDefaultControl>
                            </app-mim-select>
                        </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="tipoFactor" errorKey="required">
                        {{ 'global.required' | translate : { campo:
                        'administracion.actuaria.cargueMasivoFactores.grid.tipoFactor' | translate } }}
                    </app-mim-input-error>
                </div>
            </div>

            <div class="col-sm-3 col-xl-3 px-2">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                    {{ 'administracion.actuaria.cargueMasivoFactores.grid.edadMinima' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                    {{ form.value.edadMinima | emptyPipe }}
                </h4>
            </div>

            <div class="col-sm-3 col-xl-3 px-2">
                <h5 class="text--600wt text--gray2 mt-2 mb-0">
                    {{ 'administracion.actuaria.cargueMasivoFactores.grid.edadMaxima' | translate }}
                </h5>
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                    {{ form.value.edadMaxima | emptyPipe }}
                </h4>
            </div>

            <!-- Descripcion -->
            <div class="col-sm-6 col-xl-6 px-2">
                <div class="form-group row align-items-center">
                    <label appMimLabel for="descripcion" class="col-sm-12 col-form-label">
                        {{ 'administracion.actuaria.cargueMasivoFactores.grid.descripcion' | translate }}
                    </label>
                    <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'descripcion'" [controlName]="'descripcion'">
                            <textarea type="text" rows="6" class="form-control" id="descripcion"
                                formControlName="descripcion" name="descripcion" mask="c*" [patterns]="patterns"
                                [dropSpecialCharacters]="false" maxlength="1000"></textarea>
                        </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="descripcion" errorKey="required">
                        {{ 'global.required' | translate : { campo:
                        'administracion.actuaria.cargueMasivoFactores.grid.descripcion' | translate } }}
                    </app-mim-input-error>
                </div>
            </div>


            <div class="col-sm-6 col-xl-6 px-2">
                <!-- Estructura de cargue -->
                <div class="col-sm-12 col-xl-12 px-2" *ngIf="isContribucion">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="estructuraCargue" class="col-sm-12 col-form-label">
                            {{ 'administracion.actuaria.cargueMasivoFactores.grid.estructuraCargue' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'estructuraCargue'" [controlName]="'estructuraCargue'">
                                <app-mim-select class="w-100" [inputId]="'estructuraCargue'" [options]="estructuraCargues"
                                    formControlName="estructuraCargue" [optionKey]="'nombre'" name="'estructuraCargue'"
                                    ngDefaultControl>
                                </app-mim-select>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="estructuraCargue" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.actuaria.cargueMasivoFactores.grid.estructuraCargue' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>
                <!-- Seleccion del archivo -->
                <div class="col-sm-12 col-xl-12 px-2">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="archivo" class="col-sm-12 col-form-label">
                            {{ 'administracion.actuaria.cargueMasivoFactores.grid.archivo' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="custom-file custom--file" appMimInput [for]="'archivo'"
                                [controlName]="'archivo'">
                                <input type="file" class="custom-file-input file--input" id="archivo"
                                    (change)="uploadFile($event)" [disabled]="cargarDocumento">
                                <label class="custom-file-label" [for]="'archivo'">{{nombreDocumento}}</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Fecha inicio - fin -->
            <div class="col-sm-6 col-xl-6 px-2">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFin">
                        {{ 'administracion.actuaria.cargueMasivoFactores.grid.fechaInicioFinVigencia' | translate }}
                    </label>
                    <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'fechaInicioFin'" [controlName]="'fechaInicioFin'">
                            <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFin'"
                                formControlName="fechaInicioFin" [selectionMode]="'range'" ngDefaultControl>
                            </app-mim-date-picker>
                        </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="fechaInicioFin" errorKey="required">
                        {{ 'global.required' | translate : { campo:
                        'administracion.actuaria.cargueMasivoFactores.grid.fechaInicioFinVigencia' | translate } }}
                    </app-mim-input-error>
                </div>
            </div>

            <div class="col-sm-6 col-xl-6 px-2">                
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                   {{textoInformativoLabel}}
                </h4>
            </div>



            <!-- Botones -->
            <div class="col-xl-12">
                <div class="d-flex flex-row-reverse">

                    <button type="submit" class="btn btn--orange1 btn--md" [disabled]="form.pristine"
                        (click)="_cargar()">
                        <span class="icon-plus mr-2"></span>
                        {{ 'administracion.actuaria.cargueMasivoFactores.botonProcesar' | translate }}
                    </button>
                    <button type="button" class="btn btn--border_green1 btn--md mr-3" (click)="descargarDocumento()"
                        [disabled]="form.pristine">
                        <span class="icon-download-2 mr-2"></span>
                        {{ 'administracion.cargueMasivo.descargarFormato' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<hr class="col-11" />
<div class="col-md-12">
    <div class="mt-3 px-4 pb-4">
        <app-mim-grid [configuracion]="configuracion.gridListar" (clickCeldaElement)="_onClickCeldaElement($event)"
            (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)" (ordenar)="_ordenar($event)">
        </app-mim-grid>
    </div>
</div>