<div class="w-100 mb-5">
  <form [formGroup]="form" class="form--default w-100 pb-3" *ngIf="isForm | async as isForm">
    <!-- Inicio -->
    <div class="row pr-2">
      <div class="col-md-12">
        <div class="d-flex justify-content-end ">
          <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
            <span class="text--13pts text--600wt text--gray2 col">
              {{ 'eventos.consulta.solicitud.registro.validaDocumentos.aviso' | translate }}
            </span>
            <label class="switch my-0">
                <input type="checkbox" class="cursor-point" formControlName="aviso"
                id="aviso" name="aviso" />
                <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 p-0 m-0">
      <div class="row mx-0 w-100 align-items-center">
        <div class="col-3 p-0">
            <h5 class="badge--title my-0 badge badge-primary text-uppercase text--13pts p-2 text-title-badge bg--orange1">
              {{ 'eventos.consulta.solicitud.registro.validaDocumentos.listaDocumentos' | translate }}
            </h5>
        </div>
        <div class="col-9 p-0 pl-3"><hr class="mt-4"></div>
      </div>
    </div>

    <div class="card cards--panelLeft cards--panelLeft_beneficiarios mt-2" formArrayName="documentos"
      *ngFor="let item of documentos.controls; let i = index">
      <div class="col-12" [formGroupName]="i">
        <div class="card-header py-0">
          <div class="row py-3">
            <div class="col-md-11 d-flex justify-content-start">
                <span class="icon-document mr-3 text--20pts"></span>
                <h5 class="my-0 text--14pts text--medium"> {{item.value.docReqDescripcion}} </h5>
            </div>
            <div class="custom-control custom-checkbox custom-checkbox_box">
                    <input class="custom-control-input" [attr.disabled]="item.value.bloqueo? '': null"
                      [attr.id]="'documento' + i" [attr.name]="'documento' + i" type="checkbox" [attr.checked]="item.value.seleted? '' : null"
                      value="{{item.value.docReqCodigo}}" (click)="checkedDocumento(item.value)">
                    <label class="custom-control-label icon-" [attr.for]="'documento' + i"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin -->

    <!-- Gestion pendiente por -->
    <app-mim-gestion-pendiente-por formGroupName="gestionPendientePor" [dataInit]="dataInitGestionPendientePor"></app-mim-gestion-pendiente-por>

    <!-- Observación -->
    <app-mim-observacion-evento [disabled]="_disabledObservacion" [descripcionObserva]="_descripcionObserva" (datoObservacion)="datoObservacion($event)"></app-mim-observacion-evento>

    <!-- Generación de la carta -->
    <app-mim-genera-carta [disabled]="envioCarta" [asoNumInt]="asoNumInt" [faseFlujo]="faseFlujo" [idProceso]="idProceso" (cartaGenerada)="cartaGenerada($event)"></app-mim-genera-carta>

  </form>

</div>
