.cards--panelLeft .card-header [aria-expanded="true"] span.icon-chevron-down {
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.barra-asociado {
  margin-top: -42px;
  position: fixed;
  left: 0px;
  z-index: 2;
  /* width: 100vw; */
  border-radius: 0px !important;
}
.barra-asociado-hide {
  z-index: -1;
  position: relative;
}
.barra-asociado-header {
  border-radius: 0px 0px 5px 5px !important;
  border: 0px !important;
}
.barra-asociado-header-container {
  height: 35px;
  padding: 8px 0px 8px 0px;
}
.barra-asociado-body-container {
  padding: 10px 0px 10px 0px;
  margin: 0px 20px 0px -5px;
}
.barra-asociado-nombre {
  font-size: 15px;
}
.padding-lr {
  padding-right: 2.95rem !important;
  padding-left: 1.18rem !important;
}
@media (max-width: 1200px) {
  .padding-lr {
    padding-right: 1.9rem !important;
    padding-left: 1.7rem !important;
  }
}
.btn--icon {
  height: 1.5rem !important;
  width: 1.5rem !important;
  font-size: 12px;
  bottom: 10px;
}
.bt-1px {
  border-top: 1px solid #d6dbe0;
}
.mt--15 {
  margin-top: 0.60rem!important;
}

button{
  position: relative;
  top: 0 !important;
}
