<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
    <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
        <div class="row mx-0 w-100 align-items-center">
            <div class="col-md-11 px-0 py-3">
                <div class="row mx-0 w-100 justify-content-start">
                    <div class="col-md-11">
                        <h5 class="my-0 text--18pts text--medium">
                            <ng-container [ngSwitch]="obtenerEstado()">
                                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2"
                                    style="padding: .5rem .6rem;">
                                    <em class="text--green1 icon-check-circle"></em>
                                </span>
                                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2"
                                    style="padding: .5rem .6rem;">
                                    <em class="text--gray1 icon-circle"></em>
                                </span>
                            </ng-container>
                            {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.titulo' | translate | emptyPipe }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-1 p-0">
                <div class="row justify-content-end">
                    <div class="col-md-2 px-0 pt-2 pr-3">
                        <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
                            aria-controls="collapsePortafolioAsociadosOne"
                            class="text--15pts text--green1 float-right cursor-point" (click)="toggle()">
                            <span class="icon-chevron-up" *ngIf="dropdown"></span>
                            <span class="icon-chevron-down" *ngIf="!dropdown"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
        data-parent="#accordionExclusiones">
        <div class="card-body">
            <div class="d-flex flex-row-reverse">
                <button class="btn btn--orange1 btn--md mr-2" (click)="toggleGuardar(true)">
                    <span class="icon-plus mr-2"></span>
                    {{ 'global.add' | translate }}
                </button>
            </div>

            <div class="">
                <app-mim-grid [configuracion]="configuracion.gridConfig"
                    (clickCeldaElement)="onClickCeldaElement($event)" (siguiente)="onSiguiente($event)"
                    (atras)="onAtras($event)"></app-mim-grid>

                <!-- Control de activos -->
                <div class="d-flex pt-5 mt-4 position_check">
                    <div class="form--default">
                        <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
                            <label class="switch my-0">
                                <input type="checkbox" checked (click)="onToggleStatus($event)" class="cursor-point" />
                                <span class="slider round"></span>
                            </label>
                            <span class="text--13pts text--600wt text--gray2 col">
                                {{ 'global.mostrarActivos' | translate }}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Inicio guardar -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
    <div class="row mx-0 w-100 justify-content-end">
        <div class="col-xl-4 col-md-6 px-0">
            <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
                <div class="card-header">
                    <div class="row mx-0 w-100 align-items-center">
                        <div class="col-lg-10">
                            <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.tituloCrear' | translate }}
                                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
                            </h1>
                            <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.tituloEditar' | translate }}
                                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
                            </h1>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn--circle btn--circle_green" (click)="toggleGuardar(false)">
                                <span class="icon-cross mr-2"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">
                    <div class="card-body pb-0">
                        <div class="row mx-0">

                            <!-- Tipo valor proteccion -->
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="tipoValor" class="col-sm-12 col-form-label">
                                        {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.tipoValor' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'tipoValor'"
                                            [controlName]="'tipoValor'">
                                            <app-mim-select class="w-100" [inputId]="'tipoValor'"
                                                [options]="tiposValorProteccion" formControlName="tipoValor"
                                                [optionKey]="'nombre'" name="'tipoValor'" ngDefaultControl>
                                            </app-mim-select>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="tipoValor"
                                        errorKey="required">
                                        {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.tipoValor' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Coberturas-->
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="cobertura" class="col-sm-12 col-form-label">
                                        {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.cobertura' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'cobertura'"
                                            [controlName]="'cobertura'">
                                            <app-mim-select class="w-100" [inputId]="'cobertura'"
                                                [options]="coberturas" formControlName="cobertura" [optionKey]="'nombre'"
                                                name="'cobertura'" ngDefaultControl>
                                            </app-mim-select>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="cobertura" errorKey="required">
                                        {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.cobertura' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Desmembración -->
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="desmembracion" class="col-sm-12 col-form-label">
                                        {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.desmembracion' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'desmembracion'" [controlName]="'desmembracion'">
                                            <app-mim-select class="w-100" [inputId]="'desmembracion'"
                                                [options]="desmembraciones" formControlName="desmembracion" [optionKey]="'descripcion'"
                                                name="'desmembracion'" ngDefaultControl>
                                            </app-mim-select>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="desmembracion" errorKey="required">
                                        {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.desmembracion' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- % para pago por desmembración -->
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group row align-items-center">
                                    <label appMimLabel for="porcentajePago" class="col-sm-12 col-form-label">
                                        {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.porcentajeParaPagar' | translate }}
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="input-group" appMimInput [for]="'porcentajePago'" [controlName]="'porcentajePago'">
                                            <input type="text" class="form-control" id="porcentajePago" formControlName="porcentajePago"
                                                name="porcentajePago"  appMimInputDecimales="3,2" />
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="porcentajePago" errorKey="required">
                                        {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.porcentajeParaPagar' | translate } }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="porcentajePago" errorKey="max">
                                        {{ 'global.maxValue' | translate :
                                        { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.porcentajeParaPagar' | translate,
                                          max: 100
                                        }
                                      }}
                                    </app-mim-input-error>
                                    <app-mim-input-error class="col-sm-12" controlName="porcentajePago" errorKey="min">
                                        {{ 'global.minValue' | translate :
                                        { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.porcentajeParaPagar' | translate,
                                          min: 1
                                        }
                                      }}
                                    </app-mim-input-error>
                                </div>
                            </div>

                            <!-- Fecha inicio y fecha fin -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                                        {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.fechaInicioFin' | translate }}
                                    </label>
                                    <div class="col-sm-12">
                                        <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                                            [controlName]="'fechaInicioFechaFin'">
                                            <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                                                formControlName="fechaInicioFechaFin" [disabled]="estadoFecha"
                                                [selectionMode]="'range'" ngDefaultControl>
                                            </app-mim-date-picker>
                                        </div>
                                    </div>
                                    <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                                        {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.fechaInicioFin' | translate } }}
                                    </app-mim-input-error>
                                </div>
                            </div>


                            <!-- Vigente -->
                            <div class="col-sm-12 com-md-12">
                                <div class="form-group">
                                    <label class="col-form-label" appMimLabel for="vigente">
                                        {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.desmembracionAccidente.formulario.disponible' | translate }}
                                    </label>
                                    <div class="custom-control custom-switch p-0">
                                        <label class="switch">
                                            <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                                            <span class="slider round">
                                              <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                                              <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                                            </span>
                                          </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer  w-100 border-0">
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="guardar()"
                                [disabled]="isPristine(form)">
                                <span class="icon-checkmark mr-2"></span>
                                {{ 'global.save' | translate }}
                            </button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>
<!-- Fin crear. -->
