<div class="row  mx-0 w-100 align-items-center">
  <div class="col-md-12">
    <h1 class="my-0">
      <ng-template [ngIf]="_esCreacion">
        {{ 'administracion.protecciones.formulaPlan.guardar.crear' | translate }}
      </ng-template>
      <ng-template [ngIf]="!_esCreacion">
        {{ 'administracion.protecciones.formulaPlan.guardar.actualizar' | translate }}
      </ng-template>
    </h1>
  </div>
</div>

<div class="mt-3 card bg--white border-0 rounded-0">
  <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
    <div class="card-body">
      <div class="row mx-0 w-100">

        <!-- Plan -->
        <div class="col-sm-12 col-md-6" *ngIf="_esCreacion">
          <div class="form-group row align-items-center">
            <label appMimLabel for="plan" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.formulaPlan.grid.plan' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'plan'" [controlName]="'plan'">
                <app-mim-multiselect class="w-100" [inputId]="'plan'" [options]="planes"
                  formControlName="plan" [optionKey]="'nombre'" name="'plan'" ngDefaultControl>
                </app-mim-multiselect>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="plan" errorKey="required">
              {{ 'global.required' | translate : { campo:
              'administracion.protecciones.formulaPlan.grid.plan' | translate } }}
            </app-mim-input-error>
          </div>
        </div>

        <!-- Plan -->
        <div class="col-sm-12 col-md-6" *ngIf="!_esCreacion">
          <div class="form-group row align-items-center">
            <label appMimLabel for="plan" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.formulaPlan.grid.plan' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'plan'" [controlName]="'plan'">
                <app-mim-select class="w-100" [inputId]="'plan'" [options]="planes"
                  formControlName="plan" [optionKey]="'nombre'" name="'plan'" ngDefaultControl>
                </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="plan" errorKey="required">
              {{ 'global.required' | translate : { campo: 'administracion.protecciones.formulaPlan.grid.tipoFormulaPlan'
              | translate } }}
            </app-mim-input-error>
          </div>
        </div>

        <!-- Tipo formula plan -->
        <div class="col-sm-12 col-md-6">
          <div class="form-group row align-items-center">
            <label appMimLabel for="tipoFormulaPlan" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.formulaPlan.grid.tipoFormulaPlan' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'tipoFormulaPlan'" [controlName]="'tipoFormulaPlan'">
                <app-mim-select class="w-100" [inputId]="'tipoFormulaPlan'" [options]="tiposFormulaPlan"
                  formControlName="tipoFormulaPlan" [optionKey]="'nombre'" name="'tipoFormulaPlan'" ngDefaultControl>
                </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="tipoFormulaPlan" errorKey="required">
              {{ 'global.required' | translate : { campo: 'administracion.protecciones.formulaPlan.grid.tipoFormulaPlan'
              | translate } }}
            </app-mim-input-error>
          </div>
        </div>

        <!-- Formula -->
        <div class="col-sm-12 col-md-6">
          <div class="form-group row align-items-center">
            <label appMimLabel for="formula" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.formulaPlan.grid.formula' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'formula'" [controlName]="'formula'">
                <textarea type="text" rows="5" class="form-control" id="formula" formControlName="formula"
                  name="formula" mask="c*" [patterns]="patterns" [dropSpecialCharacters]="false"></textarea>
              </div>
            </div>
          </div>
        </div>

        <!-- Descripcion -->
        <div class="col-sm-12 col-md-6">
          <div class="form-group row align-items-center">
            <label appMimLabel for="descripcion" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.formulaPlan.grid.descripcion' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'descripcion'" [controlName]="'descripcion'">
                <textarea type="text" rows="5" class="form-control" id="descripcion" formControlName="descripcion"
                  name="descripcion" mask="c*" [patterns]="patterns" [dropSpecialCharacters]="false"></textarea>
              </div>
            </div>
          </div>
        </div>

        <!--Disponible-->
        <div class="col-sm-12 com-md-12">
          <div class="form-group">
            <label class="col-form-label" appMimLabel for="vigente">
              {{ 'administracion.protecciones.formulaPlan.grid.vigente' | translate }}
            </label>
            <div class="custom-control custom-switch p-0">
              <label class="switch">
                <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                <span class="slider round">
                  <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                  <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                </span>
              </label>
            </div>
          </div>
        </div>

        <!-- fecha inicio y fecha fin -->
        <div class="col-sm-12 col-md-6">
          <div class="form-group row align-items-center">
            <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
              {{ 'administracion.protecciones.formulaPlan.grid.fechaInicioYFin' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'" [controlName]="'fechaInicioFechaFin'">
                <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'" formControlName="fechaInicioFechaFin"
                  [selectionMode]="'range'" [disabled]="estadoFecha" ngDefaultControl></app-mim-date-picker>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
              {{ 'global.required' | translate : { campo: 'administracion.protecciones.formulaPlan.grid.fechaInicio' | translate } }}
            </app-mim-input-error>
          </div>
        </div>

        <!--Controles -->
        <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
          <div class="card-body py-2">
            <div class="row mx-0 w-10 justify-content-end align-items-center">
              <!-- Botones -->
              <div class="col-xl-12">
                <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()"
                    [disabled]="form.pristine">
                    <span class="icon-checkmark mr-2"></span>
                    {{ 'global.save' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>