<div class="row mx-0 w-100 mt-1 align-items-center">
    <div class="col-12 px-0">
        <div class="row mx-0 w-100 align-items-center">
            <div class="col-4 p-0">
                <h5
                    class="badge--title my-0 badge badge-primary text-uppercase text--14pts p-2 text-title-badge bg--orange">
                    {{ 'shared.components.form.declaracionSalud.titulo' | translate }}
                </h5>
            </div>
            <div class="col-8 pl-3 pr-0">
                <hr class="mt-4" />
            </div>
        </div>
    </div>
</div>

<div class="form--default w-100 pt-2" [formGroup]="controlContainer.control">
    <ng-container formArrayName="preguntasControlMedico">

        <div class="card border-0 mt-1 p-2"
            *ngFor="let pregunta of this.controlContainer.control['controls'].preguntasControlMedico.controls; index as i;">
            <ng-container [formGroupName]="i">
                <div class="row d-flex align-items-center">
                    <div class="col-md-11">
                        <p class="text-justifytext--gray2 text--500wt pt-2 px-3 text--14pts text-justify">
                            {{pregunta.value.pregunta}}
                        </p>
                    </div>
                    <div class="col-md-1 pl-0">

                        <div class="custom-control custom-switch p-0">
                            <label class="switch">
                                <input type="checkbox" formControlName="respuesta" id="respuesta" name="respuesta">
                                <span class="slider round">
                                    <span class="text--white text--14pts text--500wt">SI</span>
                                    <span class="text--white text--14pts text--500wt">NO</span>
                                </span>
                            </label>
                        </div>

                    </div>
                </div>
            </ng-container>
        </div>

    </ng-container>

    <!-- IMC -->
    <div class="card border-0 mt-1 py-2">
        <div class="col-md-12">
            <div class="row">
                <!-- Peso -->
                <div class="col">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="peso" class="col-sm-12 col-form-label">
                            {{ 'shared.components.form.declaracionSalud.form.peso' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'peso'" [controlName]="'peso'">
                                <input type="text" class="form-control" id="peso" formControlName="peso" name="peso"
                                    appMimInputDecimales="3" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="peso" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'shared.components.form.declaracionSalud.form.peso' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Estatura (Mts) -->
                <div class="col px-md-0 px-xl-3">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="estatura" class="col-sm-12 col-form-label">
                            {{ 'shared.components.form.declaracionSalud.form.estatura' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'estatura'" [controlName]="'estatura'">
                                <input type="text" class="form-control" id="estatura" formControlName="estatura"
                                    name="estatura" appMimInputDecimales="1,2" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="estatura" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'shared.components.form.declaracionSalud.form.estatura' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- IMC -->
                <div class="col-2">
                    <div class="row mx-0 w-100 pt-2">
                        <div class="col-3 px-0 pt-2">
                            <h5 class="text--tittle_circle my-0">
                                <span class="icon-scale-2 bg--green1 text--26pts"></span>
                            </h5>
                        </div>
                        <div class="col-9 px-0 pl-2">
                            <div class="form-group row px-md-2 px-xl-0">
                                <label appMimLabel class="col-sm-12 col-form-label pb-0">
                                    {{ 'shared.components.form.declaracionSalud.form.imc' | translate }}
                                </label>
                                <div class="col-sm-12">

                                    <h2 class="text--500wt text--gray1 my-0">
                                        {{ imc | number:'1.0-2' | emptyPipe }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card border-0 mt-1 py-2" *ngIf="mostrarAmpliarRespuesta1 || mostrarAmpliarRespuesta2">

        <p class="text-justifytext--gray2 text--500wt pt-2 px-3 text--14pts text-justify" *ngIf="textoAmpliarRespuesta1">
            {{ textoAmpliarRespuesta1 | translate }}
        </p>
        <p class="text-justifytext--gray2 text--500wt pt-2 px-3 text--14pts text-justify" *ngIf="textoAmpliarRespuesta2">
            {{ textoAmpliarRespuesta2 | translate }}
        </p>

        <div class="col-md-12">
            <div class="row" *ngIf="mostrarAmpliarRespuesta1">
                <!-- Diagnosticos -->
                <div class="col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="diagnosticos" class="col-sm-12 col-form-label">
                            {{ 'shared.components.form.declaracionSalud.form.diagnosticos' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'diagnostico'" [controlName]="'diagnostico'">
                                <input type="text" class="form-control" id="diagnostico" formControlName="diagnostico"
                                    name="diagnostico" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="diagnostico" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'shared.components.form.declaracionSalud.form.diagnosticos' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Fecha diagnosticos -->
                <div class="col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="fechaDiagnostico" class="col-sm-12 col-form-label">
                            {{ 'shared.components.form.declaracionSalud.form.fechaDiagnostico' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'fechaDiagnostico'"
                                [controlName]="'fechaDiagnostico'">
                                <app-mim-date-picker class="w-100" [inputId]="'fechaDiagnostico'"
                                    formControlName="fechaDiagnostico" [maxDate]="maxDateValue" ngDefaultControl [disabled]="deshabilitaFechaDiag">
                                </app-mim-date-picker>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="fechaDiagnostico" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'shared.components.form.declaracionSalud.form.fechaDiagnostico' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Descripcion de la secuela -->
                <div class="col-md-12">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="descripcionSecuela" class="col-sm-12 col-form-label">
                            {{ 'shared.components.form.declaracionSalud.form.descripcionSecuela' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'descripcionSecuela'"
                                [controlName]="'descripcionSecuela'">
                                <input type="text" class="form-control" id="descripcionSecuela"
                                    formControlName="descripcionSecuela" name="descripcionSecuela" mask="c*"
                                    [patterns]="patterns" [dropSpecialCharacters]="false" maxlength="1000" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="descripcionSecuela" errorKey="required">
                            {{ 'global.required' | translate : { campo: 'shared.components.form.declaracionSalud.form.descripcionSecuela' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Observación declaración de salud -->
                <div class="col-md-12">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="observacionDeclaracionSalud" class="col-sm-12 col-form-label">
                            {{ 'shared.components.form.declaracionSalud.form.observacionDeclaracionSalud' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'observacionDeclaracionSalud'"
                                [controlName]="'observacionDeclaracionSalud'">
                                <textarea type="text" rows="6" class="form-control" id="observacionDeclaracionSalud"
                                    formControlName="observacionDeclaracionSalud" name="observacionDeclaracionSalud"
                                    mask="c*" [patterns]="patterns" [dropSpecialCharacters]="false"
                                    maxlength="1000"></textarea>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="observacionDeclaracionSalud"
                            errorKey="required">
                            {{ 'global.required' | translate : { campo: 'shared.components.form.declaracionSalud.form.observacionDeclaracionSalud' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>