<div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-2" [ngClass]="{active: dropdown }">
  <div class="card-header py-2 " id="headingPortafolioAsociadosOne">
    <div class="row mx-0 w-100 align-items-center">
      <div class="col-md-11 px-0 py-3">
        <div class="row mx-0 w-100 justify-content-start">
          <div class="col-md-11">
            <h5 class="my-0 text--18pts text--medium">
              <ng-container [ngSwitch]="_obtenerEstado()">
                <span *ngSwitchCase="'guardado'" class="bg--green3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--green1 icon-check-circle"></em>
                </span>
                <span *ngSwitchDefault class="bg--gray3 rounded-circle mx-2" style="padding: .5rem .6rem;">
                  <em class="text--gray1 icon-circle"></em>
                </span>
              </ng-container>
              {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.titulo' | translate | emptyPipe }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-1 p-0">
        <div class="row justify-content-end">
          <div class="col-md-2 px-0 pt-2 pr-3">
            <a data-toggle="collapse" data-target="#collapsePortafolioAsociadosOne" aria-expanded="false"
              aria-controls="collapsePortafolioAsociadosOne" class="text--15pts text--green1 float-right cursor-point"
              (click)="_toggle()">
              <span class="icon-chevron-up" *ngIf="dropdown"></span>
              <span class="icon-chevron-down" *ngIf="!dropdown"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ show: dropdown }" aria-labelledby="headingCategoriaDetalle"
    data-parent="#accordionPortafolioAsociados">
    <div class="card-body">
      <div class="d-flex flex-row-reverse">
        <button class="btn btn--orange1 btn--md mr-2" (click)="_toggleGuardar(true)">
          <span class="icon-plus-3 mr-2"></span>
          {{ 'global.add' | translate }}
        </button>
      </div>

      <div class="">
        <app-mim-grid [configuracion]="configuracion.gridConfig" (clickCeldaElement)="_onClickCeldaElement($event)"
          (siguiente)="_onSiguiente($event)" (atras)="_onAtras($event)"></app-mim-grid>
      </div>

      <!-- Control de activos -->
      <div class="d-flex pt-5 mt-4 position_check">
        <div class="form--default">
          <div class="custom-control custom-switch custom-switch_xs row d-flex px-0 mt-2">
            <label class="switch my-0">
              <input type="checkbox" checked (click)="_onToggleStatus($event)" class="cursor-point" />
              <span class="slider round"></span>
            </label>
            <span class="text--13pts text--600wt text--gray2 col">
              {{ 'global.mostrarActivos' | translate }}
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Inicio guardar valor rescate -->
<div class="sidebar--slide sidebar--slide_right" [ngClass]="{ open: mostrarGuardar == true }" *ngIf="mostrarGuardar">
  <div class="row mx-0 w-100 justify-content-end">
    <div class="col-xl-4 col-md-6 px-0">
      <div class="card cards--panel bg--white border-0 rounded-0 overflow-y-scroll">
        <div class="card-header">
          <div class="row mx-0 w-100 align-items-center">
            <div class="col-lg-10">
              <h1 class="text--500wt text--gray1 my-0" *ngIf="_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.crear' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
              <h1 class="text--500wt text--gray1 my-0" *ngIf="!_esCreacion">
                {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.actualizar' | translate }}
                <h3>{{nombrePlan}} - {{nombreCobertura}}</h3>
              </h1>
            </div>
            <div class="col-lg-2">
              <button class="btn btn--circle btn--circle_green" (click)="_toggleGuardar(false)">
                <span class="icon-cross mr-2"></span>
              </button>
            </div>
          </div>
        </div>
        <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
          <div class="card-body">
            <div class="row mx-0">
              <!-- Causa Rescate -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="causaRescate" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.causaRescate' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'causaRescate'" [controlName]="'causaRescate'">
                      <app-mim-select class="w-100" [inputId]="'causaRescate'" [options]="causas"
                        formControlName="causaRescate" [optionKey]="'nombre'" name="'causaRescate'" ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="causaRescate" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.causaRescate' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Tipo rescate -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="tipoRescate" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.tipoRescate' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'tipoRescate'" [controlName]="'tipoRescate'">
                      <app-mim-select class="w-100" [inputId]="'tipoRescate'" [options]="tipoRescates"
                        formControlName="tipoRescate" [optionKey]="'nombre'" name="'tipoRescate'" ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="tipoRescate" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.tipoRescate' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- numero Contribuciones Minimas -->
              <div class="col-sm-12 col-md-6">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="contribucionMinima" class="col-sm-12 col-form-label height_auto">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.numeroContribucionesMinimas' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'contribucionMinima'"
                      [controlName]="'contribucionMinima'">
                      <input type="number" class="form-control" id="contribucionMinima"
                        formControlName="contribucionMinima" name="contribucionMinima" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="contribucionMinima" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.numeroContribucionesMinimas' | translate } }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="contribucionMinima" errorKey="max">
                    {{ 'administracion.protecciones.planCobertura.guardar.alertas.nombreCaracteresMaxima' | translate : {numero: 3} }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="contribucionMinima" errorKey="range">
                    {{ 'administracion.protecciones.planCobertura.guardar.alertas.maxMinContribuciion' | translate  }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- numero Contribuciones máximas -->
              <div class="col-sm-12 col-md-6">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="contribucionMaxima" class="col-sm-12 height_auto col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.numeroContribucionesMaximas' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'contribucionMaxima'"
                      [controlName]="'contribucionMaxima'">
                      <input type="number" class="form-control" id="contribucionMaxima"
                        formControlName="contribucionMaxima" name="contribucionMaxima" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="contribucionMaxima" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.numeroContribucionesMaximas' | translate } }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="contribucionMaxima" errorKey="max">
                    {{ 'administracion.protecciones.planCobertura.guardar.alertas.nombreCaracteresMaxima' | translate : {numero: 3} }}
                  </app-mim-input-error>
                  <app-mim-input-error class="col-sm-12" controlName="contribucionMaxima" errorKey="range">
                    {{ 'administracion.protecciones.planCobertura.guardar.alertas.maxMinContribuciion' | translate  }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- valor -->
              <div class="col-sm-12 col-md-6">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="valor" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.valor' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'valor'" [controlName]="'valor'">
                      <input type="text" class="form-control" id="valor" formControlName="valor" name="valor"
                        mask="separator.2" thousandSeparator="." />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="valor" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.valor' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Rentabilidad -->
              <div class="col-sm-12 col-md-6">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="rentabilidad" class="col-sm-12 col-form-label">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.rentabilidad' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'rentabilidad'" [controlName]="'rentabilidad'">
                      <input type="number" class="form-control" id="rentabilidad" formControlName="rentabilidad"
                        name="rentabilidad" />
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="rentabilidad" errorKey="required">
                    {{ 'global.required' | translate  : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.rentabilidad' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Fecha inicio y fecha fin -->
              <div class="col-sm-12 com-md-12">
                <div class="form-group row align-items-center">
                    <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                        {{
                        'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.enfermedadesGraves.guardar.fechaInicioFechaFin'
                        | translate }}
                    </label>
                    <div class="col-sm-12">
                        <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                            [controlName]="'fechaInicioFechaFin'">
                            <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                                formControlName="fechaInicioFechaFin"
                                [selectionMode]="'range'" ngDefaultControl>
                            </app-mim-date-picker>
                        </div>
                    </div>
                    <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin"
                        errorKey="required">
                        {{
                        'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.enfermedadesGraves.guardar.fechaInicioFechaFin'
                        | translate }}
                    </app-mim-input-error>
                </div>
              </div>

              <!-- Beneficiario pago valor rescate -->
              <div class="col-sm-12 col-md-12">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="beneficiarioPago" class="col-sm-12 col-form-label">
                    {{'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.BeneficiarioPago' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'beneficiarioPago'"
                      [controlName]="'beneficiarioPago'">
                      <app-mim-select class="w-100" [inputId]="'beneficiarioPago'" [options]="listBeneficiariosPagoValor"
                        formControlName="beneficiarioPago" [optionKey]="'nombre'" name="'beneficiarioPago'"
                        ngDefaultControl>
                      </app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error class="col-sm-12" controlName="beneficiarioPago" errorKey="required">
                    {{ 'global.required' | translate : { campo: 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.guardar.BeneficiarioPago' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>

              <!-- Vigente -->
              <div class="col-sm-12 col-md-6" *ngIf="!_esCreacion">
                <div class="form-group">
                  <label class="col-form-label" appMimLabel for="vigente">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.valorRescate.grid.vigente' | translate }}
                  </label>
                  <div class="custom-control custom-switch p-0">
                    <label class="switch">
                      <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                      <span class="slider round">
                        <span class="text--white text--14pts text--500wt">SI</span>
                        <span class="text--white text--14pts text--500wt">NO</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer  w-100 border-0 py-4">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" [disabled]="isPristine(form)"
                (click)="_guardar()">
                <span class="icon-checkmark mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin crear valor rescate. -->
