<div class="row mx-0 w-100 align-items-center">
  <div class="col-md-12">
    <div class="d-flex justify-content-between mx-0 w-100 align-items-center">
      <!-- Titulo -->
      <div class="px-0">
        <h1 class="my-0">
          {{ "asociado.preexistencias.preexistencia" | translate }}
        </h1>
      </div>
      <!-- Historico -->
      <div class="px-0">
        <a class="btn btn--orange1 btn--md text--white" aria-disabled="true" (click)="_OnClickHistorico()">
          {{ 'asociado.preexistencias.consultarHistorico' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0 w-100 mt-4">
  <div class="col-md-12">
    <div class="card cards--headerFooter my-3">
      <form class="my-5 form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm">
        <div class="row mx-0 w-100">
          <div class="col-8">
            <div class="row">
              <!-- Fecha Registro -->
              <div class="col-4">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label" appMimLabel for="fechaRegistro">
                    {{ 'asociado.preexistencias.actualizar.fechaRegistro' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'fechaRegistro'" [controlName]="'fechaRegistro'">
                      <app-mim-date-picker class="w-100" [inputId]="'fechaRegistro'" [minDate]="minDateValue"
                        [maxDate]="maxDateValue" formControlName="fechaRegistro" [disabled]="true" ngDefaultControl>
                      </app-mim-date-picker>
                    </div>
                  </div>
                  <app-mim-input-error controlName="fechaRegistro" errorKey="required">
                    *{{ 'global.required' | translate : { campo: 'asociado.preexistencias.actualizar.fechaRegistro' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>
              <!-- Fecha Inicio -->
              <div class="col-4">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicio">
                    {{ 'asociado.preexistencias.ingresar.fechaInicio' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'fechaInicio'" [controlName]="'fechaInicio'">
                      <app-mim-date-picker class="w-100" [inputId]="'fechaInicio'" [minDate]="minDateValue"
                        [maxDate]="maxDateValue" formControlName="fechaInicio" ngDefaultControl></app-mim-date-picker>
                    </div>
                  </div>
                  <app-mim-input-error controlName="fechaInicio" errorKey="required">
                    *{{ 'global.required' | translate : { campo: 'asociado.preexistencias.ingresar.fechaInicio' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>
              <!-- Auditor -->
              <div class="col-4">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label" appMimLabel for="auditor">
                    {{ 'asociado.preexistencias.actualizar.auditor' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <h4 class="text--500wt text--gray1 mt-2 mb-0">
                      {{ preexistencia.empleadoNombre | emptyPipe }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Diagnostico -->
          <div class="col-4">
            <div class="form-group row align-items-center">
              <label class="col-sm-12 col-form-label" appMimLabel for="diagnostico">
                {{ 'asociado.preexistencias.descripcionDiagnostico' | translate }}
              </label>
              <div class="col-sm-12">
                <h4 class="text--500wt text--gray1 mt-2 mb-0">
                  {{ (preexistencia?.diagCod?.diagCod + " - " + preexistencia?.diagCod?.diagDesc) | emptyPipe }}
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-0 w-100">
          <div class="col-8">
            <div class="row">
              <!-- Causa -->
              <div class="col-4">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="causa" class="col-sm-12 col-form-label">
                    {{ 'asociado.preexistencias.causa' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'causa'" [controlName]="'causa'">
                      <app-mim-select class="w-100" [inputId]="'causa'" [options]="causas" formControlName="causa"
                        [optionKey]="'nombre'" name="'causa'" ngDefaultControl></app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error controlName="causa" errorKey="required">
                    *{{ 'global.required' | translate : { campo: 'asociado.preexistencias.causa' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>
              <!-- Estado -->
              <div class="col-4">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="estado" class="col-sm-12 col-form-label">
                    {{ 'global.status' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'estado'" [controlName]="'estado'">
                      <app-mim-select class="w-100" [inputId]="'estado'" [options]="estados" formControlName="estado"
                        [optionKey]="'nombre'" name="'estado'" ngDefaultControl></app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error controlName="estado" errorKey="required">
                    *{{ 'global.required' | translate : { campo: 'global.status' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>
              <!-- Examen Medico -->
              <div class="col-4">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="examen" class="col-sm-12 col-form-label">
                    {{ 'asociado.preexistencias.ingresar.examen' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'examen'" [controlName]="'examen'">
                      <app-mim-select class="w-100" [inputId]="'examen'" [options]="examenes" formControlName="examen"
                        [optionKey]="'nombre'" name="'examen'" ngDefaultControl></app-mim-select>
                    </div>
                  </div>
                  <app-mim-input-error controlName="examen" errorKey="required">
                    *{{ 'global.requierido' | translate }}
                  </app-mim-input-error>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <!-- Calificacion -->
              <div class="col-6">
                <div class="form-group row align-items-center">
                  <label appMimLabel for="calificacion" class="col-sm-12 col-form-label">
                    {{ 'asociado.preexistencias.calificacion' | translate }}
                  </label>
                  <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'calificacion'" [controlName]="'calificacion'">
                      <input type="number" class="form-control" id="calificacion" formControlName="calificacion"
                        name="calificacion" min="0" max="8" (keyup)="_onKeyUp()" />
                    </div>
                  </div>
                  <app-mim-input-error controlName="calificacion" errorKey="required">
                    *{{ 'global.required' | translate : { campo: 'asociado.preexistencias.calificacion' | translate } }}
                  </app-mim-input-error>
                </div>
              </div>
              <!-- Permite Cobertura -->
              <div class="col-6">
                <div class="form-group row align-items-center">
                  <label class="col-sm-12 col-form-label" appMimLabel for="cobertura">
                    {{ 'asociado.preexistencias.ingresar.permiteCobertura' | translate }}
                  </label>
                  <div class="custom-control custom-switch pl-3">
                    <label class="switch b-5">
                      <input type="checkbox" formControlName="cobertura" id="cobertura" name="cobertura">
                      <span class="slider round">
                        <span class="text--white text--14pts text--500wt">SI</span>
                        <span class="text--white text--14pts text--500wt">NO</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-0 w-100">
          <!-- Observaciones -->
          <div class="col-12">
            <div class="form-group ">
              <label class="col-form-label" appMimLabel for="observaciones">
                {{ 'global.observations' | translate }}
              </label>
              <div class="input-group" appMimInput [for]="'observaciones'" [controlName]="'observaciones'">
                <textarea class="form-control" id="observaciones" formControlName="observaciones" rows="3"></textarea>
              </div>
              <app-mim-input-error controlName="observaciones" errorKey="required">
                *{{ 'global.required' | translate : { campo: 'global.observations' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error controlName="observaciones" errorKey="maxlength">
                {{ 'asociado.preexistencias.ingresar.observacionesMaxLength' | translate }}
              </app-mim-input-error>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer de preexistencias -->
<div class="card cards--footer border-0 rounded-0 ">
  <div class="card-body p-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <div class="col-xl-9">
        <div class="mx-0 w-100 row justify-content-end align-items-center">
          <!-- Actualizar preexistencia -->
          <div class="col-xl-12 mb-2">
            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_onSavePreexistencia()"
                [disabled]="!tienePermisos('MM_EDITAR')">
                <span class="icon-edit-3 mr-2"></span>
                {{ 'global.save' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
