<div class="card cards--headerFooter w-100 mb-3">
  <div class="card-body">
    <div class="row mx-0 w100 justify-content-between">
      <div class="col-12 col-lg-6">
        <table class="table table--default  my-0">
          <tbody class="columns">
            <tr *ngFor="let leftItem of _leftItems">
              <td class="bg--white text-left">
                {{ leftItem.label | translate: leftItem.labelParams }}</td>
              <td class="bg--white">
                <div [ngSwitch]="leftItem.tipo || 'normal'">
                  <!-- Switch de los elementos que tiene la celda -->
                  <!-- Solo formato moneda -->
                  <h5 *ngSwitchCase="'currency'" class="my-0 text-right text--gray1 text--600wt">
                    {{ leftItem.value | customCurrency | emptyPipe }}
                  </h5>
                  <!-- Solo calcular edad -->
                  <h5 *ngSwitchCase="'birthday'" class="my-0 text-right text--gray1 text--600wt">
                    {{ leftItem.value | birthday | emptyPipe }}
                  </h5>
                  <!-- Solo formato numerico -->
                  <h5 *ngSwitchCase="'numero'" class="my-0 text-right text--gray1 text--600wt">
                    {{ leftItem.value | number: '1.2-2' | emptyPipe }}
                  </h5>
                  <!-- Solo porcentaje -->
                  <h5 *ngSwitchCase="'percent'" class="my-0 text-right text--gray1 text--600wt">
                    {{ leftItem.value | percent: '1.2-2' | emptyPipe }}
                  </h5>
                  <!-- Solo formato texto -->
                  <h5 *ngSwitchDefault class="my-0 text-right text--gray1 text--600wt">
                    {{ leftItem.value | emptyPipe }}
                  </h5>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot class="columns">
            <tr>
              <td class="bg--white text-left">
                {{ configuracion.labelSubtotal | translate }}
              </td>
              <td class="bg--white">
                <h5 class="my-0 text-right text--gray1 text--600wt">
                  {{ configuracion.subtotal | customCurrency | emptyPipe }}
                </h5>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-12 col-lg-6">
        <table class="table table--default  my-0">
          <tbody class="columns">
            <tr *ngFor="let rightItem of _rightItems">
              <td class="bg--white text-left" style="width: 170px !important;">
                {{ rightItem.label | translate: rightItem.labelParams}}
              </td>
              <td class="bg--white">
                <div [ngSwitch]="rightItem.tipo || 'normal'">
                  <!-- Switch de los elementos que tiene la celda -->
                  <!-- Solo formato moneda -->
                  <h5 *ngSwitchCase="'currency'" class="my-0 text-right text--gray1 text--600wt">
                    {{ rightItem.value | customCurrency | emptyPipe }}
                  </h5>
                  <!-- Solo calcular edad -->
                  <h5 *ngSwitchCase="'birthday'" class="my-0 text-right text--gray1 text--600wt">
                    {{ rightItem.value | birthday | emptyPipe }}
                  </h5>
                  <!-- Solo formato numerico -->
                  <h5 *ngSwitchCase="'numero'" class="my-0 text-right text--gray1 text--600wt">
                    {{ rightItem.value | number: '1.2-2' | emptyPipe }}
                  </h5>
                  <!-- Solo porcentaje -->
                  <h5 *ngSwitchCase="'percent'" class="my-0 text-right text--gray1 text--600wt">
                    {{ rightItem.value | percent: '1.2-2' | emptyPipe }}
                  </h5>
                  <!-- Solo formato texto -->
                  <h5 *ngSwitchDefault class="my-0 text-right text--gray1 text--600wt">
                    {{ rightItem.value | emptyPipe }}
                  </h5>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <h5 class="text--600wt text--gray1 text-right mt-0 mb-1">
          {{ configuracion.labelTotal | translate }}
        </h5>
        <h2 class="text--500wt text--green1 my-0 text-right">
          {{ configuracion.total | customCurrency | emptyPipe }}
        </h2>
      </div>
    </div>
  </div>
</div>
