<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
      <h1 class="my-0">
        <ng-template [ngIf]="_esCreacion">
          {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.crear' | translate }}
        </ng-template>
        <ng-template [ngIf]="!_esCreacion">
          {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.actualizar' | translate }}
        </ng-template>
      </h1>
    </div>
  </div>
  
  <div class="mt-3 card bg--white border-0 rounded-0">
    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
      <div class="card-body">
        <div class="row mx-0 w-100">
  
          <!-- Fondo -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="fondo" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.grid.fondo' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'fondo'" [controlName]="'fondo'">
                  <app-mim-select class="w-100" [inputId]="'fondo'" [options]="fondos" formControlName="fondo"
                    [optionKey]="'nombre'" name="'fondo'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="fondo" errorKey="required">
                {{ 'global.required' | translate : { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.grid.fondo' | translate } }}
              </app-mim-input-error>
            </div>
          </div>
  
          <!-- Planes -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="plan" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.grid.plan' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'plan'" [controlName]="'plan'">
                  <app-mim-select class="w-100" [inputId]="'plan'" [options]="planes" formControlName="plan"
                    [optionKey]="'nombre'" name="'plan'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="plan" errorKey="required">
                {{ 'global.required' | translate : { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.grid.plan' | translate } }}
              </app-mim-input-error>
            </div>
          </div>
  
          <!-- Canal -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="canal" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.canal' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'canal'" [controlName]="'canal'">
                  <app-mim-select class="w-100" [inputId]="'canal'" [options]="canales"
                    formControlName="canal" [optionKey]="'nombre'" name="'canal'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="canal" errorKey="required">
                {{ 'global.required' | translate : { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.canal' | translate } }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- Tipo Movimiento -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="tipoMovimiento" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.tipoSolicitud' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'tipoMovimiento'" [controlName]="'tipoMovimiento'">
                  <app-mim-select class="w-100" [inputId]="'tipoMovimiento'" [options]="tiposMovimientos"
                    formControlName="tipoMovimiento" [optionKey]="'nombre'" name="'tipoMovimiento'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="tipoMovimiento" errorKey="required">
                {{ 'global.required' | translate : { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.tipoMovimiento' | translate } }}
              </app-mim-input-error>
            </div>
          </div>

          <!--AplicaControlAreaTecnica-->
          <div class="col-sm-3 com-md-3">
            <div class="form-group">
                <label class="col-form-label" appMimLabel for="aplicaControlAreaTecnica">
                    {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.aplicaControlAreaTecnica' | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                    <label class="switch">
                        <input type="checkbox" formControlName="aplicaControlAreaTecnica" id="aplicaControlAreaTecnica" name="aplicaControlAreaTecnica">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                          <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                        </span>
                    </label>
                </div>
            </div>
          </div>

          <!-- Nivel Riesgo -->
          <div class="col-sm-3 col-md-3">
            <div class="form-group row align-items-center">
              <label appMimLabel for="nivelRiesgo" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.nivelRiesgo' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'nivelRiesgo'" [controlName]="'nivelRiesgo'">
                  <app-mim-select class="w-100" [inputId]="'nivelRiesgo'" [options]="nivelRiesgos"
                    formControlName="nivelRiesgo" [optionKey]="'nombre'" name="'nivelRiesgo'" ngDefaultControl>
                  </app-mim-select>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="nivelRiesgo" errorKey="required">
                {{ 'global.required' | translate : { campo: 'c' | translate } }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- valor minimo proteccion -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="valorMinimoProteccion" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.valorMinimoProteccion' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'valorMinimoProteccion'" [controlName]="'valorMinimoProteccion'">
                  <input type="text" class="form-control" id="valorMinimoProteccion" formControlName="valorMinimoProteccion" 
                    name="valorMinimoProteccion" mask="separator.2" thousandSeparator="." />
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="valorMinimoProteccion" errorKey="required">
                {{ 'global.required' | translate : { campo:'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.valorMinimoProteccion' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="valorMinimoProteccion" errorKey="rangeNoIguales">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.alertas.igualValorProteccion' | translate  }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="valorMinimoProteccion" errorKey="range">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.alertas.maxValorProteccion' | translate  }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- valor maximo proteccion -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="valorMaximoProteccion" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.valorMaximoProteccion' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'valorMaximoProteccion'" [controlName]="'valorMaximoProteccion'">
                  <input type="text" class="form-control" id="valorMaximoProteccion" formControlName="valorMaximoProteccion"
                    name="valorMaximoProteccion" mask="separator.2" thousandSeparator="." />
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="valorMaximoProteccion" errorKey="required">
                {{ 'global.required' | translate : { campo:'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.valorMaximoProteccion' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="valorMaximoProteccion" errorKey="range">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.alertas.maxValorProteccion' | translate  }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="valorMaximoProteccion" errorKey="rangeNoIguales">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.alertas.igualValorProteccion' | translate  }}
              </app-mim-input-error>
              
            </div>
          </div>

          <!-- edad minima -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="edadMinima" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMinima' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'edadMinima'" [controlName]="'edadMinima'">
                  <input type="text" class="form-control" id="edadMinima" formControlName="edadMinima"
                    name="edadMinima"/>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="edadMinima" errorKey="required">
                {{ 'global.required' | translate : { campo:'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMinima' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="edadMinima" errorKey="min">
                {{ 'global.minValue' | translate :
                  { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMinima' | translate,
                    min: 18
                  }
                }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="edadMinima" errorKey="max">
                {{ 'global.maxValue' | translate :
                    { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMinima' | translate,
                      max: 100
                    }
                  }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="edadMinima" errorKey="range">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.alertas.maxMinEdad' | translate  }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- edad maxima -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="edadMaxima" class="col-sm-12 col-form-label">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMaxima' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'edadMaxima'" [controlName]="'edadMaxima'">
                  <input type="text" class="form-control" id="edadMaxima" formControlName="edadMaxima"
                    name="edadMaxima"/>
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="edadMaxima" errorKey="required">
                {{ 'global.required' | translate : { campo:'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMaxima' | translate } }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="edadMaxima" errorKey="min">
                {{ 'global.minValue' | translate :
                  { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMaxima' | translate,
                    min: 18
                  }
                }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="edadMaxima" errorKey="max">
                {{ 'global.maxValue' | translate :
                    { campo: 'administracion.protecciones.gestionPlanes.controlAreaTecnica.guardar.edadMaxima' | translate,
                      max: 100
                    }
                  }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="edadMaxima" errorKey="range">
                {{ 'administracion.protecciones.gestionPlanes.controlAreaTecnica.alertas.maxMinEdad' | translate  }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- Vigente -->
          <div class="col-sm-2 com-md-2">
            <div class="form-group">
                <label class="col-form-label" appMimLabel for="vigente">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.enfermedadesGraves.guardar.vigente' | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                    <label class="switch">
                        <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                        <span class="slider round">
                          <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate }}</span>
                          <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate }}</span>
                        </span>
                      </label>
                </div>
            </div>
        </div>


          <!-- Fecha inicio y fecha fin -->
          <div class="col-sm-4 com-md-4">
            <div class="form-group row align-items-center">
                <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.enfermedadesGraves.guardar.fechaInicioFechaFin' | translate }}
                </label>
                <div class="col-sm-12">
                    <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'"
                        [controlName]="'fechaInicioFechaFin'">
                        <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'"
                            formControlName="fechaInicioFechaFin" [disabled]="estadoFecha"
                            [selectionMode]="'range'"
                            [mantenerFechasSeleccionadas]="!_esCreacionDetalle"
                            [fechasAMantenerSeleccionadas]="vigenciaFechasAMantenerSeleccionadas"
                            ngDefaultControl>
                        </app-mim-date-picker>
                    </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
                    {{ 'administracion.protecciones.planCobertura.guardar.otrasCaracteristicas.enfermedadesGraves.guardar.fechaInicioFechaFin' | translate }}
                </app-mim-input-error>
            </div>
        </div>
  
          <!--Controles -->
          <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
            <div class="card-body py-2">
              <div class="row mx-0 w-10 justify-content-end align-items-center">
                <!-- Botones -->
                <div class="col-xl-12">
                  <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()"
                      [disabled]="form.pristine">
                      <span class="icon-checkmark mr-2"></span>
                      {{ 'global.save' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </form>
  </div>
  