<!-- TÍTULO Y PAGINADOR-->
<div class="row mx-0 w-100 align-items-center">
  <div class="col-md-6  pl-0">
    <h1 class="my-0">Bandeja de entrada</h1>
  </div>
  <div class="col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination nav--pagination my-0 align-items-center justify-content-end">
        <h4 class="text--gray1 text--500wt my-0 mr-3">0 de 0 resultados</h4>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- TABLA DE CONTENIDO -->
<div class="card cards--table mt-5 border-0">
  <div class="card-header">
    <div class="row mx-0 w-100">
      <div class="col-2">
        <h5 class="my-0 text-left text-uppercase text--gray2 text--700wt">No. solicitud</h5>
      </div>
      <div class="col-3">
        <h5 class="my-0 text-left text-uppercase text--gray2 text--700wt">Usuario</h5>
      </div>
      <div class="col-2">
        <h5 class="my-0 text-left text-uppercase text--gray2 text--700wt">Producto</h5>
      </div>
      <div class="col-1">
        <h5 class="my-0 text-center text-uppercase text--gray2 text--700wt">Días</h5>
      </div>
      <div class="col">
        <h5 class="my-0 text-left text-uppercase text--gray2 text--700wt">Acción</h5>
      </div>
      <div class="col">
        <h5 class="my-0 text-left text-uppercase text--gray2 text--700wt">Solicitud</h5>
      </div>
      <div class="col-1">
        <h5 class="my-0 text-left text-uppercase text--gray2 text--700wt">Docs</h5>
      </div>
    </div>
  </div>
  <!--
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row mx-0 w-100">
        <div class="col-2">
          <button class="btn btn--border_orange1 btn--md w-100" (click)="irBitacoraAcciones()"><span class="">31007534</span></button>
        </div>
        <div class="col-3">
          <h5 class="my-0 text-left text--gray1 text--600wt">Cristian Esteban Vela R.</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">1.234.567.890</h5>
        </div>
        <div class="col-2">
          <h5 class="my-0 text-left text--gray1 text--600wt">Devolución de Solvencias</h5>
        </div>
        <div class="col-1">
          <h5 class="badge bg--yellow1 text--13pts text--700wt my-0 w-100 py-1 text text--white">239</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Validar Devolución</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Reclamación</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">
            <span class="icon-calendar text--orange1 mr-2"></span>26/12/2018
          </h5>
        </div>
        <div class="col-1">
          <a class="btn btn--icon bg--blue2" href="#">
            <span class="icon-external-link text--blue1"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item active">
      <div class="row mx-0 w-100">
        <div class="col-2">
          <button class="btn btn--border_orange1 btn--md w-100" (click)="irBitacoraAcciones()"><span>31007691</span></button>
        </div>
        <div class="col-3">
          <h5 class="my-0 text-left text--gray1 text--600wt">Hernán Forero L.</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">14.654.781</h5>
        </div>
        <div class="col-2">
          <h5 class="my-0 text-left text--gray1 text--600wt">Devolución de Solvencias</h5>
        </div>
        <div class="col-1">
          <h5 class="badge bg--yellow1 text--13pts text--700wt my-0 w-100 py-1 text text--white">210</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Validar Devolución</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Reclamación</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">
            <span class="icon-calendar text--orange1 mr-2"></span>26/12/2018
          </h5>
        </div>
        <div class="col-1">
          <a class="btn btn--icon bg--blue2" href="#">
            <span class="icon-external-link text--blue1"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row mx-0 w-100">
        <div class="col-2">
          <button class="btn btn--border_orange1 btn--md w-100" (click)="irBitacoraAcciones()"><span class="">31023159</span></button>
        </div>
        <div class="col-3">
          <h5 class="my-0 text-left text--gray1 text--600wt">Álvaro Andrés Muñoz O.</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">1.144.054.785</h5>
        </div>
        <div class="col-2">
          <h5 class="my-0 text-left text--gray1 text--600wt">Funerario de Asociado</h5>
        </div>
        <div class="col-1">
          <h5 class="badge bg--red1 text--13pts text--700wt my-0 w-100 py-1 text text--white">89</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Validar Devolución</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Reclamación</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">
            <span class="icon-calendar text--orange1 mr-2"></span>26/12/2018
          </h5>
        </div>
        <div class="col-1">
          <a class="btn btn--icon bg--blue2" href="#">
            <span class="icon-external-link text--blue1"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row mx-0 w-100">
        <div class="col-2">
          <button class="btn btn--border_orange1 btn--md w-100" (click)="irBitacoraAcciones()"><span class="">31023159</span></button>
        </div>
        <div class="col-3">
          <h5 class="my-0 text-left text--gray1 text--600wt">Álvaro Andrés Muñoz O.</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">1.144.054.785</h5>
        </div>
        <div class="col-2">
          <h5 class="my-0 text-left text--gray1 text--600wt">Funerario de Asociado</h5>
        </div>
        <div class="col-1">
          <h5 class="badge bg--red1 text--13pts text--700wt my-0 w-100 py-1 text text--white">150</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Validar Devolución</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Reclamación</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">
            <span class="icon-calendar text--orange1 mr-2"></span>26/12/2018
          </h5>
        </div>
        <div class="col-1">
          <a class="btn btn--icon bg--blue2" href="#">
            <span class="icon-external-link text--blue1"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row mx-0 w-100">
        <div class="col-2">
          <button class="btn btn--border_orange1 btn--md w-100" (click)="irBitacoraAcciones()"><span class="">31023159</span></button>
        </div>
        <div class="col-3">
          <h5 class="my-0 text-left text--gray1 text--600wt">Álvaro Andrés Muñoz O.</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">1.144.054.785</h5>
        </div>
        <div class="col-2">
          <h5 class="my-0 text-left text--gray1 text--600wt">Funerario de Asociado</h5>
        </div>
        <div class="col-1">
          <h5 class="badge bg--red1 text--13pts text--700wt my-0 w-100 py-1 text text--white">240</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Validar Devolución</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Reclamación</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">
            <span class="icon-calendar text--orange1 mr-2"></span>26/12/2018
          </h5>
        </div>
        <div class="col-1">
          <a class="btn btn--icon bg--blue2" href="#">
            <span class="icon-external-link text--blue1"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row mx-0 w-100">
        <div class="col-2">
          <button class="btn btn--border_orange1 btn--md w-100" (click)="irBitacoraAcciones()"><span class="">31023159</span></button>
        </div>
        <div class="col-3">
          <h5 class="my-0 text-left text--gray1 text--600wt">Álvaro Andrés Muñoz O.</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">1.144.054.785</h5>
        </div>
        <div class="col-2">
          <h5 class="my-0 text-left text--gray1 text--600wt">Funerario de Asociado</h5>
        </div>
        <div class="col-1">
          <h5 class="badge bg--green1 text--13pts text--700wt my-0 w-100 py-1 text text--white">32</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Validar Devolución</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Reclamación</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">
            <span class="icon-calendar text--orange1 mr-2"></span>26/12/2018
          </h5>
        </div>
        <div class="col-1">
          <a class="btn btn--icon bg--blue2" href="#">
            <span class="icon-external-link text--blue1"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row mx-0 w-100">
        <div class="col-2">
          <button class="btn btn--border_orange1 btn--md w-100" (click)="irBitacoraAcciones()"><span class="">31023159</span></button>
        </div>
        <div class="col-3">
          <h5 class="my-0 text-left text--gray1 text--600wt">Álvaro Andrés Muñoz O.</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">1.144.054.785</h5>
        </div>
        <div class="col-2">
          <h5 class="my-0 text-left text--gray1 text--600wt">Funerario de Asociado</h5>
        </div>
        <div class="col-1">
          <h5 class="badge bg--green1 text--13pts text--700wt my-0 w-100 py-1 text text--white">32</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Validar Devolución</h5>
        </div>
        <div class="col">
          <h5 class="my-0 text-left text--gray1 text--600wt">Reclamación</h5>
          <h5 class="my-0 text-left text--gray1 text--600wt">
            <span class="icon-calendar text--orange1 mr-2"></span>26/12/2018
          </h5>
        </div>
        <div class="col-1">
          <a class="btn btn--icon bg--blue2" href="#">
            <span class="icon-external-link text--blue1"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
  -->
</div>
