<div class="row mx-0 w-100 mt-4">
  <div class="col-md-12 mb-3">
    <div class="card cards--disabled w-100 mb-3">
      <div class="card-body py-5">
        <div class="row mx-0 w-100 justify-content-center my-5">
          <div class="col-md-8">
            <picture>
              <img src="./assets/images/icon-busqueda-no-encontrada.svg" alt="" class="mx-auto d-block" />
            </picture>
            <h2 class="text--700wt text--gray2 text-center mt-3 mb-2">
              Página no encontrada
            </h2>
            <div class="row justify-content-center">
              <button class="btn btn-link" (click)="goHome()">
                <span class="text--500wt text--green1 text-center">
                  Ir a inicio
                </span>
              </button>
              <span class="text--500wt text--blue1 text-center">|</span>
              <button class="btn btn-link" (click)="goBack()">
                  <span class="text--500wt text--green1 text-center">
                    Ir atras
                  </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
