<div class="mx-0 w-100 align-items-center row">
    <!-- TÍTULO -->
    <div class="col-md-10 pb-3">
      <h1 class="my-0">
        {{ tituloBitacora | translate }}
      </h1>
    </div>
</div>

<!-- PANELES DE INFORMACIÓN -->
<div class="row mx-0 w-100 mt-0">
  <div class="w-100 mb-2 select-no-border" *ngFor="let dato of datos; index as i;">
    <div class="card cards--headerFooter w-100 " [ngClass]="{'select-border': selectIndex == i}" (click)="_onClickCard(i, $event)">
      <div class="card-header py-2">
        <div class="row mx-0 w100 align-items-center">
          <div class="col-md-7 col-ms-12 pl-0">
            <h4 class="text--500wt text--black my-0">
              <span class="icon-user text--18pts mr-2 text--orange1"></span>
              {{ dato.employee.name | uppercase }}
            </h4>
          </div>
          <div class="col px-0">
            <h5 class="text--600wt text--black my-0">
              <span class="icon-calendar text--orange1 text--15pts mr-2"></span>
              {{ dato.date }}
            </h5>
          </div>
          <div class="col px-0">
            <h5 class="text--600wt text--black my-0">
              <span class="icon-clock text--orange1 text--15pts mr-2 border-left pl-3 py-1"></span>
             {{ dato.time }}
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body py-2">
        <h5 class="text--600wt text--gray2 text-justify my-0">
          {{ dato.observation }}
        </h5>
      </div>
    </div>
  </div>
</div>
