<!-- TÍTULO Y PAGINADOR-->
<div class="row mx-0 w-100 align-items-center">
  <div class="col-md-12 pl-0">
    <h1 class="my-0">{{ 'asociado.facturacion.detalleAjuste' | translate }}</h1>
  </div>
</div>
<div class="card cards--headerFooter w-100 my-4">
  <div class="card-header">
    <div class="row mx-0 w100 align-items-center">
      <div class="col-md-7 pl-0">
        <h2 class="text--500wt text--gray1 my-0">
          AJUSOLI - Plan 65 años antiguo
        </h2>
      </div>
      <div class="col-md-5 pr-0">
        <div class="row mx-0 w-100 justify-content-end text-right align-items-center">
          <div class="col-md-5 border-right">
            <h5 class="text--600wt text--gray1 my-0"><span class="icon-calendar text--orange1 text--15pts mr-2"></span>
              25/08/2018</h5>
          </div>
          <div class="col-md-6 px-0">
            <h5 class="text--13pts text--600wt text--gray1 my-0">
              <span class="text--gray2">{{ 'asociado.facturacion.codigoAjuste' | translate }}:</span>
              201746
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row mx-0 w-100">
      <div class="col">
        <h5 class="text--600wt text--gray2 mt-2 mb-0">Usuario</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">OPESOL</h4>
        <h5 class="text--600wt text--gray2 mt-4 mb-0">{{ 'asociado.facturacion.valorCuota' | translate }}</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">$13.715</h4>
      </div>
      <div class="col">
        <h5 class="text--600wt text--gray2 mt-2 mb-0">{{ 'global.status' | translate }}</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">.</h4>
        <h5 class="text--600wt text--gray2 mt-4 mb-0">{{ 'asociado.facturacion.periodoFinal' | translate }}</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">2018/09</h4>
      </div>
      <div class="col">
        <h5 class="text--600wt text--gray2 mt-2 mb-0">{{ 'asociado.facturacion.periodoInicial' | translate }}</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">2018/09</h4>
        <h5 class="text--600wt text--gray2 mt-4 mb-0">{{ 'asociado.facturacion.cuotasFacturadas' | translate }}</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">1 Meses</h4>
      </div>
      <div class="col">
        <h5 class="text--600wt text--gray2 mt-2 mb-0">{{ 'asociado.facturacion.valorAjuste' | translate }}</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">$13.715</h4>
      </div>
      <div class="col">
        <h5 class="text--600wt text--gray2 mt-2 mb-0">{{ 'asociado.facturacion.cuotasPactadas' | translate }}</h5>
        <h4 class="text--500wt text--gray1 mt-2 mb-0">1 Meses</h4>
      </div>
    </div>
  </div>
  <div class="card-body border-top mt-3">
    <form class="form--default">
      <div class="row mx-0 w-100">
        <div class="col-12">
          <div class="form-group ">
            <label class="col-form-label" for="nuevoBeneAsoObservaciones">{{ 'global.observations' | translate }}</label>
            <textarea class="form-control" id="nuevoBeneAsoObservaciones" rows="2" disabled="disabled"></textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group ">
            <textarea class="form-control" id="nuevoBeneAsoObservaciones" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn--circle btn--circle_three float-left px-0">
          <span class="icon-plus mr-2"></span>
          <span class="text--gray2 text--13pts text--600wt">
              {{ 'asociado.facturacion.ajusteFacturacionDetalle.agregarBeneficiarioSolidario' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="card cards--footer border-0 rounded-0">
  <div class="card-body p-2">
    <div class="row mx-0 w-10 justify-content-end align-items-center">
      <div class="col-xl-9">
        <!-- AGREGA NUEVO -->
        <div class="mx-0 w-100 row justify-content-end align-items-center">
          <div class="col-3">
            <button type="submit" class="btn btn--orange1 btn--lg w-100"
              [routerLink]="['/pages','asociado','facturacion-asociados','ajuste-facturacion']">
              <span class="icon-checkmark mr-2"></span>
              {{ 'asociado.facturacion.ajusteFacturacionDetalle.guardarCambios' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
