.active_border_bottom{
    border-bottom: solid 2px;
}

.verical--text{
    transform: rotate(-90deg);
transform-origin: left top 0;
 }

 /***Para la grid *****/
 .ui-table-tbody>tr {
    background-color: #fff;
    color: #333;
    transition: background-color .2s,box-shadow .2s;
}

 .grid-space-row {
    height: 5px;
}

.ui-table-tbody>tr:nth-child(2n) {
    background-color: #f9f9f9;
}

 .grid-head-column th {
    border: 0!important;
    outline: none;
    background-color: #dfe3e6!important;
    font-weight: 700!important;
    font-size: .72rem;
}

.border-bottom-orange1{
    border-bottom: 2px solid #ff743b!important;
}
.border-bottom-green1{
    border-bottom: 2px solid #0e8652!important;
}

.posicion_top_consultas{
    margin-top: -39px;
    z-index: 9;
}

.altoVolverAtras{
    height: 50px;
}
