<form class="form--default w-100" [formGroup]="formCoberturas" *ngIf="isForm | async as isForm;">

  <div class="card cards--panelLeft cards--panelLeft_beneficiarios mb-1">

    <div class="card-header py-2">
      <div class="row mx-0 w-100 align-items-center">
        <div class="col-md-3">
          <div class="form-group row align-items-center mb-0">
            <label appMimLabel class="col-form-label mb-1 ml-1">
              {{nombreCobertura}}
            </label>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <!-- Concepto de cobertura -->
            <div class="col-sm-6 col-md-6 pr-2">
              <div class="form-group row align-items-center mb-0">
                <label appMimLabel for="conceptoMedico" class="col-form-label ml-3">
                  {{ 'eventos.consulta.solicitud.liquidacionPago.cobertura.conceptoCobertura' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'conceptoMedico'" [controlName]="'conceptoMedico'">
                    <app-mim-select class="w-100" [inputId]="'conceptoMedico'" [options]="conceptoMedico"
                      formControlName="conceptoMedico" [optionKey]="'nombre'" name="'conceptoMedico'" ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="conceptoMedico" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'eventos.consulta.solicitud.liquidacionPago.cobertura.conceptoCobertura' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Razones de negación -->
            <div class="col-sm-6 col-md-6 pr-2">
              <div class="form-group row align-items-center mb-0">
                <label appMimLabel for="razonesNegacion" class="col-form-label ml-3">
                  {{ 'eventos.consulta.solicitud.liquidacionPago.cobertura.razonNegacion' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'razonesNegacion'" [controlName]="'razonesNegacion'">
                    <app-mim-select class="w-100" [inputId]="'razonesNegacion'" [options]="razonesNegacion"
                      formControlName="razonesNegacion" [optionKey]="'nombre'" name="'razonesNegacion'"
                      ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="razonesNegacion" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'eventos.consulta.solicitud.liquidacionPago.cobertura.razonNegacion' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</form>
