.margin-benficiario-repetidos {
  margin-left: -11px;
  margin-right: 11px;
  max-width: 30px !important;
}

.text-title-badge {
  font-size: 13px !important;
}
.nav--panelLeft .nav-item .nav-link {
  font-size: 0.9rem;
}

.btn-min-with {
  min-width: 130px;
}
.blue {
  color: #0064f7 !important;
}
.blue-icon span {
  color: #0064f7 !important;
}
.bar-model {
  margin-bottom: 15px;
}
.btn--blue1 {
  background-color: #fff;
  color: #0064f7;
}
.btn--blue1:hover,
.btn--blue1:focus,
.btn--blue1:active,
.btn--blue1.active {
  background-color: #0064f7;
  border: 1px solid #0064f7;
  color: #fff;
}
.btn--blue1:disabled,
.btn--blue1[disabled] {
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  color: #d6dbe0;
}
.btn--blue1:disabled:hover,
.btn--blue1[disabled]:hover,
.btn--blue1:disabled:focus,
.btn--blue1[disabled]:focus,
.btn--blue1:disabled:active,
.btn--blue1[disabled]:active,
.btn--blue1:disabled.active,
.btn--blue1[disabled].active {
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  color: #d6dbe0;
}
.text--orange1-important {
  color: #ff743b !important;
}
.border--orange1 {
  border: 1px solid #ff743b !important;
}
.border--orange1 div div > span {
  color: #ff743b !important;
}
.border--red1 {
  border: 1px solid #ff4352 !important;
}
.border--red1 div div > span {
  color: #ff4352 !important;
}
.cursor-point {
  cursor: pointer;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.badge {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 120%;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  transition: 0.3s ease-out;
  vertical-align: middle;
  white-space: nowrap;
  height: 30px;
}
.w-90 {
  width: 90px;
}
.b-5 {
  bottom: 5px;
}
.disabled-button-exportar {
  opacity: 0.5;
  cursor: not-allowed;
}
.disabled-button-exportar:hover {
  background-color: #7a8a9f;
  cursor: not-allowed !important;
  border: 1px solid #7a8a9f;
}
.form--default textarea {
  border: none !important;
  z-index: 0;
}

.input-group > .form-control:focus {
  z-index: 0;
}

.checkbox-coomeva {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2f4158 !important;
  font-size: 0.8125rem !important;
  font-weight: 600 !important;
}
.checkbox-coomeva input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-coomeva .checkmark-coomeva {
  position: absolute;
  top: 9px;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #dee2e6;
  border-radius: 5px;
}
.checkbox-coomeva:hover input ~ .checkmark-coomeva {
  background-color: #ccc;
}
.checkbox-coomeva input:checked ~ .checkmark-coomeva {
  background-color: #2196f3;
}
.checkbox-coomeva .checkmark-coomeva:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox-coomeva input:checked ~ .checkmark-coomeva:after {
  display: block;
}
.checkbox-coomeva .checkmark-coomeva:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.text--white {
  color: #fff !important;
}
.cards--checkbox .custom-checkbox {
  border: 1px solid #d6dbe0;
}
.cards--checkbox .custom-checkbox .custom-control-label {
  color: #2f4158;
}
.cards--checkbox .custom-checkbox .custom-control-label:before {
  border: #2f4158 solid 1px;
}

.text-bold {
  font-weight: bold;
}

.text-upercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.r-90 {
  transform: rotate(90deg);
}

.r-180 {
  transform: rotate(180deg);
}
/*Estilo para que en el momento de pasar el cursor sobre los campos, estos no cambien a color blanco*/
.form-control:disabled, .form-control[readonly]:hover {
  background-color: #e9ecef !important;
}

.position_check{
  position: absolute;
  top: 63px;
}

.legend_mm {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
  width: auto;
}

.fieldset_mm {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.modal--flujo{
  background: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1030;
}
