<!-- Inicio titulo -->
<div class="row mx-0 w-100 align-items-center">
  <div class="col-md-12">
    <h1 class="my-0">
      <ng-template [ngIf]="_esCreacion">
        {{ 'administracion.protecciones.planCobertura.guardar.crear' | translate }}
      </ng-template>
      <ng-template [ngIf]="!_esCreacion">
        {{ 'administracion.protecciones.planCobertura.guardar.actualizar' | translate }}: {{nombrePlan}} -
        {{nombreCobertura}}
      </ng-template>
    </h1>
  </div>
</div>
<!-- Fin titulo -->
<br />
<app-datos-principales id="datosBasicos"></app-datos-principales>

<!-- Inicio steper horizontal -->
<div *ngIf="items?.length || 0">
  <div class="w-100 mt-2 mb-2">
    <div class="card cards--headerFooter w-100">
      <div class="card-body p-0">
        <p-steps [model]="items" [activeIndex]="activeIndex" [readonly]="false"></p-steps>
      </div>
    </div>
  </div>
  <!-- Fin steper horizontal -->
  <div class="mx-0 w-100">
    <div class="accordion w-100">
      <div [ngSwitch]="activeIndex">
        <div *ngSwitchCase="0">
          <!-- Inicio caracteristicas basicas -->
          <ng-template [ngIf]="asistencia">
            <app-condiciones id="condiciones"></app-condiciones>   
            <app-condiciones-asistencia id="condicionesAsistencia"></app-condiciones-asistencia>
          </ng-template>
          <ng-template [ngIf]="!asistencia">
            <app-condiciones id="condiciones"></app-condiciones>
          </ng-template>
        </div>
        <!-- Fin caracteristicas basicas-->
        <div *ngSwitchCase="1">
          <app-deducibles id="deducibles" *ngIf="planCobertura.planCobertura.deducibles"></app-deducibles>
          <app-periodos-carencia id="periodosCarencia" *ngIf="this.planCobertura.planCobertura.periodosCarencia">
          </app-periodos-carencia>

          <app-reconocimientos-por-permanencia id="reconocimientoPermanencia"
          *ngIf="planCobertura.planCobertura.reconocimientoPermanencia"></app-reconocimientos-por-permanencia>
          
          <app-exclusiones id="exclusiones" *ngIf="planCobertura.planCobertura.exclusionesPlanCobertura">
          </app-exclusiones>
          <app-reglas-excepciones id="reglasExcepciones" *ngIf="planCobertura.planCobertura.reglasExcepciones"></app-reglas-excepciones>
          <app-coberturas-subsistentes-parent id="coberturasSubsistentes"
            *ngIf="planCobertura.planCobertura.coberturasSubsistentes"></app-coberturas-subsistentes-parent>
          <app-valor-rescate id="valorRescate" *ngIf="planCobertura.planCobertura.valorRescate"></app-valor-rescate>
          <app-desmembracion-accidente id="desmembracionAccidente" *ngIf="planCobertura.planCobertura.desmembracionAccidente"></app-desmembracion-accidente>
          <app-valor-asegurado id="valorAsegurado" *ngIf="planCobertura.planCobertura.valorAsegurado">
          </app-valor-asegurado>
          <app-limitacion-cobertura id="limitacionCobertura" *ngIf="planCobertura.planCobertura.limitacionCobertura">
          </app-limitacion-cobertura>
          <app-valor-rescate-preexistencia id="beneficiosPreexistencia"
            *ngIf="planCobertura.planCobertura.beneficioPorPreexistencia"></app-valor-rescate-preexistencia>
          <app-enfermedades-graves id="enfermedadesGraves" *ngIf="planCobertura.planCobertura.enfermedadesGraves">
          </app-enfermedades-graves>
          <app-conceptos-facturacion id="conceptosFacturacion"
            *ngIf="planCobertura.planCobertura.conceptoFacturacion"></app-conceptos-facturacion>
          <app-condiciones-venta id="condicionVenta" *ngIf="planCobertura.planCobertura.condicionVenta"></app-condiciones-venta>

          <app-valor-cuota id="valorCuota"
          *ngIf="planCobertura.planCobertura.valorCuota"></app-valor-cuota>
        </div>
        

        <app-apueba-elimina [showForm]="showForm" [esDirector]="esDirectorTecnico"
          [showControlsAprobacion]="showControlsAprobacion" [observaciones]="observaciones"
          (mostrarModal)="_toggleObservaciones($event)" (apruebaRechazaSolicitud)="_apruebaRechazaSolicitud($event)"
          (datosForm)="_guardarObservacion($event)" class="w-100"></app-apueba-elimina>

        <!--Controles -->
        <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
          <div class="card-body py-2">
            <div class="row mx-0 w-10 justify-content-end align-items-center">
              <!-- Botones -->
              <div class="col-xl-12">

                <div class="d-flex flex-row-reverse">



                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_finalizar()"
                    *ngIf="_esPasoFinal()">
                    <span class="icon-checkmark mr-2"></span>
                    {{ 'global.end' | translate }}
                  </button>
                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_siguiente()"
                    *ngIf="!_esPasoFinal() && !idTarea">
                    <span class="icon-arrow-right mr-2"></span>
                    {{ 'global.next' | translate }}
                  </button>
                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_atras()"
                    *ngIf="!_esPasoInicial()">
                    <span class="icon-arrow-left mr-2"></span>
                    {{ 'global.back' | translate }}
                  </button>

                  <p class="text-left mr-2 posicionBtnAtras" *ngIf="!idTarea">
                    <a class="btn btn--circle justify-content-start" (click)="irALIstar()">
                      <span class="icon-arrow-thin-left mr-2"></span>
                      Regresar a listar plan-cobertura
                    </a>
                  </p>

                  <!-- <button type="button" class="btn btn--orange1 btn--md mr-2 posicionBtnAtras" (click)="irALIstar()"
                  *ngIf="!solicitud">
                    <span class="icon-arrow-left mr-2"></span>
                    Regresar a listar plan-cobertura
                  </button> -->


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>