<div class="row  mx-0 w-100 align-items-center">
  <div class="col-md-12">
    <h1 class="my-0" *ngIf="_esCreacion">
      {{ 'administracion.protecciones.categoriasHomologacion.crear.titulo' | translate }}
    </h1>
    <h1 class="my-0" *ngIf="!_esCreacion">
      {{ 'administracion.protecciones.categoriasHomologacion.editar.titulo' | translate }}
    </h1>
  </div>
</div>

<div class="mt-3 card bg--white border-0 rounded-0">
  <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
    <div class="card-body">
      <div class="row mx-0 w-100">

        <!-- Codigo -->
        <div class="col-sm-12 col-md-6" *ngIf="!_esCreacion">
          <div class="form-group row align-items-center">
            <label appMimLabel for="codigoCategoriaAsociado" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.categoriasAsociado.crear.codigo' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'codigoCategoriaAsociado'"
                [controlName]="'codigoCategoriaAsociado'">
                <input type="text" class="form-control" id="codigoCategoriaAsociado"
                  formControlName="codigoCategoriaAsociado" name="codigoCategoriaAsociado" />
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="codigoCategoriaAsociado" errorKey="required">
              {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasAsociado.crear.codigoCategoriasAsociado' | translate } }}
            </app-mim-input-error>
          </div>
        </div>

        <!-- Cliente -->
        <div class="col-sm-12 col-md-6">
          <div class="form-group row align-items-center">
            <label appMimLabel for="cliente" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.categoriasHomologacion.grid.cliente' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'cliente'" [controlName]="'cliente'">
                <app-mim-select class="w-100" [inputId]="'cliente'" [options]="clientes" formControlName="cliente"
                  [optionKey]="'nombre'" name="'cliente'" ngDefaultControl (blur)="_changeCliente()">
                </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="cliente" errorKey="required">
              {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.grid.cliente' | translate } }}
            </app-mim-input-error>
          </div>
        </div>

        <!-- Categoria asociado -->
        <div class="col-sm-12 col-md-6">
          <div class="form-group row align-items-center">
            <label appMimLabel for="categoriaAsociado" class="col-sm-12 col-form-label">
              {{ 'administracion.protecciones.categoriasHomologacion.grid.nombreCategoriaAsociado' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'categoriaAsociado'" [controlName]="'categoriaAsociado'">
                <app-mim-select class="w-100" [inputId]="'categoriaAsociado'" [options]="categorias"
                  formControlName="categoriaAsociado" [optionKey]="'nombre'" name="'categoriaAsociado'"
                  ngDefaultControl>
                </app-mim-select>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="categoriaAsociado" errorKey="required">
              {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.grid.nombreCategoriaAsociado' | translate } }}
            </app-mim-input-error>
          </div>
        </div>

        <fieldset class="fieldset_mm pb-3 col-sm-12 col-md-12">
          <legend class="legend_mm">
            <span class="text--16pts text--600wt">
              {{ 'administracion.protecciones.categoriasHomologacion.crear.categoriaAsociadoCliente' | translate }}
            </span>
          </legend>

          <div class="row">
            <!-- Código categoría sistema del cliente -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="codigoCategoriaCliente" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.categoriasHomologacion.grid.codigoCategoriaCliente' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'codigoCategoriaCliente'"
                    [controlName]="'codigoCategoriaCliente'">
                    <input type="number" class="form-control" id="codigoCategoriaCliente"
                      formControlName="codigoCategoriaCliente" name="codigoCategoriaCliente"/>
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="codigoCategoriaCliente" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.grid.codigoCategoriaCliente' | translate } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="codigoCategoriaCliente" errorKey="max">
                  {{ 'global.maxCaracteres' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.grid.codigoCategoriaCliente' | translate, max: '5' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Nombre categoría sistema del cliente -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="nombreCategoriaCliente" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.categoriasHomologacion.grid.nombreCategoriaCliente' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'nombreCategoriaCliente'"
                    [controlName]="'nombreCategoriaCliente'">
                    <input type="text" class="form-control" id="nombreCategoriaCliente"
                      formControlName="nombreCategoriaCliente" name="nombreCategoriaCliente" mask="a*" [patterns]="patterns"
                      [dropSpecialCharacters]="false" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="nombreCategoriaCliente" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.grid.nombreCategoriaCliente' | translate } }}
                </app-mim-input-error>

                <app-mim-input-error class="col-sm-12" controlName="nombreCategoriaCliente" errorKey="maxlength">
                  {{ 'global.maxCaracteres' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.grid.nombreCategoriaCliente' | translate, max: '256' | translate } }}
                </app-mim-input-error>

                <app-mim-input-error class="col-sm-12" controlName="nombreCategoriaCliente" errorKey="vacio">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.grid.nombreCategoriaCliente' | translate } }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Edad minima -->
            <div class="col-sm-12 col-md-3">
              <div class="form-group row align-items-center">
                <label appMimLabel for="edadMinima" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.categoriasHomologacion.crear.edadMinima' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'edadMinima'" [controlName]="'edadMinima'">
                    <input type="number" class="form-control" id="edadMinima" min="0" max="100" formControlName="edadMinima"
                      name="edadMinima" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="edadMinima" errorKey="max">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.edadMaxima' | translate : {numero: 100} }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="edadMinima" errorKey="min">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.edadMinima' | translate : {numero: 0} }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="edadMinima" errorKey="range">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.edadMinimanMenorEdadMaxima' | translate  }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Edad máxima -->
            <div class="col-sm-12 col-md-3">
              <div class="form-group row align-items-center">
                <label appMimLabel for="edadMaxima" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.categoriasHomologacion.crear.edadMaxima' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'edadMaxima'" [controlName]="'edadMaxima'">
                    <input type="number" class="form-control" id="edadMaxima" min="0" max="100" formControlName="edadMaxima"
                      name="edadMaxima" />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="edadMaxima" errorKey="max">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.edadMaxima' | translate : {numero: 100} }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="edadMaxima" errorKey="min">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.edadMinima' | translate : {numero: 0} }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="edadMaxima" errorKey="range">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.edadMinimanMenorEdadMaxima' | translate  }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Ingresos minimos -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="ingresosMinimos" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.categoriasHomologacion.crear.ingresosMinimos' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'ingresosMinimos'" [controlName]="'ingresosMinimos'">
                    <input type="text" class="form-control" id="ingresosMinimos" formControlName="ingresosMinimos"
                      name="ingresosMinimos" mask="separator.0" [allowNegativeNumbers]="true" thousandSeparator="." />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="ingresosMinimos" errorKey="required">
                  {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.crear.ingresosMinimos' | translate } }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="ingresosMinimos" errorKey="min">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.minIngreso' | translate : {numero: 0} }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="ingresosMinimos" errorKey="maxlength">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.maxLenghtIngresos' | translate : {numero: 15} }}
                </app-mim-input-error>                
                <app-mim-input-error class="col-sm-12" controlName="ingresosMinimos" errorKey="range">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.ingresoMinimanMenorIngresoMaxima' | translate  }}
                </app-mim-input-error>
              </div>
            </div>

            <!-- Ingresos máximos -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="ingresosMaximos" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.categoriasHomologacion.crear.ingresosMaximos' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'ingresosMaximos'" [controlName]="'ingresosMaximos'">
                    <input type="text" class="form-control" id="ingresosMaximos" formControlName="ingresosMaximos"
                      name="ingresosMaximos" mask="separator.0" [allowNegativeNumbers]="true" thousandSeparator="." />
                  </div>
                </div>
                <app-mim-input-error class="col-sm-12" controlName="ingresosMaximos" errorKey="range">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.ingresoMinimanMenorIngresoMaxima' | translate  }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="ingresosMaximos" errorKey="min">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.minIngreso' | translate : {numero: 0} }}
                </app-mim-input-error>
                <app-mim-input-error class="col-sm-12" controlName="ingresosMaximos" errorKey="maxlength">
                  {{ 'administracion.protecciones.categoriasHomologacion.alertas.maxLenghtIngresos' | translate : {numero: 15} }}
                </app-mim-input-error> 
              </div>
            </div>

            <!-- Unidad ingreso -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row align-items-center">
                <label appMimLabel for="unidadIngresos" class="col-sm-12 col-form-label">
                  {{ 'administracion.protecciones.categoriasHomologacion.crear.unidadIngresos' | translate }}
                </label>
                <div class="col-sm-12">
                  <div class="input-group" appMimInput [for]="'unidadIngresos'" [controlName]="'unidadIngresos'">
                    <app-mim-select class="w-100" [inputId]="'unidadIngresos'" [options]="unidadesIngresos"
                      formControlName="unidadIngresos" [optionKey]="'nombre'" name="'unidadIngresos'" ngDefaultControl>
                    </app-mim-select>
                  </div>
                </div>
              </div>
            </div>

            <!-- titulo academico -->
            <div class="col-sm-12 col-md-3">
              <div class="form-group">
                <label class="col-form-label" appMimLabel for="tituloAcademico">
                  {{ 'administracion.protecciones.categoriasHomologacion.crear.tituloAcademico' | translate }}
                </label>
                <div class="custom-control custom-switch p-0">
                  <label class="switch">
                    <input type="checkbox" formControlName="tituloAcademico" id="tituloAcademico" name="tituloAcademico">
                    <span class="slider round">
                      <span class="text--white text--14pts text--500wt">SI</span>
                      <span class="text--white text--14pts text--500wt">NO</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <!-- fecha inicio y fecha fin -->
        <div class="col-sm-12 col-md-6">
          <div class="form-group row align-items-center">
            <label class="col-sm-12 col-form-label" appMimLabel for="fechaInicioFechaFin">
              {{ 'administracion.protecciones.categoriasHomologacion.crear.fechaInicioYFin' | translate }}
            </label>
            <div class="col-sm-12">
              <div class="input-group" appMimInput [for]="'fechaInicioFechaFin'" [controlName]="'fechaInicioFechaFin'">
                <app-mim-date-picker class="w-100" [inputId]="'fechaInicioFechaFin'" formControlName="fechaInicioFechaFin"
                  [selectionMode]="'range'"  [disabled]="estadoFecha" ngDefaultControl></app-mim-date-picker>
              </div>
            </div>
            <app-mim-input-error class="col-sm-12" controlName="fechaInicioFechaFin" errorKey="required">
              {{ 'global.required' | translate : { campo: 'administracion.protecciones.categoriasHomologacion.crear.fechaInicio' | translate } }}
            </app-mim-input-error>
          </div>
        </div>


          </div>
        </fieldset>

        <!--Controles -->
        <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
          <div class="card-body py-2">
            <div class="row mx-0 w-10 justify-content-end align-items-center">
              <!-- Botones -->
              <div class="col-xl-12">
                <div class="d-flex flex-row-reverse">
                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()" [disabled]="form.pristine">
                    <span class="icon-edit-3 mr-2"></span>
                    {{ 'global.save' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
