<div class="card cards--headerFooter w-100 mb-3 pb-3">
  <div class="card-body px-4 pt-4 pb-4">

    <div class="col-9 row mx-auto">
      <div class="col">
        <form class="form--default row col" [formGroup]="form" (keyup.enter)="buscarNombreTabla()">
          <!-- Entidad -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label class="col-form-label" appMimLabel for="entidad" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracion-seguridad.log-novedades.entidad.titulo' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'entidad'" [controlName]="'entidad'">
                  <input type="text" class="form-control" id="entidad" placeholder="" formControlName="entidad"
                    maxlength="199" />
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="entidad" errorKey="required">
                {{ 'global.required' | translate: { campo: 'administracion.configuracion-seguridad.log-novedades.entidad.titulo' | translate } }}
              </app-mim-input-error>
            </div>
          </div>

          <!-- Descripcion Entidad -->
          <div class="col-sm-12 col-md-6">
            <div class="form-group row align-items-center">
              <label appMimLabel for="descripcionEntidad" class="col-sm-12 col-form-label">
                {{ 'administracion.configuracion-seguridad.log-novedades.entidad.descripcion' | translate }}
              </label>
              <div class="col-sm-12">
                <div class="input-group" appMimInput [for]="'descripcionEntidad'" [controlName]="'descripcionEntidad'">
                  <input type="text" class="form-control" id="descripcionEntidad" placeholder=""
                    formControlName="descripcionEntidad" />
                </div>
              </div>
              <app-mim-input-error class="col-sm-12" controlName="descripcionEntidad" errorKey="required">
                {{ 'global.required' | translate }}
              </app-mim-input-error>
              <app-mim-input-error class="col-sm-12" controlName="descripcionEntidad" errorKey="required2">
                {{ 'global.required' | translate : { campo: 'administracion.configuracion-seguridad.log-novedades.entidad.descripcion' | translate } }}
              </app-mim-input-error>
            </div>
          </div>
        </form>
      </div>

      <!--Boton agregar-->
      <div class="col-2 mt-4">
        <button class="btn btn--circle btn--circle_three align-middle h-100" (click)="guardarTabla()">
          <span class="icon-plus mr-2"></span>
          <span class="text--gray2 text--13pts text--600wt"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="panel--gray panel-grid pt-2">
  <app-mim-grid [configuracion]="configuracion.gridAuditoria" (clickCeldaElement)="onclick($event)"></app-mim-grid>
</div>
