 <!-- Inicio steper horizontal -->
 <div class="col-12 mt-4 d-block" *ngIf="items?.length || 0">

  <div>
      <div class="w-100 mt-2 mb-0">
          <div class="card cards--headerFooter w-100">
              <div class="card-body p-0">
                  <p-steps [model]="items" [activeIndex]="activeIndex"></p-steps>
              </div>
          </div>
      </div>
      <!-- Fin steper horizontal -->
      <div class="mx-0 w-100">
          <div class="accordion w-100">
              <div [ngSwitch]="activeIndex">
                  <div *ngSwitchCase="0">
                      <app-registra-solicitud (activaSiguient)="_datosFormRadicar($event)" (irSiguiente)="_irSiguienteValidaDocumentos($event)"></app-registra-solicitud>
                  </div>
                  <!-- Fin caracteristicas basicas-->
                  <div *ngSwitchCase="1">
                      <app-valida-documentos (activaGuardar)="_datosFormDocumento($event)"></app-valida-documentos>
                  </div>
              </div>


              <!--Controles -->
              <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
                  <div class="card-body py-2">
                      <div class="row mx-0 w-10 justify-content-end align-items-center">
                          <!-- Botones -->
                          <div class="col-xl-12">
                              <div class="d-flex flex-row-reverse">
                                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_guardar()"
                                      *ngIf="_esPasoFinal()" [disabled]="!habilitarGuardar">
                                      <span class="icon-save mr-2"></span>
                                      {{ 'global.save' | translate }}
                                  </button>
                                  <button type="submit" class="btn btn--orange1 btn--md mr-2"
                                      (click)="_siguiente()" *ngIf="!_esPasoFinal()" [disabled]="!habilitarSiguiente">
                                      <span class="icon-arrow-right mr-2"></span>
                                      {{ 'global.next' | translate }}
                                  </button>
                                  <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_atras()"
                                      *ngIf="!_esPasoInicial()">
                                      <span class="icon-arrow-left mr-2"></span>
                                      {{ 'global.back' | translate }}
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
