@media (max-width: 1199px) {
  .float-window {
    position: fixed;
    top: 82px;
    height: 100%;
    left: -100%;
    min-width: 350px;
    border-left: 1px solid #d6dbe0;
    border-right: 1px solid #d6dbe0;
    background: #f6f6f6;
    overflow-y: auto;
    height: calc(100vh + -82px);
  }

  .show-float-window {
    left: 98px;
    z-index: 1040;
    padding: 30px 20px 0px 20px;
  }
}
