<!-- Menu pantalla completa -->
<div class="w-100 my-5 card card cards--panelLeft ards--panelLeft_noCollapse mb-4 d-none d-xl-inline-block">
  <div class="card-header py-4 border-bottom-0">
    <h5 class="text--gray1 text--700wt text-uppercase my-0">
      {{ configuracion.titulo }}
    </h5>
  </div>
  <div class="card-body p-0">
    <ul class="nav flex-column nav--panelLeft">
      <li class="nav-item" *ngFor="let item of configuracion.items">
        <a class="nav-link nav-link-curso" (click)="_onClickItem(item)"
          [ngClass]="{ 'select-item active': item.show || item.select }">
          <span class="text">
            <span class="mr-3" [ngClass]="item.iconCss || ''"></span>
            {{ item.titulo | translate }}
          </span>
          <span class="active-icon icon-chevron-right-2" [ngClass]="{
                'select-item-activo-icon': item.show || item.select,
                'select-icon-rotate': item.items && item.show }"></span>
        </a>
        <div class="collapse" [ngClass]="{ show: item.show }">
          <div class="card card-body p-0 border-0">
            <ul class="nav flex-column nav--panelLeft_submenu">
              <li class="nav-item" *ngFor="let subMenuItem of item.items">
                <a class="nav-link nav-link-curso" (click)="_onClickItem(subMenuItem, item)"
                  [ngClass]="{ 'select-subitem active': subMenuItem.select || subMenuItem.show }">
                  {{ subMenuItem.titulo | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Menu responsive (1024) -->
<div class="sidebar--slide sidebar--slide_nav sidebar--slide_nav-left d-inline-block d-xl-none">
  <div class="sidebar--panel_left">
    <div class="sidebar--panel_left-menu bg--white">
      <div class="card cards--panelLeft mb-4">
        <!-- Fecha arriba -->
        <div class="item-menu-arrow" top (click)="_onClickUp()">
          <span class="text--gray1 icons icon-chevron-up"></span>
        </div>

        <div class="item-menu-body">
          <ul class="nav flex-column item-menu-ul nav-link1024 w-100" #displayUl>
            <li class="nav-item w-100" *ngFor="let item of configuracion.items; let i = index"
              [ngClass]="{ 'item-menu-active': configuracion.items[i].show }">
              <button class="nav-link w-100" (click)="openSubmenusResponsivePanelLeft(item)" pTooltip="{{ item.titulo }}"
                tooltipPosition="right">
                <span [ngClass]="item.iconCss || ''"></span>
              </button>
            </li>
          </ul>
        </div>

        <!-- Flecha abajo -->
        <div class="item-menu-arrow" bottom (click)="_onClickDown()">
          <span class="text--gray1 icons icon-chevron-down"></span>
        </div>
      </div>
    </div>

    <!-- Menu desplegable responsive (Submenus) -->
    <div class="sidebar--panel_left-form bg--white" [ngClass]="shownPanel ? 'd-flex open' : 'd-none'">
      <div class="sidebar--panel_left-menu bg--white w-100 ">
        <ul class="nav flex-column nav--panelLeft">
          <li class="nav-item" *ngFor="let subMenuItem of subSubMenus.items">
            <a class="nav-link nav-link-curso" (click)="_onClickItem(subMenuItem)"
              [ngClass]="{ 'select-subitem active': subMenuItem.show || subMenuItem.select }">
              <span class="text">
                <span class="mr-3" [ngClass]="subMenuItem.iconCss || ''"></span>
                {{ subMenuItem.titulo | translate }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
