.select-item {
  background-color: #fff8f6 !important;
  border-left: 3px solid #ff743b !important;
  color: #ff743b !important;
  padding: 1.5rem 1rem !important;
}
.nav-link-curso {
  cursor: pointer !important;
}
.select-item-activo-icon {
  display: block !important;
}
.select-icon-rotate {
  transform: rotate(-90deg);
}
.select-subitem {
  color: #ff743b !important;
}
.button-filter {
  transform: rotate(90deg);
  font-size: 14px;
}
.item-menu-arrow {
  z-index: 9;
  height: 38px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: #0e8652;
  border: 0;
  line-height: 40px;
}
.item-menu-arrow[top] {
  border-bottom: 1px solid #d6dbe0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.item-menu-arrow[bottom] {
  border-top: 1px solid #d6dbe0;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.05);
}
.item-menu-body {
  height: calc(100vh + -155px);
}
.item-menu-ul {
  height: calc(100vh + -155px);
  top: 8.8rem;
  overflow: hidden;
  padding: 0px;
  float: right;
  line-height: 45px;
  display: block !important;
}
.item-menu-li {
  width: 98px;
  cursor: pointer;
  border-bottom: solid 1px #dfe3e6;
  padding: 5px 16px;
}
.item-menu-li a {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  word-break: break-all;
}
.item-menu {
  height: 80px;
  list-style-type: none;
  padding: 0px;
  text-transform: uppercase;
  outline: none !important;
  transition: all 0.3s ease;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid #d6dbe0;
  height: 150px;
  padding-left: 25px;
}
.item-menu-active {
  border-left: 4px solid #ff743b;
}
.item-menu-active button {
  background: #fff8f6 !important;
}
.item-menu-active button span {
  color: #ff743b !important;
}
.item-menu a {
  margin: auto;
}
.item-menu-text {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  text-align: center;
}
@media (max-width: 1199px) {
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  .sidebar--slide_nav-left {
    z-index: 9;
  }
}
@media (min-width: 1200px) {
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
.nav-link1024 .nav-item .nav-link {
  align-items: center;
  background-color: #fff;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px solid #d6dbe0;
  border-right: 0;
  display: flex;
  height: 70px;
  justify-content: center;
  text-transform: uppercase;
  outline: 0 !important;
  transition: all 0.3s ease;
  width: auto;
}
.nav-link1024 .nav-item .nav-link span {
  color: #0e8652;
  font-size: 1rem;
}
.nav-link1024 .nav-item {
  float: right;
  line-height: 45px;
  width: initial;
}
