.btn--append{
    margin-left: -2px !important;
}
.activeConfiguracion{
    position: absolute;
    bottom: 0px;
    border-bottom: 2px solid;
    width: 70%;
    height: 3px;
}
.text--orange1{
    border-bottom: solid 2px;
    font-weight: bold;
    padding-bottom: 3px;
}