<div class="py-5">
  <!-- Title -->
  <div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
      <h1 class="my-0">
        {{ 'administracion.configuracion-seguridad.titulo' | translate }}
      </h1>
    </div>
  </div>
  <!-- Navegacion -->
  <div class="row mx-0 w-100 mt-4">
    <div class="col-6">
      <ul class="nav nav-tabs nav--tabs">
        <li class="nav-item">
          <a class="nav-link cursor-point" [routerLink]="[urlLogNovedade]" [routerLinkActive]="['active']">
            <span class="icon-file-text pr-1"></span>
            {{ 'administracion.configuracion-seguridad.subMenu.logNovedades' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-point" [routerLink]="[urlAuditoria]" [routerLinkActive]="['active']">
            <span class="icon-file-text pr-1"></span>
            {{ 'administracion.configuracion-seguridad.subMenu.auditoria' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-point" [routerLink]="['/pages','configuracion-seguridad','']"
          [routerLinkActive]="['active']">
            <span class="icon-file-text pr-1"></span>
            {{ 'administracion.configuracion-seguridad.subMenu.logTransaccional' | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-12 my-4">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
