<ng-template [ngIf]="title">
  <div class="row mx-0 w-100 align-items-center">
    <!-- TÍTULO -->
    <div class="col-md-12">
      <h1 class="my-0">{{ title }}</h1>
    </div>
  </div>
  <div class="row mx-0 w-100 mt-4">
    <div class="col-12">
      <ul class="nav nav-tabs nav--tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link cursor-point" [ngClass]="{ active: activeNumber == 1 }" (click)="onClickDetalle()"
            [routerLinkActive]="['active']">
            <span class="icon-document"></span>
            {{ 'asociado.protecciones.detalle.detalle' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-point" [ngClass]="{ active: activeNumber == 2 }" (click)="onClickFacturacion()"
            [routerLinkActive]="['active']">
            <span class="icon-money "></span>
            {{ 'asociado.protecciones.facturacion.titulo' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-point" [ngClass]="{ active: activeNumber == 3 }" (click)="onClickInactividades()"
            [routerLinkActive]="['active']">
            <span class="icon-hourglass"></span>
            {{ 'asociado.protecciones.inactividades.inactividades' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-point" [ngClass]="{ active: activeNumber == 4 }" (click)="onClickHistoricos()"
            [routerLinkActive]="['active']">
            <span class="icon-archive"></span>
            {{ 'asociado.protecciones.historico.historico' | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <router-outlet (activate)="getVistaRouter($event)"></router-outlet>
    </div>
  </div>
</ng-template>
