<div class="row  mx-0 w-100 align-items-center">
    <div class="col-md-12">
        <h1 class="my-0">
            <ng-template [ngIf]="_esCreacion">
                {{ 'administracion.protecciones.promotores.guardar.crear' | translate }}
            </ng-template>
            <ng-template [ngIf]="!_esCreacion">
                {{ 'administracion.protecciones.promotores.guardar.actualizar' | translate }}
            </ng-template>
        </h1>
    </div>
</div>

<div class="mt-3 card bg--white border-0 rounded-0">
    <form class="form--default w-100" [formGroup]="form" *ngIf="isForm | async as isForm;">
        <div class="card-body">
            <div class="row mx-0 w-100">

                <!-- Compañia -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="compania" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.compania' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'compania'" [controlName]="'compania'">
                                <input type="text" class="form-control" id="compania" formControlName="compania"
                                    name="compania" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="compania" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.compania' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="compania" errorKey="vacio">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.compania' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Tipo de Identificación -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="tipoIdentificacion" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.tipoIdentificacion' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'tipoIdentificacion'"
                                [controlName]="'tipoIdentificacion'">
                                <app-mim-select class="w-100" [inputId]="'tipoIdentificacion'"
                                    [options]="tipoIdentificaciones" formControlName="tipoIdentificacion"
                                    [optionKey]="'nombre'" name="'tipoIdentificacion'" ngDefaultControl>
                                </app-mim-select>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="tipoIdentificacion" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.tipoIdentificacion' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Numero identificación -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="numeroIdentificacion" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.numeroIdentificacion' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'numeroIdentificacion'"
                                [controlName]="'numeroIdentificacion'">
                                <input type="number" class="form-control" id="numeroIdentificacion"
                                    formControlName="numeroIdentificacion" name="numeroIdentificacion" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="numeroIdentificacion" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                                'administracion.protecciones.promotores.grid.numeroIdentificacion' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Nombre promotor-->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="nombrePromotor" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.nombrePromotor' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'nombrePromotor'"
                                [controlName]="'nombrePromotor'">
                                <input type="text" class="form-control" id="nombrePromotor"
                                    formControlName="nombrePromotor" name="nombrePromotor" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="nombrePromotor" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.nombrePromotor' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="nombrePromotor" errorKey="vacio">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.nombrePromotor' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Correo electrónico -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="correoElectronico" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.correoElectronico' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'correoElectronico'"
                                [controlName]="'correoElectronico'">
                                <input type="email" class="form-control" id="correoElectronico"
                                    formControlName="correoElectronico" name="correoElectronico" />
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="correoElectronico" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.correoElectronico' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="correoElectronico" errorKey="vacio">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.correoElectronico' | translate } }}
                        </app-mim-input-error>
                        <app-mim-input-error class="col-sm-12" controlName="correoElectronico" errorKey="email">
                            {{ 'global.pattern' | translate : { campo: 'administracion.protecciones.promotores.grid.correoElectronico' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Regional -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="regional" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.regional' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'regional'" [controlName]="'regional'">
                                <app-mim-select class="w-100" [inputId]="'regional'" [options]="regionales"
                                    formControlName="regional" [optionKey]="'codNom'" name="'regional'"
                                    ngDefaultControl>
                                </app-mim-select>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="regional" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.regional' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Tipo de solicitudes -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="tipoSolicitud" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.tipoSolicitud' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'tipoSolicitud'"
                                [controlName]="'tipoSolicitud'">
                                <app-mim-multiselect class="w-100" [inputId]="'tipoSolicitud'" [options]="tipoSolicitudes"
                                    formControlName="tipoSolicitud" [optionKey]="'nombre'" name="'tipoSolicitud'"
                                    ngDefaultControl>
                                </app-mim-multiselect>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="tipoSolicitud" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.tipoSolicitud' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!-- Canal Venta -->
                <div class="col-sm-12 col-md-6">
                    <div class="form-group row align-items-center">
                        <label appMimLabel for="canalVenta" class="col-sm-12 col-form-label">
                            {{ 'administracion.protecciones.promotores.grid.canalVenta' | translate }}
                        </label>
                        <div class="col-sm-12">
                            <div class="input-group" appMimInput [for]="'canalVenta'" [controlName]="'canalVenta'">
                                <app-mim-multiselect class="w-100" [inputId]="'canalVenta'" [options]="canales"
                                    formControlName="canalVenta" [optionKey]="'nombre'" name="'canalVenta'"
                                    ngDefaultControl>
                                </app-mim-multiselect>
                            </div>
                        </div>
                        <app-mim-input-error class="col-sm-12" controlName="canalVenta" errorKey="required">
                            {{ 'global.required' | translate : { campo:
                            'administracion.protecciones.promotores.grid.canalVenta' | translate } }}
                        </app-mim-input-error>
                    </div>
                </div>

                <!--Estado-->
                <div class="col-sm-12 com-md-12">
                    <div class="form-group">
                        <label class="col-form-label" appMimLabel for="vigente">
                            {{ 'administracion.protecciones.promotores.grid.disponible' |
                            translate }}
                        </label>
                        <div class="custom-control custom-switch p-0">
                            <label class="switch">
                                <input type="checkbox" formControlName="vigente" id="vigente" name="vigente">
                                <span class="slider round">
                                    <span class="text--white text--14pts text--500wt">{{ 'global.si' | translate
                                        }}</span>
                                    <span class="text--white text--14pts text--500wt">{{ 'global.no' | translate
                                        }}</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <!--Controles -->
                <div class="card cards--footer border-0 rounded-0 panel-crear-cuenta z-index-footer">
                    <div class="card-body py-2">
                        <div class="row mx-0 w-10 justify-content-end align-items-center">
                            <!-- Botones -->
                            <div class="col-xl-12">
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="btn btn--orange1 btn--md mr-2" (click)="_alGuardar()"
                                        [disabled]="form.pristine">
                                        <span class="icon-edit-3 mr-2"></span>
                                        {{ 'global.save' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>