<ng-template [ngIf]="configuracion">
  <div class="d-none d-lg-block d-xl-none">
    <div class="card cards--headerFooter w-100 mb-3 ">
      <div class="card-header">
        <div class="row mx-0 w100 align-items-center">
          <div class="col-12 pl-0">
            <span class="icon-link-3 text--18pts mr-2 text--orange1"></span>
            <h2 class="text--500wt text--gray1 my-0">
              {{ configuracion.title | translate }}
            </h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div *ngFor="let item of configuracion.items" class="col">
            <h5 class="text--600wt text--gray2 text-left my-0">
              {{ item.label | translate }}
            </h5>
            <a class="ml-4 btn btn--icon" [ngClass]="item.icon.css" (click)="goTo(item)">
              <span [ngClass]="item.icon.icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion d-none d-md-none d-xl-block" [id]="'accordionPanelLeft'+_id">
    <div class="card cards--panelLeft mb-4">
      <div class="card-header" [id]="'headingOne'+_id">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne'+_id"
            aria-expanded="false" [attr.aria-controls]="'collapseOne'+_id">
            <span class="icon-link-3 text--18pts mr-2 text--orange1"></span>
            <span class="pl-2 pr-2 text-truncate">{{ configuracion.title | translate }}</span>
            <span class="icon-chevron-down"></span>
          </button>
        </h5>
      </div>
      <div [id]="'collapseOne'+_id" class="collapse" [ngClass]="{'show' :  configuracion.collapsable }"
        [attr.aria-labelledby]="'headingOne'+_id" [attr.data-parent]="'#accordionPanelLeft'+_id">
        <div class="card-body">
          <div *ngFor="let item of configuracion.items">
            <div class="d-flex flex-row w-100 mt-2">
              <h5 class="text--600wt text--gray2 text-left my-2 w-100">
                {{ item.label | translate }}
              </h5>
              <a class="ml-4 btn btn--icon" [ngClass]="item.icon.css" (click)="goTo(item)">
                <span [ngClass]="item.icon.icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
