.archivo{
    visibility: hidden;
}
.form{
    margin-top: 1cm;
}
.botonSubir{
 font-size: 15px;
}
.divBottonCrear{
    margin-top: 1.5cm;
    margin-left:40%;
}
.active{
    background-color: rgb(218, 110, 49);
    border-color:  rgb(218, 110, 49) ;
}
.list-group{
    margin-top: 2cm;
    width: 80%;
}

.custom-file-label::after{
    content: 'Cargar';
    cursor: pointer;
    background-color: transparent;
    background: #2f4158;
    color: #efeff0;
    padding-top: 8px
}
.custom-file-label{
    z-index: 9;
}

.custom-file {
    height: calc(0.95em + .75rem + 2px);
    border-radius: 5px;
}
