<div class="">
    <div class="row card">
        <div class="bar-title">Necesidades Y Expectativas</div>
        <div class="text-center">
            <h3>¿Como podemos ayudarte a cumplir tus sueños?</h3>
        </div>
        <br/>
        <div class="col-6">
            <s-check class="col-8 col-sm-12" (ChangeState)="OnSelectAhorro()" [skeleton]="FieldSolucionesFinancierasAhorro" #InputSolucionesFinancierasAhorro></s-check>
        </div>
        <div class="col-6">
            <s-input class="col-8 col-sm-12" [skeleton]="FieldOtherSolucionesFinanAhorr" #InputOtherSolucionesFinanAhorr></s-input>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-6">
            <s-check class="col-8 col-sm-12" (ChangeState)="OnSelectCredito()" [skeleton]="FieldSolucionesFinancierasCredito" #InputSolucionesFinancierasCredito></s-check>
        </div>
        <div class="col-6">
            <s-input class="col-8 col-sm-12" [skeleton]="FieldOtherSolucionesFinanCred" #InputOtherSolucionesFinanCred></s-input>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-6">
            <s-check class="col-8 col-sm-12" (ChangeState)="OnSelectSalud()" [skeleton]="FieldSolucionesSalud" #InputSolucionesSalud></s-check>
        </div>
        <div class="col-6">
            <s-input class="col-8 col-sm-12" [skeleton]="FielOtherSolucionesSalud" #InputOtherSolucionesSalud></s-input>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-6">
            <s-check class="col-8 col-sm-12" (ChangeState)="OnSelectProteccion()" [skeleton]="FieldSolucionesProteccion" #InputSolucionesProteccion></s-check>
        </div>
        <div class="col-6">
            <s-input class="col-8 col-sm-12" [skeleton]="FieldOtherSolucionesProteccion" #InputOtherSolucionesProteccion></s-input>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <div class="col-6">
            <s-check class="col-8 col-sm-4" (ChangeState)="OnSelectEducacion()" [skeleton]="FieldSolucionesEducacion" #InputSolucionesEducacion></s-check>
            <s-check class="col-8 col-sm-4" (ChangeState)="OnSelectRecreacion()" [skeleton]="FieldSolucionesRecreacionTurismo" #InputSolucionesRecreacionTurismo></s-check>
            <s-check class="col-8 col-sm-14" (ChangeState)="OnSelectDesarrollo()" [skeleton]="FieldSolucionesDesarrolloEmpr" #InputSolucionesDesarrolloEmpr></s-check>
        </div>
        <div class="col-6">
            <s-input class="col-8 col-sm-4" [skeleton]="FieldOtherSolucionesEducacion" #InputOtherSolucionesEducacion></s-input>
            <s-input class="col-8 col-sm-4" [skeleton]="FieldOtherSolucionesRecreacionTurismo" #InputOtherSolucionesRecreacionTurismo></s-input>
            <s-input class="col-8 col-sm-4" [skeleton]="FieldOtherSolucionesDesarrolloEmpr" #InputOtherSolucionesDesarrolloEmpr></s-input>
        </div>
    </div>
</div>